add-task-manually-X5Xa0JL9xB270Hmg.json
{"createdAt":"2025-10-10T06:09:43.929Z","updatedAt":"2025-10-10T06:22:50.435Z","id":"X5Xa0JL9xB270Hmg","name":"Add Task Manually","active":true,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Add Task Manually","formDescription":"Add task manually to crm","formFields":{"values":[{"fieldLabel":"Task","requiredField":true},{"fieldLabel":"Client Name","requiredField":true},{"fieldLabel":"Task Type","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Calendar"},{"option":"Scheduling"},{"option":"Blueprint"},{"option":"Monthly Report"},{"option":"Blogs"},{"option":"Review Response"},{"option":"Citation"}]},"requiredField":true}]},"options":{"path":"add-task-manually","customCss":"/* Hide the n8n footer branding */\n.n8n-link {\n  display: none !important;\n  visibility: hidden !important;\n  height: 0 !important;\n  overflow: hidden !important;\n}"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-352,560],"id":"0b926959-f7eb-4366-95dd-6e90fe9a7359","name":"On form submission","webhookId":"19bc9258-f5dc-4b1c-9b20-d057b424b9d6"},{"parameters":{"method":"POST","url":"https://crm.drsmart.in/rest/tasks","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJjNzQ1M2U0MC1hZDljLTQzMmItODc5Mi0xNzFhMGJmYzI5NzAiLCJ0eXBlIjoiQVBJX0tFWSIsIndvcmtzcGFjZUlkIjoiYzc0NTNlNDAtYWQ5Yy00MzJiLTg3OTItMTcxYTBiZmMyOTcwIiwiaWF0IjoxNzU4NjQyMjMwLCJleHAiOjQ5MTIyNDIyMjgsImp0aSI6ImQ4YTAzODZmLTMyZmYtNDUzNy04OTkwLTUwM2VjMDNiMDEyNCJ9.-Nzd149BaClsTaLvTGTzSfUT4IQJYxBh7280ssY5nIA"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"title\": \"{{ $('On form submission').item.json.Task }}\",\n  \"position\": 1,\n  \"dueAt\": \"{{ $now.plus({ days: 3 + Math.floor(Math.random() * 3) }).toFormat('yyyy-MM-dd') }}\",\n\"client\": {\n      \"id\": \"{{ $json['Client ID CRM'] }}\"\n      },\n  \"assigneeId\": \"{{ $json['Assignee ID'] }}\",\n  \"status\": [\n    \"TODO\"\n  ],\n  \"taskType\": [\n    \"{{ $('On form submission').item.json['Task Type'].toUpperCase().replace(/\\s+/g, '_') }}\"\n  ],\n  \"moreInformation\": \"{{ $('On form submission').item.json.Task }} for {{ $json['Client Name'] }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,560],"id":"69dff436-723f-470a-abbf-4dd57e574b55","name":"SendTaskRequest"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":321785781,"mode":"list","cachedResultName":"Employee + Clients","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=321785781"},"filtersUI":{"values":[{"lookupColumn":"Client Name","lookupValue":"={{ $json['Client Name'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-112,560],"id":"f82a4ac9-3149-4ebf-b3f3-ace410cd93f6","name":"Get Clients","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}}],"connections":{"On form submission":{"main":[[{"node":"Get Clients","type":"main","index":0}]]},"SendTaskRequest":{"main":[[]]},"Get Clients":{"main":[[{"node":"SendTaskRequest","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1c45c221-55c0-4667-973c-aa3bf0eed777","triggerCount":1,"shared":[{"createdAt":"2025-10-10T06:09:43.929Z","updatedAt":"2025-10-10T06:09:43.929Z","role":"workflow:owner","workflowId":"X5Xa0JL9xB270Hmg","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[]}