add-client-VyJEg3oEZAA3uHpq.json
{"createdAt":"2025-09-17T11:48:59.674Z","updatedAt":"2025-09-23T20:22:32.468Z","id":"VyJEg3oEZAA3uHpq","name":"Add Client","active":true,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Add Client","formDescription":"Add client to google sheet","formFields":{"values":[{"fieldLabel":"Source","placeholder":"Facebook Ads"},{"fieldLabel":"Client ID","fieldType":"number","placeholder":"39","requiredField":true},{"fieldLabel":"Clinet Name","placeholder":"Aanvi IVF","requiredField":true},{"fieldLabel":"Contact","placeholder":"Mr Rahul aanvi","requiredField":true},{"fieldLabel":"WhatsApp (with +91)","fieldType":"number","placeholder":"919573994444","requiredField":true},{"fieldLabel":"Specialisation","placeholder":"ivf","requiredField":true},{"fieldLabel":"URL","placeholder":"https://www.aanviivf.com/","requiredField":true},{"fieldLabel":"GMB Profile","placeholder":"https://maps.app.goo.gl/6CidM7DYUVWhVPcRA","requiredField":true},{"fieldLabel":"Location","placeholder":"Shivam Road","requiredField":true},{"fieldLabel":"GMB Link","placeholder":"https://maps.app.goo.gl/6CidM7DYUVWhVPcRA","requiredField":true},{"fieldLabel":"Profile ID","fieldType":"number","placeholder":"9911528821769711477","requiredField":true},{"fieldLabel":"GMB Place ID","placeholder":"ChIJEfQxqHWZyzsR3Hw69xVKM1Q","requiredField":true},{"fieldLabel":"GMB CID","fieldType":"number","placeholder":"6067274581200764124","requiredField":true},{"fieldLabel":"FB Page Link","placeholder":"https://www.facebook.com/profile.php?id=100083463485816","requiredField":true},{"fieldLabel":"Instagram Link","placeholder":"https://www.instagram.com/aanvifertilitycentre/","requiredField":true},{"fieldLabel":"YouTube Link","placeholder":"https://www.youtube.com/@AanviFertilityCentre/videos","requiredField":true},{"fieldLabel":"Keywords","placeholder":"Best IVF Clinic in Tilak Nagar;\nBest IVF Centre in Tilak Nagar;\nInfertility Treatment Centre in Tilak Nagar;\nIVF Specialist in Tilak Nagar;\nBest IVF Doctor in Tilak Nagar;\nFertility Specialist in Tilak Nagar;\nBest Fertility Doctor in Tilak Nagar;\nBest IVF treatment in Tilak Nagar;\nIntracytoplasmic Sperm Injection (ICSI) in Tilak Nagar;\nTESA PESA Tests in Tilak Nagar","requiredField":true},{"fieldLabel":"Testimonial","placeholder":"SRUJANA KISHORE - Really blessed to have such a friendly, cool, and caring doctor. Dr Swarna mam has lot of patience, hospital atmosphere is also so pleasant. Her hand is lucky for me, hope for everyone. She gave a lot of moral support, physically and mentally. Plz visit her and surely you will get positive results soon. Thank you so much mam for your immediate response. A god bless you abundantly.\n\nKALLURI SAI - Taken treatment ivf here, successfully done and my wife conceived. The way of treatment throughout very happy and comfortable. Doctor and all the staff members are very friendly and helpful minded. Thank you Aanvi fertility Doctor Swarna mam and team.\n\nREVERB RENDITION - Wow what an amazing doctor. Dr Swarna is so well knowledgeable that we even take her guidance after the child's delivery. No matter when you call her, even if it is late in the night, she will answer your call and guide you. Thanks for being amazing.\n\nRAJ TEEGALA - Go through IVF treatment Dr Swarn mam, visited PCOS PCOD gynic problem, clear explanation, good treatment, friendly doctor. I visited infertility treatment, successful pregnancy, thank you madam. I am happy to share my experience.\n\nKalluri Sai - Taken treatment ivf here, successfully done and my wife conceived. The way of treatment throughout very happy and comfortable. Doctor and all the staff members are very friendly and helpful minded. Thank you Aanvi fertility Doctor Swarna mam and team.","requiredField":true},{"fieldLabel":"Client Reporting Sheet","placeholder":"https://docs.google.com/spreadsheets/d/1tDZ-QO0WPds8W5asl1zCLq5yCjrgTPaXU-3M8PVIix4/edit?gid=0#gid=0","requiredField":true}]},"options":{"path":"add-client","customCss":"/* Hide the n8n footer branding */\n.n8n-link {\n  display: none !important;\n  visibility: hidden !important;\n  height: 0 !important;\n  overflow: hidden !important;\n}"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[32,96],"id":"afaaf71e-def3-409f-a209-09211e2b9d48","name":"On form submission","webhookId":"19bc9258-f5dc-4b1c-9b20-d057b424b9d6"},{"parameters":{"documentId":{"__rl":true,"value":"1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU","mode":"list","cachedResultName":"Master Data + Keyword","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[288,192],"id":"69286fec-4f7d-494f-b8aa-d52b67dcb622","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Get all input items\nconst items = $input.all();\n\n// Extract \"Sl No.\" values as numbers\nconst serialNumbers = items.map(item => Number(item.json['Sl No.']));\n\n// Find the maximum serial number (last one)\nconst lastSerial = Math.max(...serialNumbers);\n\n// Return both last serial number and last + 1\nreturn [\n  {\n    json: {\n      lastSerialNumber: lastSerial,\n      nextSerialNumber: lastSerial + 1\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,192],"id":"2372cd2d-6710-42e5-97ec-f99f8e04787c","name":"Get Last Serial Number"},{"parameters":{"assignments":{"assignments":[{"id":"3246d2a2-befa-4a37-9722-bf8435708c7a","name":"nextSerialNumber","value":"={{ $json.nextSerialNumber }}","type":"number"},{"id":"442883b5-048b-4802-bf61-cdd2541ae317","name":"Client ID","value":"={{ $('On form submission').first().json['Client ID'] }}","type":"string"},{"id":"2dd2270d-b060-486a-b1cf-b273ee333ff1","name":"Clinet Name","value":"={{ $('On form submission').first().json['Clinet Name'] }}","type":"string"},{"id":"400eb0ec-9d91-4bd6-bc55-155365e19ee7","name":"Contact","value":"={{ $('On form submission').first().json.Contact }}","type":"string"},{"id":"bf32e09d-ed76-44d9-8d9c-728ce14624b0","name":"WhatsApp (with +91)","value":"={{ $('On form submission').first().json['WhatsApp (with +91)'] }}","type":"string"},{"id":"29558a07-1b6f-406d-a8c8-9ce76a7aa690","name":"Specialisation","value":"={{ $('On form submission').first().json.Specialisation }}","type":"string"},{"id":"c2c8703d-9453-41a1-a98b-40284729f522","name":"URL","value":"={{ $('On form submission').first().json.URL }}","type":"string"},{"id":"70b02bdb-8115-4ec0-8387-cddf37639776","name":"GMB Profile","value":"={{ $('On form submission').first().json['GMB Profile'] }}","type":"string"},{"id":"18a19320-0629-44d5-87aa-772523217d93","name":"Location","value":"={{ $('On form submission').first().json.Location }}","type":"string"},{"id":"88fb2bc9-f8da-4244-ac68-5d8a43895d7c","name":"GMB Link","value":"={{ $('On form submission').first().json['GMB Link'] }}","type":"string"},{"id":"712e665d-9081-45e4-bd05-bb0ddb17e28d","name":"Profile ID","value":"={{ $('On form submission').first().json['Profile ID'] }}","type":"string"},{"id":"81457ddd-d3b2-463d-80d8-e841e780450e","name":"GMB Place ID","value":"={{ $('On form submission').first().json['GMB Place ID'] }}","type":"string"},{"id":"78d97433-0306-4adb-a489-d91c71d5250c","name":"GMB CID","value":"={{ $('On form submission').first().json['GMB CID'] }}","type":"string"},{"id":"ecee1b72-d7b4-492b-b3ef-cec3d6e247d8","name":"FB Page Link","value":"={{ $('On form submission').first().json['FB Page Link'] }}","type":"string"},{"id":"21ec48c3-5e1f-4870-8505-ec0967141af0","name":"Instagram Link","value":"={{ $('On form submission').first().json['Instagram Link'] }}","type":"string"},{"id":"a64a57a2-9879-480c-bca0-b3680a606544","name":"YouTube Link","value":"={{ $('On form submission').first().json['YouTube Link'] }}","type":"string"},{"id":"5c1438d6-2dc9-4db6-8c4b-a3a149a6d455","name":"Keywords","value":"={{ $('On form submission').first().json.Keywords }}","type":"string"},{"id":"9140f286-c6c3-4c06-aca6-93e934ffdc14","name":"Testimonial","value":"={{ $('On form submission').first().json.Testimonial }}","type":"string"},{"id":"c122525f-e8b0-4a9b-9696-7110643e8620","name":"Client Reporting Sheet","value":"={{ $('On form submission').first().json['Client Reporting Sheet'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[704,192],"id":"8edf5127-dee4-4484-a056-919dd45c7fb7","name":"Edit Fields"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU","mode":"list","cachedResultName":"Master Data + Keyword","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1304543269,"mode":"list","cachedResultName":"Client Details","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=1304543269"},"columns":{"mappingMode":"defineBelow","value":{"Sl No.":"={{ $json.nextSerialNumber }}","Client ID":"={{ $json['Client ID'] }}","Client Name":"={{ $json['Clinet Name'] }}","Contact":"={{ $json.Contact }}","WhatsApp":"=+{{ $json['WhatsApp (with +91)'] }}","Specialisation":"={{ $json.Specialisation }}","URL":"={{ $json.URL }}","GMB Profile":"={{ $json['GMB Profile'] }}","Location":"={{ $json.Location }}","GMB Link":"={{ $json['GMB Link'] }}","Profile ID":"={{ $json['Profile ID'] }}","GMB Place ID":"={{ $json['GMB Place ID'] }}","FB Page Link":"={{ $json['FB Page Link'] }}","GMB CID":"={{ $json['GMB CID'] }}","Instagram Link":"={{ $json['Instagram Link'] }}","YouTube Link":"={{ $json['YouTube Link'] }}","Keywords":"={{ $json.Keywords }}","Testimonial":"={{ $json.Testimonial }}"},"matchingColumns":[],"schema":[{"id":"Sl No.","displayName":"Sl No.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Client ID","displayName":"Client ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Client Name","displayName":"Client Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Contact","displayName":"Contact","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"WhatsApp","displayName":"WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Specialisation","displayName":"Specialisation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GMB Profile","displayName":"GMB Profile","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GMB Link","displayName":"GMB Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Profile ID","displayName":"Profile ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GMB Place ID","displayName":"GMB Place ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GMB CID","displayName":"GMB CID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FB Page Link","displayName":"FB Page Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Instagram Link","displayName":"Instagram Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"YouTube Link","displayName":"YouTube Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Keywords","displayName":"Keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Testimonial","displayName":"Testimonial","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[896,16],"id":"ebb2eebe-2ec7-462c-beb4-e740660c62b9","name":"Add to Client Details","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU","mode":"list","cachedResultName":"Master Data + Keyword","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=18724759"},"columns":{"mappingMode":"defineBelow","value":{"Sl No.":"={{ $json.nextSerialNumber }}","Client ID":"={{ $json['Client ID'] }}","Clinet Name":"={{ $json['Clinet Name'] }}","Contact":"={{ $json.Contact }}","WhatsApp":"={{ $json['WhatsApp (with +91)'] }}","Specialisation":"={{ $json.Specialisation }}","URL":"={{ $json.URL }}","GMB Profile":"={{ $json['GMB Profile'] }}","Location":"={{ $json.Location }}","GMB Link":"={{ $json['GMB Link'] }}","Profile ID":"={{ $json['Profile ID'] }}","GMB Place ID":"={{ $json['GMB Place ID'] }}","GMB CID":"={{ $json['GMB CID'] }}","Client Reporting Sheet":"={{ $json['Client Reporting Sheet'] }}","Keywords":"={{ $json.Keywords }}","Instagram":"={{ $json['Instagram Link'] }}"},"matchingColumns":[],"schema":[{"id":"Sl No.","displayName":"Sl No.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Client ID","displayName":"Client ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Clinet Name","displayName":"Clinet Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Contact","displayName":"Contact","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"WhatsApp","displayName":"WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Specialisation","displayName":"Specialisation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GMB Profile","displayName":"GMB Profile","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GMB Link","displayName":"GMB Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Profile ID","displayName":"Profile ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GMB Place ID","displayName":"GMB Place ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GMB CID","displayName":"GMB CID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GMB Audit Sheet","displayName":"GMB Audit Sheet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Client Reporting Sheet","displayName":"Client Reporting Sheet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Keywords","displayName":"Keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Instagram","displayName":"Instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[944,192],"id":"6a3ac1ba-09e6-4e6f-8dbe-45f7ca2cd357","name":"Add to Client WA + Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU","mode":"list","cachedResultName":"Master Data + Keyword","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1304543269,"mode":"list","cachedResultName":"Client Details","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=1304543269"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[288,32],"id":"88433166-4a6a-4cf1-8447-4a5fa6572951","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Get all input items\nconst items = $input.all();\n\n// Extract \"Sl No.\" values as numbers\nconst serialNumbers = items.map(item => Number(item.json['Sl No.']));\n\n// Find the maximum serial number (last one)\nconst lastSerial = Math.max(...serialNumbers);\n\n// Return both last serial number and last + 1\nreturn [\n  {\n    json: {\n      lastSerialNumber: lastSerial,\n      nextSerialNumber: lastSerial + 1\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[496,32],"id":"2b93b884-4342-4c23-8f19-060e6ebefd18","name":"Get Last Serial Number1"},{"parameters":{"assignments":{"assignments":[{"id":"3246d2a2-befa-4a37-9722-bf8435708c7a","name":"nextSerialNumber","value":"={{ $json.nextSerialNumber }}","type":"number"},{"id":"442883b5-048b-4802-bf61-cdd2541ae317","name":"Client ID","value":"={{ $('On form submission').first().json['Client ID'] }}","type":"string"},{"id":"2dd2270d-b060-486a-b1cf-b273ee333ff1","name":"Clinet Name","value":"={{ $('On form submission').first().json['Clinet Name'] }}","type":"string"},{"id":"400eb0ec-9d91-4bd6-bc55-155365e19ee7","name":"Contact","value":"={{ $('On form submission').first().json.Contact }}","type":"string"},{"id":"bf32e09d-ed76-44d9-8d9c-728ce14624b0","name":"WhatsApp (with +91)","value":"={{ $('On form submission').first().json['WhatsApp (with +91)'] }}","type":"string"},{"id":"29558a07-1b6f-406d-a8c8-9ce76a7aa690","name":"Specialisation","value":"={{ $('On form submission').first().json.Specialisation }}","type":"string"},{"id":"c2c8703d-9453-41a1-a98b-40284729f522","name":"URL","value":"={{ $('On form submission').first().json.URL }}","type":"string"},{"id":"70b02bdb-8115-4ec0-8387-cddf37639776","name":"GMB Profile","value":"={{ $('On form submission').first().json['GMB Profile'] }}","type":"string"},{"id":"18a19320-0629-44d5-87aa-772523217d93","name":"Location","value":"={{ $('On form submission').first().json.Location }}","type":"string"},{"id":"88fb2bc9-f8da-4244-ac68-5d8a43895d7c","name":"GMB Link","value":"={{ $('On form submission').first().json['GMB Link'] }}","type":"string"},{"id":"712e665d-9081-45e4-bd05-bb0ddb17e28d","name":"Profile ID","value":"={{ $('On form submission').first().json['Profile ID'] }}","type":"string"},{"id":"81457ddd-d3b2-463d-80d8-e841e780450e","name":"GMB Place ID","value":"={{ $('On form submission').first().json['GMB Place ID'] }}","type":"string"},{"id":"78d97433-0306-4adb-a489-d91c71d5250c","name":"GMB CID","value":"={{ $('On form submission').first().json['GMB CID'] }}","type":"string"},{"id":"ecee1b72-d7b4-492b-b3ef-cec3d6e247d8","name":"FB Page Link","value":"={{ $('On form submission').first().json['FB Page Link'] }}","type":"string"},{"id":"21ec48c3-5e1f-4870-8505-ec0967141af0","name":"Instagram Link","value":"={{ $('On form submission').first().json['Instagram Link'] }}","type":"string"},{"id":"a64a57a2-9879-480c-bca0-b3680a606544","name":"YouTube Link","value":"={{ $('On form submission').first().json['YouTube Link'] }}","type":"string"},{"id":"5c1438d6-2dc9-4db6-8c4b-a3a149a6d455","name":"Keywords","value":"={{ $('On form submission').first().json.Keywords }}","type":"string"},{"id":"9140f286-c6c3-4c06-aca6-93e934ffdc14","name":"Testimonial","value":"={{ $('On form submission').first().json.Testimonial }}","type":"string"},{"id":"c122525f-e8b0-4a9b-9696-7110643e8620","name":"Client Reporting Sheet","value":"={{ $('On form submission').first().json['Client Reporting Sheet'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[704,32],"id":"b2dbd5bc-624d-40a8-9c23-9258628c0c58","name":"Edit Fields1"},{"parameters":{"method":"POST","url":"https://crm.drsmart.in/rest/clients","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJjNzQ1M2U0MC1hZDljLTQzMmItODc5Mi0xNzFhMGJmYzI5NzAiLCJ0eXBlIjoiQVBJX0tFWSIsIndvcmtzcGFjZUlkIjoiYzc0NTNlNDAtYWQ5Yy00MzJiLTg3OTItMTcxYTBiZmMyOTcwIiwiaWF0IjoxNzU4NjQyMjMwLCJleHAiOjQ5MTIyNDIyMjgsImp0aSI6ImQ4YTAzODZmLTMyZmYtNDUzNy04OTkwLTUwM2VjMDNiMDEyNCJ9.-Nzd149BaClsTaLvTGTzSfUT4IQJYxBh7280ssY5nIA"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{{ $json['Clinet Name'] }}\",\n  \"youtube\": {\n    \"primaryLinkLabel\": \"\",\n    \"primaryLinkUrl\": \"{{ $json['YouTube Link'] }}\",\n    \"additionalLinks\": []\n  },\n  \"instagram\": {\n    \"primaryLinkLabel\": \"\",\n    \"primaryLinkUrl\": \"{{ $json['Instagram Link'] }}\",\n    \"additionalLinks\": []\n  },\n  \"gbp\": {\n    \"primaryLinkLabel\": \"\",\n    \"primaryLinkUrl\": \"{{ $json['GMB Profile'] }}\",\n    \"additionalLinks\": []\n  },\n  \"fbPage\": {\n    \"primaryLinkLabel\": \"\",\n    \"primaryLinkUrl\": \"{{ $json['FB Page Link'] }}\",\n    \"additionalLinks\": []\n  },\n  \"website\": {\n    \"primaryLinkLabel\": \"\",\n    \"primaryLinkUrl\": \"{{ $json.URL }}\",\n    \"additionalLinks\": []\n  },\n  \"clientType\": [\n    \"CONSULTANT\"\n  ],\n \"createdBy\": \"API\",\n \"specialty\": \"{{ $json.Specialisation }}\",\n \"location\": \"{{ $json.Location }}\",\n \"source\": \"{{ $json.Source }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[288,-144],"id":"b4eaae4e-a39e-45a2-8428-ed616809f781","name":"Add to Client"},{"parameters":{"method":"POST","url":"https://crm.drsmart.in/rest/doctors","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJjNzQ1M2U0MC1hZDljLTQzMmItODc5Mi0xNzFhMGJmYzI5NzAiLCJ0eXBlIjoiQVBJX0tFWSIsIndvcmtzcGFjZUlkIjoiYzc0NTNlNDAtYWQ5Yy00MzJiLTg3OTItMTcxYTBiZmMyOTcwIiwiaWF0IjoxNzU4NjQyMjMwLCJleHAiOjQ5MTIyNDIyMjgsImp0aSI6ImQ4YTAzODZmLTMyZmYtNDUzNy04OTkwLTUwM2VjMDNiMDEyNCJ9.-Nzd149BaClsTaLvTGTzSfUT4IQJYxBh7280ssY5nIA"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"mobile\": {\n    \"primaryPhoneNumber\": \"{{ $('On form submission').item.json['WhatsApp (with +91)'].toString().length === 12 ? $('On form submission').item.json['WhatsApp (with +91)'].toString().slice(2) : $('On form submission').item.json['WhatsApp (with +91)'] }}\",\n    \"primaryPhoneCallingCode\": \"+91\",\n    \"primaryPhoneCountryCode\": \"IN\",\n    \"additionalPhones\": []\n  },\n  \"languages\": [\n    \"TELUGU\"\n  ],\n  \"name\": \"{{ $('On form submission').item.json.Contact }}\",\n  \"clientId\": \"{{ $json.data.createClient.id }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[496,-144],"id":"c0580c3a-b3d6-41a5-bfd6-56e4ccfcc124","name":"Add to Doctor"}],"connections":{"On form submission":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0},{"node":"Get row(s) in sheet","type":"main","index":0},{"node":"Add to Client","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Get Last Serial Number","type":"main","index":0}]]},"Get Last Serial Number":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Add to Client WA + Sheet","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Get Last Serial Number1","type":"main","index":0}]]},"Get Last Serial Number1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Add to Doctor":{"main":[[]]},"Add to Client":{"main":[[{"node":"Add to Doctor","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d5290bf9-a169-47d5-83bd-56d5024cfe7b","triggerCount":1,"shared":[{"createdAt":"2025-09-17T11:48:59.674Z","updatedAt":"2025-09-17T11:48:59.674Z","role":"workflow:owner","workflowId":"VyJEg3oEZAA3uHpq","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[]}