add-employee-rTPHffEh3BiZYJkD.json
{"createdAt":"2025-12-26T09:26:31.422Z","updatedAt":"2025-12-26T10:16:13.722Z","id":"rTPHffEh3BiZYJkD","name":"Add Employee","active":true,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Add Employee","formDescription":"Add employee to google sheet","formFields":{"values":[{"fieldLabel":"First Name","requiredField":true},{"fieldLabel":"Last Name"},{"fieldLabel":"Employee Email","fieldType":"email","requiredField":true}]},"options":{"path":"add-employee","customCss":"/* Hide the n8n footer branding */\n.n8n-link {\n  display: none !important;\n  visibility: hidden !important;\n  height: 0 !important;\n  overflow: hidden !important;\n}"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[128,208],"id":"37b806da-47fb-4d5f-993b-cd21d9b50050","name":"On form submission","webhookId":"48ff9c5c-e7ca-4f48-94c5-f656fcb290d3"},{"parameters":{"method":"POST","url":"https://crm.drsmart.in/rest/workspaceMembers","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJjNzQ1M2U0MC1hZDljLTQzMmItODc5Mi0xNzFhMGJmYzI5NzAiLCJ0eXBlIjoiQVBJX0tFWSIsIndvcmtzcGFjZUlkIjoiYzc0NTNlNDAtYWQ5Yy00MzJiLTg3OTItMTcxYTBiZmMyOTcwIiwiaWF0IjoxNzU4NjQyMjMwLCJleHAiOjQ5MTIyNDIyMjgsImp0aSI6ImQ4YTAzODZmLTMyZmYtNDUzNy04OTkwLTUwM2VjMDNiMDEyNCJ9.-Nzd149BaClsTaLvTGTzSfUT4IQJYxBh7280ssY5nIA"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"timeFormat\": [\n    \"SYSTEM\"\n  ],\n  \"dateFormat\": [\n    \"SYSTEM\"\n  ],\n  \"userId\": \"{{ $json.uuid }}\",\n  \"userEmail\": \"{{ $('On form submission').item.json['Employee Email'] }}\",\n  \"name\": {\n    \"firstName\": \"{{ $('On form submission').item.json['First Name'] }}\",\n    \"lastName\": \"{{ $('On form submission').item.json['Last Name'] }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[528,208],"id":"77e8c62c-88c1-4608-8a59-a3c90f764fbb","name":"Add to Client"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1264563717,"mode":"list","cachedResultName":"Employee IDs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=1264563717"},"columns":{"mappingMode":"defineBelow","value":{"Employee":"={{ $json.data.createWorkspaceMember.name.firstName }} {{ $json.data.createWorkspaceMember.name.lastName }}","Email":"={{ $json.data.createWorkspaceMember.userEmail }}","Workspace Member ID":"={{ $json.data.createWorkspaceMember.id }}"},"matchingColumns":[],"schema":[{"id":"Employee","displayName":"Employee","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Workspace Member ID","displayName":"Workspace Member ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[736,208],"id":"3c1db883-eb32-4bb8-954f-ee130f699a0c","name":"Add to Client WA + Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"VWI7ANgqySo2PhHL","name":"KR -Paid"}}},{"parameters":{"jsCode":"function uuidv4() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nreturn [\n  {\n    json: {\n      uuid: uuidv4()\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[336,208],"id":"52394b42-7f3f-4fe3-8e70-57d84b3ab5fd","name":"Create UserID"}],"connections":{"On form submission":{"main":[[{"node":"Create UserID","type":"main","index":0}]]},"Add to Client":{"main":[[{"node":"Add to Client WA + Sheet","type":"main","index":0}]]},"Create UserID":{"main":[[{"node":"Add to Client","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"G2KZfyUFGXoArofH"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1d3c49bb-eac8-4c01-bc63-af5a84612782","triggerCount":1,"shared":[{"createdAt":"2025-12-26T09:26:31.422Z","updatedAt":"2025-12-26T09:26:31.422Z","role":"workflow:owner","workflowId":"rTPHffEh3BiZYJkD","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[]}