add-client-VyJEg3oEZAA3uHpq.json
{"createdAt":"2025-09-17T11:48:59.674Z","updatedAt":"2025-12-24T10:20:14.000Z","id":"VyJEg3oEZAA3uHpq","name":"Add Client","active":true,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Add Client","formDescription":"Add client to google sheet & crm","formFields":{"values":[{"fieldLabel":"Source","placeholder":"Facebook Ads","requiredField":true},{"fieldLabel":"Client ID","fieldType":"number","placeholder":"39","requiredField":true},{"fieldLabel":"Clinet Name","placeholder":"Aanvi IVF","requiredField":true},{"fieldLabel":"Dr Name","placeholder":"Mr Rahul aanvi","requiredField":true},{"fieldLabel":"Specialisation","placeholder":"ivf","requiredField":true},{"fieldLabel":"Qualifications","requiredField":true},{"fieldLabel":"Years of Experience","requiredField":true},{"fieldLabel":"Known Languages","requiredField":true},{"fieldLabel":"Location","placeholder":"Shivam Road","requiredField":true},{"fieldLabel":"City Name","requiredField":true},{"fieldLabel":"Primary Keyword","requiredField":true},{"fieldLabel":"SEO Keywords","placeholder":"Best IVF Clinic in Tilak Nagar;\nBest IVF Centre in Tilak Nagar;\nInfertility Treatment Centre in Tilak Nagar;\nIVF Specialist in Tilak Nagar;\nBest IVF Doctor in Tilak Nagar;\nFertility Specialist in Tilak Nagar;\nBest Fertility Doctor in Tilak Nagar;\nBest IVF treatment in Tilak Nagar;\nIntracytoplasmic Sperm Injection (ICSI) in Tilak Nagar;\nTESA PESA Tests in Tilak Nagar","requiredField":true},{"fieldLabel":"WhatsApp (with +91)","fieldType":"number","placeholder":"919573994444","requiredField":true},{"fieldLabel":"Contact Number","requiredField":true},{"fieldLabel":"Website URL","placeholder":"https://www.aanviivf.com/","requiredField":true},{"fieldLabel":"GMB Profile Link","placeholder":"https://maps.app.goo.gl/6CidM7DYUVWhVPcRA"},{"fieldLabel":"GMB Profile ID","fieldType":"number","placeholder":"9911528821769711477"},{"fieldLabel":"GMB CID","fieldType":"number","placeholder":"6067274581200764124"},{"fieldLabel":"FB Page Link","placeholder":"https://www.facebook.com/profile.php?id=100083463485816"},{"fieldLabel":"Instagram Link","placeholder":"https://www.instagram.com/aanvifertilitycentre/"},{"fieldLabel":"YouTube Link","placeholder":"https://www.youtube.com/@AanviFertilityCentre/videos"},{"fieldLabel":"Testimonial","placeholder":"SRUJANA KISHORE - Really blessed to have such a friendly, cool, and caring doctor. Dr Swarna mam has lot of patience, hospital atmosphere is also so pleasant. Her hand is lucky for me, hope for everyone. She gave a lot of moral support, physically and mentally. Plz visit her and surely you will get positive results soon. Thank you so much mam for your immediate response. A god bless you abundantly.\n\nKALLURI SAI - Taken treatment ivf here, successfully done and my wife conceived. The way of treatment throughout very happy and comfortable. Doctor and all the staff members are very friendly and helpful minded. Thank you Aanvi fertility Doctor Swarna mam and team.\n\nREVERB RENDITION - Wow what an amazing doctor. Dr Swarna is so well knowledgeable that we even take her guidance after the child's delivery. No matter when you call her, even if it is late in the night, she will answer your call and guide you. Thanks for being amazing.\n\nRAJ TEEGALA - Go through IVF treatment Dr Swarn mam, visited PCOS PCOD gynic problem, clear explanation, good treatment, friendly doctor. I visited infertility treatment, successful pregnancy, thank you madam. I am happy to share my experience.\n\nKalluri Sai - Taken treatment ivf here, successfully done and my wife conceived. The way of treatment throughout very happy and comfortable. Doctor and all the staff members are very friendly and helpful minded. Thank you Aanvi fertility Doctor Swarna mam and team."},{"fieldLabel":"Client Reporting Sheet","placeholder":"https://docs.google.com/spreadsheets/d/1tDZ-QO0WPds8W5asl1zCLq5yCjrgTPaXU-3M8PVIix4/edit?gid=0#gid=0","requiredField":true}]},"options":{"path":"add-client","customCss":"/* Hide the n8n footer branding */\n.n8n-link {\n  display: none !important;\n  visibility: hidden !important;\n  height: 0 !important;\n  overflow: hidden !important;\n}"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[16,112],"id":"16c126bd-cdd5-41f5-8258-dc324697b49e","name":"On form submission","webhookId":"19bc9258-f5dc-4b1c-9b20-d057b424b9d6"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[320,272],"id":"1485c858-db56-45c7-9a54-4b3aecc8ea8b","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"VWI7ANgqySo2PhHL","name":"KR -Paid"}}},{"parameters":{"jsCode":"// Get all input items\nconst items = $input.all();\n\n// Extract \"Sl No.\" values as numbers\nconst serialNumbers = items.map(item => Number(item.json['Sl No.']));\n\n// Find the maximum serial number (last one)\nconst lastSerial = Math.max(...serialNumbers);\n\n// Return both last serial number and last + 1\nreturn [\n  {\n    json: {\n      lastSerialNumber: lastSerial,\n      nextSerialNumber: lastSerial + 1\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[528,272],"id":"a0af806d-6207-478e-9299-81beeca8b35f","name":"Get Last Serial Number"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1304543269,"mode":"list","cachedResultName":"Client Details","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=1304543269"},"columns":{"mappingMode":"defineBelow","value":{"Sl No.":"={{ $json.nextSerialNumber }}","Client ID":"={{ $json['Client ID'] }}","Client Name":"={{ $json['Client Name'] }}","WhatsApp":"=+{{ $json['WhatsApp (with +91)'] }}","Specialisation":"={{ $json.Specialisation }}","Location":"={{ $json.Location }}","GMB Place ID":"={{ $json['GMB Place ID'] }}","FB Page Link":"={{ $json['FB Page Link'] }}","GMB CID":"={{ $json['GMB CID'] }}","Instagram Link":"={{ $json['Instagram Link'] }}","YouTube Link":"={{ $json['YouTube Link'] }}","Testimonial":"={{ $json.Testimonial }}","Dr Name":"={{ $json['Dr Name'] }}","GMB Profile ID":"={{ $json['Profile ID'] }}","GMB Profile Link":"={{ $json['GMB Profile Link'] }}","Website URL":"={{ $json.URL }}","Contact Number":"={{ $json.Contact }}","Qualifications":"={{ $json.Qualifications }}","Years of Experience":"={{ $json['Years of Experience'] }}","City Name":"={{ $json['City Name'] }}","SEO Keywords":"={{ $json['SEO Keywords'] }}","Primary Keyword":"={{ $json['Primary Keyword'] }}","Known Languages":"={{ $json['Known Languages'] }}"},"matchingColumns":[],"schema":[{"id":"Sl No.","displayName":"Sl No.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Client ID","displayName":"Client ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Client Name","displayName":"Client Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Dr Name","displayName":"Dr Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Specialisation","displayName":"Specialisation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qualifications","displayName":"Qualifications","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Years of Experience","displayName":"Years of Experience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Known Languages","displayName":"Known Languages","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"City Name","displayName":"City Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Primary Keyword","displayName":"Primary Keyword","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SEO Keywords","displayName":"SEO Keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"WhatsApp","displayName":"WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Contact Number","displayName":"Contact Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Website URL","displayName":"Website URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"GMB Profile Link","displayName":"GMB Profile Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"GMB Profile ID","displayName":"GMB Profile ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"GMB Place ID","displayName":"GMB Place ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GMB CID","displayName":"GMB CID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FB Page Link","displayName":"FB Page Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Instagram Link","displayName":"Instagram Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"YouTube Link","displayName":"YouTube Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Testimonial","displayName":"Testimonial","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[880,-64],"id":"961ee954-2f2f-4f6b-a280-1979a0bce891","name":"Add to Client Details","credentials":{"googleSheetsOAuth2Api":{"id":"VWI7ANgqySo2PhHL","name":"KR -Paid"}}},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1304543269,"mode":"list","cachedResultName":"Client Details","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=1304543269"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[320,-64],"id":"5d9b7db7-2c75-4575-a8f6-625e7f5aa109","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"VWI7ANgqySo2PhHL","name":"KR -Paid"}}},{"parameters":{"jsCode":"// Get all input items\nconst items = $input.all();\n\n// Extract \"Sl No.\" values as numbers\nconst serialNumbers = items.map(item => Number(item.json['Sl No.']));\n\n// Find the maximum serial number (last one)\nconst lastSerial = Math.max(...serialNumbers);\n\n// Return both last serial number and last + 1\nreturn [\n  {\n    json: {\n      lastSerialNumber: lastSerial,\n      nextSerialNumber: lastSerial + 1\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[528,-64],"id":"10c1ac3a-2147-42b3-b5fa-9476b9c7f7c6","name":"Get Last Serial Number1"},{"parameters":{"assignments":{"assignments":[{"id":"3246d2a2-befa-4a37-9722-bf8435708c7a","name":"nextSerialNumber","value":"={{ $json.nextSerialNumber }}","type":"number"},{"id":"442883b5-048b-4802-bf61-cdd2541ae317","name":"Client ID","value":"={{ $('On form submission').first().json['Client ID'] }}","type":"string"},{"id":"2dd2270d-b060-486a-b1cf-b273ee333ff1","name":"Client Name","value":"={{ $('On form submission').first().json['Clinet Name'] }}","type":"string"},{"id":"400eb0ec-9d91-4bd6-bc55-155365e19ee7","name":"Contact","value":"={{ $('On form submission').first().json['Contact Number'] }}","type":"string"},{"id":"bf32e09d-ed76-44d9-8d9c-728ce14624b0","name":"WhatsApp (with +91)","value":"={{ $('On form submission').first().json['WhatsApp (with +91)'] }}","type":"string"},{"id":"29558a07-1b6f-406d-a8c8-9ce76a7aa690","name":"Specialisation","value":"={{ $('On form submission').first().json.Specialisation }}","type":"string"},{"id":"1dd82cb1-4c04-4e5c-bf0a-3b3f62c599ba","name":"Qualifications","value":"={{ $('On form submission').first().json.Qualifications }}","type":"string"},{"id":"0a9bb389-5959-4b8a-b1b2-3bb80ae60515","name":"Years of Experience","value":"={{ $('On form submission').first().json['Years of Experience'] }}","type":"string"},{"id":"c2c8703d-9453-41a1-a98b-40284729f522","name":"URL","value":"={{ $('On form submission').first().json['Website URL'] }}","type":"string"},{"id":"70b02bdb-8115-4ec0-8387-cddf37639776","name":"GMB Profile Link","value":"={{ $('On form submission').first().json['GMB Profile Link'] }}","type":"string"},{"id":"18a19320-0629-44d5-87aa-772523217d93","name":"Location","value":"={{ $('On form submission').first().json.Location }}","type":"string"},{"id":"712e665d-9081-45e4-bd05-bb0ddb17e28d","name":"Profile ID","value":"={{ $('On form submission').first().json['GMB Profile ID'] }}","type":"string"},{"id":"81457ddd-d3b2-463d-80d8-e841e780450e","name":"GMB Place ID","value":"={{ $('On form submission').first().json['GMB Place ID'] }}","type":"string"},{"id":"78d97433-0306-4adb-a489-d91c71d5250c","name":"GMB CID","value":"={{ $('On form submission').first().json['GMB CID'] }}","type":"string"},{"id":"ecee1b72-d7b4-492b-b3ef-cec3d6e247d8","name":"FB Page Link","value":"={{ $('On form submission').first().json['FB Page Link'] }}","type":"string"},{"id":"21ec48c3-5e1f-4870-8505-ec0967141af0","name":"Instagram Link","value":"={{ $('On form submission').first().json['Instagram Link'] }}","type":"string"},{"id":"a64a57a2-9879-480c-bca0-b3680a606544","name":"YouTube Link","value":"={{ $('On form submission').first().json['YouTube Link'] }}","type":"string"},{"id":"5c1438d6-2dc9-4db6-8c4b-a3a149a6d455","name":"SEO Keywords","value":"={{ $('On form submission').first().json['SEO Keywords'] }}","type":"string"},{"id":"9140f286-c6c3-4c06-aca6-93e934ffdc14","name":"Testimonial","value":"={{ $('On form submission').first().json.Testimonial }}","type":"string"},{"id":"c122525f-e8b0-4a9b-9696-7110643e8620","name":"Client Reporting Sheet","value":"={{ $('On form submission').first().json['Client Reporting Sheet'] }}","type":"string"},{"id":"ad35e8d4-f26a-41b1-887d-4ff2a14040e4","name":"Source","value":"={{ $('On form submission').first().json.Source }}","type":"string"},{"id":"67095e84-b814-44e6-9b5d-ca9d5483fb85","name":"Years of Experience","value":"={{ $('On form submission').first().json['Years of Experience'] }}","type":"string"},{"id":"d0996344-ebd7-4092-ac05-2b918868425d","name":"Known Languages","value":"={{ $('On form submission').first().json['Known Languages'] }}","type":"string"},{"id":"956ea9b2-f435-4d3c-884c-29586986ecd0","name":"City Name","value":"={{ $('On form submission').first().json['City Name'] }}","type":"string"},{"id":"6b0afc86-a425-46b2-a87c-70999ca58b7d","name":"Primary Keyword","value":"={{ $('On form submission').first().json['Primary Keyword'] }}","type":"string"},{"id":"a00f999e-c5b3-4899-a0e3-e6441d52371b","name":"Dr Name","value":"={{ $('On form submission').first().json['Dr Name'] }}","type":"string"},{"id":"84c2c05c-bc41-47a2-b9cf-4b6232d83991","name":"Known Languages","value":"={{ $('On form submission').first().json['Known Languages'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[704,-64],"id":"2d1c123f-ff74-41cd-a2a5-be8cb052e359","name":"Edit Fields1"},{"parameters":{"method":"POST","url":"https://crm.drsmart.in/rest/doctors","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJjNzQ1M2U0MC1hZDljLTQzMmItODc5Mi0xNzFhMGJmYzI5NzAiLCJ0eXBlIjoiQVBJX0tFWSIsIndvcmtzcGFjZUlkIjoiYzc0NTNlNDAtYWQ5Yy00MzJiLTg3OTItMTcxYTBiZmMyOTcwIiwiaWF0IjoxNzU4NjQyMjMwLCJleHAiOjQ5MTIyNDIyMjgsImp0aSI6ImQ4YTAzODZmLTMyZmYtNDUzNy04OTkwLTUwM2VjMDNiMDEyNCJ9.-Nzd149BaClsTaLvTGTzSfUT4IQJYxBh7280ssY5nIA"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"mobile","value":"={{ $('On form submission').item.json['WhatsApp (with +91)'].toString().length === 12 ? $('On form submission').item.json['WhatsApp (with +91)'].toString().slice(2) : $('On form submission').item.json['WhatsApp (with +91)'] }}"},{"name":"langauges","value":"TELUGU"},{"name":"name","value":"={{ $('On form submission').item.json['Dr Name'] }}"},{"name":"clientId","value":"={{ $json.data.createClient.id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[688,96],"id":"4c4fef26-f752-4292-902d-0de0e7ca4d75","name":"Add to Doctor"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[880,272],"id":"88e57811-5b86-4066-915b-e1edb8713b91","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"3246d2a2-befa-4a37-9722-bf8435708c7a","name":"nextSerialNumber","value":"={{ $json.nextSerialNumber }}","type":"number"},{"id":"442883b5-048b-4802-bf61-cdd2541ae317","name":"Client ID","value":"={{ $('On form submission').first().json['Client ID'] }}","type":"string"},{"id":"2dd2270d-b060-486a-b1cf-b273ee333ff1","name":"Client Name","value":"={{ $('On form submission').first().json['Clinet Name'] }}","type":"string"},{"id":"400eb0ec-9d91-4bd6-bc55-155365e19ee7","name":"Contact","value":"={{ $('On form submission').first().json['Contact Number'] }}","type":"string"},{"id":"bf32e09d-ed76-44d9-8d9c-728ce14624b0","name":"WhatsApp (with +91)","value":"={{ $('On form submission').first().json['WhatsApp (with +91)'] }}","type":"string"},{"id":"29558a07-1b6f-406d-a8c8-9ce76a7aa690","name":"Specialisation","value":"={{ $('On form submission').first().json.Specialisation }}","type":"string"},{"id":"1dd82cb1-4c04-4e5c-bf0a-3b3f62c599ba","name":"Qualifications","value":"={{ $('On form submission').first().json.Qualifications }}","type":"string"},{"id":"0a9bb389-5959-4b8a-b1b2-3bb80ae60515","name":"Years of Experience","value":"={{ $('On form submission').first().json['Years of Experience'] }}","type":"string"},{"id":"c2c8703d-9453-41a1-a98b-40284729f522","name":"URL","value":"={{ $('On form submission').first().json['Website URL'] }}","type":"string"},{"id":"70b02bdb-8115-4ec0-8387-cddf37639776","name":"GMB Profile Link","value":"={{ $('On form submission').first().json['GMB Profile Link'] }}","type":"string"},{"id":"18a19320-0629-44d5-87aa-772523217d93","name":"Location","value":"={{ $('On form submission').first().json.Location }}","type":"string"},{"id":"712e665d-9081-45e4-bd05-bb0ddb17e28d","name":"Profile ID","value":"={{ $('On form submission').first().json['GMB Profile ID'] }}","type":"string"},{"id":"81457ddd-d3b2-463d-80d8-e841e780450e","name":"GMB Place ID","value":"={{ $('On form submission').first().json['GMB Place ID'] }}","type":"string"},{"id":"78d97433-0306-4adb-a489-d91c71d5250c","name":"GMB CID","value":"={{ $('On form submission').first().json['GMB CID'] }}","type":"string"},{"id":"ecee1b72-d7b4-492b-b3ef-cec3d6e247d8","name":"FB Page Link","value":"={{ $('On form submission').first().json['FB Page Link'] }}","type":"string"},{"id":"21ec48c3-5e1f-4870-8505-ec0967141af0","name":"Instagram Link","value":"={{ $('On form submission').first().json['Instagram Link'] }}","type":"string"},{"id":"a64a57a2-9879-480c-bca0-b3680a606544","name":"YouTube Link","value":"={{ $('On form submission').first().json['YouTube Link'] }}","type":"string"},{"id":"5c1438d6-2dc9-4db6-8c4b-a3a149a6d455","name":"SEO Keywords","value":"={{ $('On form submission').first().json['SEO Keywords'] }}","type":"string"},{"id":"9140f286-c6c3-4c06-aca6-93e934ffdc14","name":"Testimonial","value":"={{ $('On form submission').first().json.Testimonial }}","type":"string"},{"id":"c122525f-e8b0-4a9b-9696-7110643e8620","name":"Client Reporting Sheet","value":"={{ $('On form submission').first().json['Client Reporting Sheet'] }}","type":"string"},{"id":"ad35e8d4-f26a-41b1-887d-4ff2a14040e4","name":"Source","value":"={{ $('On form submission').first().json.Source }}","type":"string"},{"id":"67095e84-b814-44e6-9b5d-ca9d5483fb85","name":"Years of Experience","value":"={{ $('On form submission').first().json['Years of Experience'] }}","type":"string"},{"id":"d0996344-ebd7-4092-ac05-2b918868425d","name":"Known Languages","value":"={{ $('On form submission').first().json['Known Languages'] }}","type":"string"},{"id":"956ea9b2-f435-4d3c-884c-29586986ecd0","name":"City Name","value":"={{ $('On form submission').first().json['City Name'] }}","type":"string"},{"id":"6b0afc86-a425-46b2-a87c-70999ca58b7d","name":"Primary Keyword","value":"={{ $('On form submission').first().json['Primary Keyword'] }}","type":"string"},{"id":"a00f999e-c5b3-4899-a0e3-e6441d52371b","name":"Dr Name","value":"={{ $('On form submission').first().json['Dr Name'] }}","type":"string"},{"id":"84c2c05c-bc41-47a2-b9cf-4b6232d83991","name":"Known Languages","value":"={{ $('On form submission').first().json['Known Languages'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[704,272],"id":"bdbd8f2a-36a3-4bb3-9166-c55bb0d72d87","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://crm.drsmart.in/rest/clients","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJjNzQ1M2U0MC1hZDljLTQzMmItODc5Mi0xNzFhMGJmYzI5NzAiLCJ0eXBlIjoiQVBJX0tFWSIsIndvcmtzcGFjZUlkIjoiYzc0NTNlNDAtYWQ5Yy00MzJiLTg3OTItMTcxYTBiZmMyOTcwIiwiaWF0IjoxNzU4NjQyMjMwLCJleHAiOjQ5MTIyNDIyMjgsImp0aSI6ImQ4YTAzODZmLTMyZmYtNDUzNy04OTkwLTUwM2VjMDNiMDEyNCJ9.-Nzd149BaClsTaLvTGTzSfUT4IQJYxBh7280ssY5nIA"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $json['Clinet Name'] }}"},{"name":"youtubeLink","value":"={{ $json['YouTube Link'] }}"},{"name":"instagram","value":"={{ $json['Instagram Link'] }}"},{"name":"gbp","value":"={{ $json['GMB Profile Link'] }}"},{"name":"gmbProfileId","value":"={{ $json['GMB Profile ID'] }}"},{"name":"gmbCid","value":"={{ $json['GMB CID'] }}"},{"name":"fbPage","value":"={{ $json['FB Page Link'] }}"},{"name":"website","value":"={{ $json['Website URL'] }}"},{"name":"createdBy","value":"API"},{"name":"specialty","value":"={{ $json.Specialisation }}"},{"name":"location","value":"={{ $json.Location }}"},{"name":"source","value":"={{ $json.Source }}"},{"name":"knownLanguages","value":"={{ $json['Known Languages'] }}"},{"name":"yearsOfExperience","value":"={{ $json['Years of Experience'] }}"},{"name":"city","value":"={{ $json['City Name'] }}"},{"name":"whatsapp","value":"={{ $json['WhatsApp (with +91)'] }}"},{"name":"seoKeywords","value":"={{ $json['SEO Keywords'] }}"},{"name":"primaryKeyword","value":"={{ $json['Primary Keyword'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,96],"id":"1b5ceaf7-b27b-4fc8-a67d-2a814f1bd0b1","name":"Add to Client"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"columns":{"mappingMode":"defineBelow","value":{"Sl No.":"={{ $json.nextSerialNumber }}","Client ID":"={{ $json['Client ID'] }}","WhatsApp":"={{ $json['WhatsApp (with +91)'] }}","Specialisation":"={{ $json.Specialisation }}","Location":"={{ $json.Location }}","GMB Place ID":"={{ $json['GMB Place ID'] }}","GMB CID":"={{ $json['GMB CID'] }}","Client Reporting Sheet":"={{ $json['Client Reporting Sheet'] }}","Client ID CRM":"={{ $json.data.createDoctor.clientId }}","Instagram Link":"={{ $json['Instagram Link'] }}","YouTube Link":"={{ $json['YouTube Link'] }}","FB Page Link":"={{ $json['FB Page Link'] }}","GMB Profile ID":"={{ $json['Profile ID'] }}","GMB Profile Link":"={{ $json['GMB Profile Link'] }}","Website URL":"={{ $json.URL }}","Contact Number":"={{ $json.Contact }}","SEO Keywords":"={{ $json['SEO Keywords'] }}","Primary Keyword":"={{ $json['Primary Keyword'] }}","City Name":"={{ $json['City Name'] }}","Known Languages":"={{ $json['Known Languages'] }}","Years of Experience":"={{ $json['Years of Experience'] }}","Qualifications":"={{ $json.Qualifications }}","Client Name":"={{ $json['Client Name'] }}","Dr Name":"={{ $json['Dr Name'] }}","Testimonial":"={{ $json.Testimonial }}"},"matchingColumns":[],"schema":[{"id":"Sl No.","displayName":"Sl No.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Client ID","displayName":"Client ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Client Name","displayName":"Client Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Dr Name","displayName":"Dr Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Specialisation","displayName":"Specialisation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Qualifications","displayName":"Qualifications","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Years of Experience","displayName":"Years of Experience","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Known Languages","displayName":"Known Languages","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"City Name","displayName":"City Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Primary Keyword","displayName":"Primary Keyword","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"SEO Keywords","displayName":"SEO Keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"WhatsApp","displayName":"WhatsApp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Contact Number","displayName":"Contact Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Website URL","displayName":"Website URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"GMB Profile Link","displayName":"GMB Profile Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"GMB Profile ID","displayName":"GMB Profile ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"GMB Place ID","displayName":"GMB Place ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GMB CID","displayName":"GMB CID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FB Page Link","displayName":"FB Page Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Instagram Link","displayName":"Instagram Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"YouTube Link","displayName":"YouTube Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Testimonial","displayName":"Testimonial","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"GMB Audit Sheet","displayName":"GMB Audit Sheet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Client Reporting Sheet","displayName":"Client Reporting Sheet","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Client ID CRM","displayName":"Client ID CRM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1024,272],"id":"8f0c3a92-8ab4-4b2c-82bf-f73d76d858aa","name":"Add to Client WA + Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"VWI7ANgqySo2PhHL","name":"KR -Paid"}}}],"connections":{"On form submission":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0},{"node":"Get row(s) in sheet","type":"main","index":0},{"node":"Add to Client","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Get Last Serial Number","type":"main","index":0}]]},"Get Last Serial Number":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Get Last Serial Number1","type":"main","index":0}]]},"Get Last Serial Number1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Add to Client Details","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Add to Client WA + Sheet","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Add to Doctor":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Add to Client":{"main":[[{"node":"Add to Doctor","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0af3c2f0-e39a-4a9b-a1ae-1668a61bbaf0","triggerCount":1,"shared":[{"createdAt":"2025-09-17T11:48:59.674Z","updatedAt":"2025-09-17T11:48:59.674Z","role":"workflow:owner","workflowId":"VyJEg3oEZAA3uHpq","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[]}