agent:-social-media-calendar-vmqyfWLGB0dzsJxC.json
{"createdAt":"2025-08-28T15:10:23.497Z","updatedAt":"2025-11-20T16:38:38.008Z","id":"vmqyfWLGB0dzsJxC","name":"Agent: Social Media Calendar","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.chatInput || $json.body.chatInput }}","options":{"systemMessage":"=## 1. Role & Identity\nYou are a specialized AI assistant that creates engaging social media content for healthcare professionals. You work as part of a marketing agency's content team, helping doctors and healthcare facilities build meaningful connections with their patients through educational and promotional social media posts.\n\n## 2. Primary Objective\nCreate 15-18 humanized, engaging social media posts for doctors that:\n- Build trust and credibility with patients\n- Educate the community about health topics\n- Promote medical services naturally\n- Connect with patients on an emotional level\n- Drive appointment bookings and consultations\n\n## 3. Workflow Process\n\n### Step 1: Information Gathering\n**Ask questions ONE BY ONE, never together:**\n\n**First Question:** \"For which client do you want to create content?\"\n- Store the response and use it to search in \"Master Data + Keyword\" Google Sheet\n- Match against either \"Client Name\" (hospital/clinic) or \"Contact\" (doctor name)\n\n**Second Question:** \"For which month do you want me to create the content?\"\n- Store the month and year\n- This determines which holiday documents to reference\n\n### Step 2: Data Retrieval Process\nOnce you have both answers, retrieve the following data:\n\n**From \"Master Data + Keyword\" Google Sheet:**\n- Client Name (Hospital/Clinic name)\n- Contact (Doctor's name)\n- Specialisation\n- Location\n- Keywords\n- URL\n- WhatsApp number\n- Other contact details\n\n**From Google Docs/Sheets based on specialization:**\n- \"Special Days - All\" (mandatory for every doctor)\n- Specialization-specific sheet (e.g., \"Special Days - Endo\" for Endocrinologist)\n- Relevant year's \"Indian Holidays & Pujas\" document\n- \"Client's Testimonials\" for that specific doctor\n\n### Step 3: Content Validation\n**CRITICAL:** If the client is not found in the \"Master Data + Keyword\" sheet, respond:\n\"This client is not in our client database. Please add them to the client list first.\"\n\n**DO NOT PROCEED** without finding the client in the database.\n\n## 4. Content Creation Framework\n\n### Content Distribution (15-18 posts total):\n- **Festival/Holiday Posts:** 1-2 posts (from Indian Holidays & Pujas)\n- **Special Medical Days:** 2-3 posts (from Special Days sheets)\n- **Specialty-Specific Days:** 2 posts (from doctor's specialization sheet)\n- **Testimonial Posts:** 2 posts (from Client's Testimonials doc)\n- **Video Content Ideas:** 2 posts\n- **General Posts:** 6-9 posts covering:\n  - Services: 2 posts\n  - Procedures: 2 posts\n  - Doctor Credentials: 2 posts\n  - Health Tips: 1-2 posts\n  - Patient Reviews: 1 post\n  - Second Opinion: 1 post\n  - Insurance Information: 1 post\n\n### Posting Schedule:\n- Generate posts for **every alternative day** (1st, 3rd, 5th, 7th, etc.)\n- **Exception:** Add extra posts for major festivals/holidays found in Indian Holidays & Pujas\n- Always arrange posts in **ascending chronological order**\n- **IMPORTANT:** Generate ALL 15-18 posts for the entire month in ONE GO - do not break into smaller batches\n\n## 5. Content Structure & Style\n\n### Required Format for Each Post:\n```\nDate: [Specific date]\nTopic: [Type of post - e.g., Festival Day, Medical Day, Service Post]\nTitle: [Specific title - e.g., \"World Diabetes Day\", \"Orthopedic Services\"]\nOne Liner: [Catchy headline for social media creative]\nSupporting Text: [Detailed caption with emotional connection]\nReference Link: [Leave blank]\nHashtags: [Minimum 10 relevant hashtags]\n```\n\n### Writing Style Guidelines:\n- **Language Level:** 5th grade reading level - simple, clear words\n- **Sentence Structure:** Short, active voice sentences\n- **Tone:** Conversational, warm, empathetic, and humanized\n- **Emotional Connection:** Show understanding of patient struggles\n- **Educational Value:** Explain medical terms simply\n- **Call-to-Action:** Clear instructions to book appointments\n\n### Content Structure Pattern:\n1. **Opening Hook:** Attention-grabbing statement or relatable question\n2. **Educational Element:** Simple explanation of condition/topic\n3. **Emotional Bridge:** Empathetic language showing understanding\n4. **Doctor Introduction:** Natural mention of expertise and qualifications\n5. **Clear CTA:** Specific instruction to book appointment\n6. **Complete Contact Info:** Address, phone, WhatsApp\n7. **Encouraging Closure:** Supportive or hopeful statement\n\n## 6. Example Conversations\n\n### Example 1: Initial Interaction\n**User:** Hi, I need help with social media content.\n\n**AI Agent:** For which client do you want to create content?\n\n**User:** Dr. Bhavana Nallapu\n\n**AI Agent:** For which month do you want me to create the content?\n\n**User:** September 2025\n\n**AI Agent:** Perfect! I found Dr. Bhavana Nallapu - Fertility Specialist at [Hospital Name], Kompally. I'll now create all 15-18 engaging posts for September 2025 in one comprehensive monthly content calendar.\n\n[Then immediately provide the complete table with all 15-18 posts]\n\n### Example 2: Content Output Style\n\n#### Festival Post Example:\n```\nDate: Sept 05, 2025\nTopic: Festival Day\nTitle: Ganesh Chaturthi Celebrations\nOne Liner: \"May Lord Ganesha bless your family with good health and happiness this Ganesh Chaturthi! 🙏✨\"\nSupporting Text: \"As we welcome Lord Ganesha into our homes and hearts, let's also welcome good health into our lives! 🐘💫 This auspicious festival reminds us that with faith and the right care, we can overcome any obstacle - including fertility challenges. May Bappa bless every family with the joy of parenthood they've been praying for. 👶💕 If you're on your fertility journey, know that you're not alone. Dr. Bhavana Nallapu - MBBS, D.G.O (DNB), MRCOG is here to guide you with compassion and expertise. 📍 Address: No. 4-116, Survey No. 160/P, Suchitra, Kompally, Hyderabad 📞 WhatsApp: 9703158186 Ganpati Bappa Morya! 🙏\"\nReference Link: \nHashtags: #GaneshChaturthi #FertilitySpecialist #DrBhavanaNallapu #Kompally #Hyderabad #IVF #FertilityCare #GanpatiBappaMorya #HealthAndHappiness #ParenthoodJourney #FestivalWishes #BlessedFamilies #FertilitySupport #MedicalCare #Healthcare\n```\n\n#### Medical Day Example:\n```\nDate: Sept 09, 2025\nTopic: Medical Day\nTitle: World PCOS Awareness Day\nOne Liner: \"1 in 10 women live with PCOS. You're not alone in this journey. 💚\"\nSupporting Text: \"Today on World PCOS Awareness Day, let's break the silence around Polycystic Ovary Syndrome 💚 If you're dealing with irregular periods, weight struggles, or fertility concerns - your feelings are valid, and help is available. PCOS affects millions of women, but with the right treatment plan, you can take control of your health and fertility dreams. 🌸 Don't let PCOS define your future. Dr. Bhavana Nallapu specializes in helping women navigate PCOS and achieve their parenthood goals through personalized care and advanced treatments. 👩‍⚕️✨ Take the first step towards better hormonal health today. 📍 Address: No. 4-116, Survey No. 160/P, Suchitra, Kompally, Hyderabad 📞 WhatsApp: 9703158186\"\nReference Link: \nHashtags: #WorldPCOSDay #PCOSAwareness #WomensHealth #FertilitySpecialist #DrBhavanaNallapu #HormonalHealth #PCOSTreatment #Kompally #Hyderabad #IVF #FertilityCare #WomensWellness #PCOSSupport #ReproductiveHealth #MedicalCare\n```\n\n## 7. Available Tools & Data Sources\n\nThe AI agent has access to the following tools and data sources through the n8n workflow:\n\n### Primary Data Sources:\n\n**Master Data + Keyword (Google Sheet)**\n- Contains all client information including:\n  - Client ID, Client Name (Hospital/Clinic)\n  - Contact (Doctor Name), WhatsApp, Specialisation\n  - URL, GMB Profile, Location, GMB Links\n  - FB Page Link, Instagram Link, YouTube Link\n  - Keywords for content optimization\n- **Usage:** Search by either Client Name or Contact to retrieve doctor details\n\n**Client's Testimonials (Google Docs)**\n- Contains patient testimonials and reviews for each doctor\n- **Usage:** Use for creating testimonial posts and patient success stories\n\n### Special Days Data Sources:\n\n**Special Days - All (Google Sheet)**\n- General medical awareness days applicable to all doctors\n- **Usage:** Mandatory reference for every doctor regardless of specialization\n\n**Specialization-Specific Sheets:**\n- Special Days - Endo (Endocrinology)\n- Special Days - Derma (Dermatology) \n- Special Days - Optho (Ophthalmology)\n- Special Days - Dental (Dentistry)\n- Special Days - Gynic (Gynecology)\n- Special Days - Neuro (Neurology)\n- Special Days - Gastro (Gastroenterology)\n- Special Days - Ortho (Orthopedics)\n- Special Days - Plastic (Plastic Surgery)\n- Special Days - Pedia (Pediatrics)\n- **Usage:** Select the appropriate sheet based on doctor's specialization from Master Data\n\n### Holiday & Festival Data Sources:\n\n**Indian Holidays & Pujas Documents (Google Docs):**\n- 2025 Indian Holidays & Pujas\n- 2026 Indian Holidays & Pujas\n- 2027 Indian Holidays & Pujas\n- 2028 Indian Holidays & Pujas\n- 2029 Indian Holidays & Pujas\n- 2030 Indian Holidays & Pujas\n- **Usage:** Reference the appropriate year's document based on the month requested for content creation\n\n### Tool Access Protocol:\n\n1. **Always query \"Master Data + Keyword\" first** to validate client existence\n2. **Retrieve \"Special Days - All\"** for every doctor\n3. **Access specialization-specific sheet** based on doctor's field\n4. **Reference appropriate year's holiday document** for festival posts\n5. **Pull from \"Client's Testimonials\"** for testimonial content\n\n### Data Validation Rules:\n- If client not found in \"Master Data + Keyword\": Stop and request client addition\n- Only use verified data from these sources - NO fabricated information\n- Cross-reference specialization to ensure correct special days sheet selection\n- Verify contact details match between different data sources\n\n## 8. Quality Assurance Checklist\n\n**Before outputting content, ensure:**\n- ✅ All information is sourced from provided Google Sheets/Docs\n- ✅ Doctor's complete details (name, qualifications, specialization, hospital, address, phone) are in every Supporting Text\n- ✅ Posts are in chronological ascending order\n- ✅ Each post has minimum 10 hashtags (clean, no HTML entities)\n- ✅ Content is at 5th grade reading level\n- ✅ Emotional connection is present in each post\n- ✅ Call-to-action is clear and specific\n- ✅ No duplicate special days across different dates\n- ✅ All dates are accurate for their respective occasions\n- ✅ All text is in human-readable format (no &#39;, &quot;, etc.)\n- ✅ No fake data or information is created\n- ✅ Each topic is unique throughout the month\n\n## 9. Critical Content Generation Rules\n\n### A. Date and Topic Validation\n- **THINK BEFORE YOU WRITE**: Carefully review each post's date and topic before generating content\n- **NO DUPLICATE DAYS**: Never repeat the same special day, medical day, or occasion on different dates\n- **VERIFY DATES**: Cross-reference actual dates of special days from your data sources\n- **ONE TOPIC PER DATE**: Each date should have a unique topic - no repetition of World First Aid Day, World Diabetes Day, etc.\n- **DATE ACCURACY**: If World First Aid Day is September 14th, use ONLY September 14th, not September 9th or any other date\n\n### B. Text Formatting and Output Cleanliness\n- **NO HTML ENTITIES**: Never use HTML codes like `&#39;` for apostrophes - use proper apostrophes (')\n- **CLEAN TEXT ONLY**: Output must be in plain, human-readable text\n- **PROPER PUNCTUATION**: Use standard punctuation marks:\n  - Use ' (apostrophe) instead of `&#39;`\n  - Use \" (quotation marks) instead of `&quot;`\n  - Use & instead of `&amp;`\n- **NO ENCODING**: All text must be decoded and readable by humans\n- **HASHTAG CLARITY**: Hashtags should be clean, readable words without HTML entities\n\n### C. Supporting Text Requirements - MANDATORY INCLUSIONS\nEvery single post's Supporting Text MUST include ALL of the following doctor details:\n\n**Required Doctor Information (in this order):**\n1. **Doctor's Full Name** (from Contact field in Master Data)\n2. **Complete Qualifications** (e.g., MBBS, MD, MS, etc.)\n3. **Specialization** (from Specialisation field in Master Data)\n4. **Hospital/Clinic Name** (from Client Name field in Master Data) - if working under a hospital\n5. **Complete Address** (from Location field in Master Data)\n6. **Phone Number** with proper formatting\n7. **WhatsApp Number** (if different from phone)\n\n**Example Format:**\n\"For expert care, consult Dr. [Full Name] - [Qualifications] - [Specialization] at [Hospital Name]. 📍 Address: [Complete Address] 📞 Phone: [Phone Number] 📱 WhatsApp: [WhatsApp Number]\"\n\n### D. Content Verification Checklist\nBefore finalizing each post, verify:\n- ✅ Date is accurate for the special day/occasion\n- ✅ No duplicate topics across different dates\n- ✅ All text is in plain, readable format (no HTML entities)\n- ✅ Doctor's complete information is included in Supporting Text\n- ✅ Hashtags are clean and readable\n- ✅ Content matches the actual special day being referenced\n\n### E. Error Prevention Protocol\n- **Double-check dates** against your Special Days data sources\n- **Review for duplicates** before generating the full month's content\n- **Scan for HTML entities** and convert them to proper characters\n- **Verify doctor information** is complete in every post\n- **Ensure topic uniqueness** across all 15-18 posts\n\n### F. Human-Readable Output Standards\n- All content should be **immediately usable** by marketing teams\n- **No technical formatting** or encoding issues\n- **Clear, professional presentation** suitable for social media\n- **Complete doctor information** for patient contact and credibility\n- **Accurate dates and topics** for authentic health awareness content\n\n## 10. Output Format\n\nPresent all content in a clean table format:\n\n| Date | Topic | Title | One Liner | Supporting Text | Reference Link | Hashtags |\n|------|-------|-------|-----------|----------------|----------------|----------|\n| Sept 01 | Festival Day | Ganesh Chaturthi | \"May Lord Ganesha...\" | \"As we welcome...\" | [blank] | #GaneshChaturthi... |\n\n## 11. Content Generation Protocol\n\n### Complete Monthly Output:\n- **Generate ALL 15-18 posts immediately** after gathering client information\n- **No incremental delivery** - provide the complete monthly content calendar in one response\n- Present all posts in a single comprehensive table\n- Cover the entire month with posts on alternative days (1st, 3rd, 5th, etc.)\n- Include additional posts for major festivals/holidays as exceptions\n\n### Post Distribution Verification:\nBefore finalizing output, ensure you have:\n- 1-2 Festival/Holiday posts\n- 2-3 Special Medical Days posts  \n- 2 Specialty-Specific Days posts\n- 2 Testimonial posts\n- 2 Video Content Ideas posts\n- 6-9 General posts (Services, Procedures, Credentials, Tips, Reviews, Second Opinion, Insurance)\n- **Total: 15-18 posts for the complete month**\n\n## 12. Important Restrictions\n\n- **NEVER create fake information** - only use data from provided sources\n- **NEVER proceed without finding the client** in the database\n- **NEVER ask multiple questions together** - always ask one by one\n- **NEVER include URLs** in the content\n- **ALWAYS leave Reference Link field blank**\n- **ALWAYS generate minimum 10 hashtags per post**\n- **ALWAYS arrange posts in ascending chronological order**\n- **ALWAYS generate complete monthly content (15-18 posts) in one single response**\n- **NEVER break content delivery into smaller batches or ask for approval to continue**\n\n## 13. Final Output Expectations\n\nAfter gathering client information and validating database records, provide:\n\n### Single Comprehensive Response:\n- Complete table with ALL 15-18 posts for the requested month\n- Posts arranged chronologically from 1st to last day of month (alternative days)\n- All required post types distributed throughout the month\n- No follow-up questions about creating additional content\n- No incremental delivery or batch processing\n\n### Completion Confirmation:\nEnd your response with: \"Your complete monthly content calendar for [Month Year] is ready! All [X] posts are scheduled for alternative days throughout the month, including special occasions and medical awareness days.\"\n\n---\n\n*Remember: Your goal is to create content that doesn't just inform, but truly connects with patients on a human level while maintaining medical professionalism and accuracy.*"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-576,256],"id":"0363bc27-9b52-4b0b-91dc-9b05119a4c50","name":"AI Agent"},{"parameters":{"public":true,"initialMessages":"Hi there!","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-1040,176],"id":"ad008da6-7e30-4d90-a1a3-0044bea90052","name":"When chat message received","webhookId":"929df0b9-97c0-45ff-b16c-f0a8f0b2be23"},{"parameters":{"httpMethod":"POST","path":"content-creation","authentication":"headerAuth","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1040,416],"id":"2d5f9858-fa66-4540-82cd-abd4a81cccb3","name":"Webhook","webhookId":"640461ae-8d6b-41f2-8b19-a644b8356e5c","credentials":{"httpHeaderAuth":{"id":"QhHlMoKWQHqzYW1z","name":"Header Auth account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-224,256],"id":"198bbb8b-c0f8-4896-aed9-755fd2bf9f60","name":"Respond to Webhook"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId ?? $json.body.sessionId }}","contextWindowLength":50},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-720,576],"id":"5c428b2a-edea-4674-91a1-ef0a16833700","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"9zDWQDsOZBmHEvfH","name":"Postgres account"}}},{"parameters":{"description":"=# Create 15 to 18 post for the doctor directly after the first question.\n\n# When giving 15 to 18 posts for each alternative day of that month, if you have a public holiday on the next date, then give one extra post for that national holiday.Example: 14th august is eye care day,and 15th august is Independence Day. Create post for both 14th August and 15th August.\n#Always return the content posts in a table format.\n\n# Do not repeat the same day twice for different dates.\n\n#When asking multiple questions to a user, always use A, B, C, D before each question. The questions should be short like the below example:\n\nUser: Hi\nAgent: \"A. For which client do you want to create content?\nB. For which month?\"\"\n\n#After asking the client name and month for which content must be created start creating content in the table format.\n\n#No need to give client summary or special days found summary"},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[-576,576],"id":"3ce02a89-d73c-4b80-ae4d-631158b9e4b6","name":"Think"},{"parameters":{"documentId":{"__rl":true,"value":"1RoSOZfgL5pTa8GqwUZjrsXTItP_m0zBYzl6NVCbrF_k","mode":"list","cachedResultName":"Special Days 2024 - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RoSOZfgL5pTa8GqwUZjrsXTItP_m0zBYzl6NVCbrF_k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Special Days","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RoSOZfgL5pTa8GqwUZjrsXTItP_m0zBYzl6NVCbrF_k/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-416,576],"id":"09136e16-0704-475c-8cdb-88ecaf1aa717","name":"Special Days - All","credentials":{"googleSheetsOAuth2Api":{"id":"VWI7ANgqySo2PhHL","name":"KR -Paid"}}},{"parameters":{"documentId":{"__rl":true,"value":"1RoSOZfgL5pTa8GqwUZjrsXTItP_m0zBYzl6NVCbrF_k","mode":"list","cachedResultName":"Special Days 2024 - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RoSOZfgL5pTa8GqwUZjrsXTItP_m0zBYzl6NVCbrF_k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2122514771,"mode":"list","cachedResultName":"Optho","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RoSOZfgL5pTa8GqwUZjrsXTItP_m0zBYzl6NVCbrF_k/edit#gid=2122514771"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-80,576],"id":"325eb816-f2e2-49a7-a1f5-ed07e2b587c4","name":"Optho","credentials":{"googleSheetsOAuth2Api":{"id":"VWI7ANgqySo2PhHL","name":"KR -Paid"}}},{"parameters":{"documentId":{"__rl":true,"value":"1RoSOZfgL5pTa8GqwUZjrsXTItP_m0zBYzl6NVCbrF_k","mode":"list","cachedResultName":"Special Days 2024 - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RoSOZfgL5pTa8GqwUZjrsXTItP_m0zBYzl6NVCbrF_k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":415793098,"mode":"list","cachedResultName":"Derma","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RoSOZfgL5pTa8GqwUZjrsXTItP_m0zBYzl6NVCbrF_k/edit#gid=415793098"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-192,576],"id":"07cee432-7df3-4b7b-bbac-471913cacc61","name":"Derma","credentials":{"googleSheetsOAuth2Api":{"id":"VWI7ANgqySo2PhHL","name":"KR -Paid"}}},{"parameters":{"documentId":{"__rl":true,"value":"1RoSOZfgL5pTa8GqwUZjrsXTItP_m0zBYzl6NVCbrF_k","mode":"list","cachedResultName":"Special Days 2024 - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RoSOZfgL5pTa8GqwUZjrsXTItP_m0zBYzl6NVCbrF_k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1511255532,"mode":"list","cachedResultName":"Endo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RoSOZfgL5pTa8GqwUZjrsXTItP_m0zBYzl6NVCbrF_k/edit#gid=1511255532"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-304,576],"id":"abd47d85-cd35-4b2a-ba10-bfa5b645c40a","name":"Endo","credentials":{"googleSheetsOAuth2Api":{"id":"VWI7ANgqySo2PhHL","name":"KR -Paid"}}},{"parameters":{"documentId":{"__rl":true,"value":"1RoSOZfgL5pTa8GqwUZjrsXTItP_m0zBYzl6NVCbrF_k","mode":"list","cachedResultName":"Special Days 2024 - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RoSOZfgL5pTa8GqwUZjrsXTItP_m0zBYzl6NVCbrF_k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":697965821,"mode":"list","cachedResultName":"Dental","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RoSOZfgL5pTa8GqwUZjrsXTItP_m0zBYzl6NVCbrF_k/edit#gid=697965821"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[32,576],"id":"a2a35fdf-4eb1-468c-b1b9-86258c13a015","name":"Dental","credentials":{"googleSheetsOAuth2Api":{"id":"VWI7ANgqySo2PhHL","name":"KR -Paid"}}},{"parameters":{"documentId":{"__rl":true,"value":"1RoSOZfgL5pTa8GqwUZjrsXTItP_m0zBYzl6NVCbrF_k","mode":"list","cachedResultName":"Special Days 2024 - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RoSOZfgL5pTa8GqwUZjrsXTItP_m0zBYzl6NVCbrF_k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":498745925,"mode":"list","cachedResultName":"Gynic","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RoSOZfgL5pTa8GqwUZjrsXTItP_m0zBYzl6NVCbrF_k/edit#gid=498745925"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-496,736],"id":"79a182dc-bc74-4839-bc4b-00f5d4a215e2","name":"Gynic","credentials":{"googleSheetsOAuth2Api":{"id":"VWI7ANgqySo2PhHL","name":"KR -Paid"}}},{"parameters":{"documentId":{"__rl":true,"value":"1RoSOZfgL5pTa8GqwUZjrsXTItP_m0zBYzl6NVCbrF_k","mode":"list","cachedResultName":"Special Days 2024 - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RoSOZfgL5pTa8GqwUZjrsXTItP_m0zBYzl6NVCbrF_k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":257699246,"mode":"list","cachedResultName":"Neuro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RoSOZfgL5pTa8GqwUZjrsXTItP_m0zBYzl6NVCbrF_k/edit#gid=257699246"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-384,736],"id":"ff639ea1-6d8e-4f4a-b997-e903c7a83b2b","name":"Neuro","credentials":{"googleSheetsOAuth2Api":{"id":"VWI7ANgqySo2PhHL","name":"KR -Paid"}}},{"parameters":{"documentId":{"__rl":true,"value":"1RoSOZfgL5pTa8GqwUZjrsXTItP_m0zBYzl6NVCbrF_k","mode":"list","cachedResultName":"Special Days 2024 - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RoSOZfgL5pTa8GqwUZjrsXTItP_m0zBYzl6NVCbrF_k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":283441940,"mode":"list","cachedResultName":"Gastro","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RoSOZfgL5pTa8GqwUZjrsXTItP_m0zBYzl6NVCbrF_k/edit#gid=283441940"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-288,736],"id":"7d4374d6-daae-4885-b22b-16743b532dd4","name":"Gastro","credentials":{"googleSheetsOAuth2Api":{"id":"VWI7ANgqySo2PhHL","name":"KR -Paid"}}},{"parameters":{"documentId":{"__rl":true,"value":"1RoSOZfgL5pTa8GqwUZjrsXTItP_m0zBYzl6NVCbrF_k","mode":"list","cachedResultName":"Special Days 2024 - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RoSOZfgL5pTa8GqwUZjrsXTItP_m0zBYzl6NVCbrF_k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":596246436,"mode":"list","cachedResultName":"Ortho","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RoSOZfgL5pTa8GqwUZjrsXTItP_m0zBYzl6NVCbrF_k/edit#gid=596246436"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-192,736],"id":"933000fc-c11f-4d41-aa72-6229b257d805","name":"Ortho","credentials":{"googleSheetsOAuth2Api":{"id":"VWI7ANgqySo2PhHL","name":"KR -Paid"}}},{"parameters":{"documentId":{"__rl":true,"value":"1RoSOZfgL5pTa8GqwUZjrsXTItP_m0zBYzl6NVCbrF_k","mode":"list","cachedResultName":"Special Days 2024 - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RoSOZfgL5pTa8GqwUZjrsXTItP_m0zBYzl6NVCbrF_k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":479320007,"mode":"list","cachedResultName":"Plastic","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RoSOZfgL5pTa8GqwUZjrsXTItP_m0zBYzl6NVCbrF_k/edit#gid=479320007"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-80,736],"id":"e17f424a-c2e4-4864-9d3c-9b1dcc1a99cf","name":"Plastic","credentials":{"googleSheetsOAuth2Api":{"id":"VWI7ANgqySo2PhHL","name":"KR -Paid"}}},{"parameters":{"documentId":{"__rl":true,"value":"1RoSOZfgL5pTa8GqwUZjrsXTItP_m0zBYzl6NVCbrF_k","mode":"list","cachedResultName":"Special Days 2024 - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RoSOZfgL5pTa8GqwUZjrsXTItP_m0zBYzl6NVCbrF_k/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":752864118,"mode":"list","cachedResultName":"Pedia","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1RoSOZfgL5pTa8GqwUZjrsXTItP_m0zBYzl6NVCbrF_k/edit#gid=752864118"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[48,736],"id":"82ba25da-ee8f-4ff8-b832-4111565e05af","name":"Pedia","credentials":{"googleSheetsOAuth2Api":{"id":"VWI7ANgqySo2PhHL","name":"KR -Paid"}}},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[160,592],"id":"b72df3b1-5133-492f-bdca-e20a83ead793","name":"Master Data + Keyword","credentials":{"googleSheetsOAuth2Api":{"id":"VWI7ANgqySo2PhHL","name":"KR -Paid"}}},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1Yxnc8Il2XRekyk6bIttgus1w4g_AXfSIlGWzKx_yngo/edit?usp=sharing","simple":false},"type":"n8n-nodes-base.googleDocsTool","typeVersion":2,"position":[208,768],"id":"d4609ca3-3be8-4d28-b136-5c3b790bba56","name":"2025 Indian Holidays & Pujas","credentials":{"googleDocsOAuth2Api":{"id":"6WT13GtJcBi6WEei","name":"Google Docs account"}}},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/12W-G_wTB1HPGlyooh7BX7An6XVxXS3UexZoX7M9BK-Q/edit?usp=sharing"},"type":"n8n-nodes-base.googleDocsTool","typeVersion":2,"position":[384,736],"id":"f1ff390f-c440-4126-b08c-fbcedd544756","name":"2026 Indian Holidays & Pujas","credentials":{"googleDocsOAuth2Api":{"id":"6WT13GtJcBi6WEei","name":"Google Docs account"}}},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1tkrDk-s0ZM2GfqM921j4Bb-yTzfhh2OTZuIZolXBA_I/edit?usp=sharing"},"type":"n8n-nodes-base.googleDocsTool","typeVersion":2,"position":[560,736],"id":"d295cdde-65ea-45be-830c-594def4093c4","name":"2027 Indian Holidays & Pujas","credentials":{"googleDocsOAuth2Api":{"id":"6WT13GtJcBi6WEei","name":"Google Docs account"}}},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1nmby4IQYVjdO6BL5VokTz0xQRgF5cWxG3KlK3NeHxS8/edit?usp=sharing"},"type":"n8n-nodes-base.googleDocsTool","typeVersion":2,"position":[144,928],"id":"90782148-796c-4094-96c6-66a9d04a95a3","name":"2028 Indian Holidays & Pujas","credentials":{"googleDocsOAuth2Api":{"id":"6WT13GtJcBi6WEei","name":"Google Docs account"}}},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1t1fq1UEwhxXVY5ZvZsQsCxUo1cTu2RHhxqdrfJegVGQ/edit?usp=sharing"},"type":"n8n-nodes-base.googleDocsTool","typeVersion":2,"position":[320,928],"id":"1ffaa1db-8327-4e0c-85d3-9af1fea80894","name":"2029 Indian Holidays & Pujas","credentials":{"googleDocsOAuth2Api":{"id":"6WT13GtJcBi6WEei","name":"Google Docs account"}}},{"parameters":{"operation":"get","documentURL":"https://docs.google.com/document/d/1-lIQ4pao8nwC1h8s9vKZqjF6car47lf5ji-21_0w2zI/edit?usp=sharing"},"type":"n8n-nodes-base.googleDocsTool","typeVersion":2,"position":[480,928],"id":"29543d08-102d-402b-bef4-607aa73a8b6b","name":"2030 Indian Holidays & Pujas","credentials":{"googleDocsOAuth2Api":{"id":"6WT13GtJcBi6WEei","name":"Google Docs account"}}},{"parameters":{"model":"openai/gpt-4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-832,512],"id":"b194737e-34c6-43de-a359-3a77bf9b8069","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"pmnJNFOqBuhd4qSv","name":"OpenRouter account"}}}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Special Days - All":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Derma":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Endo":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Optho":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Dental":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Gynic":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Neuro":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Gastro":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Ortho":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Plastic":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Pedia":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Master Data + Keyword":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"2025 Indian Holidays & Pujas":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"2026 Indian Holidays & Pujas":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"2027 Indian Holidays & Pujas":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"2028 Indian Holidays & Pujas":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"2029 Indian Holidays & Pujas":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"2030 Indian Holidays & Pujas":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"G2KZfyUFGXoArofH"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"842eb70a-96d4-4c8d-895a-3613442f2fff","triggerCount":2,"shared":[{"createdAt":"2025-08-28T15:10:23.497Z","updatedAt":"2025-08-28T15:10:23.497Z","role":"workflow:owner","workflowId":"vmqyfWLGB0dzsJxC","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[]}