backup-workflows---github-OtbOd7QoPY2GLBdY.json
{"createdAt":"2025-07-16T03:34:12.965Z","updatedAt":"2025-07-16T06:20:14.626Z","id":"OtbOd7QoPY2GLBdY","name":"Backup  Workflows - Github","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2368,288],"id":"0a86ed5f-5924-4429-bddc-87d2f2374c44","name":"Schedule Trigger"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2368,480],"id":"544829ee-81be-4e98-876c-2992e198fd9d","name":"When clicking ‘Execute workflow’"},{"parameters":{"options":{}},"id":"a675e648-8c27-4ba1-a483-865f7b937ac7","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-2128,288]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"ae9a3a1f-cad2-45f8-a743-a802708d60ee","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1920,288]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"8ac14ac3-ace7-498b-9d01-27c35cc55629","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1728,288]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"itsdoctorsmart","mode":"list","cachedResultName":"itsdoctorsmart","cachedResultUrl":"https://github.com/itsdoctorsmart"},"repository":{"__rl":true,"value":"n8n-backup","mode":"list","cachedResultName":"n8n-backup","cachedResultUrl":"https://github.com/itsdoctorsmart/n8n-backup"},"filePath":"="},"id":"0d7e6768-9fac-422b-b08b-7e04e2a1d5e5","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1520,288],"alwaysOutputData":true,"webhookId":"162ba9eb-7db8-4633-be66-9d3912c10ac8","credentials":{"githubOAuth2Api":{"id":"kUW2fMjYOfkOQAJl","name":"GitHub account 2"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"1d85d111-5729-4ff5-b8cc-1270ca147d07","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-1328,288]},{"parameters":{"filters":{},"requestOptions":{}},"id":"30fa740d-25bf-4855-be8d-86aa0d692f53","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1120,288],"credentials":{"n8nApi":{"id":"mAKu3DXf0tA2u3PB","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"119c074c-8271-4fb0-8508-b135ebc073b5","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-928,288]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"e92c4994-2a64-44d5-97b6-43c00ec6d053","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[-224,208]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"itsdoctorsmart","mode":"list","cachedResultName":"itsdoctorsmart","cachedResultUrl":"https://github.com/itsdoctorsmart"},"repository":{"__rl":true,"value":"n8n-backup","mode":"list","cachedResultName":"n8n-backup","cachedResultUrl":"https://github.com/itsdoctorsmart/n8n-backup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"4ac2a346-9955-4c8a-a801-22dfa44dfd7b","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[0,0],"webhookId":"37d2d147-2933-4d6e-952d-cffa2eaf6815","credentials":{"githubOAuth2Api":{"id":"kUW2fMjYOfkOQAJl","name":"GitHub account 2"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"itsdoctorsmart","mode":"list","cachedResultName":"itsdoctorsmart","cachedResultUrl":"https://github.com/itsdoctorsmart"},"repository":{"__rl":true,"value":"n8n-backup","mode":"list","cachedResultName":"n8n-backup","cachedResultUrl":"https://github.com/itsdoctorsmart/n8n-backup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"1eef6309-3f80-41b5-be3d-5cfc67ffe6be","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[0,400],"webhookId":"1fd1034d-f5b4-4ea2-b097-5cb22a97666d","credentials":{"githubOAuth2Api":{"id":"kUW2fMjYOfkOQAJl","name":"GitHub account 2"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-640,288],"id":"3c83761b-df9b-4983-a9a5-c751da3a3b56","name":"Loop Over Items"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Set date","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Check if file exists in repository","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"699925cd-5cc2-4a98-ae24-8432d333dbf6","triggerCount":1,"tags":[]}