backup-workflows---leela-github-TSD8GQVeYg1MUubz.json
{"createdAt":"2025-08-28T15:10:21.744Z","updatedAt":"2025-12-15T11:06:38.035Z","id":"TSD8GQVeYg1MUubz","name":"Backup  Workflows - Leela Github","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2368,288],"id":"7f3f3888-2338-4483-a1ca-147ded85654b","name":"Schedule Trigger"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2368,480],"id":"dfb35963-983c-48f3-98c1-2417a34459f6","name":"When clicking ‘Execute workflow’"},{"parameters":{"options":{}},"id":"998d857b-7be1-4371-8cf5-69024a4c9d6e","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-2128,288]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"db5226e8-1f2d-49d7-a094-d3f64c805930","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1920,288]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"1e701140-dfa0-46cf-b764-0f47e4b9ec92","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1728,288]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"InvarianceAI","mode":"list","cachedResultName":"InvarianceAI","cachedResultUrl":"https://github.com/InvarianceAI"},"repository":{"__rl":true,"value":"DrSmartBackup","mode":"list","cachedResultName":"DrSmartBackup","cachedResultUrl":"https://github.com/InvarianceAI/DrSmartBackup"},"filePath":"="},"id":"4f96d44a-11a0-4c1f-99ce-97da65e31f4e","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1520,288],"alwaysOutputData":true,"webhookId":"ebc7d338-7714-4a1b-9ae9-3db82ff5af09","credentials":{"githubOAuth2Api":{"id":"R55pdDpC5m3tC5sB","name":"GitHub account 2"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"64504cff-c714-495b-b731-b8c0d129fdd3","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-1328,288]},{"parameters":{"filters":{},"requestOptions":{}},"id":"cb7376e7-8e10-49b3-833f-dabacb3d7e2d","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1120,288],"credentials":{"n8nApi":{"id":"uOwwnsbi0gEmZ1n9","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"b541fa4b-ad0d-4a22-9172-2f62251f1507","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-928,288]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"d430628e-9ea9-4989-bdf7-93b49dc8cfc2","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[-224,208]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"InvarianceAI","mode":"list","cachedResultName":"InvarianceAI","cachedResultUrl":"https://github.com/InvarianceAI"},"repository":{"__rl":true,"value":"DrSmartBackup","mode":"list","cachedResultName":"DrSmartBackup","cachedResultUrl":"https://github.com/InvarianceAI/DrSmartBackup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"17d348ae-3864-4633-8250-2632a097a48d","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[0,0],"webhookId":"be3205b6-96b1-4d2a-acb0-fdb3e9b7ac11","credentials":{"githubOAuth2Api":{"id":"R55pdDpC5m3tC5sB","name":"GitHub account 2"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"InvarianceAI","mode":"list","cachedResultName":"InvarianceAI","cachedResultUrl":"https://github.com/InvarianceAI"},"repository":{"__rl":true,"value":"DrSmartBackup","mode":"list","cachedResultName":"DrSmartBackup","cachedResultUrl":"https://github.com/InvarianceAI/DrSmartBackup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"74061b87-48ff-4af9-a17d-9e527066ef4d","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[0,400],"webhookId":"ea49a6b5-70e6-4bd1-879a-43ad633fa218","credentials":{"githubOAuth2Api":{"id":"R55pdDpC5m3tC5sB","name":"GitHub account 2"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-640,288],"id":"268d77d6-636d-491e-a8bf-346cb0c383e0","name":"Loop Over Items"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Set date","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Check if file exists in repository","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"1bb4a984-66a6-4122-b3d1-9b544b5163d9","triggerCount":1,"shared":[{"createdAt":"2025-08-28T15:10:21.744Z","updatedAt":"2025-08-28T15:10:21.744Z","role":"workflow:owner","workflowId":"TSD8GQVeYg1MUubz","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[{"createdAt":"2025-09-02T10:03:08.740Z","updatedAt":"2025-09-02T10:03:08.740Z","id":"dJyBVlAL95rCLxIV","name":"Backup"}]}