client-to-task-KKmw1km5vW197lPk.json
{"createdAt":"2025-09-24T19:04:41.803Z","updatedAt":"2025-09-24T19:12:54.451Z","id":"KKmw1km5vW197lPk","name":"Client to Task","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"crm","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-176,-32],"id":"1a49b8b8-d1b9-43fd-8a9b-eb74816b87e2","name":"Webhook","webhookId":"664c8922-f3b4-41f0-9ad2-e1b45ffa513b"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"db69d52e-ef0c-42f6-b093-975ef3a4902f","leftValue":"={{ $json.body.record.stage }}","rightValue":"CLIENT","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[32,-32],"id":"8c93fa09-edd5-4949-8ebf-1118698d4edd","name":"If"},{"parameters":{"method":"POST","url":"https://crm.drsmart.in/rest/tasks","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJjNzQ1M2U0MC1hZDljLTQzMmItODc5Mi0xNzFhMGJmYzI5NzAiLCJ0eXBlIjoiQVBJX0tFWSIsIndvcmtzcGFjZUlkIjoiYzc0NTNlNDAtYWQ5Yy00MzJiLTg3OTItMTcxYTBiZmMyOTcwIiwiaWF0IjoxNzU4NjQyMjMwLCJleHAiOjQ5MTIyNDIyMjgsImp0aSI6ImQ4YTAzODZmLTMyZmYtNDUzNy04OTkwLTUwM2VjMDNiMDEyNCJ9.-Nzd149BaClsTaLvTGTzSfUT4IQJYxBh7280ssY5nIA"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"title\": \"{{ $json.Tasks }} for {{ $('Webhook').item.json.body.record.name }}\",\n  \"position\": 1,\n  \"dueAt\": \"{{ $now.format('yyyy-MM-dd') }}\",\n  \"assigneeId\": \"68dee56f-4ebe-47d8-a24d-d504eb3909a6\",\n  \"status\": [\n    \"TODO\"\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,-48],"id":"eb7c03b0-d3bc-4142-8c7b-fa10e3ef6e26","name":"SendTaskRequest"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[688,-64],"id":"b7c83718-cbbb-4796-b04f-92226512b205","name":"Loop Over Items"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1104,-48],"id":"c27a9de7-c23d-4af9-bc92-5145b8150eaa","name":"Wait","webhookId":"d6425775-ec8a-4cb3-8df1-3cc40e66def2"},{"parameters":{"assignments":{"assignments":[{"id":"5e314835-2342-4e33-a814-e2442d6e1ba4","name":"Tasks","value":"=[\"Create Project\", \"Create Doctor\", \"Create Client\", \"Create Billing\"]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[288,-64],"id":"31e9604d-e348-484d-9d44-372360d02c91","name":"Edit Fields"},{"parameters":{"fieldToSplitOut":"Tasks","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[496,-64],"id":"1cb98b75-fef9-4794-8421-5a6603c27154","name":"Split Out"}],"connections":{"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"SendTaskRequest":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"SendTaskRequest","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"c59dcea9-a92b-4b85-a001-ab8498c46ad2","triggerCount":1,"shared":[{"createdAt":"2025-09-24T19:04:41.803Z","updatedAt":"2025-09-24T19:04:41.803Z","role":"workflow:owner","workflowId":"KKmw1km5vW197lPk","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[]}