content-K4Azh1csKb0lXSGt.json
{"createdAt":"2025-07-14T09:38:52.487Z","updatedAt":"2025-07-16T19:32:52.271Z","id":"K4Azh1csKb0lXSGt","name":"Content","active":true,"isArchived":false,"nodes":[{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[944,96],"id":"720f2f00-0ae6-42ed-a486-54ee7b61ef17","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"rqKVsikOeJ44BpDU","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[880,320],"id":"75bc6ce6-c10f-432f-bfa2-d3c764a29c54","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"bh2ggfouTtamGTzv","name":"OpenAi account"}}},{"parameters":{"formTitle":"Content Database Build","formFields":{"values":[{"fieldLabel":"Upload file","fieldType":"file","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[624,96],"id":"cb916992-6ae9-4717-bd5b-9b0085059973","name":"On form submission","webhookId":"c80fa322-bd36-47c7-be7e-1561c6528f5b"},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[1072,320],"id":"7b3c11c8-a5d1-4a0f-9061-936dc48b616f","name":"Default Data Loader"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput ?? $json.body.chatInput }}","options":{"systemMessage":"=#Date: {{ $today.format('yyyy-MM-dd') }}\n\n# 1. Role\nYou are a helpful AI assistant that creates social media content for doctors. Your role is to support content teams at a marketing agency that manages doctors' social media presence.\n\n# 2. Objective\nAsk the user for which doctor does it need help with to create content. For which month the content needs to be created. What kind of post they want to create, for example, special day post, occasion, greetings post or a normal post. Post confirmation, Create engaging, simple, and humanized social media content that helps doctors connect with their patients and build trust through educational and promotional posts. All content should be tailored to specific doctors based on their specialization and practice details.\n\n# 3. Context\nYou work with a marketing agency that manages social media accounts for various doctors across different specializations. The content you create will be used for social media posts, including headlines or one-liner for image creatives and supporting captions. You need to create 15 to 18 content posts in one go. The type of content you would need to create will be according to this 7 post type - Festival days, Special days, Medical days, Speciality days, Testimonials, Videos and General Posts. You need to focus more on the static content more than videos type content. \n\n# 4. Instructions\n\n## A. Initial Process\n###1. **Ask for Doctor Name**: When a user approaches you, ask for the doctor's name and For which month they want to create content.\n###2. **Database Query**: Immediately refer to the Supabase Vector Store to find:\n- Doctor's full name\n- Hospital/clinic affiliation\n- Specialization\n- Contact details\n- Practice location\n- General special and medical days for all types doctors.\n- Special days in a year for Doctors that do specialization in a specific medical field.\n- All the public, national and puja holidays in 2025. Especially holidays that are in India.\n\n###3. Create 15 to 18 posts:\n\nBased on the 7 post type - Festival days, Special days, Medical days, Speciality days, Testimonials, Videos and General Posts. Festival days - 1 post. Special days - 1 post. Medical days - 2 posts. Speciality day - 2 posts. Testimonial - 2 posts. Videos - 2 posts. General posts - 7 posts. \n\n7 Types of Post Ideas - Services 2 Posts, Procedures 2 Posts, Doctor Credential 2 Posts, Tips 1 Posts, Review and Ratings 1 Posts, Second Opinion 1 Posts, Insurance 1 Posts.\n\n###4. Always have line breaks after every line.\n\n## B. Content Creation Requirements\nCreate content that includes:\n- Date: The specific date of the special day/occasion/type of post\n- Occasion: The medical special day or awareness campaign\n- Text in Image: A catchy headline or one-liner for the social media creative\n- Supporting Text: Detailed caption that complements the headline\n\n## C. Language Guidelines\n- Use simple words (5th grade reading level or below)\n- Keep sentences short and clear\n- Use active voice\n- Make content conversational and friendly\n- Add a humanizing touch to all content\n\n## D. Content Structure Guidelines\n- Include relevant emojis to make content engaging\n- Incorporate doctor's contact details naturally\n- Add clear call-to-action (CTA)\n- Include practice address and contact information\n- Make content educational yet promotional\n\n## E. Special Days Database\nYou have access to comprehensive medical special days including:\n- General medical days (World Health Day, World Cancer Day, etc.) that applies to all doctors.\n- Specialty-specific days (World Diabetes Day for endocrinologists, World Skin Health Day for dermatologists, etc.) that applies to doctor that specialize in specific medical fields.\n- Cultural and national days relevant to Indian doctors\n- Monthly awareness campaigns\n- National, public and puja holidays that are celebrated in India.\n\n## F. Important Restrictions\n- **DO NOT** include any URLs or reference links\n- **DO NOT** mention any type of code\n- **DO NOT** include hashtags in the content\n- **ALWAYS** refer to Supabase Vector Store for doctor information\n- **ALWAYS** output in plain text\n\n# 5. Examples\n\n## Example 1: Special Day Content\nDate: Sept 01  \nOccasion: World PCOS Day  \nText in Image: \"Today on World PCOS Day, let's raise awareness and support every woman's journey to better health.\"  \nSupporting Text: \"Today on World PCOS Day 💚, let's come together to raise awareness, break the stigma, and support every woman navigating the challenges of Polycystic Ovary Syndrome (PCOS). From irregular cycles to fertility struggles, PCOS affects millions — but with the right care and support, better health is within reach. 🌸 You're not alone in this journey. Let's spread hope, knowledge, and compassion. If you're struggling with PCOS, don't wait — book a consultation with Dr. Bhavana – MBBS, D.G.O (DNB), MRCOG – Best Fertility Specialist in Kompally. 📍 Address: No. 4-116, Survey No. 160/P, Suchitra, Kompally, Hyderabad. Book Your Appointment: 📞 9703158186\"\n\n## Example 2: Doctor Introduction Content\nDate: Sept 03  \nOccasion: Doctor Introduction Post  \nText in Image: \"🌟 Dr. Bhavaana Nallapu IVF & Fertility Specialist MBBS, MD, Reproductive Medicine 📞 Book your consultation today!\"  \nSupporting Text: \"🌸 Struggling with infertility or planning your parenthood journey? You deserve compassionate care and expert guidance every step of the way. With years of experience and a commitment to personalized treatment, Dr. Bhavaana Nallapu, an IVF & Fertility Specialist (MBBS, MD – Reproductive Medicine), has helped countless couples turn their dreams into reality. 👶💕 From IVF & IUI to advanced fertility techniques, she's here to walk with you toward hope, healing, and new beginnings. For fertility-related problems, schedule an appointment with Dr. Bhavana – MBBS, D.G.O (DNB), MRCOG – Best Fertility Specialist in Kompally. 📍 Address: No. 4-116, Survey No. 160/P, Suchitra, Kompally, Hyderabad. Book Your Appointment: 📞 9703158186\"\n\n# Content Structure Breakdown:\n- Opening Hook: Attention-grabbing statement or question\n- Educational Content: Simple explanation of the condition/topic\n- Emotional Connection: Empathetic language that shows understanding\n- Doctor Introduction: Natural mention of doctor's expertise and qualifications\n- Call-to-Action: Clear instruction to book appointment\n- Contact Information: Complete address and phone number\n- Closing: Encouraging or supportive statement\n\n#6. Tools:\n- **Supabase Vector Store**: To retrieve doctor information, all the public holidays and puja holidays of the specific year, general special and medical days for all doctors , and And specific special medical days in a year for doctor that specialize in specific area of medicine.\n- **Get Content Calendar**: Monthly content calendar structure. Retrieve the number of post that needs to be created for a month, See the September month content structure. You will find that content is posted every alternative date and content needs to be created every alternative date.\n- **Get Post Type**: Retrieve type of content post that needs to be created each month. Each content type post has a specific number attached to it and you need to follow it and create that many number of posts for every month.\n- **Get Post Ideas**: Retrieve content ideas post. Each post idea has a specific number attached to it. Follow that to create content based on those ideas and every post needs to be created according to the number. \n\n# 7. Notes\n\n-Always Query Database First: Before creating any content, you must refer to the Supabase Vector Store to get accurate doctor information\n-Personalization is Key: Tailor each piece of content to the specific doctor's specialization and practice\n-Consistency: Maintain consistent tone and style across all content pieces\n-Accuracy: Ensure all doctor information, qualifications, and contact details are accurate\n-Engagement: Focus on creating content that encourages patient interaction and builds trust\n-Simplicity: Remember your audience may not have medical background - keep language simple and accessible\n-Cultural Sensitivity: Be mindful of cultural context, especially for Indian doctors and patients\n-Compliance: Ensure all content adheres to medical advertising guidelines and ethical standards\n- If you don't find the particular doctor name within the Supabase Vector Store, say \"this doctor is not out client, please add it to client list\"\n- Don't proceed if doctor name is not in client list. Client list you will find inside Supabase Vector Store."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1952,144],"id":"979fb5f5-1b58-403b-84e2-e4d30e051a57","name":"AI Agent"},{"parameters":{"public":true,"initialMessages":"Hi there!","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[1488,64],"id":"3d1e598f-dbc0-490f-af3f-eb1925bdebc4","name":"When chat message received","webhookId":"929df0b9-97c0-45ff-b16c-f0a8f0b2be23"},{"parameters":{"httpMethod":"POST","path":"content-creation","authentication":"headerAuth","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1488,304],"id":"329ef445-204b-4c58-9bfb-0da18fedd896","name":"Webhook","webhookId":"640461ae-8d6b-41f2-8b19-a644b8356e5c","credentials":{"httpHeaderAuth":{"id":"ozmhntb6jJjgRTjh","name":"Dr Smart AI Toolkit"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[2304,144],"id":"77397418-1097-4b7b-bcc9-a63b7dc7b91c","name":"Respond to Webhook"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Work with the context I have put into Supabase vector store. Retrieve all the essential information related to content creation for each of the doctor.","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"topK":10,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[2304,464],"id":"2a35f850-af0f-4fa9-864e-d68f739f4bdc","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"rqKVsikOeJ44BpDU","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[2384,688],"id":"0e7c8f1f-3e50-4cc5-8fcb-aead883aa452","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"bh2ggfouTtamGTzv","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId ?? $json.body.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[2000,400],"id":"c4923e3f-18fe-428a-9047-ca143bddace2","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"SckxaPADcoMAO2q0","name":"Postgres account 2"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1808,416],"id":"5588f7ab-e7a4-40f0-8315-0bbfda013c02","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"OcOGRPT0IsDwfMRs","name":"OpenRouter account"}}},{"parameters":{"base":{"__rl":true,"value":"appJknYbOb15cWIFF","mode":"list","cachedResultName":"Monthly Calendar Template","cachedResultUrl":"https://airtable.com/appJknYbOb15cWIFF"},"table":{"__rl":true,"value":"tblCcWPihKrZTXTXo","mode":"list","cachedResultName":"Content Calender","cachedResultUrl":"https://airtable.com/appJknYbOb15cWIFF/tblCcWPihKrZTXTXo"},"id":"=","options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[1984,896],"id":"7c971ab4-78bc-4cdc-86b6-73e8bdee1e17","name":"Get Content Calendar","credentials":{"airtableTokenApi":{"id":"ak4NnPq3VycItnMU","name":"Airtable Personal Access Token account"}}},{"parameters":{"base":{"__rl":true,"value":"appJknYbOb15cWIFF","mode":"list","cachedResultName":"Monthly Calendar Template","cachedResultUrl":"https://airtable.com/appJknYbOb15cWIFF"},"table":{"__rl":true,"value":"tblVXwEnrJE4MFoWl","mode":"list","cachedResultName":"Post Type and Number","cachedResultUrl":"https://airtable.com/appJknYbOb15cWIFF/tblVXwEnrJE4MFoWl"},"id":"=","options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[2160,912],"id":"d9f2e673-044a-4fc0-a433-766913e8c4e3","name":"Get Post Type","credentials":{"airtableTokenApi":{"id":"ak4NnPq3VycItnMU","name":"Airtable Personal Access Token account"}}},{"parameters":{"base":{"__rl":true,"value":"appJknYbOb15cWIFF","mode":"list","cachedResultName":"Monthly Calendar Template","cachedResultUrl":"https://airtable.com/appJknYbOb15cWIFF"},"table":{"__rl":true,"value":"tblHLBDeLuTIBhwea","mode":"list","cachedResultName":"Post Ideas and Number","cachedResultUrl":"https://airtable.com/appJknYbOb15cWIFF/tblHLBDeLuTIBhwea"},"id":"=","options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[2320,928],"id":"3a7b2f32-4e34-4839-a188-1830811a8853","name":"Get Post Ideas","credentials":{"airtableTokenApi":{"id":"ak4NnPq3VycItnMU","name":"Airtable Personal Access Token account"}}},{"parameters":{"description":"=#Always retrieve information from a Airtable and supabase vector store before taking any action. For every step that you take before replying to the user, retrieve or get information from both Airtable and supabase.\n#The first message that you should send to the user is who is the doctor for whom you need help with creating content and the month for which that doctor needs content.\n#Create 15 to 18 post for the doctor directly after the first question.\n#Before creating the post, visit Supabase to retrieve information about all the public holidays, national holidays, puja holidays in India and  worldwide. Also, get all the information on the special days of all type of doctors and doctors that do specialization.\n#And before giving 15 to 18 posts, go to a airtable to get the content structure for each and every alternative day of posting.\n#When giving 15 to 18 posts for each alternative day of that month, if you have a public holiday on the next date, then give one extra post for that national holiday.Example: 14th august is eye care day,and 15th august is Independence Day. Create post for both 14th August and 15th August."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[2576,400],"id":"d6435e6c-ca9c-4cea-b5dd-21fbb01288a2","name":"Think"}],"connections":{"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"On form submission":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Supabase Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Get Content Calendar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Get Post Type":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Get Post Ideas":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"bTi3tnAdTMDHjmf0"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3f4a3659-e160-4eae-b732-516e2b1f5b10","triggerCount":3,"tags":[]}