dr-smart---endpoints-api-RBIKIos7TzZUKYWO.json
{"createdAt":"2026-02-27T10:15:10.448Z","updatedAt":"2026-03-02T13:28:52.879Z","id":"RBIKIos7TzZUKYWO","name":"Dr Smart - Endpoints API","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"brands","responseMode":"responseNode","options":{}},"id":"dd373a32-369e-4ca5-8d8b-b4a1a9339c3a","name":"GET /brands","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-224,-336],"webhookId":"brands-get"},{"parameters":{"jsCode":"const params = $input.first().json.query || {};\nconst month = params.month ? Number(params.month) : null;\nconst year = params.year ? Number(params.year) : null;\n\nconst cols = `cr.id, cr.profile_name, cr.start_date, cr.end_date,\n  cr.search_views, cr.interactions, cr.website_clicks, cr.direction_requests,\n  cr.phone_calls, cr.reviews, cr.review_responses, cr.ratings,\n  cr.website_speed, cr.seo_score, cr.primary_keyword, cr.primary_rank,\n  cr.keyword_1, cr.rank_1, cr.keyword_2, cr.rank_2,\n  cr.keyword_3, cr.rank_3, cr.keyword_4, cr.rank_4,\n  cr.keyword_5, cr.rank_5, cr.citations, cr.backlinks,\n  cr.content_marketing, cr.creatives, cr.shorts_reels, cr.medical_blogs,\n  cr.website_seo, cr.local_seo, cr.web_social_audit, cr.google_profile_rank,\n  c.client_name, c.specialisation, c.location, c.city_name,\n  c.website_url, c.gmb_profile_link, c.fb_page_link, c.instagram_link, c.youtube_link`;\n\nlet query;\nif (month && year) {\n  query = `SELECT ${cols}\nFROM dr_smart.client_reports cr\nLEFT JOIN dr_smart.clients c ON LOWER(TRIM(c.client_name)) = LOWER(TRIM(cr.profile_name))\nWHERE EXTRACT(MONTH FROM cr.start_date) = ${month}\n  AND EXTRACT(YEAR FROM cr.start_date) = ${year}\nORDER BY cr.profile_name;`;\n} else {\n  query = `SELECT ${cols}\nFROM dr_smart.client_reports cr\nLEFT JOIN dr_smart.clients c ON LOWER(TRIM(c.client_name)) = LOWER(TRIM(cr.profile_name))\nORDER BY cr.profile_name;`;\n}\n\nreturn [{ json: { query } }];\n"},"id":"edb05219-aeee-4b3e-99c1-0e0f3af6287b","name":"Build Query","type":"n8n-nodes-base.code","typeVersion":2,"position":[16,-336]},{"parameters":{"operation":"executeQuery","query":"{{ $json.query }}","options":{}},"id":"25f11b01-2db1-4a68-a519-fb408f70c7ec","name":"Fetch Brands","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[272,-336],"credentials":{"postgres":{"id":"9zDWQDsOZBmHEvfH","name":"Postgres account"}}},{"parameters":{"jsCode":"const brands = $input.all().map(item => {\n  const d = item.json;\n\n  const keywords = [];\n  for (let i = 1; i <= 5; i++) {\n    const kw = d[`keyword_${i}`];\n    const rk = d[`rank_${i}`];\n    if (kw && kw.trim()) {\n      keywords.push({ keyword: kw.trim(), rank: Number(rk) || 0 });\n    }\n  }\n\n  return {\n    name: d.profile_name || d.client_name || '',\n    startDate: d.start_date,\n    endDate: d.end_date,\n    searchViews: Number(d.search_views) || 0,\n    interactions: Number(d.interactions) || 0,\n    websiteClicks: Number(d.website_clicks) || 0,\n    directionRequests: Number(d.direction_requests) || 0,\n    phoneCalls: Number(d.phone_calls) || 0,\n    reviews: Number(d.reviews) || 0,\n    reviewResponses: Number(d.review_responses) || 0,\n    ratings: Number(d.ratings) || 0,\n    websiteSpeed: Number(d.website_speed) || 0,\n    seoScore: Number(d.seo_score) || 0,\n    primaryKeyword: d.primary_keyword || '',\n    primaryRank: Number(d.primary_rank) || 0,\n    keywords,\n    citations: Number(d.citations) || 0,\n    backlinks: Number(d.backlinks) || 0,\n    contentMarketing: Number(d.content_marketing) || 0,\n    creatives: Number(d.creatives) || 0,\n    shortsReels: Number(d.shorts_reels) || 0,\n    medicalBlogs: Number(d.medical_blogs) || 0,\n    websiteSEO: Boolean(d.website_seo),\n    localSEO: Boolean(d.local_seo),\n    webSocialAudit: Boolean(d.web_social_audit),\n    googleProfileRank: Number(d.google_profile_rank) || 0,\n    specialty: d.specialisation || '',\n    location: d.city_name || d.location || '',\n    websiteUrl: d.website_url || '',\n    gmbProfileLink: d.gmb_profile_link || '',\n    fbPageLink: d.fb_page_link || '',\n    instagramLink: d.instagram_link || '',\n    youtubeLink: d.youtube_link || ''\n  };\n});\n\nreturn [{ json: { brands } }];\n"},"id":"7e3894b2-24da-4338-8845-7d09bf4f9105","name":"Transform to camelCase","type":"n8n-nodes-base.code","typeVersion":2,"position":[512,-336]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Access-Control-Allow-Methods","value":"GET, POST, DELETE, OPTIONS"},{"name":"Access-Control-Allow-Headers","value":"Content-Type"}]}}},"id":"c1c8cace-8d50-44e1-90dd-437aa4fbe5a5","name":"Respond GET","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[752,-336]},{"parameters":{"httpMethod":"POST","path":"brands","responseMode":"responseNode","options":{}},"id":"26f503ec-f541-4786-ae07-107e043d8566","name":"POST /brands","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-224,-80],"webhookId":"brands-post"},{"parameters":{"jsCode":"const body = $input.first().json.body;\n\nif (!body.clientId || !body.clientName) {\n  throw new Error('clientId and clientName are required');\n}\n\nconst esc = (val) => val && val.trim() ? \"'\" + val.trim().replace(/'/g, \"''\") + \"'\" : 'NULL';\nconst numOrNull = (val) => (val !== undefined && val !== null && val !== '') ? Number(val) : 'NULL';\n\nconst query = `INSERT INTO dr_smart.clients (\n  sl_no, client_id, client_name, dr_name, specialisation,\n  qualifications, years_of_experience, known_languages,\n  location, city_name, country, primary_keyword, seo_keywords,\n  whatsapp, contact_number, website_url,\n  gmb_profile_link, gmb_profile_id, gmb_place_id, gmb_cid,\n  fb_page_link, instagram_link, youtube_link,\n  testimonial, gmb_audit_sheet, client_reporting_sheet, client_id_crm\n) VALUES (\n  ${numOrNull(body.slNo)},\n  ${esc(body.clientId)},\n  ${esc(body.clientName)},\n  ${esc(body.drName)},\n  ${esc(body.specialisation)},\n  ${esc(body.qualifications)},\n  ${numOrNull(body.yearsOfExperience)},\n  ${esc(body.knownLanguages)},\n  ${esc(body.location)},\n  ${esc(body.cityName)},\n  ${esc(body.country)},\n  ${esc(body.primaryKeyword)},\n  ${esc(body.seoKeywords)},\n  ${esc(body.whatsapp)},\n  ${esc(body.contactNumber)},\n  ${esc(body.websiteUrl)},\n  ${esc(body.gmbProfileLink)},\n  ${esc(body.gmbProfileId)},\n  ${esc(body.gmbPlaceId)},\n  ${esc(body.gmbCid)},\n  ${esc(body.fbPageLink)},\n  ${esc(body.instagramLink)},\n  ${esc(body.youtubeLink)},\n  ${esc(body.testimonial)},\n  ${esc(body.gmbAuditSheet)},\n  ${esc(body.clientReportingSheet)},\n  ${esc(body.clientIdCrm)}\n) RETURNING id;`;\n\nreturn [{ json: { query, clientName: body.clientName.trim() } }];"},"id":"f1e3c429-634c-4548-8f17-803f977c5dd6","name":"Validate & Build Insert","type":"n8n-nodes-base.code","typeVersion":2,"position":[16,-80]},{"parameters":{"operation":"executeQuery","query":"{{ $json.query }}","options":{}},"id":"e561637b-e192-4f7e-b666-5f971f764bd9","name":"Insert Client","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[272,-80],"credentials":{"postgres":{"id":"9zDWQDsOZBmHEvfH","name":"Postgres account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { success: true, message: 'Client added successfully', clientId: $('Insert Client').first().json.id } }}","options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}}},"id":"6e015548-edac-4e16-8c53-05d466e11853","name":"Respond POST","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[512,-80]},{"parameters":{"httpMethod":"DELETE","path":"brands","responseMode":"responseNode","options":{}},"id":"9c67e372-88a1-409b-ace7-451ee8d5c50c","name":"DELETE /brands","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-224,128],"webhookId":"brands-delete"},{"parameters":{"jsCode":"const body = $input.first().json.body;\n\nif (!body.name) {\n  throw new Error('name is required for deletion');\n}\n\nconst safeName = body.name.trim().replace(/'/g, \"''\");\nconst query = `DELETE FROM dr_smart.clients WHERE client_name = '${safeName}';`;\n\nreturn [{ json: { query } }];"},"id":"8c39b247-3f40-42f8-9812-dba61e900d01","name":"Validate Delete","type":"n8n-nodes-base.code","typeVersion":2,"position":[16,128]},{"parameters":{"operation":"executeQuery","query":"{{ $json.query }}","options":{}},"id":"9baffda5-2d4b-4ecf-aa5c-a8fc5ee9b9bb","name":"Execute Delete","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[272,128],"credentials":{"postgres":{"id":"9zDWQDsOZBmHEvfH","name":"Postgres account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { success: true, message: 'Client deleted successfully' } }}","options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}}},"id":"89a39e0f-6774-47d3-862e-607e21ec0c68","name":"Respond DELETE","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[512,128]},{"parameters":{"content":"FOR Brands Performance","height":224,"width":1232},"type":"n8n-nodes-base.stickyNote","position":[-288,-384],"typeVersion":1,"id":"bc2eb3b6-31fa-46e4-a6f1-2932b2f476f6","name":"Sticky Note"},{"parameters":{"content":"On Boarding or Deleting a Brand","height":416,"width":1024},"type":"n8n-nodes-base.stickyNote","position":[-288,-128],"typeVersion":1,"id":"725d2775-04f0-4fa0-bf30-e4d67cd08f81","name":"Sticky Note1"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.query.date }}","operation":"isNotEmpty"}]}},"id":"57e24f15-8495-43fe-a793-7dc3d1c3be9e","name":"Date Selected in Frontend?","type":"n8n-nodes-base.if","typeVersion":1,"position":[16,496]},{"parameters":{"operation":"executeQuery","query":"SELECT DISTINCT TO_CHAR(created_at, 'YYYY-MM-DD') AS available_date \nFROM dr_smart.gmb_weekly_audits \nORDER BY available_date DESC;","options":{}},"id":"424499ae-6961-4b49-a536-22b3693343d3","name":"Fetch Only Dates With Records","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[224,656],"credentials":{"postgres":{"id":"9zDWQDsOZBmHEvfH","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM dr_smart.gmb_weekly_audits WHERE TO_CHAR(created_at, 'YYYY-MM-DD') = (SELECT TO_CHAR(MAX(created_at), 'YYYY-MM-DD') FROM dr_smart.gmb_weekly_audits) ORDER BY created_at DESC;","options":{}},"id":"d53f0d4b-3baf-4613-b176-9b9dcbea8e66","name":"Fetch Absolute Latest Records","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[448,656],"credentials":{"postgres":{"id":"9zDWQDsOZBmHEvfH","name":"Postgres account"}}},{"parameters":{"jsCode":"const dates = $('Fetch Only Dates With Records').all().map(item => item.json.available_date);\nconst records = $('Fetch Absolute Latest Records').all().map(item => item.json);\n\nreturn [{\n  json: {\n    availableDates: dates,\n    currentRecords: records\n  }\n}];"},"id":"e26d853f-188a-42fb-8815-13015bf77914","name":"Format Initial Load","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,656]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"bbed06cf-b7d4-4fcc-a72e-5c32a155d99e","name":"Respond to React (Initial)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[864,656]},{"parameters":{"operation":"executeQuery","query":"=SELECT * FROM message_logs WHERE TO_CHAR(sent_at, 'YYYY-MM-DD') = '{{ $json.query.date }}' ORDER BY sent_at DESC;","options":{}},"id":"8137b022-f163-40c1-a5dd-f5e298808f70","name":"Fetch Selected Date Records","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[224,352],"credentials":{"postgres":{"id":"9zDWQDsOZBmHEvfH","name":"Postgres account"}}},{"parameters":{"jsCode":"const records = $('Fetch Selected Date Records').all().map(item => item.json);\n\nreturn [{\n  json: {\n    currentRecords: records\n  }\n}];"},"id":"f4855b58-0490-4391-bec2-a69b42345e7b","name":"Format Filtered Load","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,352]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"9df15e9f-fac4-4832-8e6b-af8f153dc78e","name":"Respond to React (Filtered)","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[672,352]},{"parameters":{"httpMethod":"POST","path":"dashboard-logs","responseMode":"responseNode","options":{}},"id":"18facdfc-0199-4bfc-94c9-ee37b6d2f196","name":"Weekly_audit","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-224,496],"webhookId":"afd46011-a207-4c2a-a132-d0440f3f28d5"},{"parameters":{"content":"Weekly Audits","height":544,"width":1344},"type":"n8n-nodes-base.stickyNote","position":[-288,304],"typeVersion":1,"id":"f63c2c5d-9fa4-4e87-82e0-e95e8d6e79eb","name":"Sticky Note2"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM dr_smart.gmb_rankings ORDER BY created_at DESC;","options":{}},"id":"7c7a723c-4764-471a-9e96-d66543c185ee","name":"PostgreSQL","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[992,-80],"credentials":{"postgres":{"id":"9zDWQDsOZBmHEvfH","name":"Postgres account"}}},{"parameters":{"content":"Keyword Ranking","height":192,"width":784},"type":"n8n-nodes-base.stickyNote","position":[768,-128],"typeVersion":1,"id":"a50c23c7-367f-4a74-8a38-9cfaf39c2758","name":"Sticky Note3"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1360,-80],"id":"7f18a3ce-c81f-4454-b1f9-9b47473f560c","name":"Respond to Webhook"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const row = item.json;\n  \n  // 1. Safely handle JSONB fields\n  // Sometimes the Postgres driver returns JSONB as a string, sometimes as an object. This handles both.\n  let parsedBusinessInfo = {};\n  let parsedRankings = [];\n  \n  try {\n    parsedBusinessInfo = typeof row.business_info === 'string' \n      ? JSON.parse(row.business_info) \n      : (row.business_info || {});\n  } catch (e) {\n    parsedBusinessInfo = {};\n  }\n  \n  try {\n    parsedRankings = typeof row.rankings === 'string' \n      ? JSON.parse(row.rankings) \n      : (row.rankings || []);\n  } catch (e) {\n    parsedRankings = [];\n  }\n  \n  // 2. Format and return clean data for your frontend\n  return {\n    json: {\n      placeId: row.place_id,\n      businessName: row.business_name,\n      \n      // Flattening the nested business info so your frontend code is cleaner\n      category: parsedBusinessInfo.category || \"N/A\",\n      rating: parsedBusinessInfo.rating || null,\n      reviews: parsedBusinessInfo.reviews || 0,\n      address: parsedBusinessInfo.address || \"N/A\",\n      phone: parsedBusinessInfo.phone || \"N/A\",\n      mapsUrl: parsedBusinessInfo.maps_url || null,\n      \n      // The clean array of { keyword, rank }\n      rankings: parsedRankings,\n      scrapedAt: row.created_at\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1184,-80],"id":"2b790b1a-0efa-46e9-8471-23867c49043d","name":"Code in JavaScript"},{"parameters":{"jsCode":"const total_credits = $input.first().json.data.total_credits;\nconst total_usage = $input.first().json.data.total_usage;\nconst current_balance = total_credits - total_usage;\n\nreturn [{ json: { current_balance } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1152,144],"id":"9f75e410-9df0-41f8-9969-64ee775c59ec","name":"Current Balance"},{"parameters":{"url":"https://openrouter.ai/api/v1/credits","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 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"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[992,144],"id":"3d261a32-e83a-48aa-8b44-8a1a994b8b4a","name":"Get Credits"},{"parameters":{"content":"Balance","height":176,"width":768},"type":"n8n-nodes-base.stickyNote","position":[784,112],"typeVersion":1,"id":"8598459c-5355-48b8-9213-c6afc08c0f43","name":"Sticky Note4"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1360,144],"id":"1d180b90-104f-43fd-9c3d-4a26787d7272","name":"Respond to Webhook1"},{"parameters":{"resource":"app"},"type":"@aldinokemal2104/n8n-nodes-gowa.gowa","typeVersion":1,"position":[1184,-336],"id":"ef763750-1d81-4080-a458-88c68937d701","name":"Get device information","credentials":{"goWhatsappApi":{"id":"mZAEXMToCau4GSWu","name":"GOWA account"}}},{"parameters":{"httpMethod":"POST","path":"whatsapp_status","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[992,-336],"id":"4b47d2b3-0a88-4141-a780-edb95ed05d9c","name":"Webhook1","webhookId":"11cda7fa-387e-4704-81a5-1d20bd5ec59c"},{"parameters":{"httpMethod":"POST","path":"keyword-rankings","responseMode":"responseNode","options":{}},"id":"3658945d-bbab-4d14-84c1-22c1c768bd95","name":"Keyword","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[816,-80],"webhookId":"db-fetch-webhook-id"},{"parameters":{"httpMethod":"POST","path":"Balance","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[816,144],"id":"2bd07a7d-6590-450c-bad9-c588cb0e52ff","name":"openrouter_balance","webhookId":"3f432a93-7ce4-4a94-864a-6aeed7a8f3b5"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1392,-336],"id":"f8813e01-9730-490f-b47b-9a93a57d150e","name":"Respond to Webhook2"},{"parameters":{"content":"Whatsup Status","height":224,"width":608},"type":"n8n-nodes-base.stickyNote","position":[960,-384],"typeVersion":1,"id":"67135ab8-818a-4374-95b1-efbda0e31ea6","name":"Sticky Note5"}],"connections":{"GET /brands":{"main":[[{"node":"Build Query","type":"main","index":0}]]},"Build Query":{"main":[[{"node":"Fetch Brands","type":"main","index":0}]]},"Fetch Brands":{"main":[[{"node":"Transform to camelCase","type":"main","index":0}]]},"Transform to camelCase":{"main":[[{"node":"Respond GET","type":"main","index":0}]]},"POST /brands":{"main":[[{"node":"Validate & Build Insert","type":"main","index":0}]]},"Validate & Build Insert":{"main":[[{"node":"Insert Client","type":"main","index":0}]]},"Insert Client":{"main":[[{"node":"Respond POST","type":"main","index":0}]]},"DELETE /brands":{"main":[[{"node":"Validate Delete","type":"main","index":0}]]},"Validate Delete":{"main":[[{"node":"Execute Delete","type":"main","index":0}]]},"Execute Delete":{"main":[[{"node":"Respond DELETE","type":"main","index":0}]]},"Date Selected in Frontend?":{"main":[[{"node":"Fetch Selected Date Records","type":"main","index":0}],[{"node":"Fetch Only Dates With Records","type":"main","index":0}]]},"Fetch Only Dates With Records":{"main":[[{"node":"Fetch Absolute Latest Records","type":"main","index":0}]]},"Fetch Absolute Latest Records":{"main":[[{"node":"Format Initial Load","type":"main","index":0}]]},"Format Initial Load":{"main":[[{"node":"Respond to React (Initial)","type":"main","index":0}]]},"Fetch Selected Date Records":{"main":[[{"node":"Format Filtered Load","type":"main","index":0}]]},"Format Filtered Load":{"main":[[{"node":"Respond to React (Filtered)","type":"main","index":0}]]},"Weekly_audit":{"main":[[{"node":"Date Selected in Frontend?","type":"main","index":0}]]},"PostgreSQL":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Get Credits":{"main":[[{"node":"Current Balance","type":"main","index":0}]]},"Current Balance":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Get device information","type":"main","index":0}]]},"Keyword":{"main":[[{"node":"PostgreSQL","type":"main","index":0}]]},"openrouter_balance":{"main":[[{"node":"Get Credits","type":"main","index":0}]]},"Get device information":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9a659696-e96a-402a-8e4e-b80048617af0","triggerCount":7,"shared":[{"createdAt":"2026-02-27T10:15:10.448Z","updatedAt":"2026-02-27T10:15:10.448Z","role":"workflow:owner","workflowId":"RBIKIos7TzZUKYWO","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[]}