dr-smart---brands-api---saketh-RBIKIos7TzZUKYWO.json
{"createdAt":"2026-02-27T10:15:10.448Z","updatedAt":"2026-02-28T06:50:03.057Z","id":"RBIKIos7TzZUKYWO","name":"Dr Smart - Brands API - Saketh","active":true,"isArchived":false,"nodes":[{"parameters":{"path":"brands","responseMode":"responseNode","options":{}},"id":"dd373a32-369e-4ca5-8d8b-b4a1a9339c3a","name":"GET /brands","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-320,-384],"webhookId":"brands-get"},{"parameters":{"jsCode":"const params = $input.first().json.query || {};\nconst month = params.month ? Number(params.month) : null;\nconst year = params.year ? Number(params.year) : null;\n\nconst cols = `cr.id, cr.profile_name, cr.start_date, cr.end_date,\n  cr.search_views, cr.interactions, cr.website_clicks, cr.direction_requests,\n  cr.phone_calls, cr.reviews, cr.review_responses, cr.ratings,\n  cr.website_speed, cr.seo_score, cr.primary_keyword, cr.primary_rank,\n  cr.keyword_1, cr.rank_1, cr.keyword_2, cr.rank_2,\n  cr.keyword_3, cr.rank_3, cr.keyword_4, cr.rank_4,\n  cr.keyword_5, cr.rank_5, cr.citations, cr.backlinks,\n  cr.content_marketing, cr.creatives, cr.shorts_reels, cr.medical_blogs,\n  cr.website_seo, cr.local_seo, cr.web_social_audit, cr.google_profile_rank,\n  c.client_name, c.specialisation, c.location, c.city_name,\n  c.website_url, c.gmb_profile_link, c.fb_page_link, c.instagram_link, c.youtube_link`;\n\nlet query;\nif (month && year) {\n  query = `SELECT ${cols}\nFROM dr_smart.client_reports cr\nLEFT JOIN dr_smart.clients c ON LOWER(TRIM(c.client_name)) = LOWER(TRIM(cr.profile_name))\nWHERE EXTRACT(MONTH FROM cr.start_date) = ${month}\n  AND EXTRACT(YEAR FROM cr.start_date) = ${year}\nORDER BY cr.profile_name;`;\n} else {\n  query = `SELECT ${cols}\nFROM dr_smart.client_reports cr\nLEFT JOIN dr_smart.clients c ON LOWER(TRIM(c.client_name)) = LOWER(TRIM(cr.profile_name))\nORDER BY cr.profile_name;`;\n}\n\nreturn [{ json: { query } }];\n"},"id":"edb05219-aeee-4b3e-99c1-0e0f3af6287b","name":"Build Query","type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,-384]},{"parameters":{"operation":"executeQuery","query":"{{ $json.query }}","options":{}},"id":"25f11b01-2db1-4a68-a519-fb408f70c7ec","name":"Fetch Brands","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[176,-384],"credentials":{"postgres":{"id":"9zDWQDsOZBmHEvfH","name":"Postgres account"}}},{"parameters":{"jsCode":"const brands = $input.all().map(item => {\n  const d = item.json;\n\n  const keywords = [];\n  for (let i = 1; i <= 5; i++) {\n    const kw = d[`keyword_${i}`];\n    const rk = d[`rank_${i}`];\n    if (kw && kw.trim()) {\n      keywords.push({ keyword: kw.trim(), rank: Number(rk) || 0 });\n    }\n  }\n\n  return {\n    name: d.profile_name || d.client_name || '',\n    startDate: d.start_date,\n    endDate: d.end_date,\n    searchViews: Number(d.search_views) || 0,\n    interactions: Number(d.interactions) || 0,\n    websiteClicks: Number(d.website_clicks) || 0,\n    directionRequests: Number(d.direction_requests) || 0,\n    phoneCalls: Number(d.phone_calls) || 0,\n    reviews: Number(d.reviews) || 0,\n    reviewResponses: Number(d.review_responses) || 0,\n    ratings: Number(d.ratings) || 0,\n    websiteSpeed: Number(d.website_speed) || 0,\n    seoScore: Number(d.seo_score) || 0,\n    primaryKeyword: d.primary_keyword || '',\n    primaryRank: Number(d.primary_rank) || 0,\n    keywords,\n    citations: Number(d.citations) || 0,\n    backlinks: Number(d.backlinks) || 0,\n    contentMarketing: Number(d.content_marketing) || 0,\n    creatives: Number(d.creatives) || 0,\n    shortsReels: Number(d.shorts_reels) || 0,\n    medicalBlogs: Number(d.medical_blogs) || 0,\n    websiteSEO: Boolean(d.website_seo),\n    localSEO: Boolean(d.local_seo),\n    webSocialAudit: Boolean(d.web_social_audit),\n    googleProfileRank: Number(d.google_profile_rank) || 0,\n    specialty: d.specialisation || '',\n    location: d.city_name || d.location || '',\n    websiteUrl: d.website_url || '',\n    gmbProfileLink: d.gmb_profile_link || '',\n    fbPageLink: d.fb_page_link || '',\n    instagramLink: d.instagram_link || '',\n    youtubeLink: d.youtube_link || ''\n  };\n});\n\nreturn [{ json: { brands } }];\n"},"id":"7e3894b2-24da-4338-8845-7d09bf4f9105","name":"Transform to camelCase","type":"n8n-nodes-base.code","typeVersion":2,"position":[416,-384]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Access-Control-Allow-Methods","value":"GET, POST, DELETE, OPTIONS"},{"name":"Access-Control-Allow-Headers","value":"Content-Type"}]}}},"id":"c1c8cace-8d50-44e1-90dd-437aa4fbe5a5","name":"Respond GET","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[656,-384]},{"parameters":{"httpMethod":"POST","path":"brands","responseMode":"responseNode","options":{}},"id":"26f503ec-f541-4786-ae07-107e043d8566","name":"POST /brands","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-320,-80],"webhookId":"brands-post"},{"parameters":{"jsCode":"const body = $input.first().json.body;\n\nif (!body.clientId || !body.clientName) {\n  throw new Error('clientId and clientName are required');\n}\n\nconst esc = (val) => val && val.trim() ? \"'\" + val.trim().replace(/'/g, \"''\") + \"'\" : 'NULL';\nconst numOrNull = (val) => (val !== undefined && val !== null && val !== '') ? Number(val) : 'NULL';\n\nconst query = `INSERT INTO dr_smart.clients (\n  sl_no, client_id, client_name, dr_name, specialisation,\n  qualifications, years_of_experience, known_languages,\n  location, city_name, country, primary_keyword, seo_keywords,\n  whatsapp, contact_number, website_url,\n  gmb_profile_link, gmb_profile_id, gmb_place_id, gmb_cid,\n  fb_page_link, instagram_link, youtube_link,\n  testimonial, gmb_audit_sheet, client_reporting_sheet, client_id_crm\n) VALUES (\n  ${numOrNull(body.slNo)},\n  ${esc(body.clientId)},\n  ${esc(body.clientName)},\n  ${esc(body.drName)},\n  ${esc(body.specialisation)},\n  ${esc(body.qualifications)},\n  ${numOrNull(body.yearsOfExperience)},\n  ${esc(body.knownLanguages)},\n  ${esc(body.location)},\n  ${esc(body.cityName)},\n  ${esc(body.country)},\n  ${esc(body.primaryKeyword)},\n  ${esc(body.seoKeywords)},\n  ${esc(body.whatsapp)},\n  ${esc(body.contactNumber)},\n  ${esc(body.websiteUrl)},\n  ${esc(body.gmbProfileLink)},\n  ${esc(body.gmbProfileId)},\n  ${esc(body.gmbPlaceId)},\n  ${esc(body.gmbCid)},\n  ${esc(body.fbPageLink)},\n  ${esc(body.instagramLink)},\n  ${esc(body.youtubeLink)},\n  ${esc(body.testimonial)},\n  ${esc(body.gmbAuditSheet)},\n  ${esc(body.clientReportingSheet)},\n  ${esc(body.clientIdCrm)}\n) RETURNING id;`;\n\nreturn [{ json: { query, clientName: body.clientName.trim() } }];"},"id":"f1e3c429-634c-4548-8f17-803f977c5dd6","name":"Validate & Build Insert","type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,-80]},{"parameters":{"operation":"executeQuery","query":"{{ $json.query }}","options":{}},"id":"e561637b-e192-4f7e-b666-5f971f764bd9","name":"Insert Client","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[176,-80],"credentials":{"postgres":{"id":"9zDWQDsOZBmHEvfH","name":"Postgres account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { success: true, message: 'Client added successfully', clientId: $('Insert Client').first().json.id } }}","options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}}},"id":"6e015548-edac-4e16-8c53-05d466e11853","name":"Respond POST","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[416,-80]},{"parameters":{"httpMethod":"DELETE","path":"brands","responseMode":"responseNode","options":{}},"id":"9c67e372-88a1-409b-ace7-451ee8d5c50c","name":"DELETE /brands","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-320,224],"webhookId":"brands-delete"},{"parameters":{"jsCode":"const body = $input.first().json.body;\n\nif (!body.name) {\n  throw new Error('name is required for deletion');\n}\n\nconst safeName = body.name.trim().replace(/'/g, \"''\");\nconst query = `DELETE FROM dr_smart.clients WHERE client_name = '${safeName}';`;\n\nreturn [{ json: { query } }];"},"id":"8c39b247-3f40-42f8-9812-dba61e900d01","name":"Validate Delete","type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,224]},{"parameters":{"operation":"executeQuery","query":"{{ $json.query }}","options":{}},"id":"9baffda5-2d4b-4ecf-aa5c-a8fc5ee9b9bb","name":"Execute Delete","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[176,224],"credentials":{"postgres":{"id":"9zDWQDsOZBmHEvfH","name":"Postgres account"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { success: true, message: 'Client deleted successfully' } }}","options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"}]}}},"id":"89a39e0f-6774-47d3-862e-607e21ec0c68","name":"Respond DELETE","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[416,224]}],"connections":{"GET /brands":{"main":[[{"node":"Build Query","type":"main","index":0}]]},"Build Query":{"main":[[{"node":"Fetch Brands","type":"main","index":0}]]},"Fetch Brands":{"main":[[{"node":"Transform to camelCase","type":"main","index":0}]]},"Transform to camelCase":{"main":[[{"node":"Respond GET","type":"main","index":0}]]},"POST /brands":{"main":[[{"node":"Validate & Build Insert","type":"main","index":0}]]},"Validate & Build Insert":{"main":[[{"node":"Insert Client","type":"main","index":0}]]},"Insert Client":{"main":[[{"node":"Respond POST","type":"main","index":0}]]},"DELETE /brands":{"main":[[{"node":"Validate Delete","type":"main","index":0}]]},"Validate Delete":{"main":[[{"node":"Execute Delete","type":"main","index":0}]]},"Execute Delete":{"main":[[{"node":"Respond DELETE","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"28a6687a-f87c-4988-9501-b59e387c9f6e","triggerCount":3,"shared":[{"createdAt":"2026-02-27T10:15:10.448Z","updatedAt":"2026-02-27T10:15:10.448Z","role":"workflow:owner","workflowId":"RBIKIos7TzZUKYWO","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[]}