error-logger-G2KZfyUFGXoArofH.json
{"createdAt":"2025-08-28T15:10:21.831Z","updatedAt":"2025-08-29T03:50:00.024Z","id":"G2KZfyUFGXoArofH","name":"Error Logger","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-256,-16],"id":"369f1279-49e2-466f-bbc8-3276720ba4f5","name":"Error Trigger"},{"parameters":{"method":"POST","url":"https://api.resend.com/emails","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer re_SCViJEYZ_HKSVtiSR7wYk28KXbGncijA6"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"from","value":"onboarding@resend.dev"},{"name":"to","value":"tools.drsmart@gmail.com"},{"name":"subject","value":"Dr. Smart Workflow Error"},{"name":"html","value":"=<p>{{ $json.workflow.name }} is having problem.\n\nProblem- {{ $json.execution.error.message }}.\n</p>"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-32,-176],"id":"cb95cc75-39c8-410d-93c1-15325038d0b1","name":"HTTP Request"},{"parameters":{"sendTo":"dhanraj.invarianceai@gmail.com","subject":"Dr. Smart Workflow problem","message":"=<p>{{ $json.workflow.name }} is having problem.  Problem- {{ $json.execution.error.message }}. </p>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-16,96],"id":"d9a75688-93b3-4e91-ad18-94f6e746c845","name":"Send a message","webhookId":"1fe1375d-89b5-4d7c-88c6-d21b3c902324","credentials":{"gmailOAuth2":{"id":"aTSuuzsH328pfdkL","name":"Gmail account"}}}],"connections":{"Error Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"Send a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6412c618-6ead-4d99-8df0-680efb749d63","triggerCount":0,"shared":[{"createdAt":"2025-08-28T15:10:21.831Z","updatedAt":"2025-08-28T15:10:21.831Z","role":"workflow:owner","workflowId":"G2KZfyUFGXoArofH","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[]}