error-logger-bTi3tnAdTMDHjmf0.json
{"createdAt":"2025-07-16T06:20:26.613Z","updatedAt":"2025-07-16T07:04:54.433Z","id":"bTi3tnAdTMDHjmf0","name":"Error Logger","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-256,-16],"id":"369f1279-49e2-466f-bbc8-3276720ba4f5","name":"Error Trigger"},{"parameters":{"method":"POST","url":"https://api.resend.com/emails","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer re_SCViJEYZ_HKSVtiSR7wYk28KXbGncijA6"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"from","value":"onboarding@resend.dev"},{"name":"to","value":"tools.drsmart@gmail.com"},{"name":"subject","value":"Dr. Smart Workflow Error"},{"name":"html","value":"=<p>{{ $json.workflow.name }} is having problem.\n\nProblem- {{ $json.execution.error.message }}.\n</p>"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-16,-176],"id":"cb95cc75-39c8-410d-93c1-15325038d0b1","name":"HTTP Request"},{"parameters":{"chatId":"682621954","text":"=Dr. Smart is having problem:\n\nWorkflow Name - {{ $json.workflow.name }}, \n\nSpecific - {{ $json.execution.error.message }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-32,32],"id":"91cf5a75-b814-4855-9754-3e80790f60d0","name":"Send a text message","webhookId":"d1488c38-3f5f-4f4d-af00-881cacff9a6e","credentials":{"telegramApi":{"id":"Ftw38SZwfAOkxB7J","name":"Telegram account"}}}],"connections":{"Error Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"Send a text message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Error Trigger":[{"json":{"execution":{"id":"174","url":"https://n8n.smartdr.in/workflow/XUetyMSfpUw88AaN/executions/174","error":{"level":"warning","tags":{},"timestamp":1752648681565,"context":{},"functionality":"regular","name":"NodeOperationError","node":{"parameters":{"aiAgentStarterCallout":"","promptType":"auto","text":"={{ $json.chatInput }}","hasOutputParser":false,"needsFallback":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[208,0],"id":"181ea0b0-7c20-4e32-bcec-be5e112c0f2a","name":"AI Agent"},"messages":[],"message":"A Chat Model sub-node must be connected and enabled","stack":"NodeOperationError: A Chat Model sub-node must be connected and enabled\n    at validateInputConfiguration (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@5.8.1_ws@8.17.1_zod@3.25.67_/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/get-input-connection-data.ts:169:11)\n    at ExecuteContext.getInputConnectionData (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@5.8.1_ws@8.17.1_zod@3.25.67_/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/get-input-connection-data.ts:209:2)\n    at ExecuteContext.getInputConnectionData (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@5.8.1_ws@8.17.1_zod@3.25.67_/node_modules/n8n-core/src/execution-engine/node-execution-context/execute-context.ts:197:39)\n    at getChatModel (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_7e9d43189da28db518476f7779d5ed6f/node_modules/@n8n/n8n-nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/common.ts:269:36)\n    at ExecuteContext.toolsAgentExecute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_7e9d43189da28db518476f7779d5ed6f/node_modules/@n8n/n8n-nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/V2/execute.ts:185:22)\n    at processTicksAndRejections (node:internal/process/task_queues:105:5)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_7e9d43189da28db518476f7779d5ed6f/node_modules/@n8n/n8n-nodes-langchain/nodes/agents/Agent/V2/AgentV2.node.ts:203:10)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@5.8.1_ws@8.17.1_zod@3.25.67_/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1212:9)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@5.8.1_ws@8.17.1_zod@3.25.67_/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1582:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@5.8.1_ws@8.17.1_zod@3.25.67_/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2153:11"},"lastNodeExecuted":"AI Agent","mode":"webhook"},"workflow":{"id":"XUetyMSfpUw88AaN","name":"test workflow for error"}}}]},"versionId":"ca4907a7-5907-4ca2-b323-f6eeb670a54e","triggerCount":0,"tags":[]}