github-to-n8n-sDAV9Vj8o5donXCA.json
{"createdAt":"2025-08-28T15:07:52.472Z","updatedAt":"2025-09-02T10:02:55.007Z","id":"sDAV9Vj8o5donXCA","name":"Github to N8N","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-112,16],"id":"1a5e4577-d786-40d8-aa38-3962404755fd","name":"When clicking ‘Execute workflow’"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"InvarianceAI","mode":"list","cachedResultName":"InvarianceAI","cachedResultUrl":"https://github.com/InvarianceAI"},"repository":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[112,16],"id":"4c66ce76-44ce-4edc-b01d-9783c56c6ae0","name":"List files","webhookId":"2a423695-af1d-4168-936b-d1b080e08aa6","credentials":{"githubOAuth2Api":{"id":"R55pdDpC5m3tC5sB","name":"GitHub account 2"}}},{"parameters":{"url":"={{ $json.download_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,16],"id":"2aa545e6-841e-4035-a478-84c93078d1e7","name":"HTTP Request"},{"parameters":{"operation":"create","workflowObject":"={{ $json.data }}","requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[816,32],"id":"ca0be32a-0447-4107-bb6c-8115404ff50b","name":"Create a workflow","credentials":{"n8nApi":{"id":"uOwwnsbi0gEmZ1n9","name":"n8n account"}},"onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[528,16],"id":"f9e4e68d-5623-4bcc-9629-05edf1116a38","name":"Loop Over Items"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"List files","type":"main","index":0}]]},"List files":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Create a workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Create a workflow","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b4c96c13-bf8b-4825-85f3-997f3d10248b","triggerCount":0,"shared":[{"createdAt":"2025-08-28T15:07:52.472Z","updatedAt":"2025-08-28T15:07:52.472Z","role":"workflow:owner","workflowId":"sDAV9Vj8o5donXCA","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[{"createdAt":"2025-09-02T10:02:53.896Z","updatedAt":"2025-09-02T10:02:53.896Z","id":"pNwEhxGqGeeFZrAQ","name":"Import"}]}