gmb-review-reply-DE7MOsdObJzHFDhD.json
{"createdAt":"2025-08-29T02:04:45.858Z","updatedAt":"2025-12-28T14:33:42.146Z","id":"DE7MOsdObJzHFDhD","name":"GMB Review Reply","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"review","operation":"reply","account":{"__rl":true,"value":"accounts/117722610585468645466","mode":"list","cachedResultName":"Dr Sm@rt"},"location":{"__rl":true,"value":"={{ $json['GMB ID'] }}","mode":"name"},"review":{"__rl":true,"value":"={{ $json['Review ID'] }}","mode":"id"},"reply":"={{ $json['GMB Reply'] }}","requestOptions":{}},"type":"n8n-nodes-base.googleBusinessProfile","typeVersion":1,"position":[288,144],"id":"8e93ebf1-d1e7-4e12-82c0-5c055dc17afe","name":"Reply to review","credentials":{"googleBusinessProfileOAuth2Api":{"id":"fj0r4iY1wmBjDC8c","name":"Google Business Profile account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyHour","minute":1}]},"documentId":{"__rl":true,"value":"1x7jnZ1T3tHdDZ-zNbuIoccPZ2wC1_KDyII4DbqesLjg","mode":"list","cachedResultName":"GMB Review - Final","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1x7jnZ1T3tHdDZ-zNbuIoccPZ2wC1_KDyII4DbqesLjg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1x7jnZ1T3tHdDZ-zNbuIoccPZ2wC1_KDyII4DbqesLjg/edit#gid=0"},"event":"rowUpdate","options":{"columnsToWatch":["Approved"]}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-272,128],"id":"69647cf3-0d49-4ccc-b4a9-0b7dae0559ef","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"29rUzLwW49JNNLgE","name":"KR -Paid"}}},{"parameters":{"content":"## Review Addition","height":304,"width":1456,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-336,48],"id":"cb501390-16a7-4ad3-96bb-00d6309fa193","name":"Sticky Note"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aa79b0a4-757e-4be5-a294-db55b88fbd5e","leftValue":"={{ $json.Approved.toString() }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-96,128],"id":"1fa2edf4-4eb1-4d22-9118-2684bc26bf7c","name":"Filter"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1x7jnZ1T3tHdDZ-zNbuIoccPZ2wC1_KDyII4DbqesLjg","mode":"list","cachedResultName":"GMB Review - Final","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1x7jnZ1T3tHdDZ-zNbuIoccPZ2wC1_KDyII4DbqesLjg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1x7jnZ1T3tHdDZ-zNbuIoccPZ2wC1_KDyII4DbqesLjg/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Reply Date":"={{ $now.setZone('Asia/Kolkata').format('dd/MM/yyyy') }}","row_number":0,"Review ID":"={{ $json['Review ID'] }}"},"matchingColumns":["Review ID"],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Business Name","displayName":"Business Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Doctor Name","displayName":"Doctor Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Review ID","displayName":"Review ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"GMB ID","displayName":"GMB ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GMB Rating","displayName":"GMB Rating","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GMB Review","displayName":"GMB Review","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GMB Reply","displayName":"GMB Reply","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Approved","displayName":"Approved","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Reply Date","displayName":"Reply Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[672,144],"id":"ae54e90c-89f3-4657-82f1-0f982a695c4d","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[80,128],"id":"b0bbd9d2-1ca9-4169-8356-206dfeb7a2c8","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[464,144],"id":"504181af-a3b0-4ea6-b366-2d84944966e7","name":"Wait","webhookId":"164ba363-2772-4c58-a905-70caa66c19c1"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[880,144],"id":"f5de72c2-5e89-4a73-bcae-75282cb13559","name":"Wait1","webhookId":"287fc012-5554-4c02-85cc-4c7578f7ac44"}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Reply to review":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Reply to review","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Google Sheets Trigger":{"documentId":"1x7jnZ1T3tHdDZ-zNbuIoccPZ2wC1_KDyII4DbqesLjg","sheetId":0,"lastRevision":2817,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1x7jnZ1T3tHdDZ-zNbuIoccPZ2wC1_KDyII4DbqesLjg&revision=2817&exportFormat=xlsx"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0a06f861-ce5b-4c02-b899-afdf90fc8dee","triggerCount":1,"shared":[{"createdAt":"2025-08-29T02:04:45.858Z","updatedAt":"2025-08-29T02:04:45.858Z","role":"workflow:owner","workflowId":"DE7MOsdObJzHFDhD","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[]}