gmb-review-drishti-ykYf6d3Eviv4jsLF.json
{"createdAt":"2025-08-28T19:20:52.321Z","updatedAt":"2025-12-28T14:19:14.099Z","id":"ykYf6d3Eviv4jsLF","name":"gmb review drishti","active":true,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json['Star Rating'] }}","rightValue":"FIVE","operator":{"type":"string","operation":"equals"},"id":"8ea6a3e5-4ff5-4353-b317-c543a645c078"}],"combinator":"and"},"renameOutput":true,"outputKey":"5"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ae9960c8-5410-4033-ac5b-211e9f7fa193","leftValue":"={{ $json['Star Rating'] }}","rightValue":"FOUR","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"4"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e2b69ed0-6ec6-4ac8-93a0-8041aa8b6449","leftValue":"={{ $json['Star Rating'] }}","rightValue":"THREE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"3"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8df9df8d-8467-41c1-ae4b-99c00b4e6c30","leftValue":"={{ $json['Star Rating'] }}","rightValue":"TWO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"038f3920-350d-4ec9-8a06-8eb08edc9ea4","leftValue":"={{ $json['Star Rating'] }}","rightValue":"ONE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"1"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1344,-16],"id":"7372253e-e695-4449-b550-1069ddec4fce","name":"Switch"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=#Role\n\nYou are a world-class Google Review Response Expert for a {{ $('Edit Fields').item.json['Business Niche'] }} business. You understand how to naturally weave SEO keywords into review responses, adapt tone based on review sentiment, and maintain a friendly, professional voice that reinforces positive brand perception. You are highly skilled at subtly optimizing content for search visibility without sounding unnatural.\n\n#Task\n\nGenerate personalized, SEO-enhanced responses to Google reviews for {{ $('Edit Fields').item.json['Business Name'] }}, a {{ $('Edit Fields').item.json['Business Niche'] }}. Review responses should naturally integrate exactly 1 of the provided keywords: “{{ $json.Keyword_1 }}”, “{{ $json.Keyword_2 }}”, “{{ $json.Keyword_3 }}”, “{{ $json.Keyword_4 }}”, “{{ $json.Keyword_5 }}”, “{{ $json.Keyword_6 }}”, “{{ $json.Keyword_7 }}”, “{{ $json.Keyword_8 }}”, “{{ $json.Keyword_9 }}”, and “{{ $json.Keyword_10 }}” where appropriate. The tone of each response must be adjusted based on the rating: friendly and happy for positive reviews (4+ stars), and empathetic yet professional for reviews under 4 stars. Follow a set of strict stylistic and ethical rules when responding.\n\n#SPECIFICS\n\t•\tUse contractions for a natural tone.\n\t•\tNever use or start with “Dear”.\n\t•\tFor 4+ star reviews: Use a warm, upbeat, friendly tone.\n\t•\tNever reference AI, how the response was written, or the process.\n\t•\tNever explain or justify the rules being followed—just respond.\n\t•\tEvery reply must sound authentic and tailored to the reviewer.\n\t•\tKeep responses concise to exactly 2 lines maximum, naturally incorporating exactly 1 keyword from the provided list without any modifications to maintain authenticity and readability.\n\n#TOOLS\n\nYou will use your internal capabilities to:\n\t•\tDetect sentiment and star rating of the review\n\t•\tTailor tone accordingly\n\t•\tSubtly and naturally integrate SEO keywords\n\t•\tEnsure compliance with all stylistic and ethical guidelines\n\n#EXAMPLES\n\nExample for a 5-star review:\nInput Keyword: \"Best IVF Clinic in Kompally\"\n\nOutput: “Thank you so much for your wonderful review and trust in our services! \nWe're proud to be recognized as the Best IVF Clinic in Kompally and look forward to continuing to serve you with excellence.”\n\nExample 2 (for a 4-star review):\n\nInput Keyword: \"Best Surgical Gastroenterologist  in Meerpet Hyderabad\"\n\nOutput: “We really appreciate your feedback and are grateful you chose us for your care.\nAs the Best Surgical Gastroenterologist in Meerpet Hyderabad, we're committed to providing you the highest quality treatment and service.”\n\n#NOTES\n\t•\tAlways validate that each response matches the tone and content rules before presenting.\n\t•\tKeep it informal yet professional—this task is vital to the store’s reputation and SEO goals.\n\t•\tThink carefully before responding and double-check each reply against the guidelines.","role":"system"},{"content":"=Reviewer Name:  {{ $('FIrstName').item.json.firstName }}\nReview Stars: {{ $('FIrstName').item.json.starRating }}\nReview Comment: {{ $('FIrstName').item.json.comment }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1648,-96],"id":"e0285b8a-bea4-47ad-bcf4-2a9bd8f30477","name":"Positive Reply","credentials":{"openAiApi":{"id":"KtLCFA7UpTSqKYdj","name":"Openrouter account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=#Role\n\nYou are a world-class Google Review Response Specialist for negative feedback. Your mission is to protect and enhance the reputation of {{ $json['Business Name'] }}, a {{ $json['Business Niche'] }} business, by crafting thoughtful, SEO-friendly, empathetic responses to all Google reviews rated 3 stars or less. You are an expert in diffusing frustration, showing genuine care, and turning negative experiences into opportunities for brand growth—all while respecting strict tone and keyword guidelines.\n\n#Task\n\n- Respond to negative Google reviews (3 stars or less) for {{ $json['Business Name'] }}. Every response should reflect a professional yet empathetic tone, address the specific concerns in the review, and demonstrate a sincere desire to resolve the issue.\n\n- Include exactly 1 keyword from the below provided keywords naturally in each response, ensuring it blends seamlessly and sounds completely natural.\n\n- SEO keywords: “{{ $json.Keyword_1 }}”, “{{ $json.Keyword_2 }}”, “{{ $json.Keyword_3 }}”, “{{ $json.Keyword_4 }}”, “{{ $json.Keyword_5 }}”, “{{ $json.Keyword_6 }}”, “{{ $json.Keyword_7 }}”, “{{ $json.Keyword_8 }}”, “{{ $json.Keyword_9 }}”, and “{{ $json.Keyword_10 }}”\n\n#SPECIFICS\n\t•\tAlways respond with a friendly, empathetic, and professional tone.\n\t•\tUse contractions for a natural, conversational feel.\n\t•\tKeep responses concise—limit to exactly 2 lines maximum for brevity and impact.\n\t•\tNaturally integrate exactly 1 keyword from the provided list into each response, ensuring it flows seamlessly and sounds completely natural in context.\n\t•\tNever use or start with “Dear”.\n\t•\tShow strong commitment to customer satisfaction.\n\t•\tEncourage reviewers to contact the business directly at {{ $json['Phone Number'] }}to resolve issues.\n\t•\tIf a review mentions expired food, kindly clarify that some food items may be sold past their best before date, which is different from an expiry date, and such items are generally still good.\n\t•\tNever reference AI or how the response was generated.\n\t•\tNever explain the rules—just follow them.\n\t•\tThe goal is to de-escalate concerns, show responsiveness, and maintain trust.\n\n#TOOLS\n\nUse internal logic and language capabilities to:\n\t•\tIdentify and address specific concerns in the review\n\t•\tTailor tone to reflect empathy and professionalism\n\t•\tNaturally embed SEO terms to improve visibility\n\t•\tEnsure compliance with response tone and content policies\n\n#EXAMPLES\nExample 1:\n\nRating: 2 stars\nConcern: Long wait times and poor service\nKeyword: Best Plastic Surgeon in Bahrain\nInput: \"Waited 2 hours for my appointment and the staff was rude. Very disappointed with the service quality.\"\n\nOutput: \"We're truly sorry about the long wait and staff behavior—as the best plastic surgeon in Bahrain, we should deliver exceptional service. Please call us at {{ $json['Phone Number'] }} so we can address this immediately and improve your experience.\"\n\nExample 2:\n\nRating: 1 star\nConcern: Surgical complications and poor results\nKeyword: Robotic Knee Resurfacing Surgeon Nizamabad\nInput: \"My knee surgery didn't go well and I'm still in pain after 3 months. Not happy with the results at all.\"\n\nOutput: \"We're deeply concerned about your ongoing pain and want to help resolve this issue with our robotic knee resurfacing surgeon Nizamabad expertise. Please contact us immediately at +91-777XXXXXXX for a follow-up consultation.\"\n\nExample 3:\n\nRating: 3 stars\nConcern: Misdiagnosis and lack of communication\nKeyword: Brain tumour specialist in Secunderabad\nInput: \"Initial diagnosis was wrong and doctors didn't explain things clearly. Had to get a second opinion elsewhere.\"\n\nOutput: \"We apologize for the confusion and poor communication during your consultation with our brain tumour specialist in Secunderabad. Please call +91-777XXXXXXX so we can discuss your case properly and ensure accurate care.\"\n\n#NOTES\n\t•\tAlways validate that each response follows all tone, keyword, and response guidelines.\n\t•\tKeep tone human, professional, and proactive—this task is critical for managing the brand’s reputation and converting unhappy customers into returning ones.\n\t•\tThink carefully, stay within guidelines, and respond with care and clarity.","role":"system"},{"content":"=Reviewer Name:  {{ $('FIrstName').item.json.firstName }}\nReview Stars: {{ $json['Star Rating'] }}\nReview Comment: {{ $json['GMB Comment'] }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1648,128],"id":"b0479bdf-5392-4555-a73b-6caf4d758c1a","name":"Sorry Reply","credentials":{"openAiApi":{"id":"KtLCFA7UpTSqKYdj","name":"Openrouter account"}}},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  // Grab the displayName from reviewer object\n  const displayName = item.json.reviewer?.displayName || '';\n  // Split and grab first name\n  const firstName = displayName.split(' ')[0] || '';\n  // Attach it to the item for later use\n  item.json.firstName = firstName;\n}\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[368,32],"id":"6b73c245-4b40-4408-9f2a-de358c9c2379","name":"FIrstName"},{"parameters":{"jsCode":"// Method 1: Using Regular Expression (Recommended)\nfunction extractLocationId(gmbPath) {\n  const regex = /locations\\/(\\d+)/;\n  const match = gmbPath.match(regex);\n  \n  if (match) {\n    return `locations/${match[1]}`;\n  } else {\n    throw new Error('Location ID not found in the provided path');\n  }\n}\n\n// Method 2: Using String Split\nfunction extractLocationIdSplit(gmbPath) {\n  const parts = gmbPath.split('/');\n  const locationIndex = parts.indexOf('locations');\n  \n  if (locationIndex !== -1 && locationIndex + 1 < parts.length) {\n    return `locations/${parts[locationIndex + 1]}`;\n  } else {\n    throw new Error('Location ID not found in the provided path');\n  }\n}\n\n// For n8n Code Node - Use this format:\n// Based on your input data structure\n\n// Get the GMB path from the 'name' field\nconst gmbPath = $input.first().json.name;\nconst locationId = extractLocationId(gmbPath);\n\nreturn [{ json: { locationId: locationId } }];\n\n// Option 2: If you need to process multiple items\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const gmbPath = item.json.path_field_name; // Replace with your actual field name\n  const locationId = extractLocationId(gmbPath);\n  \n  results.push({\n    json: {\n      ...item.json,\n      locationId: locationId\n    }\n  });\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[528,32],"id":"c16205f3-48e8-465a-976d-f047a1b1538b","name":"LocationID"},{"parameters":{"promptType":"define","text":"=Location ID of a client: {{ $json.locationId }}","hasOutputParser":true,"options":{"systemMessage":"=## **Role**\nYou are a Business Data Extraction Specialist responsible for retrieving and formatting client information from Google Sheets using location IDs.\n\n## **Objective** \nExtract the numerical location ID from the provided input, search the corresponding Google Sheet database, and return complete business information in a standardized format with 10 targeted keywords.\n\n## **Context**\n- Input format: `locations/[numerical_id]` (e.g., locations/2400981028719401080)\n- The location ID serves as the primary key to lookup business records in a Google Sheet\n- Output must include core business details plus 10 SEO-optimized keywords\n- Keywords should focus on local search optimization with location-specific variations\n\n## **Instructions**\n\n1. **Extract Location ID**: Remove the \"locations/\" prefix and isolate the numerical identifier\n2. **Database Lookup**: Use the extracted ID to search the Google Sheet for matching records\n3. **Data Retrieval**: Collect all available business information from the matched row\n4. **Keyword Generation**: Create 10 location-based keywords following the pattern:\n   - Keywords 1-5: Primary business location variations\n   - Keywords 6-10: Secondary business location variations\n   - Format: \"Best [Business Type] in [Location], [City]\"\n5. **Output Formatting**: Present data in the exact structure specified below\n\n## **Examples**\n\n**Input:** `locations/2400981028719401080`\n\n**Processing:** Extract `2400981028719401080` → Search Google Sheet → Retrieve data\n\n**Output:**\n```\nBusiness Name: Drishti\nDoctor Name: Mr Narsaiah\nBusiness Niche: optho\nPhone Number: +919951480555\nWebsite: https://www.drishtieyecentre.org/\nKeyword 1: Best Eye Hospital in Srinagar Colony, Hyderabad\nKeyword 2: Best Eye Clinic in Srinagar Colony, Hyderabad\nKeyword 3: Best Eye Specialist in Srinagar Colony, Hyderabad\nKeyword 4: Best Eye Care Centre in Srinagar Colony, Hyderabad\nKeyword 5: Best Eye testing center near Srinagar Colony, Hyderabad\nKeyword 6: Best Eye Hospital in Gachibowli, Hyderabad\nKeyword 7: Best Eye Clinic in Gachibowli, Hyderabad\nKeyword 8: Best Eye specialist in Gachibowli, Hyderabad\nKeyword 9: Best Eye Care Centre in Gachibowli, Hyderabad\nKeyword 10: Best Eye testing center in Gachibowli, Hyderabad\n```\n\n## **Tools**\n- Master Data + Keyword: Google Sheets API for database queries\n\n## **Notes**\n- **Error Handling**: If location ID not found, return \"Record not found\" message\n- **Data Completeness**: If any field is missing from the sheet, display \"N/A\"\n- **Keyword Consistency**: Maintain consistent formatting and capitalization across all keywords\n- **Location Accuracy**: Ensure primary and secondary locations are geographically relevant to the business\n- **Output Format**: Always maintain exact field names and structure as specified\n- **Quality Check**: Verify phone numbers include country code and websites include proper URL format"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[736,32],"id":"ba123a6d-3701-4cde-af6b-ce97bcff83c7","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[544,288],"id":"7034cd96-c3ef-4409-b338-964dc4d69e9d","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"pmnJNFOqBuhd4qSv","name":"OpenRouter account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"filtersUI":{"values":[{"lookupColumn":"GMB Profile ID","lookupValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[880,240],"id":"2529e80f-56ff-4564-be68-09f72cc004d9","name":"Master Data + Keyword","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}},{"parameters":{"jsonSchemaExample":"{\n  \"business_name\": \"Drishti\",\n  \"doctor_name\": \"Mr Narsaiah\",\n  \"business_niche\": \"optho\",\n  \"phone_number\": \"+919951480555\",\n  \"email\": \"info@drishtieyecentre.org\",\n  \"website\": \"https://www.drishtieyecentre.org/\",\n  \"keyword_1\": \"Best Eye Hospital in Srinagar Colony, Hyderabad\",\n  \"keyword_2\": \"Best Eye Clinic in Srinagar Colony, Hyderabad\",\n  \"keyword_3\": \"Best Eye Specialist in Srinagar Colony, Hyderabad\",\n  \"keyword_4\": \"Best Eye Care Centre in Srinagar Colony, Hyderabad\",\n  \"keyword_5\": \"Best Eye testing center near Srinagar Colony, Hyderabad\",\n  \"keyword_6\": \"Best Eye Hospital in Gachibowli, Hyderabad\",\n  \"keyword_7\": \"Best Eye Clinic in Gachibowli, Hyderabad\",\n  \"keyword_8\": \"Best Eye specialist in Gachibowli, Hyderabad\",\n  \"keyword_9\": \"Best Eye Care Centre in Gachibowli, Hyderabad\",\n  \"keyword_10\": \"Best Eye testing center in Gachibowli, Hyderabad\"\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[992,336],"id":"76c2fc50-7388-4596-8ebd-5652e9eb32cc","name":"Structured Output Parser"},{"parameters":{"assignments":{"assignments":[{"id":"6a121f40-8e05-49e0-8b7f-53b2b75f6d69","name":"=Business Name","value":"={{ $json.output.business_name }}","type":"string"},{"id":"cb886778-8ce4-4142-963a-f4df4cb55833","name":"Doctor Name","value":"={{ $json.output.doctor_name }}","type":"string"},{"id":"de1a2acf-d8d6-4246-9d6c-2a9e334c3e35","name":"Business Niche","value":"={{ $json.output.business_niche }}","type":"string"},{"id":"3905922a-b86a-49ff-8570-7d1465b5c861","name":"Phone Number","value":"={{ $json.output.phone_number }}","type":"string"},{"id":"4163690f-8a7e-4b9d-b5f9-d20ab9c00a23","name":"Website","value":"={{ $json.output.website }}","type":"string"},{"id":"e286e4f0-da60-40db-9f5c-d7192784a639","name":"Keyword_1","value":"={{ $json.output.keyword_1 }}","type":"string"},{"id":"26960fde-dabd-43eb-94f5-8734220c2ea0","name":"Keyword_2","value":"={{ $json.output.keyword_2 }}","type":"string"},{"id":"18f9e70a-ac87-454a-9f6c-0341d2d78381","name":"Keyword_3","value":"={{ $json.output.keyword_3 }}","type":"string"},{"id":"bcdbe77d-f5c1-4be4-b375-6ebcd4e233a7","name":"Keyword_4","value":"={{ $json.output.keyword_4 }}","type":"string"},{"id":"29f259fa-33cc-49be-901d-1ef8abe3f90f","name":"Keyword_5","value":"={{ $json.output.keyword_5 }}","type":"string"},{"id":"53cc717e-ab6f-4ec8-a8ea-2f209d17818d","name":"Keyword_6","value":"={{ $json.output.keyword_6 }}","type":"string"},{"id":"3bbe68f2-79d6-4b53-a168-e0d7c3a277d9","name":"Keyword_7","value":"={{ $json.output.keyword_7 }}","type":"string"},{"id":"117c1dc8-7731-4bcc-b8d4-dd873436f794","name":"Keyword_8","value":"={{ $json.output.keyword_8 }}","type":"string"},{"id":"17921d9b-b4e6-4a32-8c8d-9a05beb67d5d","name":"Keyword_9","value":"={{ $json.output.keyword_9 }}","type":"string"},{"id":"787cd2a3-437f-4d08-8cdf-c04a580d4469","name":"Keyword_10","value":"={{ $json.output.keyword_10 }}","type":"string"},{"id":"51621c67-a15f-4e83-8672-89e0719edf7c","name":"LocationId","value":"={{ $('LocationID').item.json.locationId }}","type":"string"},{"id":"1f84cc14-b848-4a5e-8079-dd74b4049c9a","name":"ReviewId","value":"={{ $('FIrstName').item.json.reviewId }}","type":"string"},{"id":"37b3467b-976e-4009-b795-e47cb9dbef32","name":"GMB Comment","value":"={{ $('FIrstName').item.json.comment }}","type":"string"},{"id":"629f4378-b9c5-48d3-b08d-4e37d569d097","name":"Star Rating","value":"={{ $('FIrstName').item.json.starRating }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1104,32],"id":"9382ac53-6736-4e67-906c-e92734fa6994","name":"Edit Fields"},{"parameters":{"pollTimes":{"item":[{"mode":"everyHour","minute":41}]},"account":{"__rl":true,"value":"accounts/117722610585468645466","mode":"list","cachedResultName":"Dr Sm@rt"},"location":{"__rl":true,"value":"locations/2400981028719401080","mode":"list","cachedResultName":"locations/2400981028719401080"}},"type":"n8n-nodes-base.googleBusinessProfileTrigger","typeVersion":1,"position":[32,-128],"id":"8ec26d06-4d8c-4139-9c2a-4b523af40f66","name":"Drishti","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"googleBusinessProfileOAuth2Api":{"id":"fj0r4iY1wmBjDC8c","name":"Google Business Profile account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyHour","minute":41}]},"account":{"__rl":true,"value":"accounts/117722610585468645466","mode":"list","cachedResultName":"Dr Sm@rt"},"location":{"__rl":true,"value":"locations/1556196613213176130","mode":"list","cachedResultName":"locations/1556196613213176130"}},"type":"n8n-nodes-base.googleBusinessProfileTrigger","typeVersion":1,"position":[32,48],"id":"20d8e9f2-20aa-4aa4-931d-3fea6f4db417","name":"Drishti2","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"googleBusinessProfileOAuth2Api":{"id":"fj0r4iY1wmBjDC8c","name":"Google Business Profile account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyHour","minute":41}]},"account":{"__rl":true,"value":"accounts/117722610585468645466","mode":"list","cachedResultName":"Dr Sm@rt"},"location":{"__rl":true,"value":"locations/1241215418040713905","mode":"list","cachedResultName":"locations/1241215418040713905"}},"type":"n8n-nodes-base.googleBusinessProfileTrigger","typeVersion":1,"position":[32,240],"id":"d7f26bc6-af4e-4b9f-85dd-cc38291590de","name":"Drishti3","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"googleBusinessProfileOAuth2Api":{"id":"fj0r4iY1wmBjDC8c","name":"Google Business Profile account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1x7jnZ1T3tHdDZ-zNbuIoccPZ2wC1_KDyII4DbqesLjg","mode":"list","cachedResultName":"GMB Review - Final","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1x7jnZ1T3tHdDZ-zNbuIoccPZ2wC1_KDyII4DbqesLjg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vim9FifW1Yct_k2EDZsKwRS-Po8UIVGd3y0EsLgnKms/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"GMB Review":"={{ $('Edit Fields').item.json['GMB Comment'] }}","Business Name":"={{ $('Edit Fields').item.json['Business Name'] }}","Doctor Name":"={{ $('Edit Fields').item.json['Doctor Name'] }}","Review ID":"={{ $('Edit Fields').item.json.ReviewId }}","GMB Rating":"={{\n  (() => {\n    const rating = $('Edit Fields').item.json['Star Rating'];\n    const map = {\n      'FIVE': 5,\n      'FOUR': 4,\n      'THREE': 3,\n      'TWO': 2,\n      'ONE': 1\n    };\n    return map[rating] || rating;\n  })()\n}}","GMB Reply":"={{ $json.message.content }}","GMB ID":"={{ $('LocationID').item.json.locationId }}","Date":"={{ $now.setZone('Asia/Kolkata').format('dd/MM/yyyy') }}"},"matchingColumns":[],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Business Name","displayName":"Business Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Doctor Name","displayName":"Doctor Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Review ID","displayName":"Review ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GMB ID","displayName":"GMB ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GMB Rating","displayName":"GMB Rating","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GMB Review","displayName":"GMB Review","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"GMB Reply","displayName":"GMB Reply","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Approved","displayName":"Approved","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2096,0],"id":"3379289e-43a0-4849-8424-f7bb3db468a8","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}}],"connections":{"Switch":{"main":[[{"node":"Positive Reply","type":"main","index":0}],[{"node":"Positive Reply","type":"main","index":0}],[{"node":"Sorry Reply","type":"main","index":0}],[{"node":"Sorry Reply","type":"main","index":0}],[{"node":"Sorry Reply","type":"main","index":0}]]},"Positive Reply":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Sorry Reply":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"FIrstName":{"main":[[{"node":"LocationID","type":"main","index":0}]]},"LocationID":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0},{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Master Data + Keyword":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Edit Fields":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Drishti":{"main":[[{"node":"FIrstName","type":"main","index":0}]]},"Drishti2":{"main":[[{"node":"FIrstName","type":"main","index":0}]]},"Drishti3":{"main":[[{"node":"FIrstName","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"G2KZfyUFGXoArofH"},"staticData":{"node:Drishti":{"totalReviewCountLastTimeChecked":655},"node:Drishti2":{"totalReviewCountLastTimeChecked":35},"node:Drishti3":{}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"af05e3c7-47e6-4ea2-9d60-9d9f0c1d0694","triggerCount":3,"shared":[{"createdAt":"2025-08-28T19:20:52.321Z","updatedAt":"2025-08-28T19:20:52.321Z","role":"workflow:owner","workflowId":"ykYf6d3Eviv4jsLF","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[]}