gmb-profile-validator-jaBF7AEs6QY4LwA4.json
{"createdAt":"2025-12-24T18:20:36.511Z","updatedAt":"2025-12-24T18:29:56.869Z","id":"jaBF7AEs6QY4LwA4","name":"GMB Profile Validator","active":true,"isArchived":false,"nodes":[{"parameters":{"url":"=https://businessprofileperformance.googleapis.com/v1/locations/{{ $('On form submission').item.json['GMB Profile ID'] }}:fetchMultiDailyMetricsTimeSeries","authentication":"predefinedCredentialType","nodeCredentialType":"googleBusinessProfileOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"dailyMetrics","value":"WEBSITE_CLICKS"},{"name":"dailyRange.start_date.year","value":"={{ $json.StartYear }}"},{"name":"dailyRange.start_date.month","value":"={{ $json.StartMonth }}"},{"name":"dailyRange.start_date.day","value":"={{ $json.StartDay }}"},{"name":"dailyRange.end_date.year","value":"={{ $json.EndYear }}"},{"name":"dailyRange.end_date.month","value":"={{ $json.EndMonth }}"},{"name":"dailyRange.end_date.day","value":"={{ $json.EndDay }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[32,-32],"id":"b90b3e2d-bcfb-4f3e-ab11-f1ce9d8cf197","name":"WEBSITE_CLICKS","credentials":{"googleBusinessProfileOAuth2Api":{"id":"fj0r4iY1wmBjDC8c","name":"Google Business Profile account"}},"onError":"continueErrorOutput"},{"parameters":{"formTitle":"Find GMB Profile ID Validity","formDescription":"Paste GMB Profile ID to check its validity","formFields":{"values":[{"fieldLabel":"GMB Profile ID","placeholder":"9911528821769711477","requiredField":true}]},"options":{"path":"profile-id-checker","customCss":":root {\n  --font-family: 'Inter', 'Segoe UI', Arial, sans-serif;\n  --font-weight-normal: 400;\n  --font-weight-bold: 700;\n  --font-size-body: 13px;\n  --font-size-label: 15px;\n  --font-size-input: 15px;\n  --font-size-header: 22px;\n  --font-size-subheader: 15px;\n\n  /* Colors */\n  --color-background: #23272f;\n  --color-card-bg: #282d36;\n  --color-card-border: #474e5d;\n  --color-card-shadow: rgba(40, 45, 54, 0.12);\n\n  --color-label: #bfc8d9;\n  /* ✨ Make typed text dark so it’s visible on white inputs */\n  --color-input-text: #1f2937; /* dark gray / near black */\n  --color-input-border: #474e5d;\n  --color-focus-border: #4fd1c5;\n  --color-submit-btn-bg: #4fd1c5;\n  --color-submit-btn-text: #23272f;\n  --color-error: #fc8181;\n  --color-required: #fc8181;\n  --color-link: #63b3ed;\n  --color-header: #e2e8f0;\n  --color-header-subtext: #8f99ab;\n\n  /* Input visuals */\n  --color-input-bg: #ffffff;        /* current inputs are white */\n  --color-placeholder: #6b7280;     /* medium gray */\n\n  /* Border Radii */\n  --border-radius-card: 12px;\n  --border-radius-input: 8px;\n  --border-radius-clear-btn: 50%;\n  --card-border-radius: 12px;\n\n  /* Spacing */\n  --padding-container-top: 32px;\n  --padding-card: 28px;\n  --padding-form-input: 14px;\n  --card-margin-bottom: 20px;\n\n  /* Dimensions */\n  --container-width: 480px;\n  --submit-btn-height: 50px;\n  --checkbox-size: 20px;\n  --opacity-placeholder: 0.85;\n}\n\n/* Card */\n.form-card {\n  background: var(--color-card-bg);\n  border-radius: var(--border-radius-card);\n  box-shadow: 0px 6px 20px 0px var(--color-card-shadow);\n  padding: var(--padding-card);\n  border: 1px solid var(--color-card-border);\n  margin-bottom: var(--card-margin-bottom);\n}\n\n/* Labels */\n.form-label {\n  color: var(--color-label);\n  font-size: var(--font-size-label);\n  font-weight: var(--font-weight-bold);\n}\n\n/* Inputs */\n.form-input,\n.form-select {\n  background: var(--color-input-bg);\n  border: 1.5px solid var(--color-input-border);\n  border-radius: var(--border-radius-input);\n  color: var(--color-input-text);\n  font-size: var(--font-size-input);\n  padding: var(--padding-form-input);\n  margin-bottom: 16px;\n  transition: border 0.2s;\n}\n\n.form-input:focus, \n.form-select:focus {\n  border-color: var(--color-focus-border);\n  outline: none;\n}\n\n/* 🚩 Force readable text in ALL native inputs inside the card (covers markup changes) */\n.form-card input:not([type=\"checkbox\"]):not([type=\"radio\"]),\n.form-card textarea,\n.form-card select {\n  background: var(--color-input-bg) !important;\n  color: var(--color-input-text) !important;\n  -webkit-text-fill-color: var(--color-input-text) !important; /* Safari/iOS */\n  caret-color: var(--color-input-text) !important;\n}\n\n/* Placeholders */\n.form-card input::placeholder,\n.form-card textarea::placeholder {\n  color: var(--color-placeholder) !important;\n  opacity: 1 !important;\n  font-size: var(--font-size-input);\n}\n\n/* Autofill fix (Chrome/Safari) */\n.form-card input:-webkit-autofill,\n.form-card textarea:-webkit-autofill {\n  -webkit-text-fill-color: var(--color-input-text) !important;\n  box-shadow: 0 0 0 1000px var(--color-input-bg) inset !important;\n}\n\n/* File input polish */\n.form-card input[type=\"file\"] {\n  color: var(--color-placeholder);\n}\n.form-card input[type=\"file\"]::-webkit-file-upload-button {\n  background: var(--color-card-bg);\n  color: var(--color-header);\n  border: 1px solid var(--color-input-border);\n  border-radius: 6px;\n  padding: 8px 12px;\n}\n\n/* Submit */\n.form-submit-button {\n  background: var(--color-submit-btn-bg);\n  color: var(--color-submit-btn-text);\n  border: none;\n  border-radius: var(--border-radius-input);\n  height: var(--submit-btn-height);\n  font-weight: var(--font-weight-bold);\n  font-size: var(--font-size-label);\n  cursor: pointer;\n  transition: background 0.2s;\n}\n.form-submit-button:hover {\n  background: #38b2ac;\n}\n\n/* Errors & links */\n.form-error {\n  color: var(--color-error);\n  font-size: 13px;\n  font-weight: var(--font-weight-bold);\n}\n.form-link {\n  color: var(--color-link);\n  text-decoration: underline;\n  font-size: var(--font-size-body);\n}\n\n/* Branding removal */\na[href*=\"n8n.io\"],\na[href*=\"n8n\"] { display: none !important; }\n\n:is(p, div, footer):has(> a[href*=\"n8n\"]),\n:is(p, div):has(> svg[aria-label=\"n8n\"]) { display: none !important; }\n\n.n8n-form-footer,\n.form-footer,\n.form-branding,\n.n8n-branding { display: none !important; }"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-336,-32],"id":"ed26ab19-60f0-4348-ae56-71b57db5cb45","name":"On form submission","webhookId":"17dba664-bf44-4aea-b38b-1d894bf2cffe"},{"parameters":{"jsCode":"// Get current date\nconst now = new Date();\n\n// Calculate last month (adjusting for January)\nlet year = now.getFullYear();\nlet month = now.getMonth() - 1;\n\nif (month < 0) {\n  month = 11;\n  year -= 1;\n}\n\n// Start date of last month\nconst startDate = new Date(year, month, 1);\n\n// End date of last month (0th day of current month = last day of previous)\nconst endDate = new Date(year, month + 1, 0);\n\n// Extract parts\nconst pad = (num) => String(num).padStart(2, '0');\n\nreturn [\n  {\n    json: {\n      StartDay: pad(startDate.getDate()),\n      StartMonth: pad(startDate.getMonth() + 1),\n      StartYear: startDate.getFullYear(),\n\n      EndDay: pad(endDate.getDate()),\n      EndMonth: pad(endDate.getMonth() + 1),\n      EndYear: endDate.getFullYear(),\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,-32],"id":"ae15bfde-a99a-4103-8439-4277be74b33e","name":"Start and End Date"},{"parameters":{"operation":"completion","completionTitle":"Find GMB Profile ID Validity","completionMessage":"The GMB Profile ID is Valid.","options":{"customCss":":root {\n  --font-family: 'Inter', 'Segoe UI', Arial, sans-serif;\n  --font-weight-normal: 400;\n  --font-weight-bold: 700;\n  --font-size-body: 13px;\n  --font-size-label: 15px;\n  --font-size-input: 15px;\n  --font-size-header: 22px;\n  --font-size-subheader: 15px;\n\n  /* Colors */\n  --color-background: #23272f;\n  --color-card-bg: #282d36;\n  --color-card-border: #474e5d;\n  --color-card-shadow: rgba(40, 45, 54, 0.12);\n\n  --color-label: #bfc8d9;\n  /* ✨ Make typed text dark so it’s visible on white inputs */\n  --color-input-text: #1f2937; /* dark gray / near black */\n  --color-input-border: #474e5d;\n  --color-focus-border: #4fd1c5;\n  --color-submit-btn-bg: #4fd1c5;\n  --color-submit-btn-text: #23272f;\n  --color-error: #fc8181;\n  --color-required: #fc8181;\n  --color-link: #63b3ed;\n  --color-header: #e2e8f0;\n  --color-header-subtext: #8f99ab;\n\n  /* Input visuals */\n  --color-input-bg: #ffffff;        /* current inputs are white */\n  --color-placeholder: #6b7280;     /* medium gray */\n\n  /* Border Radii */\n  --border-radius-card: 12px;\n  --border-radius-input: 8px;\n  --border-radius-clear-btn: 50%;\n  --card-border-radius: 12px;\n\n  /* Spacing */\n  --padding-container-top: 32px;\n  --padding-card: 28px;\n  --padding-form-input: 14px;\n  --card-margin-bottom: 20px;\n\n  /* Dimensions */\n  --container-width: 480px;\n  --submit-btn-height: 50px;\n  --checkbox-size: 20px;\n  --opacity-placeholder: 0.85;\n}\n\n/* Card */\n.form-card {\n  background: var(--color-card-bg);\n  border-radius: var(--border-radius-card);\n  box-shadow: 0px 6px 20px 0px var(--color-card-shadow);\n  padding: var(--padding-card);\n  border: 1px solid var(--color-card-border);\n  margin-bottom: var(--card-margin-bottom);\n}\n\n/* Labels */\n.form-label {\n  color: var(--color-label);\n  font-size: var(--font-size-label);\n  font-weight: var(--font-weight-bold);\n}\n\n/* Inputs */\n.form-input,\n.form-select {\n  background: var(--color-input-bg);\n  border: 1.5px solid var(--color-input-border);\n  border-radius: var(--border-radius-input);\n  color: var(--color-input-text);\n  font-size: var(--font-size-input);\n  padding: var(--padding-form-input);\n  margin-bottom: 16px;\n  transition: border 0.2s;\n}\n\n.form-input:focus, \n.form-select:focus {\n  border-color: var(--color-focus-border);\n  outline: none;\n}\n\n/* 🚩 Force readable text in ALL native inputs inside the card (covers markup changes) */\n.form-card input:not([type=\"checkbox\"]):not([type=\"radio\"]),\n.form-card textarea,\n.form-card select {\n  background: var(--color-input-bg) !important;\n  color: var(--color-input-text) !important;\n  -webkit-text-fill-color: var(--color-input-text) !important; /* Safari/iOS */\n  caret-color: var(--color-input-text) !important;\n}\n\n/* Placeholders */\n.form-card input::placeholder,\n.form-card textarea::placeholder {\n  color: var(--color-placeholder) !important;\n  opacity: 1 !important;\n  font-size: var(--font-size-input);\n}\n\n/* Autofill fix (Chrome/Safari) */\n.form-card input:-webkit-autofill,\n.form-card textarea:-webkit-autofill {\n  -webkit-text-fill-color: var(--color-input-text) !important;\n  box-shadow: 0 0 0 1000px var(--color-input-bg) inset !important;\n}\n\n/* File input polish */\n.form-card input[type=\"file\"] {\n  color: var(--color-placeholder);\n}\n.form-card input[type=\"file\"]::-webkit-file-upload-button {\n  background: var(--color-card-bg);\n  color: var(--color-header);\n  border: 1px solid var(--color-input-border);\n  border-radius: 6px;\n  padding: 8px 12px;\n}\n\n/* Submit */\n.form-submit-button {\n  background: var(--color-submit-btn-bg);\n  color: var(--color-submit-btn-text);\n  border: none;\n  border-radius: var(--border-radius-input);\n  height: var(--submit-btn-height);\n  font-weight: var(--font-weight-bold);\n  font-size: var(--font-size-label);\n  cursor: pointer;\n  transition: background 0.2s;\n}\n.form-submit-button:hover {\n  background: #38b2ac;\n}\n\n/* Errors & links */\n.form-error {\n  color: var(--color-error);\n  font-size: 13px;\n  font-weight: var(--font-weight-bold);\n}\n.form-link {\n  color: var(--color-link);\n  text-decoration: underline;\n  font-size: var(--font-size-body);\n}\n\n/* Branding removal */\na[href*=\"n8n.io\"],\na[href*=\"n8n\"] { display: none !important; }\n\n:is(p, div, footer):has(> a[href*=\"n8n\"]),\n:is(p, div):has(> svg[aria-label=\"n8n\"]) { display: none !important; }\n\n.n8n-form-footer,\n.form-footer,\n.form-branding,\n.n8n-branding { display: none !important; }"}},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[240,-112],"id":"47ee1536-fc57-4b12-a8de-95b7921e48b5","name":"Success","webhookId":"0a7dbfad-a21e-4d4b-9092-a3539110a520"},{"parameters":{"operation":"completion","completionTitle":"Find GMB Profile ID Validity","completionMessage":"The GMB Profile ID is not Valid.","options":{"customCss":":root {\n  --font-family: 'Inter', 'Segoe UI', Arial, sans-serif;\n  --font-weight-normal: 400;\n  --font-weight-bold: 700;\n  --font-size-body: 13px;\n  --font-size-label: 15px;\n  --font-size-input: 15px;\n  --font-size-header: 22px;\n  --font-size-subheader: 15px;\n\n  /* Colors */\n  --color-background: #23272f;\n  --color-card-bg: #282d36;\n  --color-card-border: #474e5d;\n  --color-card-shadow: rgba(40, 45, 54, 0.12);\n\n  --color-label: #bfc8d9;\n  /* ✨ Make typed text dark so it’s visible on white inputs */\n  --color-input-text: #1f2937; /* dark gray / near black */\n  --color-input-border: #474e5d;\n  --color-focus-border: #4fd1c5;\n  --color-submit-btn-bg: #4fd1c5;\n  --color-submit-btn-text: #23272f;\n  --color-error: #fc8181;\n  --color-required: #fc8181;\n  --color-link: #63b3ed;\n  --color-header: #e2e8f0;\n  --color-header-subtext: #8f99ab;\n\n  /* Input visuals */\n  --color-input-bg: #ffffff;        /* current inputs are white */\n  --color-placeholder: #6b7280;     /* medium gray */\n\n  /* Border Radii */\n  --border-radius-card: 12px;\n  --border-radius-input: 8px;\n  --border-radius-clear-btn: 50%;\n  --card-border-radius: 12px;\n\n  /* Spacing */\n  --padding-container-top: 32px;\n  --padding-card: 28px;\n  --padding-form-input: 14px;\n  --card-margin-bottom: 20px;\n\n  /* Dimensions */\n  --container-width: 480px;\n  --submit-btn-height: 50px;\n  --checkbox-size: 20px;\n  --opacity-placeholder: 0.85;\n}\n\n/* Card */\n.form-card {\n  background: var(--color-card-bg);\n  border-radius: var(--border-radius-card);\n  box-shadow: 0px 6px 20px 0px var(--color-card-shadow);\n  padding: var(--padding-card);\n  border: 1px solid var(--color-card-border);\n  margin-bottom: var(--card-margin-bottom);\n}\n\n/* Labels */\n.form-label {\n  color: var(--color-label);\n  font-size: var(--font-size-label);\n  font-weight: var(--font-weight-bold);\n}\n\n/* Inputs */\n.form-input,\n.form-select {\n  background: var(--color-input-bg);\n  border: 1.5px solid var(--color-input-border);\n  border-radius: var(--border-radius-input);\n  color: var(--color-input-text);\n  font-size: var(--font-size-input);\n  padding: var(--padding-form-input);\n  margin-bottom: 16px;\n  transition: border 0.2s;\n}\n\n.form-input:focus, \n.form-select:focus {\n  border-color: var(--color-focus-border);\n  outline: none;\n}\n\n/* 🚩 Force readable text in ALL native inputs inside the card (covers markup changes) */\n.form-card input:not([type=\"checkbox\"]):not([type=\"radio\"]),\n.form-card textarea,\n.form-card select {\n  background: var(--color-input-bg) !important;\n  color: var(--color-input-text) !important;\n  -webkit-text-fill-color: var(--color-input-text) !important; /* Safari/iOS */\n  caret-color: var(--color-input-text) !important;\n}\n\n/* Placeholders */\n.form-card input::placeholder,\n.form-card textarea::placeholder {\n  color: var(--color-placeholder) !important;\n  opacity: 1 !important;\n  font-size: var(--font-size-input);\n}\n\n/* Autofill fix (Chrome/Safari) */\n.form-card input:-webkit-autofill,\n.form-card textarea:-webkit-autofill {\n  -webkit-text-fill-color: var(--color-input-text) !important;\n  box-shadow: 0 0 0 1000px var(--color-input-bg) inset !important;\n}\n\n/* File input polish */\n.form-card input[type=\"file\"] {\n  color: var(--color-placeholder);\n}\n.form-card input[type=\"file\"]::-webkit-file-upload-button {\n  background: var(--color-card-bg);\n  color: var(--color-header);\n  border: 1px solid var(--color-input-border);\n  border-radius: 6px;\n  padding: 8px 12px;\n}\n\n/* Submit */\n.form-submit-button {\n  background: var(--color-submit-btn-bg);\n  color: var(--color-submit-btn-text);\n  border: none;\n  border-radius: var(--border-radius-input);\n  height: var(--submit-btn-height);\n  font-weight: var(--font-weight-bold);\n  font-size: var(--font-size-label);\n  cursor: pointer;\n  transition: background 0.2s;\n}\n.form-submit-button:hover {\n  background: #38b2ac;\n}\n\n/* Errors & links */\n.form-error {\n  color: var(--color-error);\n  font-size: 13px;\n  font-weight: var(--font-weight-bold);\n}\n.form-link {\n  color: var(--color-link);\n  text-decoration: underline;\n  font-size: var(--font-size-body);\n}\n\n/* Branding removal */\na[href*=\"n8n.io\"],\na[href*=\"n8n\"] { display: none !important; }\n\n:is(p, div, footer):has(> a[href*=\"n8n\"]),\n:is(p, div):has(> svg[aria-label=\"n8n\"]) { display: none !important; }\n\n.n8n-form-footer,\n.form-footer,\n.form-branding,\n.n8n-branding { display: none !important; }"}},"type":"n8n-nodes-base.form","typeVersion":2.3,"position":[240,64],"id":"5593f956-7dd3-4335-bb35-609d9d8543ae","name":"Fail","webhookId":"0a7dbfad-a21e-4d4b-9092-a3539110a520"}],"connections":{"WEBSITE_CLICKS":{"main":[[{"node":"Success","type":"main","index":0}],[{"node":"Fail","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Start and End Date","type":"main","index":0}]]},"Start and End Date":{"main":[[{"node":"WEBSITE_CLICKS","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"G2KZfyUFGXoArofH"},"staticData":null,"meta":null,"pinData":{},"versionId":"d27e5276-11e4-472e-9e11-0a037e94d5c1","triggerCount":1,"shared":[{"createdAt":"2025-12-24T18:20:36.511Z","updatedAt":"2025-12-24T18:20:36.511Z","role":"workflow:owner","workflowId":"jaBF7AEs6QY4LwA4","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[]}