gmb-review-reply-DE7MOsdObJzHFDhD.json
{"createdAt":"2025-08-29T02:04:45.858Z","updatedAt":"2026-03-05T08:20:05.216Z","id":"DE7MOsdObJzHFDhD","name":"GMB Review Reply","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"review","operation":"reply","account":{"__rl":true,"value":"accounts/117722610585468645466","mode":"list","cachedResultName":"Dr Sm@rt"},"location":{"__rl":true,"value":"={{ $json['GMB ID'] }}","mode":"name"},"review":{"__rl":true,"value":"={{ $json['Review ID'] }}","mode":"id"},"reply":"={{ $json['GMB Reply'] }}","requestOptions":{}},"type":"n8n-nodes-base.googleBusinessProfile","typeVersion":1,"position":[288,144],"id":"8e93ebf1-d1e7-4e12-82c0-5c055dc17afe","name":"Reply to review","credentials":{"googleBusinessProfileOAuth2Api":{"id":"fj0r4iY1wmBjDC8c","name":"Google Business Profile account"}}},{"parameters":{"content":"## Review Addition","height":304,"width":992,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-464,64],"id":"cb501390-16a7-4ad3-96bb-00d6309fa193","name":"Sticky Note"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aa79b0a4-757e-4be5-a294-db55b88fbd5e","leftValue":"={{ $json.Approved.toString() }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-96,128],"id":"1fa2edf4-4eb1-4d22-9118-2684bc26bf7c","name":"Filter"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[80,128],"id":"b0bbd9d2-1ca9-4169-8356-206dfeb7a2c8","name":"Loop Over Items"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-320,128],"id":"167d310b-ed01-4075-807f-d096ea82f842","name":"When Executed by Another Workflow"}],"connections":{"Filter":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Reply to review":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Reply to review","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Filter","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Google Sheets Trigger":{"documentId":"1x7jnZ1T3tHdDZ-zNbuIoccPZ2wC1_KDyII4DbqesLjg","sheetId":0,"lastRevision":5251,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1x7jnZ1T3tHdDZ-zNbuIoccPZ2wC1_KDyII4DbqesLjg&revision=5251&exportFormat=xlsx"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8492850c-068f-4d17-95f2-234ce489f15d","triggerCount":1,"shared":[{"createdAt":"2025-08-29T02:04:45.858Z","updatedAt":"2025-08-29T02:04:45.858Z","role":"workflow:owner","workflowId":"DE7MOsdObJzHFDhD","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[]}