gmb-review-reply-DE7MOsdObJzHFDhD.json
{"createdAt":"2025-08-29T02:04:45.858Z","updatedAt":"2025-10-26T19:31:24.457Z","id":"DE7MOsdObJzHFDhD","name":"GMB Review Reply","active":true,"isArchived":false,"nodes":[{"parameters":{"resource":"review","operation":"reply","account":{"__rl":true,"value":"accounts/117722610585468645466","mode":"list","cachedResultName":"Dr Sm@rt"},"location":{"__rl":true,"value":"={{ $json['GMB ID'] }}","mode":"name"},"review":{"__rl":true,"value":"={{ $json['Review ID'] }}","mode":"id"},"reply":"={{ $json['GMB Reply'] }}","requestOptions":{}},"type":"n8n-nodes-base.googleBusinessProfile","typeVersion":1,"position":[272,128],"id":"8e93ebf1-d1e7-4e12-82c0-5c055dc17afe","name":"Reply to review","credentials":{"googleBusinessProfileOAuth2Api":{"id":"fj0r4iY1wmBjDC8c","name":"Google Business Profile account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyHour"}]},"documentId":{"__rl":true,"value":"1x7jnZ1T3tHdDZ-zNbuIoccPZ2wC1_KDyII4DbqesLjg","mode":"list","cachedResultName":"GMB Review - Final","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1x7jnZ1T3tHdDZ-zNbuIoccPZ2wC1_KDyII4DbqesLjg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1x7jnZ1T3tHdDZ-zNbuIoccPZ2wC1_KDyII4DbqesLjg/edit#gid=0"},"event":"rowUpdate","options":{"columnsToWatch":["Approved"]}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-96,128],"id":"69647cf3-0d49-4ccc-b4a9-0b7dae0559ef","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"29rUzLwW49JNNLgE","name":"KR -Paid"}}},{"parameters":{"content":"## Review Addition","height":256,"width":704,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-192,48],"id":"cb501390-16a7-4ad3-96bb-00d6309fa193","name":"Sticky Note"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aa79b0a4-757e-4be5-a294-db55b88fbd5e","leftValue":"={{ $json.Approved.toString() }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[80,128],"id":"1fa2edf4-4eb1-4d22-9118-2684bc26bf7c","name":"Filter"}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Reply to review","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Google Sheets Trigger":{"documentId":"1x7jnZ1T3tHdDZ-zNbuIoccPZ2wC1_KDyII4DbqesLjg","sheetId":0,"lastRevision":1773,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1x7jnZ1T3tHdDZ-zNbuIoccPZ2wC1_KDyII4DbqesLjg&revision=1773&exportFormat=xlsx"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c5ad026c-34bd-4806-ad1e-d042e7e7d84d","triggerCount":1,"shared":[{"createdAt":"2025-08-29T02:04:45.858Z","updatedAt":"2025-08-29T02:04:45.858Z","role":"workflow:owner","workflowId":"DE7MOsdObJzHFDhD","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[]}