gmb-review-vbVu8WgtHgZNxPMP.json
{"createdAt":"2025-07-21T10:21:49.861Z","updatedAt":"2025-08-04T18:20:36.264Z","id":"vbVu8WgtHgZNxPMP","name":"GMB Review","active":true,"isArchived":false,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Drishti GMB').item.json.starRating }}","rightValue":"FIVE","operator":{"type":"string","operation":"equals"},"id":"8ea6a3e5-4ff5-4353-b317-c543a645c078"}],"combinator":"and"},"renameOutput":true,"outputKey":"5"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ae9960c8-5410-4033-ac5b-211e9f7fa193","leftValue":"={{ $('Drishti GMB').item.json.starRating }}","rightValue":"FOUR","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"4"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e2b69ed0-6ec6-4ac8-93a0-8041aa8b6449","leftValue":"={{ $('Drishti GMB').item.json.starRating }}","rightValue":"THREE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"3"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8df9df8d-8467-41c1-ae4b-99c00b4e6c30","leftValue":"={{ $('Drishti GMB').item.json.starRating }}","rightValue":"TWO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"038f3920-350d-4ec9-8a06-8eb08edc9ea4","leftValue":"={{ $('Drishti GMB').item.json.starRating }}","rightValue":"ONE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"1"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[432,-48],"id":"6b479bce-699b-4184-b365-86f7522df4dc","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"4a8276aa-abe4-4011-9878-ab481c55c686","name":"BusinessName","value":"Drishti Eye Centre","type":"string"},{"id":"900c1754-5e2b-402a-b467-84c05865323a","name":"BusinessNiche","value":"Ophthalmology Clinic / Eye Hospital","type":"string"},{"id":"73ba0ae9-b91c-4e21-801f-52d757813bac","name":"PhoneNumber","value":"+91 9966133354","type":"string"},{"id":"56348fd5-49b4-478e-9226-037bd70b7ccf","name":"Email","value":"support@drishtieyecentre.org","type":"string"},{"id":"c9f84129-da6c-48c5-82bf-39ae28b40f74","name":"Website","value":"drishtieyecentre.org","type":"string"},{"id":"9acc6aa4-24ec-4659-b9c1-8a09d3a0aa75","name":"Keyword1","value":"Cataract Surgery Hyderabad","type":"string"},{"id":"d025f0bf-1f7a-4773-a2f9-35ec16b13c38","name":"Keyword2","value":"LASIK Eye Surgery Hyderabad","type":"string"},{"id":"9368d73a-c55a-4556-8cc5-48cacbb1e578","name":"Keyword3","value":"Glaucoma Treatment Hyderabad","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,0],"id":"b9a1a585-af79-4c5d-aa4e-948f02a72734","name":"Edit Fields1"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=#Role\n\nYou are a world-class Google Review Response Expert for a {{ $json.BusinessNiche }} business. You understand how to naturally weave SEO keywords into review responses, adapt tone based on review sentiment, and maintain a friendly, professional voice that reinforces positive brand perception. You are highly skilled at subtly optimizing content for search visibility without sounding unnatural.\n\n#Task\n\nGenerate personalized, SEO-enhanced responses to Google reviews for {{ $json.BusinessName }}, a {{ $json.BusinessNiche }}. Review responses should subtly include the keywords “{{ $json.Keyword1 }}”, “{{ $json.Keyword2 }}”, and “{{ $json.Keyword3 }}” where appropriate. The tone of each response must be adjusted based on the rating: friendly and happy for positive reviews (4+ stars), and empathetic yet professional for reviews under 4 stars. Follow a set of strict stylistic and ethical rules when responding.\n\n#SPECIFICS\n\t•\tUse contractions for a natural tone.\n\t•\tNever use or start with “Dear”.\n\t•\tFor 4+ star reviews: Use a warm, upbeat, friendly tone.\n\t•\tNever reference AI, how the response was written, or the process.\n\t•\tNever explain or justify the rules being followed—just respond.\n\t•\tEvery reply must sound authentic and tailored to the reviewer.\n\n#TOOLS\n\nYou will use your internal capabilities to:\n\t•\tDetect sentiment and star rating of the review\n\t•\tTailor tone accordingly\n\t•\tSubtly and naturally integrate SEO keywords\n\t•\tEnsure compliance with all stylistic and ethical guidelines\n\n#EXAMPLES\n\nExample for a 5-star review:\n“Thank you for reviewing us. Happy to serve you and your family. We wish you good health and will try to improve upon the parking situation. Thanks & Regards, Drishti Eye Centre Team.”\n\n\n#NOTES\n\t•\tAlways validate that each response matches the tone and content rules before presenting.\n\t•\tKeep it informal yet professional—this task is vital to the store’s reputation and SEO goals.\n\t•\tThink carefully before responding and double-check each reply against the guidelines.","role":"system"},{"content":"=Reviewer Name:  {{ $('FIrstName').item.json.firstName }}\nReview Stars: {{ $('FIrstName').item.json.starRating }}\nReview Comment: {{ $('FIrstName').item.json.comment }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[736,-128],"id":"8106e379-5a9b-4dd1-940a-f4b15e803a9c","name":"Positive Reply","credentials":{"openAiApi":{"id":"bh2ggfouTtamGTzv","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=Role\n\nYou are a world-class Google Review Response Specialist for negative feedback. Your mission is to protect and enhance the reputation of {{ $('Edit Fields1').item.json.BusinessName }}, a {{ $('Edit Fields1').item.json.BusinessNiche }} business, by crafting thoughtful, SEO-friendly, empathetic responses to all Google reviews rated 3 stars or less. You are an expert in diffusing frustration, showing genuine care, and turning negative experiences into opportunities for brand growth—all while respecting strict tone and keyword guidelines.\n\nTask\n\nRespond to negative Google reviews (3 stars or less) for {{ $('Edit Fields1').item.json.BusinessName }}. Every response should reflect a professional yet empathetic tone, address the specific concerns in the review, and demonstrate a sincere desire to resolve the issue. Subtly include the SEO keywords “{{ $('Edit Fields1').item.json.Keyword1 }}”, “{{ $('Edit Fields1').item.json.Keyword2 }}”, and “{{ $('Edit Fields1').item.json.Keyword3 }}” where relevant, while strictly adhering to response rules.\n\nSPECIFICS\n\t•\tAlways respond with a friendly, empathetic, and professional tone.\n\t•\tUse contractions for a natural, conversational feel.\n\t•\tNever use or start with “Dear”.\n\t•\tShow strong commitment to customer satisfaction.\n\t•\tEncourage reviewers to contact the business directly at {{ $('Edit Fields1').item.json.PhoneNumber }} to resolve issues.\n\t•\tIf a review mentions expired food, kindly clarify that some food items may be sold past their best before date, which is different from an expiry date, and such items are generally still good.\n\t•\tNever reference AI or how the response was generated.\n\t•\tNever explain the rules—just follow them.\n\t•\tThe goal is to de-escalate concerns, show responsiveness, and maintain trust.\n\nTOOLS\n\nUse internal logic and language capabilities to:\n\t•\tIdentify and address specific concerns in the review\n\t•\tTailor tone to reflect empathy and professionalism\n\t•\tNaturally embed SEO terms to improve visibility\n\t•\tEnsure compliance with response tone and content policies\n\nEXAMPLES\n\nExample 1 (3-star review, general dissatisfaction):\n“Thanks for your feedback—we’re sorry your experience wasn’t what you expected. We work hard to provide great value and low prices at {{ $('Edit Fields1').item.json.BusinessName }}, and we’d love a chance to make things right. Please give us a call at {{ $('Edit Fields1').item.json.PhoneNumber }} so we can help resolve the issue.”\n\nExample 2 (2-star review, expired food concern):\n“Sorry to hear about your experience, and thank you for pointing it out. Some of our food products may be sold past the best before date, which is different from an expiry date—many items are still perfectly fine after that. Still, we want you to feel confident shopping with us. Please call us at {{ $('Edit Fields1').item.json.PhoneNumber }} so we can make it right.”\n\nNOTES\n\t•\tAlways validate that each response follows all tone, keyword, and response guidelines.\n\t•\tKeep tone human, professional, and proactive—this task is critical for managing the brand’s reputation and converting unhappy customers into returning ones.\n\t•\tThink carefully, stay within guidelines, and respond with care and clarity.","role":"system"},{"content":"=Reviewer Name:  {{ $('FIrstName').item.json.firstName }}\nReview Stars: {{ $('FIrstName').item.json.starRating }}\nReview Comment: {{ $('FIrstName').item.json.comment }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[736,96],"id":"f973ba10-5866-4d36-9c84-6a593e7f2bf8","name":"Sorry Reply","credentials":{"openAiApi":{"id":"bh2ggfouTtamGTzv","name":"OpenAi account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1vim9FifW1Yct_k2EDZsKwRS-Po8UIVGd3y0EsLgnKms","mode":"list","cachedResultName":"GMB Review","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vim9FifW1Yct_k2EDZsKwRS-Po8UIVGd3y0EsLgnKms/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vim9FifW1Yct_k2EDZsKwRS-Po8UIVGd3y0EsLgnKms/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1152,-32],"id":"13a4be8d-749f-42a8-b522-004989f999eb","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"RgJ3Hj2nQijrcbh4","name":"Google Sheets - Tools.DrSmart"}}},{"parameters":{"resource":"review","operation":"reply","account":{"__rl":true,"value":"accounts/117722610585468645466","mode":"list","cachedResultName":"Dr Sm@rt"},"location":{"__rl":true,"value":"locations/2400981028719401080","mode":"list","cachedResultName":"locations/2400981028719401080"},"review":{"__rl":true,"value":"={{ $('Drishti GMB').item.json.reviewId }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.googleBusinessProfile","typeVersion":1,"position":[1312,-32],"id":"2cdc7b8f-dddf-4b6a-8ead-2c1f45685756","name":"Reply to review","credentials":{"googleBusinessProfileOAuth2Api":{"id":"BVvDlVAIrAgPKCHG","name":"Google Business Profile account 2"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"account":{"__rl":true,"value":"accounts/117722610585468645466","mode":"list","cachedResultName":"Dr Sm@rt"},"location":{"__rl":true,"value":"locations/2400981028719401080","mode":"list","cachedResultName":"locations/2400981028719401080"}},"type":"n8n-nodes-base.googleBusinessProfileTrigger","typeVersion":1,"position":[-784,0],"id":"158bf69c-35ad-43e3-b767-4dce512e258b","name":"Drishti GMB","credentials":{"googleBusinessProfileOAuth2Api":{"id":"BVvDlVAIrAgPKCHG","name":"Google Business Profile account 2"}}},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  // Grab the displayName from reviewer object\n  const displayName = item.json.reviewer?.displayName || '';\n  // Split and grab first name\n  const firstName = displayName.split(' ')[0] || '';\n  // Attach it to the item for later use\n  item.json.firstName = firstName;\n}\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-544,0],"id":"69fe0b9e-9849-4800-93f3-96a3389a598d","name":"FIrstName"},{"parameters":{"jsCode":"// Method 1: Using Regular Expression (Recommended)\nfunction extractLocationId(gmbPath) {\n  const regex = /locations\\/(\\d+)/;\n  const match = gmbPath.match(regex);\n  \n  if (match) {\n    return `locations/${match[1]}`;\n  } else {\n    throw new Error('Location ID not found in the provided path');\n  }\n}\n\n// Method 2: Using String Split\nfunction extractLocationIdSplit(gmbPath) {\n  const parts = gmbPath.split('/');\n  const locationIndex = parts.indexOf('locations');\n  \n  if (locationIndex !== -1 && locationIndex + 1 < parts.length) {\n    return `locations/${parts[locationIndex + 1]}`;\n  } else {\n    throw new Error('Location ID not found in the provided path');\n  }\n}\n\n// For n8n Code Node - Use this format:\n// Based on your input data structure\n\n// Get the GMB path from the 'name' field\nconst gmbPath = $input.first().json.name;\nconst locationId = extractLocationId(gmbPath);\n\nreturn [{ json: { locationId: locationId } }];\n\n// Option 2: If you need to process multiple items\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const gmbPath = item.json.path_field_name; // Replace with your actual field name\n  const locationId = extractLocationId(gmbPath);\n  \n  results.push({\n    json: {\n      ...item.json,\n      locationId: locationId\n    }\n  });\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-384,0],"id":"2c57a31a-4ce6-4d88-af20-378c5467f9ae","name":"LocationID"},{"parameters":{"promptType":"define","text":"=Location ID of a client: {{ $json.locationId }}","options":{"systemMessage":"You are a helpful assistant. That mission is to extra the Client name using the location ID.\n\nI am giving you a location ID.\n\nExample - \nlocations/2400981028719401080\n\nYou need to use: 2400981028719401080\n\nto go and search google sheet and get all client information"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-176,0],"id":"109218d9-a8e2-4be7-961a-835b7a62cdad","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-320,208],"id":"09a3be32-bc46-43d5-b06e-1e1be83c97f0","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"OcOGRPT0IsDwfMRs","name":"OpenRouter account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.locationId }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-176,208],"id":"39cd9758-29e7-480e-b08d-ca82344977ab","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"SckxaPADcoMAO2q0","name":"Postgres account 2"}}},{"parameters":{"documentId":{"__rl":true,"value":"1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU","mode":"list","cachedResultName":"Master Data + Keyword","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1304543269,"mode":"list","cachedResultName":"Client Details","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=1304543269"},"filtersUI":{"values":[{"lookupColumn":"Profile ID","lookupValue":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-32,208],"id":"08c4c00f-7151-4f14-968f-10dcc2fb80e3","name":"Get row(s) in sheet in Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"RgJ3Hj2nQijrcbh4","name":"Google Sheets - Tools.DrSmart"}}}],"connections":{"Switch":{"main":[[{"node":"Positive Reply","type":"main","index":0}],[{"node":"Positive Reply","type":"main","index":0}],[{"node":"Sorry Reply","type":"main","index":0}],[{"node":"Sorry Reply","type":"main","index":0}],[{"node":"Sorry Reply","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Positive Reply":{"main":[[]]},"Sorry Reply":{"main":[[]]},"Append or update row in sheet":{"main":[[{"node":"Reply to review","type":"main","index":0}]]},"Drishti GMB":{"main":[[{"node":"FIrstName","type":"main","index":0}]]},"FIrstName":{"main":[[{"node":"LocationID","type":"main","index":0}]]},"LocationID":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Get row(s) in sheet in Google Sheets":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Business Profile Trigger1":{"totalReviewCountLastTimeChecked":638},"node:Drishti GMB":{"totalReviewCountLastTimeChecked":638}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Drishti GMB":[{"json":{"reviewId":"AbFvOqkn2kAMBmiOsrMMgrTFhEJI1EWTUYxyKhdfGgRwWOra59RYyFVAOvWunzw-gnIrHxIINFEMYw","reviewer":{"profilePhotoUrl":"https://lh3.googleusercontent.com/a/ACg8ocLmn7a--21DOrrjvjFeC-69IbhJNw9E6JdOf8yxW0U1Xuf2hYw=s120-c-rp-mo-br100","displayName":"anil kalekar"},"starRating":"ONE","comment":"Consultation charges are more than corporate Hospital . While booking doctor on call, front office team hiding doctor charges during the  appointment . They are charging more than corporate hospital during the  visit to hospital. Unethical","createTime":"2025-07-30T16:37:51.839188Z","updateTime":"2025-07-30T16:37:51.839188Z","name":"accounts/117722610585468645466/locations/2400981028719401080/reviews/AbFvOqkn2kAMBmiOsrMMgrTFhEJI1EWTUYxyKhdfGgRwWOra59RYyFVAOvWunzw-gnIrHxIINFEMYw"}}]},"versionId":"5a22e958-5110-41b0-8df0-cd23c673e578","triggerCount":1,"tags":[]}