keyword-finder-LCvGWuSgjkkTUATS.json
{"createdAt":"2026-03-02T10:13:14.343Z","updatedAt":"2026-03-07T10:28:08.673Z","id":"LCvGWuSgjkkTUATS","name":"Keyword Finder","active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// 1. Access the keywords array from the body of the webhook\nconst keywords = $json.body.keywords;\n\n// 2. Check if the keywords field exists and is actually an array\nif (Array.isArray(keywords)) {\n  // 3. Map each string in the array to an n8n-compatible object\n  return keywords.map(item => {\n    return {\n      json: {\n        keyword: item,\n        // Optional: include metadata from the body if needed\n        city: $json.body.city,\n        country: $json.body.country,\n        placeId: $json.body.placeId\n      }\n    };\n  });\n}\n\n// 4. Return an empty array if no keywords are found to prevent the workflow from crashing\nreturn [];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,272],"id":"6649d4aa-d135-46a7-b72c-98db6aa6566a","name":"Keywords"},{"parameters":{"options":{"reset":"={{ $prevNode.name === 'Keywords' }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-224,272],"id":"f6f7ab71-ebf6-4494-ab11-3d814f48f4d4","name":"Loop Over Keywords"},{"parameters":{"operation":"Run actor and get dataset","actorId":{"__rl":true,"value":"nwua9Gu5YrADL7ZDj","mode":"list","cachedResultName":"Google Maps Scraper (compass/crawler-google-places)","cachedResultUrl":"https://console.apify.com/actors/nwua9Gu5YrADL7ZDj/input"},"customBody":"={\n    \"city\":\"{{ $('Webhook').first().json.body.city || $('Webhook').first().json.city }}\",\n    \"countryCode\": \"{{ $json.CountryCode }}\",\n    \"includeWebResults\": false,\n    \"language\": \"en\",\n    \"maxCrawledPlacesPerSearch\": 20,\n    \"maxImages\": 0,\n    \"maximumLeadsEnrichmentRecords\": 0,\n    \"scrapeContacts\": false,\n    \"scrapeDirectories\": false,\n    \"scrapeImageAuthors\": false,\n    \"scrapePlaceDetailPage\": false,\n    \"scrapeReviewsPersonalData\": true,\n    \"scrapeTableReservationProvider\": false,\n    \"searchStringsArray\": [\n        \"{{ $('Loop Over Keywords').item.json.keyword }}\"\n    ],\n    \"skipClosedPlaces\": false\n}"},"type":"@apify/n8n-nodes-apify.apify","typeVersion":1,"position":[128,288],"id":"17c3209e-a3fb-4836-9ec7-d4bcf7aafc77","name":"Run an Actor and get dataset","credentials":{"apifyApi":{"id":"RL6jKxpjtZ4wVrSz","name":"Apify account"}}},{"parameters":{"jsCode":"// 1. Target the specific 'country' string inside the body\nconst body = $('Webhook').first().json.body || {};\nconst countryName = (body.country || \"\").toLowerCase().trim();\n\nconst countryMap = {\n  \"india\": \"in\",\n  \"united states\": \"us\",\n  \"usa\": \"us\",\n  \"united kingdom\": \"gb\",\n  \"uk\": \"gb\",\n  \"canada\": \"ca\",\n  \"australia\": \"au\",\n  \"germany\": \"de\",\n  \"france\": \"fr\",\n  \"spain\": \"es\",\n  \"italy\": \"it\",\n  \"netherlands\": \"nl\",\n  \"singapore\": \"sg\",\n  \"uae\": \"ae\",\n  \"united arab emirates\": \"ae\",\n  \"saudi arabia\": \"sa\",\n  \"south africa\": \"za\",\n  \"bangladesh\": \"bd\",\n  \"pakistan\": \"pk\",\n  \"sri lanka\": \"lk\",\n  \"nepal\": \"np\",\n  \"malaysia\": \"my\",\n  \"indonesia\": \"id\",\n  \"philippines\": \"ph\",\n  \"japan\": \"jp\",\n  \"china\": \"cn\"\n};\n\n// 2. Perform the lookup\nconst countryCode = countryMap[countryName] || \"unknown\";\n\nreturn [\n  {\n    json: {\n      Country: countryName || \"not provided\",\n      CountryCode: countryCode,\n      // Optional: keep the original data for the next steps\n      originalData: body \n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,288],"id":"a922359e-45d0-451f-aa0c-d8202a19546c","name":"Country Code"},{"parameters":{"jsCode":"const results = [];\n\n// 1. Get the payload from the Webhook\nconst payload = $('Webhook').first().json.body || $('Webhook').first().json;\n\n// 2. Fix: Check for 'placeId' (as seen in your webhook) OR 'gmb place id'\nconst formPlaceId = (payload.placeId || payload['gmb place id'])?.toString().trim();\n\n// If we still can't find a Place ID to search for\nif (!formPlaceId) {\n  return [\n    {\n      json: {\n        status: \"not_found\",\n        reason: \"place_id_missing\",\n        debug_payload: payload // This helps you see what the node actually received\n      }\n    }\n  ];\n}\n\nlet isFound = false;\n\n// 3. Loop through Apify scraped businesses\nfor (const item of $input.all()) {\n  const data = item.json;\n  const apiPlaceId = data.placeId;\n\n  if (!apiPlaceId) continue;\n\n  // Compare the ID from the form with the ID from the search results\n  if (apiPlaceId.toString().trim() === formPlaceId) {\n    isFound = true;\n    results.push({\n      status: \"found\",\n      keyword: data.searchString,\n      ranking_position: data.rank,\n      business_name: data.title,\n      category: data.categoryName,\n      phone: data.phoneUnformatted || data.phone || null,\n      website: data.website || null,\n      rating: data.totalScore || null,\n      reviews: data.reviewsCount || null,\n      city: data.city,\n      address: data.address,\n      place_id: apiPlaceId,\n      maps_url: data.url\n    });\n  }\n}\n\n// 4. If no match was found in the list\nif (!isFound) {\n  return [\n    {\n      json: {\n        status: \"not_found\",\n        place_id: formPlaceId,\n        // Using optional chaining to prevent errors if the loop node name differs\n        keyword: $('Loop Over Keywords').item?.json?.keyword || \"Unknown\", \n        ranking_position: \"Not in Top Results\"\n      }\n    }\n  ];\n}\n\n// 5. Return found business(es)\nreturn results.map(r => ({ json: r }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[336,288],"id":"6d8f031e-9b42-4110-97c7-39e306300d6f","name":"Find Matches","alwaysOutputData":true},{"parameters":{"httpMethod":"POST","path":"Keyword_finder","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-656,272],"id":"3db05d2d-2921-41a6-96e4-eb181d3da0a3","name":"Webhook","webhookId":"04634123-fa0d-4872-afeb-4de30648f315"},{"parameters":{"jsCode":"// Get all items outputted by 'Find Matches' across all loop iterations\nconst allMatches = $('Find Matches').all();\n\nconst placeId = $('Webhook').first().json.body['gmb place id'] || $('Webhook').first().json['gmb place id'];\nlet businessDetails = null;\nconst keywordRankings = [];\n\nfor (const item of allMatches) {\n    const data = item.json;\n    \n    // Grab the business details from the first successful match we find\n    if (data.status === 'found' && !businessDetails) {\n        businessDetails = {\n            business_name: data.business_name,\n            category: data.category,\n            rating: data.rating,\n            reviews: data.reviews,\n            phone: data.phone,\n            address: data.address,\n            maps_url: data.maps_url\n        };\n    }\n    \n    // Add the keyword and its rank to our array\n    keywordRankings.push({\n        keyword: data.keyword,\n        rank: data.ranking_position\n    });\n}\n\n// Output the single, merged master record\nreturn [{\n    json: {\n        place_id: placeId,\n        business_name: businessDetails ? businessDetails.business_name : \"Unknown\",\n        business_info: businessDetails || \"Not found in top results\",\n        rankings: keywordRankings // This contains your array of { keyword, rank }\n    }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-32,96],"id":"0ac44082-c206-447a-8367-f5d059e53f5f","name":"Aggregated_results"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO dr_smart.gmb_rankings (\n  place_id, \n  business_name, \n  business_info, \n  rankings,\n  created_at\n) \nVALUES (\n  $1, \n  $2, \n  $3::jsonb, \n  $4::jsonb, \n  NOW()\n);","options":{"queryReplacement":"={{ [\n  ($json.body?.placeId || $json.place_id || \"No ID\"),\n  ($json.business_name || \"Unknown Business\"),\n  JSON.stringify($json.business_info || $json.business_details || {}),\n  JSON.stringify($json.rankings || $json.aggregated_results || [])\n] }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[352,96],"id":"c18ef25a-f405-4e66-b29e-0997eae2bf10","name":"Insert","credentials":{"postgres":{"id":"9zDWQDsOZBmHEvfH","name":"Postgres account"}}}],"connections":{"Keywords":{"main":[[{"node":"Loop Over Keywords","type":"main","index":0}]]},"Loop Over Keywords":{"main":[[{"node":"Aggregated_results","type":"main","index":0}],[{"node":"Country Code","type":"main","index":0}]]},"Run an Actor and get dataset":{"main":[[{"node":"Find Matches","type":"main","index":0}]]},"Country Code":{"main":[[{"node":"Run an Actor and get dataset","type":"main","index":0}]]},"Find Matches":{"main":[[{"node":"Loop Over Keywords","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Keywords","type":"main","index":0}]]},"Aggregated_results":{"main":[[{"node":"Insert","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"46ed75c5-570c-4f98-b228-d5ec8d2ab7f4","triggerCount":1,"shared":[{"createdAt":"2026-03-02T10:13:14.343Z","updatedAt":"2026-03-02T10:13:14.343Z","role":"workflow:owner","workflowId":"LCvGWuSgjkkTUATS","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[]}