leela-test-ZmdGlCLSdai7hDHu.json
{"createdAt":"2025-07-09T12:17:55.550Z","updatedAt":"2025-07-09T13:56:25.701Z","id":"ZmdGlCLSdai7hDHu","name":"Leela test","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"24abffce-2026-44fd-a885-0369284eb48e","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"review","operation":"getAll","account":{"__rl":true,"value":"accounts/117722610585468645466","mode":"list","cachedResultName":"Dr Sm@rt"},"location":{"__rl":true,"value":"locations/11192260319797547313","mode":"list","cachedResultName":"locations/11192260319797547313"},"returnAll":true,"requestOptions":{}},"type":"n8n-nodes-base.googleBusinessProfile","typeVersion":1,"position":[220,0],"id":"18d73964-3978-41c9-b25b-8f49cc4e2ceb","name":"Get many reviews","credentials":{"googleBusinessProfileOAuth2Api":{"id":"BVvDlVAIrAgPKCHG","name":"Google Business Profile account 2"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=Please identify the dr name.\n\nJust say NA if didnt find and say doc name only if you found it.\n\n{{ $json.comment }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[680,-60],"id":"44b3db5c-49b2-428a-8ebf-05408c81bf9e","name":"Message a model","credentials":{"openAiApi":{"id":"bh2ggfouTtamGTzv","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0583a044-4b76-4f31-a42e-045bae173942","leftValue":"={{ $json.comment }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[440,0],"id":"65fa42a5-213c-427b-b900-041a61a5520d","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0f267d05-ab9d-4f0b-8ca5-a44d2d7694d8","leftValue":"={{ $json.message.content }}","rightValue":"NA","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1040,-60],"id":"9a435a78-af59-4d39-aff5-0b1dad7eac13","name":"If1"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get many reviews","type":"main","index":0}]]},"Get many reviews":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"If1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fd7ccde1-1787-4c4b-96e1-f2cacbf58657","triggerCount":0,"tags":[]}