message2task-XNk8e11e5C6BX1IA.json
{"createdAt":"2025-08-28T15:10:23.417Z","updatedAt":"2025-12-10T07:48:02.891Z","id":"XNk8e11e5C6BX1IA","name":"Message2Task","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://crm.drsmart.in/rest/supportTickets","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJjNzQ1M2U0MC1hZDljLTQzMmItODc5Mi0xNzFhMGJmYzI5NzAiLCJ0eXBlIjoiQVBJX0tFWSIsIndvcmtzcGFjZUlkIjoiYzc0NTNlNDAtYWQ5Yy00MzJiLTg3OTItMTcxYTBiZmMyOTcwIiwiaWF0IjoxNzU4NjQyMjMwLCJleHAiOjQ5MTIyNDIyMjgsImp0aSI6ImQ4YTAzODZmLTMyZmYtNDUzNy04OTkwLTUwM2VjMDNiMDEyNCJ9.-Nzd149BaClsTaLvTGTzSfUT4IQJYxBh7280ssY5nIA"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"name\": \"{{ $('Variable').item.json.Message }}\",\n  \"assigneeId\": \"{{ $json['Assignee ID'] }}\",\n  \"clientNameId\": \"{{ $json['Client ID CRM'] }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,224],"id":"9bae13b3-4f1f-4a4a-809c-4ea4302bd0c3","name":"SendTaskRequest"},{"parameters":{"httpMethod":"POST","path":"chat-to-task","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-976,304],"id":"eac2a630-9885-4abb-a729-6e188554807b","name":"GetWhatsappMessage","webhookId":"e4d96c11-c73c-47a3-808d-52f555deb179"},{"parameters":{"assignments":{"assignments":[{"id":"42c7bbde-af15-435b-85d5-a8a53464bcba","name":"Message","value":"={{ $json.body.message.text }}","type":"string"},{"id":"a61be268-ad5a-49a1-9af7-377127d5a203","name":"Person Name","value":"={{ $json.body.pushname }}","type":"string"},{"id":"525c8525-04c1-42bc-bc73-9e40615e2da2","name":"Person Phone Number","value":"={{ $json.body.from.match(/\\d{10,15}/)[0] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-800,304],"id":"f0ffb4a9-662f-4bcd-9800-86b771bf2a84","name":"Variable"},{"parameters":{"inputText":"=Message sent through whatsapp: {{ $('Variable').item.json.Message }}","categories":{"categories":[{"category":"Task","description":"=# CRITICAL RULE: Any message containing action verbs (doing words) should be classified as TASK.**\n\n# Category: Task\n**Description:** Messages requesting work, changes, or specific actions. ANY MESSAGE WITH VERBS (action words) is automatically a TASK. This includes GMB optimization, SEO services, social media marketing, or any business-related tasks for medical practices.\n\n**Common Task Verbs to Watch For:**\n- create, make, build, design, write, post, publish, schedule\n- update, change, modify, edit, fix, improve, optimize, enhance\n- add, remove, delete, insert, include, exclude\n- send, share, upload, download, submit, deliver\n- manage, handle, take care of, deal with, process\n- review, check, analyze, monitor, track, measure\n- rank, promote, advertise, market, campaign\n- respond, reply, answer, contact, reach out\n- set up, configure, install, implement, launch\n- help, assist, support, guide, show, teach\n\n**Task Examples:**\n- Create a post about our new dermatology services\n- Update my clinic's Google Business listing\n- Make a Facebook ad for dental implants\n- Fix the appointment booking system\n- Schedule posts for Diwali offers\n- Add patient testimonials to website\n- Remove old photos from GMB profile\n- Send me the monthly SEO report\n- Optimize my practice for local search\n- Review our social media performance\n- Rank higher for cardiologist Mumbai\n- Promote our eye surgery packages\n- Respond to negative Google reviews\n- Set up Google Ads campaign\n- Help improve online reputation\n- Check website loading speed\n- Analyze competitor keywords\n- Monitor our online reviews\n- Track appointment bookings\n- Launch World Health Day campaign\n- Write blog content about diabetes\n- Upload new clinic photos\n- Design a logo for pediatric practice\n- Configure appointment booking\n- Implement local SEO strategy"},{"category":"Not Task","description":"=# CRITICAL RULE: Only messages WITHOUT action verbs qualify as NOT TASK.**\n\n### Category: Not Task\n**Description:** Messages without action verbs - pure statements, greetings, appreciations, observations, or informational exchanges that don't request any specific actions.\n\n**Not Task Examples (NO ACTION VERBS):**\n- Good morning!\n- Happy Diwali!\n- Thanks for everything\n- Great results this month\n- The new equipment looks good\n- Patient load is high today\n- Conference was informative\n- Weather is nice today\n- Best wishes for festival\n- Congratulations on the award\n- Hope you are well\n- The campaign results look promising\n- Very satisfied with progress\n- Really happy with the growth\n- Thank you so much\n- Excellent work as always\n- The ROI looks fantastic\n- New patients are coming daily\n- Reviews are much better now\n- Partnership is going great\n- Monthly reports are detailed\n- Website traffic is growing\n- Patient feedback is positive\n- Team collaboration is smooth\n- Online reputation looks better\n- Social media engagement is high\n- Booking numbers are impressive\n- The festival season is here\n- Monsoon preparations are complete\n- Clinic expansion plans are ready\n- Staff training was beneficial"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[-384,288],"id":"987ada31-760b-49b2-8d59-5b86a42f7be2","name":"Text Classifier"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-496,528],"id":"0bdc3367-d7f2-4689-9579-e1f76a849788","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"pmnJNFOqBuhd4qSv","name":"OpenRouter account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=18724759"},"filtersUI":{"values":[{"lookupColumn":"WhatsApp","lookupValue":"={{ $json['Person Phone Number'] }}"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-592,304],"id":"d288ac9a-419f-46eb-831a-51bcaabd479f","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}},"onError":"continueErrorOutput"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":321785781,"mode":"list","cachedResultName":"Employee + Clients","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=321785781"},"filtersUI":{"values":[{"lookupColumn":"Client ID CRM","lookupValue":"={{ $json['Client ID CRM'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-16,224],"id":"4521e6bd-0c29-4919-9615-9ad8efbe888d","name":"Get Assignee","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}}],"connections":{"GetWhatsappMessage":{"main":[[{"node":"Variable","type":"main","index":0}]]},"Variable":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Text Classifier":{"main":[[{"node":"Get Assignee","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Text Classifier","type":"main","index":0}],[]]},"Get Assignee":{"main":[[{"node":"SendTaskRequest","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"G2KZfyUFGXoArofH"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ae4e2e84-d258-4a42-a97e-eb5059b93c64","triggerCount":1,"shared":[{"createdAt":"2025-08-28T15:10:23.417Z","updatedAt":"2025-08-28T15:10:23.417Z","role":"workflow:owner","workflowId":"XNk8e11e5C6BX1IA","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[{"createdAt":"2025-09-02T10:01:51.030Z","updatedAt":"2025-09-02T10:01:51.030Z","id":"mu1NpHC676A7L71l","name":"WhatsApp"}]}