message2task-QM2cq3GVPNIaMp4u.json
{"createdAt":"2025-07-17T09:04:09.150Z","updatedAt":"2025-07-22T08:42:40.876Z","id":"QM2cq3GVPNIaMp4u","name":"Message2Task","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://crm.smartdr.in/rest/tasks","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJhOWZkZTVmNC1iNTc2LTQwZGMtYTAyOC1iYzc4NWNjYjgzYmEiLCJ0eXBlIjoiQVBJX0tFWSIsIndvcmtzcGFjZUlkIjoiYTlmZGU1ZjQtYjU3Ni00MGRjLWEwMjgtYmM3ODVjY2I4M2JhIiwiaWF0IjoxNzUzMTA1OTE0LCJleHAiOjQ5MDY3MDU5MTMsImp0aSI6Ijc1NjcxNmE5LTBiMDQtNDk0Yi1hMjg3LWZlMjUyZGM2YzNlNCJ9.KgiQ8vU3Dn43I54FdCiiYgqblUI9A08ijnj1D4z1M6o"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"title\": \"{{ $json.Message }} - {{ $json['Person Name'] }}\",\n  \"status\": \"TODO\",\n  \"position\": 1,\n  \"dueAt\": \"2025-07-25T17:00:00Z\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,-192],"id":"62f05598-8df9-4885-b889-0eca1d19f352","name":"SendTaskRequest"},{"parameters":{"httpMethod":"POST","path":"chat-to-task","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-176,-32],"id":"8210bff9-ffda-429b-8567-19c29d09e54f","name":"GetWhatsappMessage","webhookId":"e4d96c11-c73c-47a3-808d-52f555deb179"},{"parameters":{"assignments":{"assignments":[{"id":"42c7bbde-af15-435b-85d5-a8a53464bcba","name":"Message","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"a61be268-ad5a-49a1-9af7-377127d5a203","name":"Person Name","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"525c8525-04c1-42bc-bc73-9e40615e2da2","name":"Person Phone Number","value":"={{ $json.body.data.key.remoteJid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[32,-32],"id":"0ec3fb64-83bc-4a10-98cf-ca65248d5485","name":"Variable"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json[\"Person Phone Number\"].slice(2).split(\"@\")[0] }}","rightValue":"9122170442","operator":{"type":"string","operation":"equals"},"id":"5e3c5b2d-f060-4ce8-9523-80a0eb3fd6fa"}],"combinator":"and"},"renameOutput":true,"outputKey":"Dr. Dhanraj"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e96d55aa-dbba-425e-bf4a-cc25bc92caeb","leftValue":"={{ $json['Person Phone Number'] }}","rightValue":"9122170442","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Someone else"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[240,-32],"id":"74c66b27-a0ba-4476-9fd9-c8348163a025","name":"ChooseDoctor"}],"connections":{"GetWhatsappMessage":{"main":[[{"node":"Variable","type":"main","index":0}]]},"Variable":{"main":[[{"node":"ChooseDoctor","type":"main","index":0}]]},"ChooseDoctor":{"main":[[{"node":"SendTaskRequest","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a1104308-4f5a-41fb-9d56-84152b3152a8","triggerCount":1,"tags":[]}