message2task-QM2cq3GVPNIaMp4u.json
{"createdAt":"2025-07-17T09:04:09.150Z","updatedAt":"2025-07-19T13:13:10.965Z","id":"QM2cq3GVPNIaMp4u","name":"Message2Task","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"chat-to-task","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-176,-32],"id":"8210bff9-ffda-429b-8567-19c29d09e54f","name":"Webhook","webhookId":"e4d96c11-c73c-47a3-808d-52f555deb179"},{"parameters":{"assignments":{"assignments":[{"id":"42c7bbde-af15-435b-85d5-a8a53464bcba","name":"Message","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"a61be268-ad5a-49a1-9af7-377127d5a203","name":"Person Name","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"525c8525-04c1-42bc-bc73-9e40615e2da2","name":"Person Phone Number","value":"={{ $json.body.data.key.remoteJid }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[32,-32],"id":"0ec3fb64-83bc-4a10-98cf-ca65248d5485","name":"Edit Fields"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json[\"Person Phone Number\"].slice(2).split(\"@\")[0] }}","rightValue":"9122170442","operator":{"type":"string","operation":"equals"},"id":"5e3c5b2d-f060-4ce8-9523-80a0eb3fd6fa"}],"combinator":"and"},"renameOutput":true,"outputKey":"Dr. Dhanraj"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e96d55aa-dbba-425e-bf4a-cc25bc92caeb","leftValue":"={{ $json['Person Phone Number'] }}","rightValue":"9122170442","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Someone else"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[240,-32],"id":"74c66b27-a0ba-4476-9fd9-c8348163a025","name":"Switch"},{"parameters":{"model":"google/gemma-3-12b-it:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[512,-80],"id":"e23f32d4-e8b3-4a71-b975-ca2c813aa4ce","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"OcOGRPT0IsDwfMRs","name":"OpenRouter account"}}},{"parameters":{"jsonSchemaExample":"{\t\"classification\":\"ACTION_REQUIRED\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[720,-64],"id":"591b33a5-2570-4d1f-a317-ce250e4f4b41","name":"Structured Output Parser"},{"parameters":{"promptType":"define","text":"={{ $json.Message }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=# Role: You are a text classifier for Dr. Smart, a digital marketing agency that provides Google My Business (GMB) management, social media services, content creation, SEO, and website building services to doctors and healthcare professionals.\n\nClassify incoming WhatsApp messages from doctor clients into one of these four categories based on the examples provided. Pay special attention to any message requesting changes to content, posts, or static posts - these should be classified as ACTION_REQUIRED or URGENT_ISSUE, never as NORMAL_MESSAGE or INFORMATION_REQUEST.\n\n# Categories and Examples\n\n##Category 1: **ACTION_REQUIRED**\n###Description: Messages that contain specific requests, tasks, or changes related to GMB, social media, content, SEO, or website services that require Dr. Smart to take action.\n####Examples:\n- \"Please update my GMB profile with new timings\"\n- \"Can you change the profile picture on my Google listing?\"\n- \"I need to add a new service to my GMB\"\n- \"Update my business hours for holidays\"\n- \"Post about our new treatment on social media\"\n- \"Can you create content about diabetes management?\"\n- \"Remove that old post from Facebook\"\n- \"Update the website with new doctor credentials\"\n- \"Add more photos to my Google listing\"\n- \"Change the description in my GMB profile\"\n- \"Can we improve our SEO ranking?\"\n- \"Schedule a post about our new clinic timings\"\n- \"Update my specialization details\"\n- \"Add patient testimonials to the website\"\n- \"Can you optimize my Google listing?\"\n- \"Post about our weekend availability\"\n- \"Update contact information on all platforms\"\n- \"Add new services to the website\"\n- \"Can you improve this content piece?\"\n- \"Make changes to the appointment booking system\"\n- \"Update the clinic address on GMB\"\n- \"Add more keywords to improve search\"\n- \"Can we create a post about vaccination?\"\n- \"Update the doctor's bio on website\"\n- \"Add more reviews management\"\n- \"Can you fix the website loading speed?\"\n- \"Create content for monsoon health tips\"\n- \"Update social media cover photos\"\n- \"Add new treatment packages details\"\n- \"Can you improve the GMB description?\"\n- \"I need changes in the content\"\n- \"Please modify the static post\"\n- \"Change the post we discussed\"\n- \"Update the content for tomorrow's post\"\n- \"Can you edit the post copy?\"\n- \"Modify the caption for Instagram\"\n- \"Change the wording in the post\"\n- \"Update the social media content\"\n- \"Please revise the content draft\"\n- \"Make changes to the Facebook post\"\n- \"Edit the content for the campaign\"\n- \"Alter the post description\"\n- \"Update the post timing\"\n- \"Change the hashtags in the post\"\n- \"Modify the call-to-action\"\n- \"Update the post image\"\n- \"Change the post schedule\"\n- \"Edit the blog content\"\n- \"Update the website content\"\n- \"Modify the GMB post\"\n- \"Change the social media strategy\"\n- \"Update the content calendar\"\n- \"Edit the promotional content\"\n- \"Modify the patient education post\"\n- \"Change the health tips content\"\n- \"Update the clinic announcement\"\n- \"Edit the service description\"\n- \"Modify the doctor introduction post\"\n- \"Change the testimonial format\"\n- \"Update the FAQ content\"\n- \"Edit the appointment booking message\"\n\n##Category 2: NORMAL_MESSAGE\n###Description: General conversations, greetings, questions, feedback, or casual messages that don't require specific service-related actions.\n####Example:\n- \"Hi, how are you?\"\n- \"Thank you for your help\"\n- \"Good morning\"\n- \"How's the weather today?\"\n- \"Happy New Year\"\n- \"Thanks for the quick response\"\n- \"Hope you're doing well\"\n- \"Great work on the recent post\"\n- \"I appreciate your efforts\"\n- \"Good evening\"\n- \"How was your day?\"\n- \"Thanks for the update\"\n- \"Have a great weekend\"\n- \"Looking forward to hearing from you\"\n- \"Hope everything is going well\"\n- \"Thanks for your support\"\n- \"Happy birthday\"\n- \"Congratulations on the success\"\n- \"Take care\"\n- \"See you soon\"\n- \"How's your family?\"\n- \"Thanks for being available\"\n- \"Have a good day\"\n- \"It's been a pleasure working with you\"\n- \"Hope you're staying safe\"\n- \"Good luck with your projects\"\n- \"Thanks for understanding\"\n- \"Have a peaceful day\"\n- \"Hope to connect soon\"\n- \"Take some rest\"\n- \"The post looks good\"\n- \"Nice work on the website\"\n- \"I liked the recent content\"\n- \"Good job on the GMB optimization\"\n- \"The social media posts are engaging\"\n- \"Website is looking great\"\n- \"Happy with the progress\"\n- \"Keep up the good work\"\n- \"Thanks for your dedication\"\n- \"The content quality is excellent\"\n- \"I'm satisfied with the results\"\n- \"Great collaboration\"\n- \"The team is doing well\"\n- \"Appreciated your quick turnaround\"\n- \"The posts are getting good response\"\n- \"Website traffic is improving\"\n- \"Patients are appreciating the content\"\n- \"Good engagement on social media\"\n- \"The SEO efforts are showing results\"\n- \"GMB listing looks professional\"\n- \"Thanks for the monthly update\"\n\n##Category 3: INFORMATION_REQUEST\n###Description: Messages asking for information, reports, status updates, or clarifications about services without requiring immediate action.\n####Examples:\n- \"Can you show me the current GMB analytics?\"\n- \"How many reviews do we have this month?\"\n- \"What's the status of our SEO ranking?\"\n- \"Can you send me the social media performance report?\"\n- \"How many people viewed our posts last week?\"\n- \"What's our current Google ranking?\"\n- \"Can you check if the website is working properly?\"\n- \"How many calls did we get through GMB this month?\"\n- \"What's the engagement rate on our recent posts?\"\n- \"Can you show me the website traffic data?\"\n- \"How many new patients found us through Google?\"\n- \"What's our current review rating?\"\n- \"Can you send me the monthly report?\"\n- \"How's our online visibility compared to competitors?\"\n- \"What's the click-through rate on our ads?\"\n- \"Can you check our social media followers count?\"\n- \"How many appointment bookings came through online?\"\n- \"What's our current search ranking for key terms?\"\n- \"Can you show me the GMB insights?\"\n- \"How many photos have been uploaded to our listing?\"\n- \"What's our Facebook page reach?\"\n- \"Can you check Instagram analytics?\"\n- \"How many leads generated this month?\"\n- \"What's our website conversion rate?\"\n- \"Can you show me the competitor analysis?\"\n- \"How many patient inquiries came through social media?\"\n- \"What's our local search visibility?\"\n- \"Can you check our review response rate?\"\n- \"How many GMB posts were published this month?\"\n- \"What's our social media engagement rate?\"\n- \"Can you show me the content performance metrics?\"\n- \"How many clicks did our posts generate?\"\n- \"What's our average response time to reviews?\"\n- \"Can you check the website bounce rate?\"\n- \"How many people shared our content?\"\n- \"What's our organic search traffic?\"\n- \"Can you show me the social media demographics?\"\n- \"How many GMB questions were answered?\"\n- \"What's our online reputation score?\"\n- \"Can you check our mobile website performance?\"\n\n##Category 4: URGENT_ISSUE\n###Description: Messages indicating problems, emergencies, or critical issues that need immediate attention.\n####Examples:\n- \"The website is down\"\n- \"GMB listing is showing wrong information\"\n- \"There's a negative review that needs immediate response\"\n- \"Social media account has been hacked\"\n- \"Patients are complaining about wrong contact details\"\n- \"Google listing is not showing up in search\"\n- \"The appointment booking system is not working\"\n- \"Wrong business hours are displayed\"\n- \"There's inappropriate content on our social media\"\n- \"The website is showing error messages\"\n- \"GMB profile has been suspended\"\n- \"Patients can't find our location on Google Maps\"\n- \"There's a technical issue with online booking\"\n- \"Social media posts are not going live\"\n- \"The website is loading very slowly\"\n- \"There's a spam review on our GMB\"\n- \"Patients are getting wrong phone numbers\"\n- \"The website form is not working\"\n- \"There's a data breach concern\"\n- \"SEO ranking has dropped significantly\"\n- \"The content posted is wrong\"\n- \"There's an error in the static post\"\n- \"The post has incorrect information\"\n- \"Wrong image was posted on social media\"\n- \"The scheduled post didn't go live\"\n- \"There's a typo in the recent post\"\n- \"The post content is inappropriate\"\n- \"Wrong timing displayed in the post\"\n- \"The content is showing on wrong platform\"\n- \"There's a broken link in the post\"\n- \"The post image is not loading\"\n- \"Wrong doctor's name in the content\"\n- \"The post has outdated information\"\n- \"There's a formatting issue with the content\"\n- \"The post is showing wrong clinic address\"\n- \"The content is not mobile-friendly\"\n- \"There's a copyright issue with the post\"\n- \"The post hashtags are not working\"\n- \"Wrong specialization mentioned in content\"\n- \"The post scheduling is completely wrong\"\n- \"Content is showing on competitor's page\"\n- \"The post violates platform guidelines\"\n- \"There's a serious error in medical content\"\n- \"The post contains sensitive patient information\"\n- \"Wrong pricing displayed in the content\"\n- \"The post is showing in wrong language\"\n- \"Content automation has stopped working\"\n- \"There's a duplicate post issue\"\n- \"The post contains broken medical advice\"\n- \"Content is not complying with medical regulations\"\n\n#Output Expected: Category of the message. No Reasoning, or any thing. Just define what is the category of the message."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[512,-256],"id":"b540f0bc-a96f-4a75-a2d4-732da633f400","name":"Message Categorizing"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Message Categorizing","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Message Categorizing","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Message Categorizing","type":"ai_outputParser","index":0}]]},"Message Categorizing":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"667e7950-4aea-48a3-96de-581883c30697","triggerCount":0,"tags":[]}