monthly-automated-messages---part-3-vefX0UtbsX4qEJTD.json
{"createdAt":"2025-10-06T09:17:26.937Z","updatedAt":"2025-11-19T09:57:59.426Z","id":"vefX0UtbsX4qEJTD","name":"Monthly Automated Messages - Part 3","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":6,"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-272,2528],"id":"e143b588-3d6e-41ad-9994-94e2ca4d52a2","name":"Schedule Trigger8"},{"parameters":{"assignments":{"assignments":[{"id":"9037c411-5d0b-44a5-90b2-aacb6912c5a3","name":"Monthly Message\t1st","value":"=*Requesting for Video Testimonial*\n\nHi Dr,\nTo create engaging and informative content, we encourage you to seek video (30-40 sec) testimonials from your patients.\n\nOnce you get the video testimonials, please share it with us so we can edit the raw footage and enable it with the required multimedia and post it on your Social Media.\n\nLooking forward to your positive reply on this.\n\nBest Regards,\nTeam Dr Smart","type":"string"},{"id":"cb27e360-9140-46f5-ab02-75a3401e5c3a","name":"WhatsApp Number","value":"={{ (p => (p = String(p || \"\").replace(/\\D/g,\"\"), p.length === 10 ? \"91\" + p : p.length === 12 && p.startsWith(\"91\") ? p : p.length > 12 ? \"91\" + p.slice(-10) : p))($json.WhatsApp) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[672,2544],"id":"aebb0abb-c211-4e5a-9073-b505561e67f1","name":"Edit Fields8"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-48,2528],"id":"6ca93ece-8475-43bf-9a92-9372b1330c09","name":"Get row(s) in sheet8","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[160,2528],"id":"c6f5397f-c0e0-474e-962f-6d30d126500f","name":"Loop Over Items8"},{"parameters":{"amount":"={{ $json.randomNumber }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1280,2544],"id":"cfd48cc5-c8b2-4b13-a486-f78ac1415480","name":"Wait8","webhookId":"1e06c448-b5f7-43f6-b03f-b6b9dbe4a2d1"},{"parameters":{"jsCode":"// Generate a random number between 1 and 10 with two decimal precision\nconst randomNumber = (Math.random() * (180 - 1) + 1).toFixed(0);\n\n// Return it as output\nreturn [\n  {\n    json: {\n      randomNumber: parseFloat(randomNumber)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,2544],"id":"ca9f13ef-7197-4c83-bb2a-554fca57e6e6","name":"RandomeTimeDigit8"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"filtersUI":{"values":[{"lookupColumn":"Sl No.","lookupValue":"={{ $json['Sl No.'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[480,2544],"id":"31bae00a-b8a8-4c8a-b648-7f6b3f6ab607","name":"Get row WA Number8","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}},{"parameters":{"content":"## Monthly Message 6th","height":528,"width":1936,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-384,2304],"id":"1e151575-c13d-4dab-aab2-8d2373781b75","name":"Sticky Note8"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":13,"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-272,3168],"id":"ca1075d0-4297-4963-96a1-97be1c7b1708","name":"Schedule Trigger9"},{"parameters":{"assignments":{"assignments":[{"id":"9037c411-5d0b-44a5-90b2-aacb6912c5a3","name":"Monthly Message\t1st","value":"=*Requesting for Video Testimonial*\n\nHi Dr,\nTo create engaging and informative content, we encourage you to seek video (30-40 sec) testimonials from your patients.\n\nOnce you get the video testimonials, please share it with us so we can edit the raw footage and enable it with the required multimedia and post it on your Social Media.\n\nLooking forward to your positive reply on this.\n\nBest Regards,\nTeam Dr Smart","type":"string"},{"id":"cb27e360-9140-46f5-ab02-75a3401e5c3a","name":"WhatsApp Number","value":"={{ (p => (p = String(p || \"\").replace(/\\D/g,\"\"), p.length === 10 ? \"91\" + p : p.length === 12 && p.startsWith(\"91\") ? p : p.length > 12 ? \"91\" + p.slice(-10) : p))($json.WhatsApp) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,3184],"id":"e1a787d4-b7cc-4dba-9ec9-57aa3a51422e","name":"Edit Fields9"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-48,3168],"id":"eb2c55eb-37cd-4030-98c9-f1c13be2b4c6","name":"Get row(s) in sheet9","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[160,3168],"id":"cd727b81-76b9-40f2-8199-6d5972f4cc2b","name":"Loop Over Items9"},{"parameters":{"amount":"={{ $json.randomNumber }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1248,3184],"id":"9e6b4208-ff0f-4742-9d32-2995adfdc3de","name":"Wait9","webhookId":"8ddb7b9b-d266-45d0-a4cc-bff795e54ed1"},{"parameters":{"jsCode":"// Generate a random number between 1 and 10 with two decimal precision\nconst randomNumber = (Math.random() * (180 - 1) + 1).toFixed(0);\n\n// Return it as output\nreturn [\n  {\n    json: {\n      randomNumber: parseFloat(randomNumber)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,3184],"id":"6755eece-8d57-44ab-a19c-eac6f08bb4b7","name":"RandomeTimeDigit9"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"filtersUI":{"values":[{"lookupColumn":"Sl No.","lookupValue":"={{ $json['Sl No.'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[448,3184],"id":"565dc559-5dee-493d-b4ec-5b391945f3b7","name":"Get row WA Number9","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}},{"parameters":{"content":"## Monthly Message 13th","height":560,"width":1936,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-384,2912],"id":"0d19dfd6-847c-4411-a75f-4b1a0b86b359","name":"Sticky Note9"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":20,"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1808,2512],"id":"594b49eb-39c5-44e2-a0d9-8c2b5b19e428","name":"Schedule Trigger10"},{"parameters":{"assignments":{"assignments":[{"id":"9037c411-5d0b-44a5-90b2-aacb6912c5a3","name":"Monthly Message\t1st","value":"=*Requesting for Video Testimonial*\n\nHi Dr,\nTo create engaging and informative content, we encourage you to seek video (30-40 sec) testimonials from your patients.\n\nOnce you get the video testimonials, please share it with us so we can edit the raw footage and enable it with the required multimedia and post it on your Social Media.\n\nLooking forward to your positive reply on this.\n\nBest Regards,\nTeam Dr Smart","type":"string"},{"id":"cb27e360-9140-46f5-ab02-75a3401e5c3a","name":"WhatsApp Number","value":"={{ (p => (p = String(p || \"\").replace(/\\D/g,\"\"), p.length === 10 ? \"91\" + p : p.length === 12 && p.startsWith(\"91\") ? p : p.length > 12 ? \"91\" + p.slice(-10) : p))($json.WhatsApp) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2720,2528],"id":"79dffcd2-3baf-4dec-9a59-d8cd7426b148","name":"Edit Fields10"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2032,2512],"id":"df032233-d777-4afd-b277-88f331d0f869","name":"Get row(s) in sheet10","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2240,2512],"id":"4caa2a8d-f49e-4541-8016-96913a4a56df","name":"Loop Over Items10"},{"parameters":{"amount":"={{ $json.randomNumber }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3328,2528],"id":"403aae31-d8f1-4694-9483-d4e00e4b73d1","name":"Wait10","webhookId":"a21e41d0-fa52-49cc-84cf-3287050f081d"},{"parameters":{"jsCode":"// Generate a random number between 1 and 10 with two decimal precision\nconst randomNumber = (Math.random() * (180 - 1) + 1).toFixed(0);\n\n// Return it as output\nreturn [\n  {\n    json: {\n      randomNumber: parseFloat(randomNumber)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3120,2528],"id":"04dc8ce4-757d-4ecb-93f1-0711c4242ea6","name":"RandomeTimeDigit10"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"filtersUI":{"values":[{"lookupColumn":"Sl No.","lookupValue":"={{ $json['Sl No.'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2528,2528],"id":"763b1f0b-9ef6-4f8b-9ad0-3645774907a5","name":"Get row WA Number10","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}},{"parameters":{"content":"## Monthly Message 20th","height":512,"width":1936,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1696,2304],"id":"5c3a7719-1fab-4434-87a8-13c54c804ded","name":"Sticky Note10"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":27,"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1808,3152],"id":"37bf402d-2314-4220-a954-961e246bb3dc","name":"Schedule Trigger11"},{"parameters":{"assignments":{"assignments":[{"id":"9037c411-5d0b-44a5-90b2-aacb6912c5a3","name":"Monthly Message\t1st","value":"=*Requesting for Video Testimonial*\n\nHi Dr,\nTo create engaging and informative content, we encourage you to seek video (30-40 sec) testimonials from your patients.\n\nOnce you get the video testimonials, please share it with us so we can edit the raw footage and enable it with the required multimedia and post it on your Social Media.\n\nLooking forward to your positive reply on this.\n\nBest Regards,\nTeam Dr Smart","type":"string"},{"id":"cb27e360-9140-46f5-ab02-75a3401e5c3a","name":"WhatsApp Number","value":"={{ (p => (p = String(p || \"\").replace(/\\D/g,\"\"), p.length === 10 ? \"91\" + p : p.length === 12 && p.startsWith(\"91\") ? p : p.length > 12 ? \"91\" + p.slice(-10) : p))($json.WhatsApp) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2720,3168],"id":"d0b88990-7c72-406f-aeac-bee118ddb020","name":"Edit Fields11"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2032,3152],"id":"103a5e92-07f2-4666-bdca-4ea3d1555725","name":"Get row(s) in sheet11","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2240,3152],"id":"b8e9c363-2abe-48a0-bc9b-0a5b66929cc9","name":"Loop Over Items11"},{"parameters":{"amount":"={{ $json.randomNumber }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3328,3168],"id":"10e99776-4476-436d-8b37-2b53e63137c9","name":"Wait11","webhookId":"96be93bf-3850-453a-b956-ebd6bd5049ea"},{"parameters":{"jsCode":"// Generate a random number between 1 and 10 with two decimal precision\nconst randomNumber = (Math.random() * (180 - 1) + 1).toFixed(0);\n\n// Return it as output\nreturn [\n  {\n    json: {\n      randomNumber: parseFloat(randomNumber)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3120,3168],"id":"8c52cd2a-0c58-4555-a9af-fcf5a364e21e","name":"RandomeTimeDigit11"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=18724759"},"filtersUI":{"values":[{"lookupColumn":"Sl No.","lookupValue":"={{ $json['Sl No.'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2528,3168],"id":"73da39c5-38d3-4a90-82d6-c645f0879b8b","name":"Get row WA Number11","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}},{"parameters":{"content":"## Monthly Message 27th","height":560,"width":1936,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1696,2896],"id":"cb624dd0-5c9e-42bd-b8f4-786cdd495005","name":"Sticky Note11"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[912,2352],"id":"80c3b67c-54a3-4727-addf-60be30f06648","name":"Loop Over Items26"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1392,2368],"id":"5447be79-3bb9-40bf-8818-730c9fe488a9","name":"Wait26","webhookId":"c1065ba9-97d5-43ec-b09c-be87e4a0a295"},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[688,2352],"id":"c5fb71af-24e2-4b47-a12a-80bf65e2e0ec","name":"Remove Duplicates2"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":518420944,"mode":"list","cachedResultName":"Employee List - WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=518420944"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[480,2352],"id":"44775fb4-d90c-4899-a128-d9057ebad1f3","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[880,2976],"id":"27616973-7575-48f2-bb92-2b071899fef2","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1360,2992],"id":"5c9bd7d6-f8ab-45be-ad54-6ee18efa01a4","name":"Wait","webhookId":"c1065ba9-97d5-43ec-b09c-be87e4a0a295"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":518420944,"mode":"list","cachedResultName":"Employee List - WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=518420944"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[448,2976],"id":"79739071-ebe5-42d3-8b85-431b5127347f","name":"Get row(s) in sheet12","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[656,2976],"id":"21f24c5c-4158-4690-9c8b-020d396095a2","name":"Remove Duplicates"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2944,2336],"id":"6fb2579c-2176-4f22-b773-765442dcac6e","name":"Loop Over Items27"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3424,2352],"id":"bf378f5a-a214-4d1a-890b-c01167a7e7e0","name":"Wait27","webhookId":"c1065ba9-97d5-43ec-b09c-be87e4a0a295"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":518420944,"mode":"list","cachedResultName":"Employee List - WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=518420944"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2512,2336],"id":"fd793f19-1bb2-4479-882d-0428b22a285e","name":"Get row(s) in sheet13","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[2720,2336],"id":"4a35466a-2884-4797-9379-ce630324bc10","name":"Remove Duplicates3"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2944,2960],"id":"185ae1dc-146a-4fd2-acb2-15611b6b7339","name":"Loop Over Items28"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3424,2976],"id":"eb890926-a3cc-4609-bf15-0e1fa72faeb3","name":"Wait28","webhookId":"c1065ba9-97d5-43ec-b09c-be87e4a0a295"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":518420944,"mode":"list","cachedResultName":"Employee List - WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=518420944"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2512,2960],"id":"47327626-770e-4894-b174-418d43805ae0","name":"Get row(s) in sheet14","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[2720,2960],"id":"0e844fcc-701b-455b-b216-e6a1bd67cb2e","name":"Remove Duplicates4"},{"parameters":{"phoneNumber":"={{ $json['WhatsApp Number'] }}","message":"={{ $json['Monthly Message\t1st'] }}"},"type":"@aldinokemal2104/n8n-nodes-gowa.gowa","typeVersion":1,"position":[880,2544],"id":"eec0835b-7462-4c50-aa4a-02e329afb471","name":"Send a text message12","credentials":{"goWhatsappApi":{"id":"mZAEXMToCau4GSWu","name":"GOWA account"}}},{"parameters":{"phoneNumber":"={{ $json['WhatsApp Number'] }}","message":"={{ $json['Monthly Message\t1st'] }}"},"type":"@aldinokemal2104/n8n-nodes-gowa.gowa","typeVersion":1,"position":[848,3184],"id":"f21a1a1c-e29d-42a1-b1e3-f8fbe5c867bc","name":"Send a text message13","credentials":{"goWhatsappApi":{"id":"mZAEXMToCau4GSWu","name":"GOWA account"}}},{"parameters":{"phoneNumber":"={{ $json['WhatsApp Number'] }}","message":"={{ $json['Monthly Message\t1st'] }}"},"type":"@aldinokemal2104/n8n-nodes-gowa.gowa","typeVersion":1,"position":[2928,3168],"id":"03f1b871-e2f7-4bf6-8b7a-2a3d36b0974b","name":"Send a text message14","credentials":{"goWhatsappApi":{"id":"mZAEXMToCau4GSWu","name":"GOWA account"}}},{"parameters":{"phoneNumber":"={{ $json['WhatsApp Number'] }}","message":"={{ $json['Monthly Message\t1st'] }}"},"type":"@aldinokemal2104/n8n-nodes-gowa.gowa","typeVersion":1,"position":[2944,2528],"id":"757d7eb5-e5f9-4cc5-9ad8-f093d8da3fb3","name":"Send a text message15","credentials":{"goWhatsappApi":{"id":"mZAEXMToCau4GSWu","name":"GOWA account"}}},{"parameters":{"phoneNumber":"=91{{ $json['WhatApp Number'] }}","message":"=*Requesting for Video Testimonial*\n\nHi Dr,\nTo create engaging and informative content, we encourage you to seek video (30-40 sec) testimonials from your patients.\n\nOnce you get the video testimonials, please share it with us so we can edit the raw footage and enable it with the required multimedia and post it on your Social Media.\n\nLooking forward to your positive reply on this.\n\nBest Regards,\nTeam Dr Smart"},"type":"@aldinokemal2104/n8n-nodes-gowa.gowa","typeVersion":1,"position":[1152,2368],"id":"314f7652-2423-4ffb-bce7-07e320f6a22b","name":"Send a text message10","credentials":{"goWhatsappApi":{"id":"mZAEXMToCau4GSWu","name":"GOWA account"}}},{"parameters":{"phoneNumber":"=91{{ $json['WhatApp Number'] }}","message":"=*Requesting for Video Testimonial*\n\nHi Dr,\nTo create engaging and informative content, we encourage you to seek video (30-40 sec) testimonials from your patients.\n\nOnce you get the video testimonials, please share it with us so we can edit the raw footage and enable it with the required multimedia and post it on your Social Media.\n\nLooking forward to your positive reply on this.\n\nBest Regards,\nTeam Dr Smart"},"type":"@aldinokemal2104/n8n-nodes-gowa.gowa","typeVersion":1,"position":[1120,2992],"id":"2cbcad9d-9489-4644-b2b9-35c77f0e42a1","name":"Send a text message11","credentials":{"goWhatsappApi":{"id":"mZAEXMToCau4GSWu","name":"GOWA account"}}},{"parameters":{"phoneNumber":"=91{{ $json['WhatApp Number'] }}","message":"=*Requesting for Video Testimonial*\n\nHi Dr,\nTo create engaging and informative content, we encourage you to seek video (30-40 sec) testimonials from your patients.\n\nOnce you get the video testimonials, please share it with us so we can edit the raw footage and enable it with the required multimedia and post it on your Social Media.\n\nLooking forward to your positive reply on this.\n\nBest Regards,\nTeam Dr Smart"},"type":"@aldinokemal2104/n8n-nodes-gowa.gowa","typeVersion":1,"position":[3200,2352],"id":"451f6098-a279-496d-a93e-50de8e9bc310","name":"Send a text message","credentials":{"goWhatsappApi":{"id":"mZAEXMToCau4GSWu","name":"GOWA account"}}},{"parameters":{"phoneNumber":"=91{{ $json['WhatApp Number'] }}","message":"=*Requesting for Video Testimonial*\n\nHi Dr,\nTo create engaging and informative content, we encourage you to seek video (30-40 sec) testimonials from your patients.\n\nOnce you get the video testimonials, please share it with us so we can edit the raw footage and enable it with the required multimedia and post it on your Social Media.\n\nLooking forward to your positive reply on this.\n\nBest Regards,\nTeam Dr Smart"},"type":"@aldinokemal2104/n8n-nodes-gowa.gowa","typeVersion":1,"position":[3216,2976],"id":"4f353ec7-cb1e-4316-acc2-c841fe0ad5c8","name":"Send a text message1","credentials":{"goWhatsappApi":{"id":"mZAEXMToCau4GSWu","name":"GOWA account"}}}],"connections":{"Schedule Trigger8":{"main":[[{"node":"Get row(s) in sheet8","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"Send a text message12","type":"main","index":0}]]},"Get row(s) in sheet8":{"main":[[{"node":"Loop Over Items8","type":"main","index":0}]]},"Loop Over Items8":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}],[{"node":"Get row WA Number8","type":"main","index":0}]]},"Wait8":{"main":[[{"node":"Loop Over Items8","type":"main","index":0}]]},"RandomeTimeDigit8":{"main":[[{"node":"Wait8","type":"main","index":0}]]},"Get row WA Number8":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"Schedule Trigger9":{"main":[[{"node":"Get row(s) in sheet9","type":"main","index":0}]]},"Edit Fields9":{"main":[[{"node":"Send a text message13","type":"main","index":0}]]},"Get row(s) in sheet9":{"main":[[{"node":"Loop Over Items9","type":"main","index":0}]]},"Loop Over Items9":{"main":[[{"node":"Get row(s) in sheet12","type":"main","index":0}],[{"node":"Get row WA Number9","type":"main","index":0}]]},"Wait9":{"main":[[{"node":"Loop Over Items9","type":"main","index":0}]]},"RandomeTimeDigit9":{"main":[[{"node":"Wait9","type":"main","index":0}]]},"Get row WA Number9":{"main":[[{"node":"Edit Fields9","type":"main","index":0}]]},"Schedule Trigger10":{"main":[[{"node":"Get row(s) in sheet10","type":"main","index":0}]]},"Edit Fields10":{"main":[[{"node":"Send a text message15","type":"main","index":0}]]},"Get row(s) in sheet10":{"main":[[{"node":"Loop Over Items10","type":"main","index":0}]]},"Loop Over Items10":{"main":[[{"node":"Get row(s) in sheet13","type":"main","index":0}],[{"node":"Get row WA Number10","type":"main","index":0}]]},"Wait10":{"main":[[{"node":"Loop Over Items10","type":"main","index":0}]]},"RandomeTimeDigit10":{"main":[[{"node":"Wait10","type":"main","index":0}]]},"Get row WA Number10":{"main":[[{"node":"Edit Fields10","type":"main","index":0}]]},"Schedule Trigger11":{"main":[[{"node":"Get row(s) in sheet11","type":"main","index":0}]]},"Edit Fields11":{"main":[[{"node":"Send a text message14","type":"main","index":0}]]},"Get row(s) in sheet11":{"main":[[{"node":"Loop Over Items11","type":"main","index":0}]]},"Loop Over Items11":{"main":[[{"node":"Get row(s) in sheet14","type":"main","index":0}],[{"node":"Get row WA Number11","type":"main","index":0}]]},"Wait11":{"main":[[{"node":"Loop Over Items11","type":"main","index":0}]]},"RandomeTimeDigit11":{"main":[[{"node":"Wait11","type":"main","index":0}]]},"Get row WA Number11":{"main":[[{"node":"Edit Fields11","type":"main","index":0}]]},"Loop Over Items26":{"main":[[],[{"node":"Send a text message10","type":"main","index":0}]]},"Wait26":{"main":[[{"node":"Loop Over Items26","type":"main","index":0}]]},"Remove Duplicates2":{"main":[[{"node":"Loop Over Items26","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Remove Duplicates2","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Send a text message11","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get row(s) in sheet12":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items27":{"main":[[],[{"node":"Send a text message","type":"main","index":0}]]},"Wait27":{"main":[[{"node":"Loop Over Items27","type":"main","index":0}]]},"Get row(s) in sheet13":{"main":[[{"node":"Remove Duplicates3","type":"main","index":0}]]},"Remove Duplicates3":{"main":[[{"node":"Loop Over Items27","type":"main","index":0}]]},"Loop Over Items28":{"main":[[],[{"node":"Send a text message1","type":"main","index":0}]]},"Wait28":{"main":[[{"node":"Loop Over Items28","type":"main","index":0}]]},"Get row(s) in sheet14":{"main":[[{"node":"Remove Duplicates4","type":"main","index":0}]]},"Remove Duplicates4":{"main":[[{"node":"Loop Over Items28","type":"main","index":0}]]},"Send a text message15":{"main":[[{"node":"RandomeTimeDigit10","type":"main","index":0}]]},"Send a text message14":{"main":[[{"node":"RandomeTimeDigit11","type":"main","index":0}]]},"Send a text message10":{"main":[[{"node":"Wait26","type":"main","index":0}]]},"Send a text message13":{"main":[[{"node":"RandomeTimeDigit9","type":"main","index":0}]]},"Send a text message12":{"main":[[{"node":"RandomeTimeDigit8","type":"main","index":0}]]},"Send a text message11":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Send a text message1":{"main":[[{"node":"Wait28","type":"main","index":0}]]},"Send a text message":{"main":[[{"node":"Wait27","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"G2KZfyUFGXoArofH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Schedule Trigger2":{"recurrenceRules":[]},"node:Schedule Trigger3":{"recurrenceRules":[]},"node:Schedule Trigger4":{"recurrenceRules":[]},"node:Schedule Trigger5":{"recurrenceRules":[]},"node:Schedule Trigger6":{"recurrenceRules":[]},"node:Schedule Trigger7":{"recurrenceRules":[]},"node:Schedule Trigger8":{"recurrenceRules":[]},"node:Schedule Trigger9":{"recurrenceRules":[]},"node:Schedule Trigger10":{"recurrenceRules":[]},"node:Schedule Trigger11":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e8ae16da-d1f4-4e56-b04d-f75b2e79b19f","triggerCount":4,"shared":[{"createdAt":"2025-10-06T09:17:26.937Z","updatedAt":"2025-10-06T09:17:26.937Z","role":"workflow:owner","workflowId":"vefX0UtbsX4qEJTD","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[{"createdAt":"2025-09-02T10:01:51.030Z","updatedAt":"2025-09-02T10:01:51.030Z","id":"mu1NpHC676A7L71l","name":"WhatsApp"}]}