monthly-automated-messages---part-2-tQiFFd2U4oPfZBTJ.json
{"createdAt":"2025-10-06T09:17:34.391Z","updatedAt":"2025-10-06T10:53:40.475Z","id":"tQiFFd2U4oPfZBTJ","name":"Monthly Automated Messages - Part 2","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":4,"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-304,1328],"id":"9d17dadf-7b8d-40d0-a25a-bcd227b678b9","name":"Schedule Trigger4"},{"parameters":{"assignments":{"assignments":[{"id":"9037c411-5d0b-44a5-90b2-aacb6912c5a3","name":"Monthly Message\t1st","value":"=*Case Study Request for Social Media Content*\n\nHi Dr,\n\nKindly provide the following details to create a case study:\n\nPatient Name :\nAge of the Patient:\nGender of the Patient:\nPatient's Location:\n\nPatient's Problem:\nCondition Identified as:\nTreatment Given:\nEnd Results:\n\nLooking forward to your response.\n\nBest Regards,\nTeam Dr Smart","type":"string"},{"id":"cb27e360-9140-46f5-ab02-75a3401e5c3a","name":"WhatsApp Number","value":"={{ $json.WhatsApp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,1344],"id":"2f1a2447-2e6c-41e9-b2ea-69f25adb68fb","name":"Edit Fields4"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"={{ $json['WhatsApp Number'] }}","text":"={{ $json['Monthly Message\t1st'] }}","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[800,1344],"id":"a54a705d-3f26-405a-b866-9ec8e59cfdb6","name":"Send a text message4","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-80,1328],"id":"fb5e5b3f-fe96-4883-977f-bb00250ae29f","name":"Get row(s) in sheet4","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"Official Google Sheet"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[128,1328],"id":"9dcc79a7-9078-478d-80aa-83860966fd81","name":"Loop Over Items4"},{"parameters":{"amount":"={{ $json.randomNumber }}","unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1216,1344],"id":"1ce2d390-4b29-4234-840f-e291ac749dad","name":"Wait4","webhookId":"b62a3baa-7ce9-4763-89f4-a695d3a4e2bc"},{"parameters":{"jsCode":"// Generate a random number between 1 and 10 with two decimal precision\nconst randomNumber = (Math.random() * (10 - 1) + 1).toFixed(0);\n\n// Return it as output\nreturn [\n  {\n    json: {\n      randomNumber: parseFloat(randomNumber)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,1344],"id":"88870557-1ad1-4b5c-9ffa-60c27ce3cccb","name":"RandomeTimeDigit4"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"filtersUI":{"values":[{"lookupColumn":"Sl No.","lookupValue":"={{ $json['Sl No.'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[416,1344],"id":"ec587a7e-2ec1-492b-a956-3bc5a986a92c","name":"Get row WA Number4","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"Official Google Sheet"}}},{"parameters":{"content":"## Monthly Message 4th","height":528,"width":1936,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-416,1104],"id":"e80335d4-43cb-4635-9cf4-d55b0aea7417","name":"Sticky Note4"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":11,"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-288,1936],"id":"63dc12bf-d461-4c75-a5b4-8869fb14bd54","name":"Schedule Trigger5"},{"parameters":{"assignments":{"assignments":[{"id":"9037c411-5d0b-44a5-90b2-aacb6912c5a3","name":"Monthly Message\t1st","value":"=*Case Study Request for Social Media Content*\n\nHi Dr,\n\nKindly provide the following details to create a case study:\n\nPatient Name :\nAge of the Patient:\nGender of the Patient:\nPatient's Location:\n\nPatient's Problem:\nCondition Identified as:\nTreatment Given:\nEnd Results:\n\nLooking forward to your response.\n\nBest Regards,\nTeam Dr Smart","type":"string"},{"id":"cb27e360-9140-46f5-ab02-75a3401e5c3a","name":"WhatsApp Number","value":"={{ $json.WhatsApp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,1952],"id":"dd6a61a4-cac1-405c-9221-e8116b128ac8","name":"Edit Fields5"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"={{ $json['WhatsApp Number'] }}","text":"={{ $json['Monthly Message\t1st'] }}","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[816,1952],"id":"b0c61de1-af15-4c3d-a02f-92d40c358c2a","name":"Send a text message5","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-64,1936],"id":"0b53f692-21e7-4646-b405-73a5bf7908a9","name":"Get row(s) in sheet5","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"Official Google Sheet"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[144,1936],"id":"ee0066eb-8554-4052-93b2-428cb70e245b","name":"Loop Over Items5"},{"parameters":{"amount":"={{ $json.randomNumber }}","unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1232,1952],"id":"a1a7b3dd-f89c-4762-8e24-fcd7f130abf3","name":"Wait5","webhookId":"d5cf8d5d-59b0-4108-a7f2-7b30b24d0cab"},{"parameters":{"jsCode":"// Generate a random number between 1 and 10 with two decimal precision\nconst randomNumber = (Math.random() * (10 - 1) + 1).toFixed(0);\n\n// Return it as output\nreturn [\n  {\n    json: {\n      randomNumber: parseFloat(randomNumber)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,1952],"id":"7ad09fef-ea4b-4539-9ea1-0030d9d6165d","name":"RandomeTimeDigit5"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"filtersUI":{"values":[{"lookupColumn":"Sl No.","lookupValue":"={{ $json['Sl No.'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[432,1952],"id":"0298caee-5dea-4203-8cb7-a23654b81270","name":"Get row WA Number5","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"Official Google Sheet"}}},{"parameters":{"content":"## Monthly Message 11th","height":528,"width":1936,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-400,1712],"id":"9f9df973-866e-4abd-bfd9-685538f40364","name":"Sticky Note5"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":18,"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1808,1344],"id":"f8e7d71e-bade-49e6-95a8-093dc0392c7a","name":"Schedule Trigger6"},{"parameters":{"assignments":{"assignments":[{"id":"9037c411-5d0b-44a5-90b2-aacb6912c5a3","name":"Monthly Message\t1st","value":"=*Case Study Request for Social Media Content*\n\nHi Dr,\n\nKindly provide the following details to create a case study:\n\nPatient Name :\nAge of the Patient:\nGender of the Patient:\nPatient's Location:\n\nPatient's Problem:\nCondition Identified as:\nTreatment Given:\nEnd Results:\n\nLooking forward to your response.\n\nBest Regards,\nTeam Dr Smart","type":"string"},{"id":"cb27e360-9140-46f5-ab02-75a3401e5c3a","name":"WhatsApp Number","value":"={{ $json.WhatsApp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2720,1360],"id":"ff16ee14-a208-4690-9925-a0132d61dd3f","name":"Edit Fields6"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"={{ $json['WhatsApp Number'] }}","text":"={{ $json['Monthly Message\t1st'] }}","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[2912,1360],"id":"35a098e7-88fa-4424-a450-66708dfd5950","name":"Send a text message6","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2032,1344],"id":"a6c27f35-1a88-4659-bb07-773d4335032d","name":"Get row(s) in sheet6","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"Official Google Sheet"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2240,1344],"id":"aad6066b-5f5e-4897-bbde-5647de05a2be","name":"Loop Over Items6"},{"parameters":{"amount":"={{ $json.randomNumber }}","unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3328,1360],"id":"6f1fe0c4-2187-458d-92be-e96a265582f8","name":"Wait6","webhookId":"c7fdd358-6b2b-4ab6-afc4-5cc428b20ed6"},{"parameters":{"jsCode":"// Generate a random number between 1 and 10 with two decimal precision\nconst randomNumber = (Math.random() * (10 - 1) + 1).toFixed(0);\n\n// Return it as output\nreturn [\n  {\n    json: {\n      randomNumber: parseFloat(randomNumber)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3120,1360],"id":"447f1654-6107-429e-84ad-5288b128793a","name":"RandomeTimeDigit6"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"filtersUI":{"values":[{"lookupColumn":"Sl No.","lookupValue":"={{ $json['Sl No.'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2528,1360],"id":"45640382-097d-46db-bc20-7d403f04d79f","name":"Get row WA Number6","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"Official Google Sheet"}}},{"parameters":{"content":"## Monthly Message 18th","height":528,"width":1936,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1680,1104],"id":"844e9017-b7a3-43db-a17b-b68f671b6239","name":"Sticky Note6"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":25,"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1824,1936],"id":"828dbc73-abf5-4919-b1a6-2b76a7079576","name":"Schedule Trigger7"},{"parameters":{"assignments":{"assignments":[{"id":"9037c411-5d0b-44a5-90b2-aacb6912c5a3","name":"Monthly Message\t1st","value":"=*Case Study Request for Social Media Content*\n\nHi Dr,\n\nKindly provide the following details to create a case study:\n\nPatient Name :\nAge of the Patient:\nGender of the Patient:\nPatient's Location:\n\nPatient's Problem:\nCondition Identified as:\nTreatment Given:\nEnd Results:\n\nLooking forward to your response.\n\nBest Regards,\nTeam Dr Smart","type":"string"},{"id":"cb27e360-9140-46f5-ab02-75a3401e5c3a","name":"WhatsApp Number","value":"={{ $json.WhatsApp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2736,1952],"id":"fcc37065-0c3d-4f15-ae08-e8e4d9046eef","name":"Edit Fields7"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"={{ $json['WhatsApp Number'] }}","text":"={{ $json['Monthly Message\t1st'] }}","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[2928,1952],"id":"445c3f52-1691-4aff-a243-8b08c1ed111b","name":"Send a text message7","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2048,1936],"id":"ee85290d-9609-430e-910f-d8fee0eacf7a","name":"Get row(s) in sheet7","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"Official Google Sheet"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2256,1936],"id":"63c9b05f-4666-47f4-a78d-58570a9dfc16","name":"Loop Over Items7"},{"parameters":{"amount":"={{ $json.randomNumber }}","unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3344,1952],"id":"e3c3c705-baef-4850-9945-a70bae6bea77","name":"Wait7","webhookId":"375e6330-9512-409a-9c92-69b28570a700"},{"parameters":{"jsCode":"// Generate a random number between 1 and 10 with two decimal precision\nconst randomNumber = (Math.random() * (10 - 1) + 1).toFixed(0);\n\n// Return it as output\nreturn [\n  {\n    json: {\n      randomNumber: parseFloat(randomNumber)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3136,1952],"id":"a03ee121-9cf2-42ec-8c16-9bd71465b7e7","name":"RandomeTimeDigit7"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"filtersUI":{"values":[{"lookupColumn":"Sl No.","lookupValue":"={{ $json['Sl No.'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2544,1952],"id":"89d5829e-bc05-452b-a2e6-bfcc9d25499b","name":"Get row WA Number7","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"Official Google Sheet"}}},{"parameters":{"content":"## Monthly Message 25th","height":544,"width":1936,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1696,1696],"id":"14ca6eb6-3f55-4252-a519-ec1da307669b","name":"Sticky Note7"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"={{ $json['Phone No.'] }}","text":"=*Case Study Request for Social Media Content*\n\nHi Dr,\n\nKindly provide the following details to create a case study:\n\nPatient Name :\nAge of the Patient:\nGender of the Patient:\nPatient's Location:\n\nPatient's Problem:\nCondition Identified as:\nTreatment Given:\nEnd Results:\n\nLooking forward to your response.\n\nBest Regards,\nTeam Dr Smart","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[912,1136],"id":"e6fed213-072a-440d-b96b-946826e6079d","name":"Send a text message20","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[640,1120],"id":"5fd9c584-d723-4d9e-9fed-22bcf4e8f363","name":"Loop Over Items20"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1120,1136],"id":"a698cd7d-2356-4134-9e69-172a5d3c59cf","name":"Wait20","webhookId":"c1065ba9-97d5-43ec-b09c-be87e4a0a295"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":518420944,"mode":"list","cachedResultName":"Employee List - WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=518420944"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[416,1120],"id":"b603208b-40de-4b3a-a569-c8c7ba76b9ed","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"Official Google Sheet"}}},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"={{ $json['Phone No.'] }}","text":"=*Case Study Request for Social Media Content*\n\nHi Dr,\n\nKindly provide the following details to create a case study:\n\nPatient Name :\nAge of the Patient:\nGender of the Patient:\nPatient's Location:\n\nPatient's Problem:\nCondition Identified as:\nTreatment Given:\nEnd Results:\n\nLooking forward to your response.\n\nBest Regards,\nTeam Dr Smart","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[928,1760],"id":"6796f124-3d08-448b-a238-657194d593b8","name":"Send a text message","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[656,1744],"id":"385e8742-d3c5-4d43-8f69-6babf1c2b5c2","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1136,1760],"id":"cf7c10db-f52f-4e96-8953-2e8dcb11bdd3","name":"Wait","webhookId":"c1065ba9-97d5-43ec-b09c-be87e4a0a295"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":518420944,"mode":"list","cachedResultName":"Employee List - WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=518420944"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[432,1744],"id":"b955d2b1-ccab-46d6-9d95-7cb5b55514fc","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"Official Google Sheet"}}},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"={{ $json['Phone No.'] }}","text":"=*Case Study Request for Social Media Content*\n\nHi Dr,\n\nKindly provide the following details to create a case study:\n\nPatient Name :\nAge of the Patient:\nGender of the Patient:\nPatient's Location:\n\nPatient's Problem:\nCondition Identified as:\nTreatment Given:\nEnd Results:\n\nLooking forward to your response.\n\nBest Regards,\nTeam Dr Smart","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[3024,1168],"id":"98dac404-a1fe-4375-9666-e3ed9bd6cda8","name":"Send a text message21","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2752,1152],"id":"7695eecf-5ffd-4886-b8d7-1c80412aee11","name":"Loop Over Items21"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3232,1168],"id":"996088e5-7f79-4f5a-982b-2cfb22977212","name":"Wait21","webhookId":"c1065ba9-97d5-43ec-b09c-be87e4a0a295"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":518420944,"mode":"list","cachedResultName":"Employee List - WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=518420944"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2528,1152],"id":"80750a0b-0cdd-4073-9003-dd0167206fe3","name":"Get row(s) in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"Official Google Sheet"}}},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"={{ $json['Phone No.'] }}","text":"=*Case Study Request for Social Media Content*\n\nHi Dr,\n\nKindly provide the following details to create a case study:\n\nPatient Name :\nAge of the Patient:\nGender of the Patient:\nPatient's Location:\n\nPatient's Problem:\nCondition Identified as:\nTreatment Given:\nEnd Results:\n\nLooking forward to your response.\n\nBest Regards,\nTeam Dr Smart","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[3040,1744],"id":"67cbcb95-ba50-41fb-b6e6-1254fa0518c8","name":"Send a text message22","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2768,1728],"id":"163cec7f-281c-4d48-b1f3-64c420ce7544","name":"Loop Over Items22"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3248,1744],"id":"869a5ab1-aebe-44d3-9a61-cec9a867aa1f","name":"Wait22","webhookId":"c1065ba9-97d5-43ec-b09c-be87e4a0a295"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":518420944,"mode":"list","cachedResultName":"Employee List - WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=518420944"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2544,1728],"id":"20aabe06-f703-41dd-8591-cde028f8bca3","name":"Get row(s) in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"Official Google Sheet"}}}],"connections":{"Schedule Trigger4":{"main":[[{"node":"Get row(s) in sheet4","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Send a text message4","type":"main","index":0}]]},"Send a text message4":{"main":[[{"node":"RandomeTimeDigit4","type":"main","index":0}]]},"Get row(s) in sheet4":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Loop Over Items4":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}],[{"node":"Get row WA Number4","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"RandomeTimeDigit4":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"Get row WA Number4":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Schedule Trigger5":{"main":[[{"node":"Get row(s) in sheet5","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Send a text message5","type":"main","index":0}]]},"Send a text message5":{"main":[[{"node":"RandomeTimeDigit5","type":"main","index":0}]]},"Get row(s) in sheet5":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"Loop Over Items5":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}],[{"node":"Get row WA Number5","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"RandomeTimeDigit5":{"main":[[{"node":"Wait5","type":"main","index":0}]]},"Get row WA Number5":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Schedule Trigger6":{"main":[[{"node":"Get row(s) in sheet6","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Send a text message6","type":"main","index":0}]]},"Send a text message6":{"main":[[{"node":"RandomeTimeDigit6","type":"main","index":0}]]},"Get row(s) in sheet6":{"main":[[{"node":"Loop Over Items6","type":"main","index":0}]]},"Loop Over Items6":{"main":[[{"node":"Get row(s) in sheet2","type":"main","index":0}],[{"node":"Get row WA Number6","type":"main","index":0}]]},"Wait6":{"main":[[{"node":"Loop Over Items6","type":"main","index":0}]]},"RandomeTimeDigit6":{"main":[[{"node":"Wait6","type":"main","index":0}]]},"Get row WA Number6":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"Schedule Trigger7":{"main":[[{"node":"Get row(s) in sheet7","type":"main","index":0}]]},"Edit Fields7":{"main":[[{"node":"Send a text message7","type":"main","index":0}]]},"Send a text message7":{"main":[[{"node":"RandomeTimeDigit7","type":"main","index":0}]]},"Get row(s) in sheet7":{"main":[[{"node":"Loop Over Items7","type":"main","index":0}]]},"Loop Over Items7":{"main":[[{"node":"Get row(s) in sheet3","type":"main","index":0}],[{"node":"Get row WA Number7","type":"main","index":0}]]},"Wait7":{"main":[[{"node":"Loop Over Items7","type":"main","index":0}]]},"RandomeTimeDigit7":{"main":[[{"node":"Wait7","type":"main","index":0}]]},"Get row WA Number7":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Send a text message20":{"main":[[{"node":"Wait20","type":"main","index":0}]]},"Loop Over Items20":{"main":[[],[{"node":"Send a text message20","type":"main","index":0}]]},"Wait20":{"main":[[{"node":"Loop Over Items20","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Loop Over Items20","type":"main","index":0}]]},"Send a text message":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Send a text message","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Send a text message21":{"main":[[{"node":"Wait21","type":"main","index":0}]]},"Loop Over Items21":{"main":[[],[{"node":"Send a text message21","type":"main","index":0}]]},"Wait21":{"main":[[{"node":"Loop Over Items21","type":"main","index":0}]]},"Get row(s) in sheet2":{"main":[[{"node":"Loop Over Items21","type":"main","index":0}]]},"Send a text message22":{"main":[[{"node":"Wait22","type":"main","index":0}]]},"Loop Over Items22":{"main":[[],[{"node":"Send a text message22","type":"main","index":0}]]},"Wait22":{"main":[[{"node":"Loop Over Items22","type":"main","index":0}]]},"Get row(s) in sheet3":{"main":[[{"node":"Loop Over Items22","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"G2KZfyUFGXoArofH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Schedule Trigger2":{"recurrenceRules":[]},"node:Schedule Trigger3":{"recurrenceRules":[]},"node:Schedule Trigger4":{"recurrenceRules":[]},"node:Schedule Trigger5":{"recurrenceRules":[]},"node:Schedule Trigger6":{"recurrenceRules":[]},"node:Schedule Trigger7":{"recurrenceRules":[]},"node:Schedule Trigger8":{"recurrenceRules":[]},"node:Schedule Trigger9":{"recurrenceRules":[]},"node:Schedule Trigger10":{"recurrenceRules":[]},"node:Schedule Trigger11":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"53c3d591-d9db-44d8-99fb-c2fa137c7488","triggerCount":4,"shared":[{"createdAt":"2025-10-06T09:17:34.391Z","updatedAt":"2025-10-06T09:17:34.391Z","role":"workflow:owner","workflowId":"tQiFFd2U4oPfZBTJ","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[{"createdAt":"2025-09-02T10:01:51.030Z","updatedAt":"2025-09-02T10:01:51.030Z","id":"mu1NpHC676A7L71l","name":"WhatsApp"}]}