monthly-automated-messages---part-2-tQiFFd2U4oPfZBTJ.json
{"createdAt":"2025-10-06T09:17:34.391Z","updatedAt":"2025-11-19T09:56:51.154Z","id":"tQiFFd2U4oPfZBTJ","name":"Monthly Automated Messages - Part 2","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":4,"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-304,1328],"id":"9d17dadf-7b8d-40d0-a25a-bcd227b678b9","name":"Schedule Trigger4"},{"parameters":{"assignments":{"assignments":[{"id":"9037c411-5d0b-44a5-90b2-aacb6912c5a3","name":"Monthly Message\t1st","value":"=*Case Study Request for Social Media Content*\n\nHi Dr,\n\nKindly provide the following details to create a case study:\n\nPatient Name :\nAge of the Patient:\nGender of the Patient:\nPatient's Location:\n\nPatient's Problem:\nCondition Identified as:\nTreatment Given:\nEnd Results:\n\nLooking forward to your response.\n\nBest Regards,\nTeam Dr Smart","type":"string"},{"id":"cb27e360-9140-46f5-ab02-75a3401e5c3a","name":"WhatsApp Number","value":"={{ (p => (p = String(p || \"\").replace(/\\D/g,\"\"), p.length === 10 ? \"91\" + p : p.length === 12 && p.startsWith(\"91\") ? p : p.length > 12 ? \"91\" + p.slice(-10) : p))($json.WhatsApp) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,1344],"id":"2f1a2447-2e6c-41e9-b2ea-69f25adb68fb","name":"Edit Fields4"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-80,1328],"id":"fb5e5b3f-fe96-4883-977f-bb00250ae29f","name":"Get row(s) in sheet4","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[128,1328],"id":"9dcc79a7-9078-478d-80aa-83860966fd81","name":"Loop Over Items4"},{"parameters":{"amount":"={{ $json.randomNumber }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1216,1344],"id":"1ce2d390-4b29-4234-840f-e291ac749dad","name":"Wait4","webhookId":"b62a3baa-7ce9-4763-89f4-a695d3a4e2bc"},{"parameters":{"jsCode":"// Generate a random number between 1 and 10 with two decimal precision\nconst randomNumber = (Math.random() * (180 - 1) + 1).toFixed(0);\n\n// Return it as output\nreturn [\n  {\n    json: {\n      randomNumber: parseFloat(randomNumber)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,1344],"id":"88870557-1ad1-4b5c-9ffa-60c27ce3cccb","name":"RandomeTimeDigit4"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"filtersUI":{"values":[{"lookupColumn":"Sl No.","lookupValue":"={{ $json['Sl No.'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[416,1344],"id":"ec587a7e-2ec1-492b-a956-3bc5a986a92c","name":"Get row WA Number4","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}},{"parameters":{"content":"## Monthly Message 4th","height":528,"width":1936,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-416,1104],"id":"e80335d4-43cb-4635-9cf4-d55b0aea7417","name":"Sticky Note4"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":11,"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-288,1936],"id":"63dc12bf-d461-4c75-a5b4-8869fb14bd54","name":"Schedule Trigger5"},{"parameters":{"assignments":{"assignments":[{"id":"9037c411-5d0b-44a5-90b2-aacb6912c5a3","name":"Monthly Message\t1st","value":"=*Case Study Request for Social Media Content*\n\nHi Dr,\n\nKindly provide the following details to create a case study:\n\nPatient Name :\nAge of the Patient:\nGender of the Patient:\nPatient's Location:\n\nPatient's Problem:\nCondition Identified as:\nTreatment Given:\nEnd Results:\n\nLooking forward to your response.\n\nBest Regards,\nTeam Dr Smart","type":"string"},{"id":"cb27e360-9140-46f5-ab02-75a3401e5c3a","name":"WhatsApp Number","value":"={{ (p => (p = String(p || \"\").replace(/\\D/g,\"\"), p.length === 10 ? \"91\" + p : p.length === 12 && p.startsWith(\"91\") ? p : p.length > 12 ? \"91\" + p.slice(-10) : p))($json.WhatsApp) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,1952],"id":"dd6a61a4-cac1-405c-9221-e8116b128ac8","name":"Edit Fields5"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-64,1936],"id":"0b53f692-21e7-4646-b405-73a5bf7908a9","name":"Get row(s) in sheet5","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[144,1936],"id":"ee0066eb-8554-4052-93b2-428cb70e245b","name":"Loop Over Items5"},{"parameters":{"amount":"={{ $json.randomNumber }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1232,1952],"id":"a1a7b3dd-f89c-4762-8e24-fcd7f130abf3","name":"Wait5","webhookId":"d5cf8d5d-59b0-4108-a7f2-7b30b24d0cab"},{"parameters":{"jsCode":"// Generate a random number between 1 and 10 with two decimal precision\nconst randomNumber = (Math.random() * (180 - 1) + 1).toFixed(0);\n\n// Return it as output\nreturn [\n  {\n    json: {\n      randomNumber: parseFloat(randomNumber)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,1952],"id":"7ad09fef-ea4b-4539-9ea1-0030d9d6165d","name":"RandomeTimeDigit5"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"filtersUI":{"values":[{"lookupColumn":"Sl No.","lookupValue":"={{ $json['Sl No.'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[432,1952],"id":"0298caee-5dea-4203-8cb7-a23654b81270","name":"Get row WA Number5","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}},{"parameters":{"content":"## Monthly Message 11th","height":528,"width":1936,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-400,1712],"id":"9f9df973-866e-4abd-bfd9-685538f40364","name":"Sticky Note5"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":18,"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1808,1344],"id":"f8e7d71e-bade-49e6-95a8-093dc0392c7a","name":"Schedule Trigger6"},{"parameters":{"assignments":{"assignments":[{"id":"9037c411-5d0b-44a5-90b2-aacb6912c5a3","name":"Monthly Message\t1st","value":"=*Case Study Request for Social Media Content*\n\nHi Dr,\n\nKindly provide the following details to create a case study:\n\nPatient Name :\nAge of the Patient:\nGender of the Patient:\nPatient's Location:\n\nPatient's Problem:\nCondition Identified as:\nTreatment Given:\nEnd Results:\n\nLooking forward to your response.\n\nBest Regards,\nTeam Dr Smart","type":"string"},{"id":"cb27e360-9140-46f5-ab02-75a3401e5c3a","name":"WhatsApp Number","value":"={{ (p => (p = String(p || \"\").replace(/\\D/g,\"\"), p.length === 10 ? \"91\" + p : p.length === 12 && p.startsWith(\"91\") ? p : p.length > 12 ? \"91\" + p.slice(-10) : p))($json.WhatsApp) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2720,1360],"id":"ff16ee14-a208-4690-9925-a0132d61dd3f","name":"Edit Fields6"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2032,1344],"id":"a6c27f35-1a88-4659-bb07-773d4335032d","name":"Get row(s) in sheet6","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2240,1344],"id":"aad6066b-5f5e-4897-bbde-5647de05a2be","name":"Loop Over Items6"},{"parameters":{"amount":"={{ $json.randomNumber }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3328,1360],"id":"6f1fe0c4-2187-458d-92be-e96a265582f8","name":"Wait6","webhookId":"c7fdd358-6b2b-4ab6-afc4-5cc428b20ed6"},{"parameters":{"jsCode":"// Generate a random number between 1 and 10 with two decimal precision\nconst randomNumber = (Math.random() * (180 - 1) + 1).toFixed(0);\n\n// Return it as output\nreturn [\n  {\n    json: {\n      randomNumber: parseFloat(randomNumber)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3120,1360],"id":"447f1654-6107-429e-84ad-5288b128793a","name":"RandomeTimeDigit6"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"filtersUI":{"values":[{"lookupColumn":"Sl No.","lookupValue":"={{ $json['Sl No.'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2528,1360],"id":"45640382-097d-46db-bc20-7d403f04d79f","name":"Get row WA Number6","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}},{"parameters":{"content":"## Monthly Message 18th","height":528,"width":1936,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1680,1104],"id":"844e9017-b7a3-43db-a17b-b68f671b6239","name":"Sticky Note6"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":25,"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1824,1936],"id":"828dbc73-abf5-4919-b1a6-2b76a7079576","name":"Schedule Trigger7"},{"parameters":{"assignments":{"assignments":[{"id":"9037c411-5d0b-44a5-90b2-aacb6912c5a3","name":"Monthly Message\t1st","value":"=*Case Study Request for Social Media Content*\n\nHi Dr,\n\nKindly provide the following details to create a case study:\n\nPatient Name :\nAge of the Patient:\nGender of the Patient:\nPatient's Location:\n\nPatient's Problem:\nCondition Identified as:\nTreatment Given:\nEnd Results:\n\nLooking forward to your response.\n\nBest Regards,\nTeam Dr Smart","type":"string"},{"id":"cb27e360-9140-46f5-ab02-75a3401e5c3a","name":"WhatsApp Number","value":"={{ (p => (p = String(p || \"\").replace(/\\D/g,\"\"), p.length === 10 ? \"91\" + p : p.length === 12 && p.startsWith(\"91\") ? p : p.length > 12 ? \"91\" + p.slice(-10) : p))($json.WhatsApp) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2736,1952],"id":"fcc37065-0c3d-4f15-ae08-e8e4d9046eef","name":"Edit Fields7"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2048,1936],"id":"ee85290d-9609-430e-910f-d8fee0eacf7a","name":"Get row(s) in sheet7","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2256,1936],"id":"63c9b05f-4666-47f4-a78d-58570a9dfc16","name":"Loop Over Items7"},{"parameters":{"amount":"={{ $json.randomNumber }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3344,1952],"id":"e3c3c705-baef-4850-9945-a70bae6bea77","name":"Wait7","webhookId":"375e6330-9512-409a-9c92-69b28570a700"},{"parameters":{"jsCode":"// Generate a random number between 1 and 10 with two decimal precision\nconst randomNumber = (Math.random() * (180 - 1) + 1).toFixed(0);\n\n// Return it as output\nreturn [\n  {\n    json: {\n      randomNumber: parseFloat(randomNumber)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3136,1952],"id":"a03ee121-9cf2-42ec-8c16-9bd71465b7e7","name":"RandomeTimeDigit7"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"filtersUI":{"values":[{"lookupColumn":"Sl No.","lookupValue":"={{ $json['Sl No.'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2544,1952],"id":"89d5829e-bc05-452b-a2e6-bfcc9d25499b","name":"Get row WA Number7","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}},{"parameters":{"content":"## Monthly Message 25th","height":544,"width":1936,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1696,1696],"id":"14ca6eb6-3f55-4252-a519-ec1da307669b","name":"Sticky Note7"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[864,1152],"id":"25614195-3e55-46d1-befe-0d642a0bc4b7","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1344,1168],"id":"b80f9392-9424-432d-8550-1bcc8bd8eb03","name":"Wait","webhookId":"c1065ba9-97d5-43ec-b09c-be87e4a0a295"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":518420944,"mode":"list","cachedResultName":"Employee List - WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=518420944"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[432,1152],"id":"d4a1a2ce-d137-45e5-999c-5db9803fb753","name":"Get row(s) in sheet12","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[640,1152],"id":"f9979239-8224-432a-a332-f474db0bcfcd","name":"Remove Duplicates"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[864,1744],"id":"99121ba3-c8b0-43e6-a973-385e7190a6eb","name":"Loop Over Items1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1344,1760],"id":"9bc81114-0dd1-43aa-8237-feead9d84968","name":"Wait1","webhookId":"c1065ba9-97d5-43ec-b09c-be87e4a0a295"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":518420944,"mode":"list","cachedResultName":"Employee List - WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=518420944"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[432,1744],"id":"a3e3da77-0ecd-4fd8-8ffc-d5a5f79ead8a","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[640,1744],"id":"07205afa-d014-4656-bc15-cc00014c5ebb","name":"Remove Duplicates1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2960,1152],"id":"68b53fa3-7d50-453f-ad39-f5e8a20df4c5","name":"Loop Over Items2"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3440,1168],"id":"4ee954cb-3a65-4f8d-ad51-babf6cc9e015","name":"Wait2","webhookId":"c1065ba9-97d5-43ec-b09c-be87e4a0a295"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":518420944,"mode":"list","cachedResultName":"Employee List - WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=518420944"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2528,1152],"id":"e8607770-e76c-4389-b2af-33829853703b","name":"Get row(s) in sheet13","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[2736,1152],"id":"1f97d6d9-463a-4efe-9502-77e50550c909","name":"Remove Duplicates2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2976,1744],"id":"9566fff0-9fc5-43a7-ac81-cd354de6df17","name":"Loop Over Items3"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3456,1760],"id":"342c3dc8-02ce-411f-b258-32e1e02317c2","name":"Wait3","webhookId":"c1065ba9-97d5-43ec-b09c-be87e4a0a295"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":518420944,"mode":"list","cachedResultName":"Employee List - WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=518420944"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2544,1744],"id":"190ae1c3-7c71-4585-8b7b-0a75683733b2","name":"Get row(s) in sheet14","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[2752,1744],"id":"e306772d-9369-42e2-ba31-c7af78f10a7c","name":"Remove Duplicates3"},{"parameters":{"phoneNumber":"=91{{ $json['WhatApp Number'] }}","message":"=*Case Study Request for Social Media Content*\n\nHi Dr,\n\nKindly provide the following details to create a case study:\n\nPatient Name :\nAge of the Patient:\nGender of the Patient:\nPatient's Location:\n\nPatient's Problem:\nCondition Identified as:\nTreatment Given:\nEnd Results:\n\nLooking forward to your response.\n\nBest Regards,\nTeam Dr Smart"},"type":"@aldinokemal2104/n8n-nodes-gowa.gowa","typeVersion":1,"position":[1104,1168],"id":"48d46ff4-d83a-4779-b63a-70958548179b","name":"Send a text message8","credentials":{"goWhatsappApi":{"id":"mZAEXMToCau4GSWu","name":"GOWA account"}}},{"parameters":{"phoneNumber":"={{ $json['WhatsApp Number'] }}","message":"={{ $json['Monthly Message\t1st'] }}"},"type":"@aldinokemal2104/n8n-nodes-gowa.gowa","typeVersion":1,"position":[800,1344],"id":"e7c69385-bdec-4513-a67f-fd81564df779","name":"Send a text message9","credentials":{"goWhatsappApi":{"id":"mZAEXMToCau4GSWu","name":"GOWA account"}}},{"parameters":{"phoneNumber":"=91{{ $json['WhatApp Number'] }}","message":"=*Case Study Request for Social Media Content*\n\nHi Dr,\n\nKindly provide the following details to create a case study:\n\nPatient Name :\nAge of the Patient:\nGender of the Patient:\nPatient's Location:\n\nPatient's Problem:\nCondition Identified as:\nTreatment Given:\nEnd Results:\n\nLooking forward to your response.\n\nBest Regards,\nTeam Dr Smart"},"type":"@aldinokemal2104/n8n-nodes-gowa.gowa","typeVersion":1,"position":[3216,1168],"id":"e1ecfc8b-f202-42cf-965c-674171dc0001","name":"Send a text message","credentials":{"goWhatsappApi":{"id":"mZAEXMToCau4GSWu","name":"GOWA account"}}},{"parameters":{"phoneNumber":"=91{{ $json['WhatApp Number'] }}","message":"=*Case Study Request for Social Media Content*\n\nHi Dr,\n\nKindly provide the following details to create a case study:\n\nPatient Name :\nAge of the Patient:\nGender of the Patient:\nPatient's Location:\n\nPatient's Problem:\nCondition Identified as:\nTreatment Given:\nEnd Results:\n\nLooking forward to your response.\n\nBest Regards,\nTeam Dr Smart"},"type":"@aldinokemal2104/n8n-nodes-gowa.gowa","typeVersion":1,"position":[1136,1760],"id":"1ee653df-7e65-4ccc-bad1-5b42dbb511d1","name":"Send a text message10","credentials":{"goWhatsappApi":{"id":"mZAEXMToCau4GSWu","name":"GOWA account"}}},{"parameters":{"phoneNumber":"=91{{ $json['WhatApp Number'] }}","message":"=*Case Study Request for Social Media Content*\n\nHi Dr,\n\nKindly provide the following details to create a case study:\n\nPatient Name :\nAge of the Patient:\nGender of the Patient:\nPatient's Location:\n\nPatient's Problem:\nCondition Identified as:\nTreatment Given:\nEnd Results:\n\nLooking forward to your response.\n\nBest Regards,\nTeam Dr Smart"},"type":"@aldinokemal2104/n8n-nodes-gowa.gowa","typeVersion":1,"position":[3232,1760],"id":"daeb6d7d-5b1a-45b5-b409-f4870d2a4b85","name":"Send a text message11","credentials":{"goWhatsappApi":{"id":"mZAEXMToCau4GSWu","name":"GOWA account"}}},{"parameters":{"phoneNumber":"={{ $json['WhatsApp Number'] }}","message":"={{ $json['Monthly Message\t1st'] }}"},"type":"@aldinokemal2104/n8n-nodes-gowa.gowa","typeVersion":1,"position":[832,1952],"id":"8c80e7b6-c886-42bf-b94c-c2bb1d268c44","name":"Send a text message12","credentials":{"goWhatsappApi":{"id":"mZAEXMToCau4GSWu","name":"GOWA account"}}},{"parameters":{"phoneNumber":"={{ $json['WhatsApp Number'] }}","message":"={{ $json['Monthly Message\t1st'] }}"},"type":"@aldinokemal2104/n8n-nodes-gowa.gowa","typeVersion":1,"position":[2944,1952],"id":"1c1e724f-8be1-4653-901b-ae20053177b0","name":"Send a text message13","credentials":{"goWhatsappApi":{"id":"mZAEXMToCau4GSWu","name":"GOWA account"}}},{"parameters":{"phoneNumber":"={{ $json['WhatsApp Number'] }}","message":"={{ $json['Monthly Message\t1st'] }}"},"type":"@aldinokemal2104/n8n-nodes-gowa.gowa","typeVersion":1,"position":[2928,1360],"id":"833f4e29-f364-48df-91ae-35f8393e97e6","name":"Send a text message14","credentials":{"goWhatsappApi":{"id":"mZAEXMToCau4GSWu","name":"GOWA account"}}}],"connections":{"Schedule Trigger4":{"main":[[{"node":"Get row(s) in sheet4","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Send a text message9","type":"main","index":0}]]},"Get row(s) in sheet4":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Loop Over Items4":{"main":[[{"node":"Get row(s) in sheet12","type":"main","index":0}],[{"node":"Get row WA Number4","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"RandomeTimeDigit4":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"Get row WA Number4":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Schedule Trigger5":{"main":[[{"node":"Get row(s) in sheet5","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Send a text message12","type":"main","index":0}]]},"Get row(s) in sheet5":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"Loop Over Items5":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}],[{"node":"Get row WA Number5","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"RandomeTimeDigit5":{"main":[[{"node":"Wait5","type":"main","index":0}]]},"Get row WA Number5":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Schedule Trigger6":{"main":[[{"node":"Get row(s) in sheet6","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Send a text message14","type":"main","index":0}]]},"Get row(s) in sheet6":{"main":[[{"node":"Loop Over Items6","type":"main","index":0}]]},"Loop Over Items6":{"main":[[{"node":"Get row(s) in sheet13","type":"main","index":0}],[{"node":"Get row WA Number6","type":"main","index":0}]]},"Wait6":{"main":[[{"node":"Loop Over Items6","type":"main","index":0}]]},"RandomeTimeDigit6":{"main":[[{"node":"Wait6","type":"main","index":0}]]},"Get row WA Number6":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"Schedule Trigger7":{"main":[[{"node":"Get row(s) in sheet7","type":"main","index":0}]]},"Edit Fields7":{"main":[[{"node":"Send a text message13","type":"main","index":0}]]},"Get row(s) in sheet7":{"main":[[{"node":"Loop Over Items7","type":"main","index":0}]]},"Loop Over Items7":{"main":[[{"node":"Get row(s) in sheet14","type":"main","index":0}],[{"node":"Get row WA Number7","type":"main","index":0}]]},"Wait7":{"main":[[{"node":"Loop Over Items7","type":"main","index":0}]]},"RandomeTimeDigit7":{"main":[[{"node":"Wait7","type":"main","index":0}]]},"Get row WA Number7":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Send a text message8","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get row(s) in sheet12":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Send a text message10","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Remove Duplicates1","type":"main","index":0}]]},"Remove Duplicates1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"Send a text message","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Get row(s) in sheet13":{"main":[[{"node":"Remove Duplicates2","type":"main","index":0}]]},"Remove Duplicates2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Send a text message11","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Get row(s) in sheet14":{"main":[[{"node":"Remove Duplicates3","type":"main","index":0}]]},"Remove Duplicates3":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Send a text message9":{"main":[[{"node":"RandomeTimeDigit4","type":"main","index":0}]]},"Send a text message8":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Send a text message14":{"main":[[{"node":"RandomeTimeDigit6","type":"main","index":0}]]},"Send a text message13":{"main":[[{"node":"RandomeTimeDigit7","type":"main","index":0}]]},"Send a text message12":{"main":[[{"node":"RandomeTimeDigit5","type":"main","index":0}]]},"Send a text message10":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Send a text message11":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Send a text message":{"main":[[{"node":"Wait2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"G2KZfyUFGXoArofH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Schedule Trigger2":{"recurrenceRules":[]},"node:Schedule Trigger3":{"recurrenceRules":[]},"node:Schedule Trigger4":{"recurrenceRules":[]},"node:Schedule Trigger5":{"recurrenceRules":[]},"node:Schedule Trigger6":{"recurrenceRules":[]},"node:Schedule Trigger7":{"recurrenceRules":[]},"node:Schedule Trigger8":{"recurrenceRules":[]},"node:Schedule Trigger9":{"recurrenceRules":[]},"node:Schedule Trigger10":{"recurrenceRules":[]},"node:Schedule Trigger11":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"38dda6b2-df0e-41e0-abc2-10fe64de76b1","triggerCount":4,"shared":[{"createdAt":"2025-10-06T09:17:34.391Z","updatedAt":"2025-10-06T09:17:34.391Z","role":"workflow:owner","workflowId":"tQiFFd2U4oPfZBTJ","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[{"createdAt":"2025-09-02T10:01:51.030Z","updatedAt":"2025-09-02T10:01:51.030Z","id":"mu1NpHC676A7L71l","name":"WhatsApp"}]}