monthly-automated-messages-Hit4zXJr6pQbSqZw.json
{"createdAt":"2025-08-28T15:10:23.458Z","updatedAt":"2025-09-04T08:21:53.756Z","id":"Hit4zXJr6pQbSqZw","name":"Monthly Automated Messages","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"months","triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-320,96],"id":"4d290e59-16d1-4d3c-bea5-65eff433e738","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"9037c411-5d0b-44a5-90b2-aacb6912c5a3","name":"Monthly Message\t1st","value":"=*Your Social Media Content Calendar*\n\nHi Dr,\nWe started creating your strategic content calendar for the upcoming month.\n\nIf you have any special days to be added for next month's calendar, please let us know.\n\nBest Regards,\nTeam Dr Smart","type":"string"},{"id":"cb27e360-9140-46f5-ab02-75a3401e5c3a","name":"WhatsApp Number","value":"={{ $json.WhatsApp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[592,112],"id":"be9d76da-b35f-4187-a0db-145e508038b7","name":"Edit Fields"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"={{ $json['WhatsApp Number'] }}","text":"={{ $json['Monthly Message\t1st'] }}","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[784,112],"id":"cb6e3524-a5e3-47bb-9429-54ab2335c74d","name":"Send a text message","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU","mode":"list","cachedResultName":"Master Data + Keyword","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-96,96],"id":"a41807d6-de1e-4355-94dc-914ec6e8a67e","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[112,96],"id":"a8be56a3-6a2e-4d9d-8261-71fc4f1bbe94","name":"Loop Over Items"},{"parameters":{"amount":"={{ $json.randomNumber }}","unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1200,112],"id":"298d3ea5-eb44-4239-8805-f9c70bc07992","name":"Wait","webhookId":"b100265e-d75c-4fad-a65c-84139d165210"},{"parameters":{"jsCode":"// Generate a random number between 1 and 10 with two decimal precision\nconst randomNumber = (Math.random() * (10 - 1) + 1).toFixed(0);\n\n// Return it as output\nreturn [\n  {\n    json: {\n      randomNumber: parseFloat(randomNumber)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[992,112],"id":"d4b9ef7a-4492-4728-b4a0-4768ee7e7570","name":"RandomeTimeDigit"},{"parameters":{"documentId":{"__rl":true,"value":"1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU","mode":"list","cachedResultName":"Master Data + Keyword","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=18724759"},"filtersUI":{"values":[{"lookupColumn":"Sl No.","lookupValue":"={{ $json['Sl No.'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[400,112],"id":"41c99a4e-b200-40fe-9e19-711c4a5537fa","name":"Get row WA Number","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}},{"parameters":{"content":"## Monthly Message 1st","height":416,"width":1936},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-432,-16],"id":"75c96c76-0fd6-4040-84bc-c32deb1930fa","name":"Sticky Note"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":3,"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-320,576],"id":"8ac74681-982e-4e64-8897-60b291b69f14","name":"Schedule Trigger1"},{"parameters":{"assignments":{"assignments":[{"id":"9037c411-5d0b-44a5-90b2-aacb6912c5a3","name":"Monthly Message\t1st","value":"=Hi Dr,\nWe started creating your monthly report. \nWe will share the monthly report by 5th.\n\nBest Regards,\nTeam Dr Smart","type":"string"},{"id":"cb27e360-9140-46f5-ab02-75a3401e5c3a","name":"WhatsApp Number","value":"={{ $json.WhatsApp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[592,592],"id":"36525d67-0123-44b3-8ab0-87dcaca9b262","name":"Edit Fields1"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"={{ $json['WhatsApp Number'] }}","text":"={{ $json['Monthly Message\t1st'] }}","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[784,592],"id":"cf8e8059-2b4a-4f54-b830-8a87742c9100","name":"Send a text message1","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU","mode":"list","cachedResultName":"Master Data + Keyword","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-96,576],"id":"774b111f-0ca9-4499-a0a9-12d39aa00551","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[112,576],"id":"1fe10e9f-4336-45f3-b852-65a9422cbbba","name":"Loop Over Items1"},{"parameters":{"amount":"={{ $json.randomNumber }}","unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1200,592],"id":"f7f2b1f9-b152-4de8-a9cb-8314a32411b4","name":"Wait1","webhookId":"b100265e-d75c-4fad-a65c-84139d165210"},{"parameters":{"jsCode":"// Generate a random number between 1 and 10 with two decimal precision\nconst randomNumber = (Math.random() * (10 - 1) + 1).toFixed(0);\n\n// Return it as output\nreturn [\n  {\n    json: {\n      randomNumber: parseFloat(randomNumber)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[992,592],"id":"31158dad-f57d-421a-ab77-f35968fe50a8","name":"RandomeTimeDigit1"},{"parameters":{"documentId":{"__rl":true,"value":"1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU","mode":"list","cachedResultName":"Master Data + Keyword","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=18724759"},"filtersUI":{"values":[{"lookupColumn":"Sl No.","lookupValue":"={{ $json['Sl No.'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[400,592],"id":"79eb0711-8c14-44c1-8da0-562a7e1498aa","name":"Get row WA Number1","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}},{"parameters":{"content":"## Monthly Message 3rd","height":416,"width":1936},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-432,464],"id":"209d2a45-25ea-4423-81a1-706746ccec83","name":"Sticky Note1"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":5,"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1792,96],"id":"c1e3fd94-aaca-4e78-bc51-3aa14ad16bad","name":"Schedule Trigger2"},{"parameters":{"assignments":{"assignments":[{"id":"9037c411-5d0b-44a5-90b2-aacb6912c5a3","name":"Monthly Message\t1st","value":"=*Your Social Media Content & Designs*\n(Creatives, Case Studies, Shorts/Reels, Blogs)\n\nHi Dr,\nWe started creating your social media content and designs for the upcoming month.\n\nIf you have any special posts to be added for next month's creatives, please let us know.\n\nBest Regards,\nTeam Dr Smart","type":"string"},{"id":"cb27e360-9140-46f5-ab02-75a3401e5c3a","name":"WhatsApp Number","value":"={{ $json.WhatsApp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2704,112],"id":"9982c70b-4b82-457e-8090-13b75d4c8e37","name":"Edit Fields2"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"={{ $json['WhatsApp Number'] }}","text":"={{ $json['Monthly Message\t1st'] }}","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[2896,112],"id":"45e8648c-a075-4cb5-bd58-53a4f805aead","name":"Send a text message2","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU","mode":"list","cachedResultName":"Master Data + Keyword","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2016,96],"id":"341ed72d-80d5-4675-83dc-afc727f0a3c4","name":"Get row(s) in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2224,96],"id":"fefc5898-efa5-424f-8caa-87ec2b6b057a","name":"Loop Over Items2"},{"parameters":{"amount":"={{ $json.randomNumber }}","unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3312,112],"id":"7a468b87-b3f6-4f7a-be20-0e11a0e642e0","name":"Wait2","webhookId":"b100265e-d75c-4fad-a65c-84139d165210"},{"parameters":{"jsCode":"// Generate a random number between 1 and 10 with two decimal precision\nconst randomNumber = (Math.random() * (10 - 1) + 1).toFixed(0);\n\n// Return it as output\nreturn [\n  {\n    json: {\n      randomNumber: parseFloat(randomNumber)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3104,112],"id":"0132efc8-1929-4c95-9926-3580c4b9ea75","name":"RandomeTimeDigit2"},{"parameters":{"documentId":{"__rl":true,"value":"1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU","mode":"list","cachedResultName":"Master Data + Keyword","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=18724759"},"filtersUI":{"values":[{"lookupColumn":"Sl No.","lookupValue":"={{ $json['Sl No.'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2512,112],"id":"94171c4c-448b-4d95-8c8b-cc532cd943a6","name":"Get row WA Number2","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}},{"parameters":{"content":"## Monthly Message 5th","height":416,"width":1936},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1680,-16],"id":"b587abcf-79b1-4f26-b205-954d49fc3171","name":"Sticky Note2"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":3,"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1792,576],"id":"5e794ccd-619c-456c-a727-a43bd6996550","name":"Schedule Trigger3"},{"parameters":{"assignments":{"assignments":[{"id":"9037c411-5d0b-44a5-90b2-aacb6912c5a3","name":"Monthly Message\t1st","value":"=*Your Social Media Auditing*\n\nHi Dr,\nWe started monthly auditing for all your social media channels. \nWe will fix it if we find any gaps or missing information/details.\n\nBest Regards,\nTeam Dr Smart","type":"string"},{"id":"cb27e360-9140-46f5-ab02-75a3401e5c3a","name":"WhatsApp Number","value":"={{ $json.WhatsApp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2704,592],"id":"d33b276c-ce48-49e6-a678-663f1d45be06","name":"Edit Fields3"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"={{ $json['WhatsApp Number'] }}","text":"={{ $json['Monthly Message\t1st'] }}","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[2896,592],"id":"22643ae9-aef4-4848-9098-b57b9fed52e1","name":"Send a text message3","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU","mode":"list","cachedResultName":"Master Data + Keyword","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2016,576],"id":"4634589d-5ea6-45c2-b5f1-f833c5d81d18","name":"Get row(s) in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2224,576],"id":"ac47c5e4-898c-4d17-aff1-5c9829e7256d","name":"Loop Over Items3"},{"parameters":{"amount":"={{ $json.randomNumber }}","unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3312,592],"id":"01e89a94-af4f-48e8-a56d-a6c807d1344e","name":"Wait3","webhookId":"b100265e-d75c-4fad-a65c-84139d165210"},{"parameters":{"jsCode":"// Generate a random number between 1 and 10 with two decimal precision\nconst randomNumber = (Math.random() * (10 - 1) + 1).toFixed(0);\n\n// Return it as output\nreturn [\n  {\n    json: {\n      randomNumber: parseFloat(randomNumber)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3104,592],"id":"61cbd50e-b82e-496a-aebc-8b8b67ce916e","name":"RandomeTimeDigit3"},{"parameters":{"documentId":{"__rl":true,"value":"1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU","mode":"list","cachedResultName":"Master Data + Keyword","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=18724759"},"filtersUI":{"values":[{"lookupColumn":"Sl No.","lookupValue":"={{ $json['Sl No.'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2512,592],"id":"6b17bec0-1d0d-4f60-ab5b-16fe8bff41f7","name":"Get row WA Number3","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}},{"parameters":{"content":"## Monthly Message 7th","height":416,"width":1936},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1680,464],"id":"4e751b39-ea7d-4776-b081-eb3448482c43","name":"Sticky Note3"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":4,"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-304,1104],"id":"d794514c-e386-441e-896b-ea7412154557","name":"Schedule Trigger4"},{"parameters":{"assignments":{"assignments":[{"id":"9037c411-5d0b-44a5-90b2-aacb6912c5a3","name":"Monthly Message\t1st","value":"=*Case Study Request for Social Media Content*\n\nHi Dr,\n\nKindly provide the following details to create a case study:\n\nPatient Name :\nAge of the Patient:\nGender of the Patient:\nPatient's Location:\n\nPatient's Problem:\nCondition Identified as:\nTreatment Given:\nEnd Results:\n\nLooking forward to your response.\n\nBest Regards,\nTeam Dr Smart","type":"string"},{"id":"cb27e360-9140-46f5-ab02-75a3401e5c3a","name":"WhatsApp Number","value":"={{ $json.WhatsApp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,1120],"id":"db9257b9-084d-43f4-8686-09ce0cdf2140","name":"Edit Fields4"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"={{ $json['WhatsApp Number'] }}","text":"={{ $json['Monthly Message\t1st'] }}","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[800,1120],"id":"51756837-c7f3-41bc-a45d-3437e9b4849f","name":"Send a text message4","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU","mode":"list","cachedResultName":"Master Data + Keyword","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-80,1104],"id":"41b0ac93-b800-4abb-8e70-2f9b996edf0f","name":"Get row(s) in sheet4","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[128,1104],"id":"1d499756-8321-4799-904e-aa57ff453e9d","name":"Loop Over Items4"},{"parameters":{"amount":"={{ $json.randomNumber }}","unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1216,1120],"id":"87b6dbc6-625f-431b-a743-ae5453106760","name":"Wait4","webhookId":"b100265e-d75c-4fad-a65c-84139d165210"},{"parameters":{"jsCode":"// Generate a random number between 1 and 10 with two decimal precision\nconst randomNumber = (Math.random() * (10 - 1) + 1).toFixed(0);\n\n// Return it as output\nreturn [\n  {\n    json: {\n      randomNumber: parseFloat(randomNumber)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,1120],"id":"d6c4dba3-5e1a-4afa-96cf-06e8e42caf78","name":"RandomeTimeDigit4"},{"parameters":{"documentId":{"__rl":true,"value":"1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU","mode":"list","cachedResultName":"Master Data + Keyword","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=18724759"},"filtersUI":{"values":[{"lookupColumn":"Sl No.","lookupValue":"={{ $json['Sl No.'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[416,1120],"id":"d5d96172-389f-481c-9a22-f8f67b2c8607","name":"Get row WA Number4","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}},{"parameters":{"content":"## Monthly Message 4th","height":416,"width":1936,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-416,992],"id":"b424f803-5776-44d1-a3a4-53e63a2c987a","name":"Sticky Note4"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":11,"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-288,1600],"id":"ffe53197-09e2-463e-9a1d-e90f564fb2b6","name":"Schedule Trigger5"},{"parameters":{"assignments":{"assignments":[{"id":"9037c411-5d0b-44a5-90b2-aacb6912c5a3","name":"Monthly Message\t1st","value":"=*Case Study Request for Social Media Content*\n\nHi Dr,\n\nKindly provide the following details to create a case study:\n\nPatient Name :\nAge of the Patient:\nGender of the Patient:\nPatient's Location:\n\nPatient's Problem:\nCondition Identified as:\nTreatment Given:\nEnd Results:\n\nLooking forward to your response.\n\nBest Regards,\nTeam Dr Smart","type":"string"},{"id":"cb27e360-9140-46f5-ab02-75a3401e5c3a","name":"WhatsApp Number","value":"={{ $json.WhatsApp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,1616],"id":"4637dbfb-5090-44f7-9e7d-bf6f4e2b827d","name":"Edit Fields5"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"={{ $json['WhatsApp Number'] }}","text":"={{ $json['Monthly Message\t1st'] }}","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[816,1616],"id":"88eb7a86-45b7-4548-a3a4-3c1972096a98","name":"Send a text message5","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU","mode":"list","cachedResultName":"Master Data + Keyword","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-64,1600],"id":"4069bd00-1fe1-42c4-8bd2-b7e9b4422673","name":"Get row(s) in sheet5","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[144,1600],"id":"718a3771-f62c-4867-935f-8ab3456b7433","name":"Loop Over Items5"},{"parameters":{"amount":"={{ $json.randomNumber }}","unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1232,1616],"id":"9e321078-3c84-477e-9faf-b38f7f942078","name":"Wait5","webhookId":"b100265e-d75c-4fad-a65c-84139d165210"},{"parameters":{"jsCode":"// Generate a random number between 1 and 10 with two decimal precision\nconst randomNumber = (Math.random() * (10 - 1) + 1).toFixed(0);\n\n// Return it as output\nreturn [\n  {\n    json: {\n      randomNumber: parseFloat(randomNumber)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,1616],"id":"41c41096-bfd0-4bc0-8a26-d89cc1743629","name":"RandomeTimeDigit5"},{"parameters":{"documentId":{"__rl":true,"value":"1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU","mode":"list","cachedResultName":"Master Data + Keyword","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=18724759"},"filtersUI":{"values":[{"lookupColumn":"Sl No.","lookupValue":"={{ $json['Sl No.'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[432,1616],"id":"f068571b-eb80-4240-abdf-1d1849aba181","name":"Get row WA Number5","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}},{"parameters":{"content":"## Monthly Message 11th","height":416,"width":1936,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-400,1488],"id":"c3850aa7-3491-4340-b18f-ab9d13a6b69f","name":"Sticky Note5"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":18,"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1808,1088],"id":"e5bdcbaf-3074-43bc-89e5-91a5ee5ee281","name":"Schedule Trigger6"},{"parameters":{"assignments":{"assignments":[{"id":"9037c411-5d0b-44a5-90b2-aacb6912c5a3","name":"Monthly Message\t1st","value":"=*Case Study Request for Social Media Content*\n\nHi Dr,\n\nKindly provide the following details to create a case study:\n\nPatient Name :\nAge of the Patient:\nGender of the Patient:\nPatient's Location:\n\nPatient's Problem:\nCondition Identified as:\nTreatment Given:\nEnd Results:\n\nLooking forward to your response.\n\nBest Regards,\nTeam Dr Smart","type":"string"},{"id":"cb27e360-9140-46f5-ab02-75a3401e5c3a","name":"WhatsApp Number","value":"={{ $json.WhatsApp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2720,1104],"id":"dea9358e-5eea-4f55-b842-26d759dc92c5","name":"Edit Fields6"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"={{ $json['WhatsApp Number'] }}","text":"={{ $json['Monthly Message\t1st'] }}","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[2912,1104],"id":"35d5f4e5-1a4d-4b60-823d-1c415973a6a4","name":"Send a text message6","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU","mode":"list","cachedResultName":"Master Data + Keyword","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2032,1088],"id":"a2382adb-9fe2-405e-ad15-16c77030bae7","name":"Get row(s) in sheet6","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2240,1088],"id":"49b2c85e-0ced-4d94-adb6-f8f8fab8a5ac","name":"Loop Over Items6"},{"parameters":{"amount":"={{ $json.randomNumber }}","unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3328,1104],"id":"ddbd906e-76ac-4356-b621-e744e49549fe","name":"Wait6","webhookId":"b100265e-d75c-4fad-a65c-84139d165210"},{"parameters":{"jsCode":"// Generate a random number between 1 and 10 with two decimal precision\nconst randomNumber = (Math.random() * (10 - 1) + 1).toFixed(0);\n\n// Return it as output\nreturn [\n  {\n    json: {\n      randomNumber: parseFloat(randomNumber)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3120,1104],"id":"ddc02bba-f329-4a2b-a15d-3bcb2b46db63","name":"RandomeTimeDigit6"},{"parameters":{"documentId":{"__rl":true,"value":"1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU","mode":"list","cachedResultName":"Master Data + Keyword","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=18724759"},"filtersUI":{"values":[{"lookupColumn":"Sl No.","lookupValue":"={{ $json['Sl No.'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2528,1104],"id":"1dfbb5ca-fbc7-4d83-9546-0d80947894bb","name":"Get row WA Number6","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}},{"parameters":{"content":"## Monthly Message 18th","height":416,"width":1936,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1680,976],"id":"2797796a-b799-4465-ae4c-25987e71906f","name":"Sticky Note6"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":25,"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1824,1584],"id":"6d77260a-fdea-4523-9776-eb2bda6a5aa1","name":"Schedule Trigger7"},{"parameters":{"assignments":{"assignments":[{"id":"9037c411-5d0b-44a5-90b2-aacb6912c5a3","name":"Monthly Message\t1st","value":"=*Case Study Request for Social Media Content*\n\nHi Dr,\n\nKindly provide the following details to create a case study:\n\nPatient Name :\nAge of the Patient:\nGender of the Patient:\nPatient's Location:\n\nPatient's Problem:\nCondition Identified as:\nTreatment Given:\nEnd Results:\n\nLooking forward to your response.\n\nBest Regards,\nTeam Dr Smart","type":"string"},{"id":"cb27e360-9140-46f5-ab02-75a3401e5c3a","name":"WhatsApp Number","value":"={{ $json.WhatsApp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2736,1600],"id":"dfb9b732-03c7-45ea-b468-ecc794a89370","name":"Edit Fields7"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"={{ $json['WhatsApp Number'] }}","text":"={{ $json['Monthly Message\t1st'] }}","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[2928,1600],"id":"8b2814f4-6803-440f-b2b0-342551acd806","name":"Send a text message7","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU","mode":"list","cachedResultName":"Master Data + Keyword","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2048,1584],"id":"c0417b09-8ef5-46c9-96b4-34fa4b787bbe","name":"Get row(s) in sheet7","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2256,1584],"id":"9914fa35-7b91-4db8-89e4-a7bc2ce144e0","name":"Loop Over Items7"},{"parameters":{"amount":"={{ $json.randomNumber }}","unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3344,1600],"id":"7fc8be61-da1b-4529-9e6d-fb7b875099a0","name":"Wait7","webhookId":"b100265e-d75c-4fad-a65c-84139d165210"},{"parameters":{"jsCode":"// Generate a random number between 1 and 10 with two decimal precision\nconst randomNumber = (Math.random() * (10 - 1) + 1).toFixed(0);\n\n// Return it as output\nreturn [\n  {\n    json: {\n      randomNumber: parseFloat(randomNumber)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3136,1600],"id":"80d98b63-82bb-4793-be84-edfd76d9d340","name":"RandomeTimeDigit7"},{"parameters":{"documentId":{"__rl":true,"value":"1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU","mode":"list","cachedResultName":"Master Data + Keyword","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=18724759"},"filtersUI":{"values":[{"lookupColumn":"Sl No.","lookupValue":"={{ $json['Sl No.'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2544,1600],"id":"f302ed1d-e619-4f98-bf09-b683337e980f","name":"Get row WA Number7","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}},{"parameters":{"content":"## Monthly Message 25th","height":416,"width":1936,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1696,1472],"id":"ced32ebf-b7d7-4048-8f46-7bbc5a64a70c","name":"Sticky Note7"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":6,"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-272,2128],"id":"7f409b6d-f8c6-4f9b-b8ea-edea443ec034","name":"Schedule Trigger8"},{"parameters":{"assignments":{"assignments":[{"id":"9037c411-5d0b-44a5-90b2-aacb6912c5a3","name":"Monthly Message\t1st","value":"=*Requesting for Video Testimonial*\n\nHi Dr,\nTo create engaging and informative content, we encourage you to seek video (30-40 sec) testimonials from your patients.\n\nOnce you get the video testimonials, please share it with us so we can edit the raw footage and enable it with the required multimedia and post it on your Social Media.\n\nLooking forward to your positive reply on this.\n\nBest Regards,\nTeam Dr Smart","type":"string"},{"id":"cb27e360-9140-46f5-ab02-75a3401e5c3a","name":"WhatsApp Number","value":"={{ $json.WhatsApp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,2144],"id":"ac11fbbc-3356-4920-9b8c-c34004768098","name":"Edit Fields8"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"={{ $json['WhatsApp Number'] }}","text":"={{ $json['Monthly Message\t1st'] }}","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[832,2144],"id":"e9e3f7c8-1168-41ae-9e53-75289b8a6a5c","name":"Send a text message8","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU","mode":"list","cachedResultName":"Master Data + Keyword","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-48,2128],"id":"e032080c-8956-4249-9005-9005367183f2","name":"Get row(s) in sheet8","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[160,2128],"id":"4426587e-9c62-4692-99e8-17993a890d58","name":"Loop Over Items8"},{"parameters":{"amount":"={{ $json.randomNumber }}","unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1248,2144],"id":"ad605a74-0e1a-45cc-ad6a-2288c7bff5f7","name":"Wait8","webhookId":"b100265e-d75c-4fad-a65c-84139d165210"},{"parameters":{"jsCode":"// Generate a random number between 1 and 10 with two decimal precision\nconst randomNumber = (Math.random() * (10 - 1) + 1).toFixed(0);\n\n// Return it as output\nreturn [\n  {\n    json: {\n      randomNumber: parseFloat(randomNumber)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,2144],"id":"7cbea231-ca7f-49da-abef-de35a7fb2300","name":"RandomeTimeDigit8"},{"parameters":{"documentId":{"__rl":true,"value":"1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU","mode":"list","cachedResultName":"Master Data + Keyword","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=18724759"},"filtersUI":{"values":[{"lookupColumn":"Sl No.","lookupValue":"={{ $json['Sl No.'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[448,2144],"id":"928614d8-c9a4-43f1-9de3-3f80a6b6eae6","name":"Get row WA Number8","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}},{"parameters":{"content":"## Monthly Message 6th","height":416,"width":1936,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-384,2016],"id":"78210f07-0466-43ed-9384-38bbfbd0a46d","name":"Sticky Note8"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":13,"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-256,2624],"id":"04596f52-3b2c-42a4-b68f-60edfa9a7396","name":"Schedule Trigger9"},{"parameters":{"assignments":{"assignments":[{"id":"9037c411-5d0b-44a5-90b2-aacb6912c5a3","name":"Monthly Message\t1st","value":"=*Requesting for Video Testimonial*\n\nHi Dr,\nTo create engaging and informative content, we encourage you to seek video (30-40 sec) testimonials from your patients.\n\nOnce you get the video testimonials, please share it with us so we can edit the raw footage and enable it with the required multimedia and post it on your Social Media.\n\nLooking forward to your positive reply on this.\n\nBest Regards,\nTeam Dr Smart","type":"string"},{"id":"cb27e360-9140-46f5-ab02-75a3401e5c3a","name":"WhatsApp Number","value":"={{ $json.WhatsApp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[656,2640],"id":"eb84dda1-c50b-4143-94e2-2929297eb6e1","name":"Edit Fields9"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"={{ $json['WhatsApp Number'] }}","text":"={{ $json['Monthly Message\t1st'] }}","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[848,2640],"id":"bc935ccd-57a0-4fe0-9a63-b18ba59bc6c5","name":"Send a text message9","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU","mode":"list","cachedResultName":"Master Data + Keyword","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-32,2624],"id":"38b3590a-7122-48cf-ae6f-e97f8c92f54c","name":"Get row(s) in sheet9","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[176,2624],"id":"a9f92265-1888-4b82-bf3b-1cb2ded73d56","name":"Loop Over Items9"},{"parameters":{"amount":"={{ $json.randomNumber }}","unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1264,2640],"id":"b0661943-6e0e-499c-b392-bb9a8ad4b11e","name":"Wait9","webhookId":"b100265e-d75c-4fad-a65c-84139d165210"},{"parameters":{"jsCode":"// Generate a random number between 1 and 10 with two decimal precision\nconst randomNumber = (Math.random() * (10 - 1) + 1).toFixed(0);\n\n// Return it as output\nreturn [\n  {\n    json: {\n      randomNumber: parseFloat(randomNumber)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1056,2640],"id":"d6c4a3b2-442d-4465-926f-167d45586116","name":"RandomeTimeDigit9"},{"parameters":{"documentId":{"__rl":true,"value":"1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU","mode":"list","cachedResultName":"Master Data + Keyword","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=18724759"},"filtersUI":{"values":[{"lookupColumn":"Sl No.","lookupValue":"={{ $json['Sl No.'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[464,2640],"id":"29a21e97-67cd-4114-afea-7126cf328573","name":"Get row WA Number9","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}},{"parameters":{"content":"## Monthly Message 13th","height":416,"width":1936,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-368,2512],"id":"36934cc3-d833-4da6-8d32-90ec005b458a","name":"Sticky Note9"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":6,"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1808,2112],"id":"79e65559-1c88-4ce5-b957-4e0dcb48c034","name":"Schedule Trigger10"},{"parameters":{"assignments":{"assignments":[{"id":"9037c411-5d0b-44a5-90b2-aacb6912c5a3","name":"Monthly Message\t1st","value":"=*Requesting for Video Testimonial*\n\nHi Dr,\nTo create engaging and informative content, we encourage you to seek video (30-40 sec) testimonials from your patients.\n\nOnce you get the video testimonials, please share it with us so we can edit the raw footage and enable it with the required multimedia and post it on your Social Media.\n\nLooking forward to your positive reply on this.\n\nBest Regards,\nTeam Dr Smart","type":"string"},{"id":"cb27e360-9140-46f5-ab02-75a3401e5c3a","name":"WhatsApp Number","value":"={{ $json.WhatsApp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2720,2128],"id":"a08733cd-c74a-48ed-a7bb-2574065296aa","name":"Edit Fields10"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"={{ $json['WhatsApp Number'] }}","text":"={{ $json['Monthly Message\t1st'] }}","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[2912,2128],"id":"bb22723f-8377-4d52-b104-afdf72852707","name":"Send a text message10","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU","mode":"list","cachedResultName":"Master Data + Keyword","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2032,2112],"id":"595d420d-8283-4695-a6c5-86673af7ce33","name":"Get row(s) in sheet10","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2240,2112],"id":"d2c7c907-705e-4f78-833d-fa10cd462050","name":"Loop Over Items10"},{"parameters":{"amount":"={{ $json.randomNumber }}","unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3328,2128],"id":"84eb775e-49dd-4bb9-afbe-5b105a6abc04","name":"Wait10","webhookId":"b100265e-d75c-4fad-a65c-84139d165210"},{"parameters":{"jsCode":"// Generate a random number between 1 and 10 with two decimal precision\nconst randomNumber = (Math.random() * (10 - 1) + 1).toFixed(0);\n\n// Return it as output\nreturn [\n  {\n    json: {\n      randomNumber: parseFloat(randomNumber)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3120,2128],"id":"313abfa6-51b4-45d8-b70d-c63b0a4c8f6f","name":"RandomeTimeDigit10"},{"parameters":{"documentId":{"__rl":true,"value":"1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU","mode":"list","cachedResultName":"Master Data + Keyword","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=18724759"},"filtersUI":{"values":[{"lookupColumn":"Sl No.","lookupValue":"={{ $json['Sl No.'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2528,2128],"id":"da47ee14-671a-4d3f-9150-e53a746f221a","name":"Get row WA Number10","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}},{"parameters":{"content":"## Monthly Message 20th","height":416,"width":1936,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1696,2000],"id":"3249a830-72b9-47bc-b3c2-bfedfc1c708b","name":"Sticky Note10"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":13,"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1824,2608],"id":"431eaabf-4f0e-4341-abdf-6f511497d74c","name":"Schedule Trigger11"},{"parameters":{"assignments":{"assignments":[{"id":"9037c411-5d0b-44a5-90b2-aacb6912c5a3","name":"Monthly Message\t1st","value":"=*Requesting for Video Testimonial*\n\nHi Dr,\nTo create engaging and informative content, we encourage you to seek video (30-40 sec) testimonials from your patients.\n\nOnce you get the video testimonials, please share it with us so we can edit the raw footage and enable it with the required multimedia and post it on your Social Media.\n\nLooking forward to your positive reply on this.\n\nBest Regards,\nTeam Dr Smart","type":"string"},{"id":"cb27e360-9140-46f5-ab02-75a3401e5c3a","name":"WhatsApp Number","value":"={{ $json.WhatsApp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2736,2624],"id":"c602eb45-dd3f-4fdc-8b80-31177eb7b449","name":"Edit Fields11"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"={{ $json['WhatsApp Number'] }}","text":"={{ $json['Monthly Message\t1st'] }}","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[2928,2624],"id":"7886a7b5-c1a7-46d2-8fe8-6b6e03f8741c","name":"Send a text message11","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU","mode":"list","cachedResultName":"Master Data + Keyword","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2048,2608],"id":"5bae3a04-5d61-4281-80d7-33954cff1dab","name":"Get row(s) in sheet11","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2256,2608],"id":"42c4cf04-6948-4e77-b88c-98d31777c60f","name":"Loop Over Items11"},{"parameters":{"amount":"={{ $json.randomNumber }}","unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3344,2624],"id":"073071e9-1d94-420e-8093-34631b8b45d8","name":"Wait11","webhookId":"b100265e-d75c-4fad-a65c-84139d165210"},{"parameters":{"jsCode":"// Generate a random number between 1 and 10 with two decimal precision\nconst randomNumber = (Math.random() * (10 - 1) + 1).toFixed(0);\n\n// Return it as output\nreturn [\n  {\n    json: {\n      randomNumber: parseFloat(randomNumber)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3136,2624],"id":"3ecc04c2-d445-4193-9c76-b536d58cf71d","name":"RandomeTimeDigit11"},{"parameters":{"documentId":{"__rl":true,"value":"1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU","mode":"list","cachedResultName":"Master Data + Keyword","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=18724759"},"filtersUI":{"values":[{"lookupColumn":"Sl No.","lookupValue":"={{ $json['Sl No.'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2544,2624],"id":"3bbf6bf5-fc05-4aaf-a5fb-66c960eef41b","name":"Get row WA Number11","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}},{"parameters":{"content":"## Monthly Message 27th","height":416,"width":1936,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1712,2496],"id":"9fcb2967-66ca-40c3-8d2b-25af62be68e8","name":"Sticky Note11"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Send a text message":{"main":[[{"node":"RandomeTimeDigit","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Get row WA Number","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"RandomeTimeDigit":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Get row WA Number":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Send a text message1","type":"main","index":0}]]},"Send a text message1":{"main":[[{"node":"RandomeTimeDigit1","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Get row WA Number1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"RandomeTimeDigit1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Get row WA Number1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"Get row(s) in sheet2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Send a text message2","type":"main","index":0}]]},"Send a text message2":{"main":[[{"node":"RandomeTimeDigit2","type":"main","index":0}]]},"Get row(s) in sheet2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"Get row WA Number2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"RandomeTimeDigit2":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Get row WA Number2":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Schedule Trigger3":{"main":[[{"node":"Get row(s) in sheet3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Send a text message3","type":"main","index":0}]]},"Send a text message3":{"main":[[{"node":"RandomeTimeDigit3","type":"main","index":0}]]},"Get row(s) in sheet3":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Get row WA Number3","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"RandomeTimeDigit3":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Get row WA Number3":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Schedule Trigger4":{"main":[[{"node":"Get row(s) in sheet4","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Send a text message4","type":"main","index":0}]]},"Send a text message4":{"main":[[{"node":"RandomeTimeDigit4","type":"main","index":0}]]},"Get row(s) in sheet4":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Loop Over Items4":{"main":[[],[{"node":"Get row WA Number4","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"RandomeTimeDigit4":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"Get row WA Number4":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Schedule Trigger5":{"main":[[{"node":"Get row(s) in sheet5","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Send a text message5","type":"main","index":0}]]},"Send a text message5":{"main":[[{"node":"RandomeTimeDigit5","type":"main","index":0}]]},"Get row(s) in sheet5":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"Loop Over Items5":{"main":[[],[{"node":"Get row WA Number5","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"RandomeTimeDigit5":{"main":[[{"node":"Wait5","type":"main","index":0}]]},"Get row WA Number5":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Schedule Trigger6":{"main":[[{"node":"Get row(s) in sheet6","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Send a text message6","type":"main","index":0}]]},"Send a text message6":{"main":[[{"node":"RandomeTimeDigit6","type":"main","index":0}]]},"Get row(s) in sheet6":{"main":[[{"node":"Loop Over Items6","type":"main","index":0}]]},"Loop Over Items6":{"main":[[],[{"node":"Get row WA Number6","type":"main","index":0}]]},"Wait6":{"main":[[{"node":"Loop Over Items6","type":"main","index":0}]]},"RandomeTimeDigit6":{"main":[[{"node":"Wait6","type":"main","index":0}]]},"Get row WA Number6":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"Schedule Trigger7":{"main":[[{"node":"Get row(s) in sheet7","type":"main","index":0}]]},"Edit Fields7":{"main":[[{"node":"Send a text message7","type":"main","index":0}]]},"Send a text message7":{"main":[[{"node":"RandomeTimeDigit7","type":"main","index":0}]]},"Get row(s) in sheet7":{"main":[[{"node":"Loop Over Items7","type":"main","index":0}]]},"Loop Over Items7":{"main":[[],[{"node":"Get row WA Number7","type":"main","index":0}]]},"Wait7":{"main":[[{"node":"Loop Over Items7","type":"main","index":0}]]},"RandomeTimeDigit7":{"main":[[{"node":"Wait7","type":"main","index":0}]]},"Get row WA Number7":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"Schedule Trigger8":{"main":[[{"node":"Get row(s) in sheet8","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"Send a text message8","type":"main","index":0}]]},"Send a text message8":{"main":[[{"node":"RandomeTimeDigit8","type":"main","index":0}]]},"Get row(s) in sheet8":{"main":[[{"node":"Loop Over Items8","type":"main","index":0}]]},"Loop Over Items8":{"main":[[],[{"node":"Get row WA Number8","type":"main","index":0}]]},"Wait8":{"main":[[{"node":"Loop Over Items8","type":"main","index":0}]]},"RandomeTimeDigit8":{"main":[[{"node":"Wait8","type":"main","index":0}]]},"Get row WA Number8":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"Schedule Trigger9":{"main":[[{"node":"Get row(s) in sheet9","type":"main","index":0}]]},"Edit Fields9":{"main":[[{"node":"Send a text message9","type":"main","index":0}]]},"Send a text message9":{"main":[[{"node":"RandomeTimeDigit9","type":"main","index":0}]]},"Get row(s) in sheet9":{"main":[[{"node":"Loop Over Items9","type":"main","index":0}]]},"Loop Over Items9":{"main":[[],[{"node":"Get row WA Number9","type":"main","index":0}]]},"Wait9":{"main":[[{"node":"Loop Over Items9","type":"main","index":0}]]},"RandomeTimeDigit9":{"main":[[{"node":"Wait9","type":"main","index":0}]]},"Get row WA Number9":{"main":[[{"node":"Edit Fields9","type":"main","index":0}]]},"Schedule Trigger10":{"main":[[{"node":"Get row(s) in sheet10","type":"main","index":0}]]},"Edit Fields10":{"main":[[{"node":"Send a text message10","type":"main","index":0}]]},"Send a text message10":{"main":[[{"node":"RandomeTimeDigit10","type":"main","index":0}]]},"Get row(s) in sheet10":{"main":[[{"node":"Loop Over Items10","type":"main","index":0}]]},"Loop Over Items10":{"main":[[],[{"node":"Get row WA Number10","type":"main","index":0}]]},"Wait10":{"main":[[{"node":"Loop Over Items10","type":"main","index":0}]]},"RandomeTimeDigit10":{"main":[[{"node":"Wait10","type":"main","index":0}]]},"Get row WA Number10":{"main":[[{"node":"Edit Fields10","type":"main","index":0}]]},"Schedule Trigger11":{"main":[[{"node":"Get row(s) in sheet11","type":"main","index":0}]]},"Edit Fields11":{"main":[[{"node":"Send a text message11","type":"main","index":0}]]},"Send a text message11":{"main":[[{"node":"RandomeTimeDigit11","type":"main","index":0}]]},"Get row(s) in sheet11":{"main":[[{"node":"Loop Over Items11","type":"main","index":0}]]},"Loop Over Items11":{"main":[[],[{"node":"Get row WA Number11","type":"main","index":0}]]},"Wait11":{"main":[[{"node":"Loop Over Items11","type":"main","index":0}]]},"RandomeTimeDigit11":{"main":[[{"node":"Wait11","type":"main","index":0}]]},"Get row WA Number11":{"main":[[{"node":"Edit Fields11","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"G2KZfyUFGXoArofH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Schedule Trigger2":{"recurrenceRules":[]},"node:Schedule Trigger3":{"recurrenceRules":[]},"node:Schedule Trigger4":{"recurrenceRules":[]},"node:Schedule Trigger5":{"recurrenceRules":[]},"node:Schedule Trigger6":{"recurrenceRules":[]},"node:Schedule Trigger7":{"recurrenceRules":[]},"node:Schedule Trigger8":{"recurrenceRules":[]},"node:Schedule Trigger9":{"recurrenceRules":[]},"node:Schedule Trigger10":{"recurrenceRules":[]},"node:Schedule Trigger11":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"93baf023-9059-4619-b67d-2545ae507e1a","triggerCount":12,"shared":[{"createdAt":"2025-08-28T15:10:23.458Z","updatedAt":"2025-08-28T15:10:23.458Z","role":"workflow:owner","workflowId":"Hit4zXJr6pQbSqZw","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[{"createdAt":"2025-09-02T10:01:51.030Z","updatedAt":"2025-09-02T10:01:51.030Z","id":"mu1NpHC676A7L71l","name":"WhatsApp"}]}