monthly-automated-messages---part-1-Hit4zXJr6pQbSqZw.json
{"createdAt":"2025-08-28T15:10:23.458Z","updatedAt":"2025-10-07T16:28:41.516Z","id":"Hit4zXJr6pQbSqZw","name":"Monthly Automated Messages - Part 1","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"months","triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-320,128],"id":"4d290e59-16d1-4d3c-bea5-65eff433e738","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"9037c411-5d0b-44a5-90b2-aacb6912c5a3","name":"Monthly Message\t1st","value":"=*Your Social Media Content Calendar*\n\nHi Dr,\nWe started creating your strategic content calendar for the upcoming month.\n\nIf you have any special days to be added for next month's calendar, please let us know.\n\nBest Regards,\nTeam Dr Smart","type":"string"},{"id":"cb27e360-9140-46f5-ab02-75a3401e5c3a","name":"WhatsApp Number","value":"={{ $json.WhatsApp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[592,144],"id":"be9d76da-b35f-4187-a0db-145e508038b7","name":"Edit Fields"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"={{ $json['WhatsApp Number'] }}","text":"={{ $json['Monthly Message\t1st'] }}","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[784,144],"id":"cb6e3524-a5e3-47bb-9429-54ab2335c74d","name":"Send a text message","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-96,128],"id":"a41807d6-de1e-4355-94dc-914ec6e8a67e","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[112,128],"id":"a8be56a3-6a2e-4d9d-8261-71fc4f1bbe94","name":"Loop Over Items"},{"parameters":{"amount":"={{ $json.randomNumber }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1200,144],"id":"298d3ea5-eb44-4239-8805-f9c70bc07992","name":"Wait","webhookId":"b100265e-d75c-4fad-a65c-84139d165210"},{"parameters":{"jsCode":"// Generate a random number between 1 and 10 with two decimal precision\nconst randomNumber = (Math.random() * (180 - 1) + 1).toFixed(0);\n\n// Return it as output\nreturn [\n  {\n    json: {\n      randomNumber: parseFloat(randomNumber)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[992,144],"id":"d4b9ef7a-4492-4728-b4a0-4768ee7e7570","name":"RandomeTimeDigit"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"filtersUI":{"values":[{"lookupColumn":"Sl No.","lookupValue":"={{ $json['Sl No.'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[400,144],"id":"41c99a4e-b200-40fe-9e19-711c4a5537fa","name":"Get row WA Number","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}},{"parameters":{"content":"## Monthly Message 1st","height":544,"width":1936},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-432,-112],"id":"75c96c76-0fd6-4040-84bc-c32deb1930fa","name":"Sticky Note"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":3,"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-304,736],"id":"8ac74681-982e-4e64-8897-60b291b69f14","name":"Schedule Trigger1"},{"parameters":{"assignments":{"assignments":[{"id":"9037c411-5d0b-44a5-90b2-aacb6912c5a3","name":"Monthly Message\t1st","value":"=Hi Dr,\nWe started creating your monthly report. \nWe will share the monthly report by 5th.\n\nBest Regards,\nTeam Dr Smart","type":"string"},{"id":"cb27e360-9140-46f5-ab02-75a3401e5c3a","name":"WhatsApp Number","value":"={{ $json.WhatsApp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,752],"id":"36525d67-0123-44b3-8ab0-87dcaca9b262","name":"Edit Fields1"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"={{ $json['WhatsApp Number'] }}","text":"={{ $json['Monthly Message\t1st'] }}","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[800,752],"id":"cf8e8059-2b4a-4f54-b830-8a87742c9100","name":"Send a text message1","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-80,736],"id":"774b111f-0ca9-4499-a0a9-12d39aa00551","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[128,736],"id":"1fe10e9f-4336-45f3-b852-65a9422cbbba","name":"Loop Over Items1"},{"parameters":{"amount":"={{ $json.randomNumber }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1216,752],"id":"f7f2b1f9-b152-4de8-a9cb-8314a32411b4","name":"Wait1","webhookId":"b100265e-d75c-4fad-a65c-84139d165210"},{"parameters":{"jsCode":"// Generate a random number between 1 and 10 with two decimal precision\nconst randomNumber = (Math.random() * (180 - 1) + 1).toFixed(0);\n\n// Return it as output\nreturn [\n  {\n    json: {\n      randomNumber: parseFloat(randomNumber)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,752],"id":"31158dad-f57d-421a-ab77-f35968fe50a8","name":"RandomeTimeDigit1"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"filtersUI":{"values":[{"lookupColumn":"Sl No.","lookupValue":"={{ $json['Sl No.'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[416,752],"id":"79eb0711-8c14-44c1-8da0-562a7e1498aa","name":"Get row WA Number1","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}},{"parameters":{"content":"## Monthly Message 3rd","height":528,"width":1936},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-416,512],"id":"209d2a45-25ea-4423-81a1-706746ccec83","name":"Sticky Note1"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":5,"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1792,128],"id":"c1e3fd94-aaca-4e78-bc51-3aa14ad16bad","name":"Schedule Trigger2"},{"parameters":{"assignments":{"assignments":[{"id":"9037c411-5d0b-44a5-90b2-aacb6912c5a3","name":"Monthly Message\t1st","value":"=*Your Social Media Content & Designs*\n(Creatives, Case Studies, Shorts/Reels, Blogs)\n\nHi Dr,\nWe started creating your social media content and designs for the upcoming month.\n\nIf you have any special posts to be added for next month's creatives, please let us know.\n\nBest Regards,\nTeam Dr Smart","type":"string"},{"id":"cb27e360-9140-46f5-ab02-75a3401e5c3a","name":"WhatsApp Number","value":"={{ $json.WhatsApp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2704,144],"id":"9982c70b-4b82-457e-8090-13b75d4c8e37","name":"Edit Fields2"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"={{ $json['WhatsApp Number'] }}","text":"={{ $json['Monthly Message\t1st'] }}","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[2896,144],"id":"45e8648c-a075-4cb5-bd58-53a4f805aead","name":"Send a text message2","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2016,128],"id":"341ed72d-80d5-4675-83dc-afc727f0a3c4","name":"Get row(s) in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2224,128],"id":"fefc5898-efa5-424f-8caa-87ec2b6b057a","name":"Loop Over Items2"},{"parameters":{"amount":"={{ $json.randomNumber }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3312,144],"id":"7a468b87-b3f6-4f7a-be20-0e11a0e642e0","name":"Wait2","webhookId":"b100265e-d75c-4fad-a65c-84139d165210"},{"parameters":{"jsCode":"// Generate a random number between 1 and 10 with two decimal precision\nconst randomNumber = (Math.random() * (180 - 1) + 1).toFixed(0);\n\n// Return it as output\nreturn [\n  {\n    json: {\n      randomNumber: parseFloat(randomNumber)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3104,144],"id":"0132efc8-1929-4c95-9926-3580c4b9ea75","name":"RandomeTimeDigit2"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"filtersUI":{"values":[{"lookupColumn":"Sl No.","lookupValue":"={{ $json['Sl No.'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2512,144],"id":"94171c4c-448b-4d95-8c8b-cc532cd943a6","name":"Get row WA Number2","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}},{"parameters":{"content":"## Monthly Message 5th","height":544,"width":1936},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1680,-112],"id":"b587abcf-79b1-4f26-b205-954d49fc3171","name":"Sticky Note2"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":7,"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1808,736],"id":"5e794ccd-619c-456c-a727-a43bd6996550","name":"Schedule Trigger3"},{"parameters":{"assignments":{"assignments":[{"id":"9037c411-5d0b-44a5-90b2-aacb6912c5a3","name":"Monthly Message\t1st","value":"=*Your Social Media Auditing*\n\nHi Dr,\nWe started monthly auditing for all your social media channels. \nWe will fix it if we find any gaps or missing information/details.\n\nBest Regards,\nTeam Dr Smart","type":"string"},{"id":"cb27e360-9140-46f5-ab02-75a3401e5c3a","name":"WhatsApp Number","value":"={{ $json.WhatsApp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2720,752],"id":"d33b276c-ce48-49e6-a678-663f1d45be06","name":"Edit Fields3"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"={{ $json['WhatsApp Number'] }}","text":"={{ $json['Monthly Message\t1st'] }}","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[2912,752],"id":"22643ae9-aef4-4848-9098-b57b9fed52e1","name":"Send a text message3","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}},"disabled":true},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2032,736],"id":"4634589d-5ea6-45c2-b5f1-f833c5d81d18","name":"Get row(s) in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2240,736],"id":"ac47c5e4-898c-4d17-aff1-5c9829e7256d","name":"Loop Over Items3"},{"parameters":{"amount":"={{ $json.randomNumber }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3328,752],"id":"01e89a94-af4f-48e8-a56d-a6c807d1344e","name":"Wait3","webhookId":"b100265e-d75c-4fad-a65c-84139d165210"},{"parameters":{"jsCode":"// Generate a random number between 1 and 10 with two decimal precision\nconst randomNumber = (Math.random() * (180 - 1) + 1).toFixed(0);\n\n// Return it as output\nreturn [\n  {\n    json: {\n      randomNumber: parseFloat(randomNumber)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3120,752],"id":"61cbd50e-b82e-496a-aebc-8b8b67ce916e","name":"RandomeTimeDigit3"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"filtersUI":{"values":[{"lookupColumn":"Sl No.","lookupValue":"={{ $json['Sl No.'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2528,752],"id":"6b17bec0-1d0d-4f60-ab5b-16fe8bff41f7","name":"Get row WA Number3","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}},{"parameters":{"content":"## Monthly Message 7th","height":528,"width":1936},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1696,512],"id":"4e751b39-ea7d-4776-b081-eb3448482c43","name":"Sticky Note3"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"=91{{ $json['WhatApp Number'] }}","text":"=*Your Social Media Auditing*\n\nHi Dr,\nWe started monthly auditing for all your social media channels. \nWe will fix it if we find any gaps or missing information/details.\n\nBest Regards,\nTeam Dr Smart","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[3248,560],"id":"e6c1b1f4-22dc-4028-8cb8-e7473e79a9cf","name":"Send a text message24","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2976,544],"id":"3ca96b8c-df6e-4adc-a1d5-6f37405b413f","name":"Loop Over Items24"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3456,560],"id":"718fe726-4412-49a8-83be-ec30a1128f68","name":"Wait24","webhookId":"c1065ba9-97d5-43ec-b09c-be87e4a0a295"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":518420944,"mode":"list","cachedResultName":"Employee List - WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=518420944"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2544,544],"id":"d4f3ebb0-c806-4ede-9cc5-0288d58b99da","name":"Get row(s) in sheet7","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[2752,544],"id":"c9a868b4-c591-4086-8ae3-b2d5db3b5c44","name":"Remove Duplicates"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"=91{{ $json['WhatApp Number'] }}","text":"=*Your Social Media Auditing*\n\nHi Dr,\nWe started monthly auditing for all your social media channels. \nWe will fix it if we find any gaps or missing information/details.\n\nBest Regards,\nTeam Dr Smart","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[3216,-32],"id":"ff2dff2a-cc1d-44a4-ac9c-0bad6ce98896","name":"Send a text message25","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2944,-48],"id":"43a6fa5b-4b4a-49c6-bf36-dfa1b18f9bf6","name":"Loop Over Items25"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3424,-32],"id":"f4245d3e-6611-4a2b-9809-88ca4c5b3496","name":"Wait25","webhookId":"c1065ba9-97d5-43ec-b09c-be87e4a0a295"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":518420944,"mode":"list","cachedResultName":"Employee List - WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=518420944"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2512,-48],"id":"5821e4aa-3df6-4acb-8128-aea250965fd5","name":"Get row(s) in sheet8","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[2720,-48],"id":"9003e194-73a6-4c0b-8b0e-ebed12faad96","name":"Remove Duplicates1"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"=91{{ $json['WhatApp Number'] }}","text":"=*Your Social Media Auditing*\n\nHi Dr,\nWe started monthly auditing for all your social media channels. \nWe will fix it if we find any gaps or missing information/details.\n\nBest Regards,\nTeam Dr Smart","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[1120,-48],"id":"667728c6-933f-4e7e-b707-3cec46866f3d","name":"Send a text message26","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[848,-64],"id":"7f8095ee-6ce0-417d-8f5b-39b249580ee2","name":"Loop Over Items26"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1328,-48],"id":"23b9fe14-d9ca-4aed-8c10-d935e96fdb02","name":"Wait26","webhookId":"c1065ba9-97d5-43ec-b09c-be87e4a0a295"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":518420944,"mode":"list","cachedResultName":"Employee List - WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=518420944"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[416,-64],"id":"607d98f4-9a49-46e2-b02a-6ff552cbe197","name":"Get row(s) in sheet9","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[624,-64],"id":"ba92a557-c091-4b44-9c07-6111872abf1e","name":"Remove Duplicates2"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"=91{{ $json['WhatApp Number'] }}","text":"=*Your Social Media Auditing*\n\nHi Dr,\nWe started monthly auditing for all your social media channels. \nWe will fix it if we find any gaps or missing information/details.\n\nBest Regards,\nTeam Dr Smart","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[1136,592],"id":"301c2fda-5122-4e6a-86dc-729e2a795c1e","name":"Send a text message27","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[864,576],"id":"b7e92e6a-d4dc-4e6d-9340-a9c10634e046","name":"Loop Over Items27"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1344,592],"id":"e53c203b-c652-47a2-999d-cddf21c614cc","name":"Wait27","webhookId":"c1065ba9-97d5-43ec-b09c-be87e4a0a295"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":518420944,"mode":"list","cachedResultName":"Employee List - WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=518420944"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[432,576],"id":"0ab6966c-bfef-4737-a2a6-b9a07754335d","name":"Get row(s) in sheet10","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"support@drsmart.in (Paid)"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[640,576],"id":"e6afdb19-cc15-4626-8717-3ad959770b87","name":"Remove Duplicates3"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Send a text message":{"main":[[{"node":"RandomeTimeDigit","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Get row(s) in sheet9","type":"main","index":0}],[{"node":"Get row WA Number","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"RandomeTimeDigit":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Get row WA Number":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Send a text message1","type":"main","index":0}]]},"Send a text message1":{"main":[[{"node":"RandomeTimeDigit1","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Get row(s) in sheet10","type":"main","index":0}],[{"node":"Get row WA Number1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"RandomeTimeDigit1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Get row WA Number1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"Get row(s) in sheet2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Send a text message2","type":"main","index":0}]]},"Send a text message2":{"main":[[{"node":"RandomeTimeDigit2","type":"main","index":0}]]},"Get row(s) in sheet2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"Get row(s) in sheet8","type":"main","index":0}],[{"node":"Get row WA Number2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"RandomeTimeDigit2":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Get row WA Number2":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Schedule Trigger3":{"main":[[{"node":"Get row(s) in sheet3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Send a text message3","type":"main","index":0}]]},"Send a text message3":{"main":[[{"node":"RandomeTimeDigit3","type":"main","index":0}]]},"Get row(s) in sheet3":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Loop Over Items3":{"main":[[{"node":"Get row(s) in sheet7","type":"main","index":0}],[{"node":"Get row WA Number3","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"RandomeTimeDigit3":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Get row WA Number3":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Send a text message24":{"main":[[{"node":"Wait24","type":"main","index":0}]]},"Loop Over Items24":{"main":[[],[{"node":"Send a text message24","type":"main","index":0}]]},"Wait24":{"main":[[{"node":"Loop Over Items24","type":"main","index":0}]]},"Get row(s) in sheet7":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Loop Over Items24","type":"main","index":0}]]},"Send a text message25":{"main":[[{"node":"Wait25","type":"main","index":0}]]},"Loop Over Items25":{"main":[[],[{"node":"Send a text message25","type":"main","index":0}]]},"Wait25":{"main":[[{"node":"Loop Over Items25","type":"main","index":0}]]},"Get row(s) in sheet8":{"main":[[{"node":"Remove Duplicates1","type":"main","index":0}]]},"Remove Duplicates1":{"main":[[{"node":"Loop Over Items25","type":"main","index":0}]]},"Send a text message26":{"main":[[{"node":"Wait26","type":"main","index":0}]]},"Loop Over Items26":{"main":[[],[{"node":"Send a text message26","type":"main","index":0}]]},"Wait26":{"main":[[{"node":"Loop Over Items26","type":"main","index":0}]]},"Get row(s) in sheet9":{"main":[[{"node":"Remove Duplicates2","type":"main","index":0}]]},"Remove Duplicates2":{"main":[[{"node":"Loop Over Items26","type":"main","index":0}]]},"Send a text message27":{"main":[[{"node":"Wait27","type":"main","index":0}]]},"Loop Over Items27":{"main":[[],[{"node":"Send a text message27","type":"main","index":0}]]},"Wait27":{"main":[[{"node":"Loop Over Items27","type":"main","index":0}]]},"Get row(s) in sheet10":{"main":[[{"node":"Remove Duplicates3","type":"main","index":0}]]},"Remove Duplicates3":{"main":[[{"node":"Loop Over Items27","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"G2KZfyUFGXoArofH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Schedule Trigger2":{"recurrenceRules":[]},"node:Schedule Trigger3":{"recurrenceRules":[]},"node:Schedule Trigger4":{"recurrenceRules":[]},"node:Schedule Trigger5":{"recurrenceRules":[]},"node:Schedule Trigger6":{"recurrenceRules":[]},"node:Schedule Trigger7":{"recurrenceRules":[]},"node:Schedule Trigger8":{"recurrenceRules":[]},"node:Schedule Trigger9":{"recurrenceRules":[]},"node:Schedule Trigger10":{"recurrenceRules":[]},"node:Schedule Trigger11":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger3":[{"json":{"timestamp":"2025-10-07T08:00:26.028+05:30","Readable date":"October 7th 2025, 8:00:26 am","Readable time":"8:00:26 am","Day of week":"Tuesday","Year":"2025","Month":"October","Day of month":"07","Hour":"08","Minute":"00","Second":"26","Timezone":"Asia/Kolkata (UTC+05:30)"}}]},"versionId":"c3db8f25-593c-4e4d-87d5-28a43c01fed6","triggerCount":4,"shared":[{"createdAt":"2025-08-28T15:10:23.458Z","updatedAt":"2025-08-28T15:10:23.458Z","role":"workflow:owner","workflowId":"Hit4zXJr6pQbSqZw","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[{"createdAt":"2025-09-02T10:01:51.030Z","updatedAt":"2025-09-02T10:01:51.030Z","id":"mu1NpHC676A7L71l","name":"WhatsApp"}]}