monthly-automated-messages---part-1-Hit4zXJr6pQbSqZw.json
{"createdAt":"2025-08-28T15:10:23.458Z","updatedAt":"2025-10-06T17:56:08.052Z","id":"Hit4zXJr6pQbSqZw","name":"Monthly Automated Messages - Part 1","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"months","triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-320,128],"id":"4d290e59-16d1-4d3c-bea5-65eff433e738","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"9037c411-5d0b-44a5-90b2-aacb6912c5a3","name":"Monthly Message\t1st","value":"=*Your Social Media Content Calendar*\n\nHi Dr,\nWe started creating your strategic content calendar for the upcoming month.\n\nIf you have any special days to be added for next month's calendar, please let us know.\n\nBest Regards,\nTeam Dr Smart","type":"string"},{"id":"cb27e360-9140-46f5-ab02-75a3401e5c3a","name":"WhatsApp Number","value":"={{ $json.WhatsApp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[592,144],"id":"be9d76da-b35f-4187-a0db-145e508038b7","name":"Edit Fields"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"={{ $json['WhatsApp Number'] }}","text":"={{ $json['Monthly Message\t1st'] }}","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[784,144],"id":"cb6e3524-a5e3-47bb-9429-54ab2335c74d","name":"Send a text message","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU","mode":"list","cachedResultName":"Master Data + Keyword","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-96,128],"id":"a41807d6-de1e-4355-94dc-914ec6e8a67e","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[112,128],"id":"a8be56a3-6a2e-4d9d-8261-71fc4f1bbe94","name":"Loop Over Items"},{"parameters":{"amount":"={{ $json.randomNumber }}","unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1200,144],"id":"298d3ea5-eb44-4239-8805-f9c70bc07992","name":"Wait","webhookId":"b100265e-d75c-4fad-a65c-84139d165210"},{"parameters":{"jsCode":"// Generate a random number between 1 and 10 with two decimal precision\nconst randomNumber = (Math.random() * (10 - 1) + 1).toFixed(0);\n\n// Return it as output\nreturn [\n  {\n    json: {\n      randomNumber: parseFloat(randomNumber)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[992,144],"id":"d4b9ef7a-4492-4728-b4a0-4768ee7e7570","name":"RandomeTimeDigit"},{"parameters":{"documentId":{"__rl":true,"value":"1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU","mode":"list","cachedResultName":"Master Data + Keyword","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=18724759"},"filtersUI":{"values":[{"lookupColumn":"Sl No.","lookupValue":"={{ $json['Sl No.'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[400,144],"id":"41c99a4e-b200-40fe-9e19-711c4a5537fa","name":"Get row WA Number","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}},{"parameters":{"content":"## Monthly Message 1st","height":544,"width":1936},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-432,-112],"id":"75c96c76-0fd6-4040-84bc-c32deb1930fa","name":"Sticky Note"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":3,"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-304,736],"id":"8ac74681-982e-4e64-8897-60b291b69f14","name":"Schedule Trigger1"},{"parameters":{"assignments":{"assignments":[{"id":"9037c411-5d0b-44a5-90b2-aacb6912c5a3","name":"Monthly Message\t1st","value":"=Hi Dr,\nWe started creating your monthly report. \nWe will share the monthly report by 5th.\n\nBest Regards,\nTeam Dr Smart","type":"string"},{"id":"cb27e360-9140-46f5-ab02-75a3401e5c3a","name":"WhatsApp Number","value":"={{ $json.WhatsApp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,752],"id":"36525d67-0123-44b3-8ab0-87dcaca9b262","name":"Edit Fields1"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"={{ $json['WhatsApp Number'] }}","text":"={{ $json['Monthly Message\t1st'] }}","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[800,752],"id":"cf8e8059-2b4a-4f54-b830-8a87742c9100","name":"Send a text message1","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU","mode":"list","cachedResultName":"Master Data + Keyword","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-80,736],"id":"774b111f-0ca9-4499-a0a9-12d39aa00551","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[128,736],"id":"1fe10e9f-4336-45f3-b852-65a9422cbbba","name":"Loop Over Items1"},{"parameters":{"amount":"={{ $json.randomNumber }}","unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1216,752],"id":"f7f2b1f9-b152-4de8-a9cb-8314a32411b4","name":"Wait1","webhookId":"b100265e-d75c-4fad-a65c-84139d165210"},{"parameters":{"jsCode":"// Generate a random number between 1 and 10 with two decimal precision\nconst randomNumber = (Math.random() * (10 - 1) + 1).toFixed(0);\n\n// Return it as output\nreturn [\n  {\n    json: {\n      randomNumber: parseFloat(randomNumber)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,752],"id":"31158dad-f57d-421a-ab77-f35968fe50a8","name":"RandomeTimeDigit1"},{"parameters":{"documentId":{"__rl":true,"value":"1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU","mode":"list","cachedResultName":"Master Data + Keyword","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=18724759"},"filtersUI":{"values":[{"lookupColumn":"Sl No.","lookupValue":"={{ $json['Sl No.'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[416,752],"id":"79eb0711-8c14-44c1-8da0-562a7e1498aa","name":"Get row WA Number1","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}},{"parameters":{"content":"## Monthly Message 3rd","height":528,"width":1936},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-416,512],"id":"209d2a45-25ea-4423-81a1-706746ccec83","name":"Sticky Note1"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":5,"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1792,128],"id":"c1e3fd94-aaca-4e78-bc51-3aa14ad16bad","name":"Schedule Trigger2"},{"parameters":{"assignments":{"assignments":[{"id":"9037c411-5d0b-44a5-90b2-aacb6912c5a3","name":"Monthly Message\t1st","value":"=*Your Social Media Content & Designs*\n(Creatives, Case Studies, Shorts/Reels, Blogs)\n\nHi Dr,\nWe started creating your social media content and designs for the upcoming month.\n\nIf you have any special posts to be added for next month's creatives, please let us know.\n\nBest Regards,\nTeam Dr Smart","type":"string"},{"id":"cb27e360-9140-46f5-ab02-75a3401e5c3a","name":"WhatsApp Number","value":"={{ $json.WhatsApp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2704,144],"id":"9982c70b-4b82-457e-8090-13b75d4c8e37","name":"Edit Fields2"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"={{ $json['WhatsApp Number'] }}","text":"={{ $json['Monthly Message\t1st'] }}","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[2896,144],"id":"45e8648c-a075-4cb5-bd58-53a4f805aead","name":"Send a text message2","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU","mode":"list","cachedResultName":"Master Data + Keyword","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2016,128],"id":"341ed72d-80d5-4675-83dc-afc727f0a3c4","name":"Get row(s) in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2224,128],"id":"fefc5898-efa5-424f-8caa-87ec2b6b057a","name":"Loop Over Items2"},{"parameters":{"amount":"={{ $json.randomNumber }}","unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3312,144],"id":"7a468b87-b3f6-4f7a-be20-0e11a0e642e0","name":"Wait2","webhookId":"b100265e-d75c-4fad-a65c-84139d165210"},{"parameters":{"jsCode":"// Generate a random number between 1 and 10 with two decimal precision\nconst randomNumber = (Math.random() * (10 - 1) + 1).toFixed(0);\n\n// Return it as output\nreturn [\n  {\n    json: {\n      randomNumber: parseFloat(randomNumber)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3104,144],"id":"0132efc8-1929-4c95-9926-3580c4b9ea75","name":"RandomeTimeDigit2"},{"parameters":{"documentId":{"__rl":true,"value":"1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU","mode":"list","cachedResultName":"Master Data + Keyword","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=18724759"},"filtersUI":{"values":[{"lookupColumn":"Sl No.","lookupValue":"={{ $json['Sl No.'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2512,144],"id":"94171c4c-448b-4d95-8c8b-cc532cd943a6","name":"Get row WA Number2","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}},{"parameters":{"content":"## Monthly Message 5th","height":544,"width":1936},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1680,-112],"id":"b587abcf-79b1-4f26-b205-954d49fc3171","name":"Sticky Note2"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":7,"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1808,736],"id":"5e794ccd-619c-456c-a727-a43bd6996550","name":"Schedule Trigger3"},{"parameters":{"assignments":{"assignments":[{"id":"9037c411-5d0b-44a5-90b2-aacb6912c5a3","name":"Monthly Message\t1st","value":"=*Your Social Media Auditing*\n\nHi Dr,\nWe started monthly auditing for all your social media channels. \nWe will fix it if we find any gaps or missing information/details.\n\nBest Regards,\nTeam Dr Smart","type":"string"},{"id":"cb27e360-9140-46f5-ab02-75a3401e5c3a","name":"WhatsApp Number","value":"={{ $json.WhatsApp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2720,752],"id":"d33b276c-ce48-49e6-a678-663f1d45be06","name":"Edit Fields3"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"={{ $json['WhatsApp Number'] }}","text":"={{ $json['Monthly Message\t1st'] }}","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[2912,752],"id":"22643ae9-aef4-4848-9098-b57b9fed52e1","name":"Send a text message3","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU","mode":"list","cachedResultName":"Master Data + Keyword","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2032,736],"id":"4634589d-5ea6-45c2-b5f1-f833c5d81d18","name":"Get row(s) in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2240,736],"id":"ac47c5e4-898c-4d17-aff1-5c9829e7256d","name":"Loop Over Items3"},{"parameters":{"amount":"={{ $json.randomNumber }}","unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3328,752],"id":"01e89a94-af4f-48e8-a56d-a6c807d1344e","name":"Wait3","webhookId":"b100265e-d75c-4fad-a65c-84139d165210"},{"parameters":{"jsCode":"// Generate a random number between 1 and 10 with two decimal precision\nconst randomNumber = (Math.random() * (10 - 1) + 1).toFixed(0);\n\n// Return it as output\nreturn [\n  {\n    json: {\n      randomNumber: parseFloat(randomNumber)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3120,752],"id":"61cbd50e-b82e-496a-aebc-8b8b67ce916e","name":"RandomeTimeDigit3"},{"parameters":{"documentId":{"__rl":true,"value":"1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU","mode":"list","cachedResultName":"Master Data + Keyword","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=18724759"},"filtersUI":{"values":[{"lookupColumn":"Sl No.","lookupValue":"={{ $json['Sl No.'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2528,752],"id":"6b17bec0-1d0d-4f60-ab5b-16fe8bff41f7","name":"Get row WA Number3","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}},{"parameters":{"content":"## Monthly Message 7th","height":528,"width":1936},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1696,512],"id":"4e751b39-ea7d-4776-b081-eb3448482c43","name":"Sticky Note3"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"={{ $json['Phone No.'] }}","text":"=*Your Social Media Auditing*\n\nHi Dr,\nWe started monthly auditing for all your social media channels. \nWe will fix it if we find any gaps or missing information/details.\n\nBest Regards,\nTeam Dr Smart","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[896,-32],"id":"38c41348-a72f-411f-8309-45bfd88e0c96","name":"Send a text message21","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[624,-48],"id":"0b7942da-0884-45d8-b344-f08e4247d0c6","name":"Loop Over Items21"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1104,-32],"id":"5efa76cb-146a-4a7c-93a1-3ec31fa6066a","name":"Wait21","webhookId":"c1065ba9-97d5-43ec-b09c-be87e4a0a295"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":518420944,"mode":"list","cachedResultName":"Employee List - WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=518420944"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[400,-48],"id":"5edbd46f-2d58-429e-a490-4f77148b4935","name":"Get row(s) in sheet4","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"Official Google Sheet"}}},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"={{ $json['Phone No.'] }}","text":"=*Your Social Media Auditing*\n\nHi Dr,\nWe started monthly auditing for all your social media channels. \nWe will fix it if we find any gaps or missing information/details.\n\nBest Regards,\nTeam Dr Smart","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[912,544],"id":"7399df39-c2dd-4eb8-9c18-cb68691836f3","name":"Send a text message22","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[640,528],"id":"907d7575-2462-491f-8ccc-89721d23b884","name":"Loop Over Items22"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1120,544],"id":"ccbc1ca2-fedd-45d7-b02e-c97b961e6d4e","name":"Wait22","webhookId":"c1065ba9-97d5-43ec-b09c-be87e4a0a295"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":518420944,"mode":"list","cachedResultName":"Employee List - WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=518420944"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[416,528],"id":"b2a6f113-6059-4f25-8a78-03b915a5aec5","name":"Get row(s) in sheet5","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"Official Google Sheet"}}},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"={{ $json['Phone No.'] }}","text":"=*Your Social Media Auditing*\n\nHi Dr,\nWe started monthly auditing for all your social media channels. \nWe will fix it if we find any gaps or missing information/details.\n\nBest Regards,\nTeam Dr Smart","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[3008,-48],"id":"eff07925-7362-42a6-9450-9f95d0378880","name":"Send a text message23","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2736,-64],"id":"f6d88767-83cb-4661-8132-0992d554b063","name":"Loop Over Items23"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3216,-48],"id":"e0b4c6aa-9b1c-4ebe-9a93-8a0e47da0096","name":"Wait23","webhookId":"c1065ba9-97d5-43ec-b09c-be87e4a0a295"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":518420944,"mode":"list","cachedResultName":"Employee List - WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=518420944"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2512,-64],"id":"42f72700-e090-4b39-8a7b-b3733665899c","name":"Get row(s) in sheet6","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"Official Google Sheet"}}},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"={{ $json['Phone No.'] }}","text":"=*Your Social Media Auditing*\n\nHi Dr,\nWe started monthly auditing for all your social media channels. \nWe will fix it if we find any gaps or missing information/details.\n\nBest Regards,\nTeam Dr Smart","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[3040,560],"id":"e6c1b1f4-22dc-4028-8cb8-e7473e79a9cf","name":"Send a text message24","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2768,544],"id":"3ca96b8c-df6e-4adc-a1d5-6f37405b413f","name":"Loop Over Items24"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3248,560],"id":"718fe726-4412-49a8-83be-ec30a1128f68","name":"Wait24","webhookId":"c1065ba9-97d5-43ec-b09c-be87e4a0a295"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":518420944,"mode":"list","cachedResultName":"Employee List - WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=518420944"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2544,544],"id":"d4f3ebb0-c806-4ede-9cc5-0288d58b99da","name":"Get row(s) in sheet7","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"Official Google Sheet"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Send a text message":{"main":[[{"node":"RandomeTimeDigit","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Get row(s) in sheet4","type":"main","index":0}],[{"node":"Get row WA Number","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"RandomeTimeDigit":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Get row WA Number":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Send a text message1","type":"main","index":0}]]},"Send a text message1":{"main":[[{"node":"RandomeTimeDigit1","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Get row(s) in sheet5","type":"main","index":0}],[{"node":"Get row WA Number1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"RandomeTimeDigit1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Get row WA Number1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"Get row(s) in sheet2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Send a text message2","type":"main","index":0}]]},"Send a text message2":{"main":[[{"node":"RandomeTimeDigit2","type":"main","index":0}]]},"Get row(s) in sheet2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"Get row(s) in sheet6","type":"main","index":0}],[{"node":"Get row WA Number2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"RandomeTimeDigit2":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Get row WA Number2":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Schedule Trigger3":{"main":[[{"node":"Get row(s) in sheet3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Send a text message3","type":"main","index":0}]]},"Send a text message3":{"main":[[{"node":"RandomeTimeDigit3","type":"main","index":0}]]},"Get row(s) in sheet3":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Loop Over Items3":{"main":[[{"node":"Get row(s) in sheet7","type":"main","index":0}],[{"node":"Get row WA Number3","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"RandomeTimeDigit3":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Get row WA Number3":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Send a text message21":{"main":[[{"node":"Wait21","type":"main","index":0}]]},"Loop Over Items21":{"main":[[],[{"node":"Send a text message21","type":"main","index":0}]]},"Wait21":{"main":[[{"node":"Loop Over Items21","type":"main","index":0}]]},"Get row(s) in sheet4":{"main":[[{"node":"Loop Over Items21","type":"main","index":0}]]},"Send a text message22":{"main":[[{"node":"Wait22","type":"main","index":0}]]},"Loop Over Items22":{"main":[[],[{"node":"Send a text message22","type":"main","index":0}]]},"Wait22":{"main":[[{"node":"Loop Over Items22","type":"main","index":0}]]},"Get row(s) in sheet5":{"main":[[{"node":"Loop Over Items22","type":"main","index":0}]]},"Send a text message23":{"main":[[{"node":"Wait23","type":"main","index":0}]]},"Loop Over Items23":{"main":[[],[{"node":"Send a text message23","type":"main","index":0}]]},"Wait23":{"main":[[{"node":"Loop Over Items23","type":"main","index":0}]]},"Get row(s) in sheet6":{"main":[[{"node":"Loop Over Items23","type":"main","index":0}]]},"Send a text message24":{"main":[[{"node":"Wait24","type":"main","index":0}]]},"Loop Over Items24":{"main":[[],[{"node":"Send a text message24","type":"main","index":0}]]},"Wait24":{"main":[[{"node":"Loop Over Items24","type":"main","index":0}]]},"Get row(s) in sheet7":{"main":[[{"node":"Loop Over Items24","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"G2KZfyUFGXoArofH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Schedule Trigger2":{"recurrenceRules":[]},"node:Schedule Trigger3":{"recurrenceRules":[]},"node:Schedule Trigger4":{"recurrenceRules":[]},"node:Schedule Trigger5":{"recurrenceRules":[]},"node:Schedule Trigger6":{"recurrenceRules":[]},"node:Schedule Trigger7":{"recurrenceRules":[]},"node:Schedule Trigger8":{"recurrenceRules":[]},"node:Schedule Trigger9":{"recurrenceRules":[]},"node:Schedule Trigger10":{"recurrenceRules":[]},"node:Schedule Trigger11":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4771fb43-45ba-4257-a35a-48a8cfdbf374","triggerCount":4,"shared":[{"createdAt":"2025-08-28T15:10:23.458Z","updatedAt":"2025-08-28T15:10:23.458Z","role":"workflow:owner","workflowId":"Hit4zXJr6pQbSqZw","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[{"createdAt":"2025-09-02T10:01:51.030Z","updatedAt":"2025-09-02T10:01:51.030Z","id":"mu1NpHC676A7L71l","name":"WhatsApp"}]}