monthly-automated-messages---part-3-vefX0UtbsX4qEJTD.json
{"createdAt":"2025-10-06T09:17:26.937Z","updatedAt":"2025-10-06T17:53:55.269Z","id":"vefX0UtbsX4qEJTD","name":"Monthly Automated Messages - Part 3","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":6,"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-272,2528],"id":"e143b588-3d6e-41ad-9994-94e2ca4d52a2","name":"Schedule Trigger8"},{"parameters":{"assignments":{"assignments":[{"id":"9037c411-5d0b-44a5-90b2-aacb6912c5a3","name":"Monthly Message\t1st","value":"=*Requesting for Video Testimonial*\n\nHi Dr,\nTo create engaging and informative content, we encourage you to seek video (30-40 sec) testimonials from your patients.\n\nOnce you get the video testimonials, please share it with us so we can edit the raw footage and enable it with the required multimedia and post it on your Social Media.\n\nLooking forward to your positive reply on this.\n\nBest Regards,\nTeam Dr Smart","type":"string"},{"id":"cb27e360-9140-46f5-ab02-75a3401e5c3a","name":"WhatsApp Number","value":"={{ $json.WhatsApp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[672,2544],"id":"aebb0abb-c211-4e5a-9073-b505561e67f1","name":"Edit Fields8"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"={{ $json['WhatsApp Number'] }}","text":"={{ $json['Monthly Message\t1st'] }}","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[864,2544],"id":"49029fc1-07f1-4cee-8c9c-b0e86916f67c","name":"Send a text message8","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}},"disabled":true},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-48,2528],"id":"6ca93ece-8475-43bf-9a92-9372b1330c09","name":"Get row(s) in sheet8","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"Official Google Sheet"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[160,2528],"id":"c6f5397f-c0e0-474e-962f-6d30d126500f","name":"Loop Over Items8"},{"parameters":{"amount":"=10"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1280,2544],"id":"cfd48cc5-c8b2-4b13-a486-f78ac1415480","name":"Wait8","webhookId":"1e06c448-b5f7-43f6-b03f-b6b9dbe4a2d1"},{"parameters":{"jsCode":"// Generate a random number between 1 and 10 with two decimal precision\nconst randomNumber = (Math.random() * (10 - 1) + 1).toFixed(0);\n\n// Return it as output\nreturn [\n  {\n    json: {\n      randomNumber: parseFloat(randomNumber)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,2544],"id":"ca9f13ef-7197-4c83-bb2a-554fca57e6e6","name":"RandomeTimeDigit8"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"filtersUI":{"values":[{"lookupColumn":"Sl No.","lookupValue":"={{ $json['Sl No.'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[480,2544],"id":"31bae00a-b8a8-4c8a-b648-7f6b3f6ab607","name":"Get row WA Number8","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"Official Google Sheet"}}},{"parameters":{"content":"## Monthly Message 6th","height":528,"width":1936,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-384,2304],"id":"1e151575-c13d-4dab-aab2-8d2373781b75","name":"Sticky Note8"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":13,"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-272,3168],"id":"ca1075d0-4297-4963-96a1-97be1c7b1708","name":"Schedule Trigger9"},{"parameters":{"assignments":{"assignments":[{"id":"9037c411-5d0b-44a5-90b2-aacb6912c5a3","name":"Monthly Message\t1st","value":"=*Requesting for Video Testimonial*\n\nHi Dr,\nTo create engaging and informative content, we encourage you to seek video (30-40 sec) testimonials from your patients.\n\nOnce you get the video testimonials, please share it with us so we can edit the raw footage and enable it with the required multimedia and post it on your Social Media.\n\nLooking forward to your positive reply on this.\n\nBest Regards,\nTeam Dr Smart","type":"string"},{"id":"cb27e360-9140-46f5-ab02-75a3401e5c3a","name":"WhatsApp Number","value":"={{ $json.WhatsApp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,3184],"id":"e1a787d4-b7cc-4dba-9ec9-57aa3a51422e","name":"Edit Fields9"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"={{ $json['WhatsApp Number'] }}","text":"={{ $json['Monthly Message\t1st'] }}","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[832,3184],"id":"90879d71-bbfe-416a-85bd-c85476d8bb76","name":"Send a text message9","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-48,3168],"id":"eb2c55eb-37cd-4030-98c9-f1c13be2b4c6","name":"Get row(s) in sheet9","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"Official Google Sheet"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[160,3168],"id":"cd727b81-76b9-40f2-8199-6d5972f4cc2b","name":"Loop Over Items9"},{"parameters":{"amount":"={{ $json.randomNumber }}","unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1248,3184],"id":"9e6b4208-ff0f-4742-9d32-2995adfdc3de","name":"Wait9","webhookId":"8ddb7b9b-d266-45d0-a4cc-bff795e54ed1"},{"parameters":{"jsCode":"// Generate a random number between 1 and 10 with two decimal precision\nconst randomNumber = (Math.random() * (10 - 1) + 1).toFixed(0);\n\n// Return it as output\nreturn [\n  {\n    json: {\n      randomNumber: parseFloat(randomNumber)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,3184],"id":"6755eece-8d57-44ab-a19c-eac6f08bb4b7","name":"RandomeTimeDigit9"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"filtersUI":{"values":[{"lookupColumn":"Sl No.","lookupValue":"={{ $json['Sl No.'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[448,3184],"id":"565dc559-5dee-493d-b4ec-5b391945f3b7","name":"Get row WA Number9","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"Official Google Sheet"}}},{"parameters":{"content":"## Monthly Message 13th","height":560,"width":1936,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-384,2912],"id":"0d19dfd6-847c-4411-a75f-4b1a0b86b359","name":"Sticky Note9"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":20,"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1808,2512],"id":"594b49eb-39c5-44e2-a0d9-8c2b5b19e428","name":"Schedule Trigger10"},{"parameters":{"assignments":{"assignments":[{"id":"9037c411-5d0b-44a5-90b2-aacb6912c5a3","name":"Monthly Message\t1st","value":"=*Requesting for Video Testimonial*\n\nHi Dr,\nTo create engaging and informative content, we encourage you to seek video (30-40 sec) testimonials from your patients.\n\nOnce you get the video testimonials, please share it with us so we can edit the raw footage and enable it with the required multimedia and post it on your Social Media.\n\nLooking forward to your positive reply on this.\n\nBest Regards,\nTeam Dr Smart","type":"string"},{"id":"cb27e360-9140-46f5-ab02-75a3401e5c3a","name":"WhatsApp Number","value":"={{ $json.WhatsApp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2720,2528],"id":"79dffcd2-3baf-4dec-9a59-d8cd7426b148","name":"Edit Fields10"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"={{ $json['WhatsApp Number'] }}","text":"={{ $json['Monthly Message\t1st'] }}","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[2912,2528],"id":"b60c103c-a7ce-49e9-955a-50ede9cc1f79","name":"Send a text message10","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2032,2512],"id":"df032233-d777-4afd-b277-88f331d0f869","name":"Get row(s) in sheet10","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"Official Google Sheet"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2240,2512],"id":"4caa2a8d-f49e-4541-8016-96913a4a56df","name":"Loop Over Items10"},{"parameters":{"amount":"={{ $json.randomNumber }}","unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3328,2528],"id":"403aae31-d8f1-4694-9483-d4e00e4b73d1","name":"Wait10","webhookId":"a21e41d0-fa52-49cc-84cf-3287050f081d"},{"parameters":{"jsCode":"// Generate a random number between 1 and 10 with two decimal precision\nconst randomNumber = (Math.random() * (10 - 1) + 1).toFixed(0);\n\n// Return it as output\nreturn [\n  {\n    json: {\n      randomNumber: parseFloat(randomNumber)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3120,2528],"id":"04dc8ce4-757d-4ecb-93f1-0711c4242ea6","name":"RandomeTimeDigit10"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"filtersUI":{"values":[{"lookupColumn":"Sl No.","lookupValue":"={{ $json['Sl No.'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2528,2528],"id":"763b1f0b-9ef6-4f8b-9ad0-3645774907a5","name":"Get row WA Number10","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"Official Google Sheet"}}},{"parameters":{"content":"## Monthly Message 20th","height":512,"width":1936,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1696,2304],"id":"5c3a7719-1fab-4434-87a8-13c54c804ded","name":"Sticky Note10"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":27,"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1808,3152],"id":"37bf402d-2314-4220-a954-961e246bb3dc","name":"Schedule Trigger11"},{"parameters":{"assignments":{"assignments":[{"id":"9037c411-5d0b-44a5-90b2-aacb6912c5a3","name":"Monthly Message\t1st","value":"=*Requesting for Video Testimonial*\n\nHi Dr,\nTo create engaging and informative content, we encourage you to seek video (30-40 sec) testimonials from your patients.\n\nOnce you get the video testimonials, please share it with us so we can edit the raw footage and enable it with the required multimedia and post it on your Social Media.\n\nLooking forward to your positive reply on this.\n\nBest Regards,\nTeam Dr Smart","type":"string"},{"id":"cb27e360-9140-46f5-ab02-75a3401e5c3a","name":"WhatsApp Number","value":"={{ $json.WhatsApp }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2720,3168],"id":"d0b88990-7c72-406f-aeac-bee118ddb020","name":"Edit Fields11"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"={{ $json['WhatsApp Number'] }}","text":"={{ $json['Monthly Message\t1st'] }}","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[2912,3168],"id":"952a13a5-04ad-4477-bdd0-0fc0c7da1d51","name":"Send a text message11","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2032,3152],"id":"103a5e92-07f2-4666-bdca-4ea3d1555725","name":"Get row(s) in sheet11","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"Official Google Sheet"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2240,3152],"id":"b8e9c363-2abe-48a0-bc9b-0a5b66929cc9","name":"Loop Over Items11"},{"parameters":{"amount":"={{ $json.randomNumber }}","unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3328,3168],"id":"10e99776-4476-436d-8b37-2b53e63137c9","name":"Wait11","webhookId":"96be93bf-3850-453a-b956-ebd6bd5049ea"},{"parameters":{"jsCode":"// Generate a random number between 1 and 10 with two decimal precision\nconst randomNumber = (Math.random() * (10 - 1) + 1).toFixed(0);\n\n// Return it as output\nreturn [\n  {\n    json: {\n      randomNumber: parseFloat(randomNumber)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3120,3168],"id":"8c52cd2a-0c58-4555-a9af-fcf5a364e21e","name":"RandomeTimeDigit11"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=18724759"},"filtersUI":{"values":[{"lookupColumn":"Sl No.","lookupValue":"={{ $json['Sl No.'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2528,3168],"id":"73da39c5-38d3-4a90-82d6-c645f0879b8b","name":"Get row WA Number11","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"Official Google Sheet"}}},{"parameters":{"content":"## Monthly Message 27th","height":560,"width":1936,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1696,2896],"id":"cb624dd0-5c9e-42bd-b8f4-786cdd495005","name":"Sticky Note11"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"={{ $json['Phone No.'] }}","text":"=*Requesting for Video Testimonial*\n\nHi Dr,\nTo create engaging and informative content, we encourage you to seek video (30-40 sec) testimonials from your patients.\n\nOnce you get the video testimonials, please share it with us so we can edit the raw footage and enable it with the required multimedia and post it on your Social Media.\n\nLooking forward to your positive reply on this.\n\nBest Regards,\nTeam Dr Smart","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[976,2352],"id":"b56ee943-1693-4da5-954e-6e9df565090f","name":"Send a text message20","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[704,2336],"id":"7fe85359-7a4e-4671-ae82-10b3c819a399","name":"Loop Over Items20"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1184,2352],"id":"ed88b206-41eb-4207-b77c-7842d6277daf","name":"Wait20","webhookId":"c1065ba9-97d5-43ec-b09c-be87e4a0a295"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":518420944,"mode":"list","cachedResultName":"Employee List - WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=518420944"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[480,2336],"id":"593bc562-3641-47c8-a8c9-a351e9dd3d26","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"Official Google Sheet"}}},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"={{ $json['Phone No.'] }}","text":"=*Requesting for Video Testimonial*\n\nHi Dr,\nTo create engaging and informative content, we encourage you to seek video (30-40 sec) testimonials from your patients.\n\nOnce you get the video testimonials, please share it with us so we can edit the raw footage and enable it with the required multimedia and post it on your Social Media.\n\nLooking forward to your positive reply on this.\n\nBest Regards,\nTeam Dr Smart","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[3040,2336],"id":"c57070de-2be8-4821-bba8-ae0c037f5207","name":"Send a text message","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2768,2320],"id":"b88e6ff7-6973-432f-bda1-73073aefd5f4","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3248,2336],"id":"fe514983-4965-4d6f-9555-188944b1f78a","name":"Wait","webhookId":"c1065ba9-97d5-43ec-b09c-be87e4a0a295"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":518420944,"mode":"list","cachedResultName":"Employee List - WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=518420944"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2544,2320],"id":"15bfb21e-4ab2-485d-9d03-b7e0876e2b9f","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"Official Google Sheet"}}},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"={{ $json['Phone No.'] }}","text":"=*Requesting for Video Testimonial*\n\nHi Dr,\nTo create engaging and informative content, we encourage you to seek video (30-40 sec) testimonials from your patients.\n\nOnce you get the video testimonials, please share it with us so we can edit the raw footage and enable it with the required multimedia and post it on your Social Media.\n\nLooking forward to your positive reply on this.\n\nBest Regards,\nTeam Dr Smart","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[960,2992],"id":"1d72ae94-9fcb-413c-a953-eab134288ea6","name":"Send a text message21","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[688,2976],"id":"a182e169-78d4-4525-a85a-463a88726f4c","name":"Loop Over Items21"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1168,2992],"id":"5974f297-26f2-4ef3-99ad-11664c39505b","name":"Wait21","webhookId":"c1065ba9-97d5-43ec-b09c-be87e4a0a295"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":518420944,"mode":"list","cachedResultName":"Employee List - WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=518420944"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[464,2976],"id":"d5931e6f-47fc-4db7-b63b-7e9882c83f62","name":"Get row(s) in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"Official Google Sheet"}}},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"default","chatId":"={{ $json['Phone No.'] }}","text":"=*Requesting for Video Testimonial*\n\nHi Dr,\nTo create engaging and informative content, we encourage you to seek video (30-40 sec) testimonials from your patients.\n\nOnce you get the video testimonials, please share it with us so we can edit the raw footage and enable it with the required multimedia and post it on your Social Media.\n\nLooking forward to your positive reply on this.\n\nBest Regards,\nTeam Dr Smart","requestOptions":{}},"type":"n8n-nodes-waha.WAHA","typeVersion":202411,"position":[3024,2944],"id":"493fb1cb-8f0b-4c6c-89c3-ff264f159b73","name":"Send a text message22","credentials":{"wahaApi":{"id":"bZyv4ti8tpojTUPu","name":"WAHA account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2752,2928],"id":"bcca535e-e2d3-4be2-82da-ddecc13dabfc","name":"Loop Over Items22"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3232,2944],"id":"2435b20f-be05-4601-8b93-6942d2b0e600","name":"Wait22","webhookId":"c1065ba9-97d5-43ec-b09c-be87e4a0a295"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":518420944,"mode":"list","cachedResultName":"Employee List - WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=518420944"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2528,2928],"id":"beea4411-c64e-4c7e-a121-14128ba066ab","name":"Get row(s) in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"yhnjWNHv9zFqiX2a","name":"Official Google Sheet"}}}],"connections":{"Schedule Trigger8":{"main":[[{"node":"Get row(s) in sheet8","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"Send a text message8","type":"main","index":0}]]},"Send a text message8":{"main":[[{"node":"RandomeTimeDigit8","type":"main","index":0}]]},"Get row(s) in sheet8":{"main":[[{"node":"Loop Over Items8","type":"main","index":0}]]},"Loop Over Items8":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}],[{"node":"Get row WA Number8","type":"main","index":0}]]},"Wait8":{"main":[[{"node":"Loop Over Items8","type":"main","index":0}]]},"RandomeTimeDigit8":{"main":[[{"node":"Wait8","type":"main","index":0}]]},"Get row WA Number8":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"Schedule Trigger9":{"main":[[{"node":"Get row(s) in sheet9","type":"main","index":0}]]},"Edit Fields9":{"main":[[{"node":"Send a text message9","type":"main","index":0}]]},"Send a text message9":{"main":[[{"node":"RandomeTimeDigit9","type":"main","index":0}]]},"Get row(s) in sheet9":{"main":[[{"node":"Loop Over Items9","type":"main","index":0}]]},"Loop Over Items9":{"main":[[{"node":"Get row(s) in sheet2","type":"main","index":0}],[{"node":"Get row WA Number9","type":"main","index":0}]]},"Wait9":{"main":[[{"node":"Loop Over Items9","type":"main","index":0}]]},"RandomeTimeDigit9":{"main":[[{"node":"Wait9","type":"main","index":0}]]},"Get row WA Number9":{"main":[[{"node":"Edit Fields9","type":"main","index":0}]]},"Schedule Trigger10":{"main":[[{"node":"Get row(s) in sheet10","type":"main","index":0}]]},"Edit Fields10":{"main":[[{"node":"Send a text message10","type":"main","index":0}]]},"Send a text message10":{"main":[[{"node":"RandomeTimeDigit10","type":"main","index":0}]]},"Get row(s) in sheet10":{"main":[[{"node":"Loop Over Items10","type":"main","index":0}]]},"Loop Over Items10":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}],[{"node":"Get row WA Number10","type":"main","index":0}]]},"Wait10":{"main":[[{"node":"Loop Over Items10","type":"main","index":0}]]},"RandomeTimeDigit10":{"main":[[{"node":"Wait10","type":"main","index":0}]]},"Get row WA Number10":{"main":[[{"node":"Edit Fields10","type":"main","index":0}]]},"Schedule Trigger11":{"main":[[{"node":"Get row(s) in sheet11","type":"main","index":0}]]},"Edit Fields11":{"main":[[{"node":"Send a text message11","type":"main","index":0}]]},"Send a text message11":{"main":[[{"node":"RandomeTimeDigit11","type":"main","index":0}]]},"Get row(s) in sheet11":{"main":[[{"node":"Loop Over Items11","type":"main","index":0}]]},"Loop Over Items11":{"main":[[{"node":"Get row(s) in sheet3","type":"main","index":0}],[{"node":"Get row WA Number11","type":"main","index":0}]]},"Wait11":{"main":[[{"node":"Loop Over Items11","type":"main","index":0}]]},"RandomeTimeDigit11":{"main":[[{"node":"Wait11","type":"main","index":0}]]},"Get row WA Number11":{"main":[[{"node":"Edit Fields11","type":"main","index":0}]]},"Send a text message20":{"main":[[{"node":"Wait20","type":"main","index":0}]]},"Loop Over Items20":{"main":[[],[{"node":"Send a text message20","type":"main","index":0}]]},"Wait20":{"main":[[{"node":"Loop Over Items20","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Loop Over Items20","type":"main","index":0}]]},"Send a text message":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Send a text message","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Send a text message21":{"main":[[{"node":"Wait21","type":"main","index":0}]]},"Loop Over Items21":{"main":[[],[{"node":"Send a text message21","type":"main","index":0}]]},"Wait21":{"main":[[{"node":"Loop Over Items21","type":"main","index":0}]]},"Get row(s) in sheet2":{"main":[[{"node":"Loop Over Items21","type":"main","index":0}]]},"Send a text message22":{"main":[[{"node":"Wait22","type":"main","index":0}]]},"Loop Over Items22":{"main":[[],[{"node":"Send a text message22","type":"main","index":0}]]},"Wait22":{"main":[[{"node":"Loop Over Items22","type":"main","index":0}]]},"Get row(s) in sheet3":{"main":[[{"node":"Loop Over Items22","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"G2KZfyUFGXoArofH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Schedule Trigger2":{"recurrenceRules":[]},"node:Schedule Trigger3":{"recurrenceRules":[]},"node:Schedule Trigger4":{"recurrenceRules":[]},"node:Schedule Trigger5":{"recurrenceRules":[]},"node:Schedule Trigger6":{"recurrenceRules":[]},"node:Schedule Trigger7":{"recurrenceRules":[]},"node:Schedule Trigger8":{"recurrenceRules":[]},"node:Schedule Trigger9":{"recurrenceRules":[]},"node:Schedule Trigger10":{"recurrenceRules":[]},"node:Schedule Trigger11":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9f57065e-6383-42be-bd08-e591a5c752c1","triggerCount":4,"shared":[{"createdAt":"2025-10-06T09:17:26.937Z","updatedAt":"2025-10-06T09:17:26.937Z","role":"workflow:owner","workflowId":"vefX0UtbsX4qEJTD","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[{"createdAt":"2025-09-02T10:01:51.030Z","updatedAt":"2025-09-02T10:01:51.030Z","id":"mu1NpHC676A7L71l","name":"WhatsApp"}]}