openrouter-reminder-hZ8pbbTFvm6yafrC.json
{"createdAt":"2025-11-20T17:59:52.659Z","updatedAt":"2025-11-20T18:08:00.471Z","id":"hZ8pbbTFvm6yafrC","name":"OpenRouter Reminder","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"8c2276bf-0f38-4c03-b585-4bd1201460fa","name":"Schedule Trigger"},{"parameters":{"jsCode":"const total_credits = $input.first().json.data.total_credits;\nconst total_usage = $input.first().json.data.total_usage;\nconst current_balance = total_credits - total_usage;\n\nreturn [{ json: { current_balance } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,0],"id":"5f1c93c0-97a0-47e3-8a92-9a6c3ddda0b6","name":"Current Balance"},{"parameters":{"url":"https://openrouter.ai/api/v1/credits","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 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"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,0],"id":"c6c5f982-5aff-4c50-9c19-49abf47752b0","name":"Get Credits"},{"parameters":{"phoneNumber":"=919030033823","message":"=Hello sir, please recharge OpenRouter: https://openrouter.ai/"},"type":"@aldinokemal2104/n8n-nodes-gowa.gowa","typeVersion":1,"position":[864,16],"id":"700c87f6-32aa-4b16-b647-e670985bd39c","name":"Send Reminder","credentials":{"goWhatsappApi":{"id":"mZAEXMToCau4GSWu","name":"GOWA account"}}},{"parameters":{"sendTo":"kr@drsmart.in","subject":"=Recharge OpenRouter","message":"=Hello sir, please recharge Open Router.","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1040,16],"id":"843eb250-f7b6-47c7-8b35-db4832de1f77","name":"Send a message","webhookId":"86515004-5285-4c58-9847-8ad90e024bd3","credentials":{"gmailOAuth2":{"id":"MgEDXYdkksYmmclO","name":"Gmail account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"41861122-65ff-42f5-9f43-80845baa85f0","leftValue":"={{ $json.current_balance }}","rightValue":5,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[624,0],"id":"c849d2f9-a109-4f7f-9dd5-c88c46b4bf48","name":"Check Credit"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get Credits","type":"main","index":0}]]},"Get Credits":{"main":[[{"node":"Current Balance","type":"main","index":0}]]},"Current Balance":{"main":[[{"node":"Check Credit","type":"main","index":0}]]},"Send Reminder":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Check Credit":{"main":[[],[{"node":"Send Reminder","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a3f7912d-4db0-4891-b34a-004761f13ae8","triggerCount":0,"shared":[{"createdAt":"2025-11-20T17:59:52.659Z","updatedAt":"2025-11-20T17:59:52.659Z","role":"workflow:owner","workflowId":"hZ8pbbTFvm6yafrC","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[]}