recurring-task-mgoQSLjJJe96xTRH.json
{"createdAt":"2025-09-23T15:06:35.625Z","updatedAt":"2025-09-23T19:33:18.406Z","id":"mgoQSLjJJe96xTRH","name":"Recurring Task","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1296,240],"id":"375d39fc-a338-426f-bed5-5593ea710e5b","name":"Schedule Trigger"},{"parameters":{"method":"POST","url":"https://crm.drsmart.in/rest/tasks","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJjNzQ1M2U0MC1hZDljLTQzMmItODc5Mi0xNzFhMGJmYzI5NzAiLCJ0eXBlIjoiQVBJX0tFWSIsIndvcmtzcGFjZUlkIjoiYzc0NTNlNDAtYWQ5Yy00MzJiLTg3OTItMTcxYTBiZmMyOTcwIiwiaWF0IjoxNzU4NjQyMjMwLCJleHAiOjQ5MTIyNDIyMjgsImp0aSI6ImQ4YTAzODZmLTMyZmYtNDUzNy04OTkwLTUwM2VjMDNiMDEyNCJ9.-Nzd149BaClsTaLvTGTzSfUT4IQJYxBh7280ssY5nIA"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"title\": \"{{ $json.Tasks }} for {{ $('Loop Over Clients').item.json['Clinet Name'] }}\",\n  \"position\": 1,\n  \"dueAt\": \"{{ $now.format('yyyy-MM-dd') }}T00:00:00.000Z\",\n  \"assigneeId\": \"68dee56f-4ebe-47d8-a24d-d504eb3909a6\",\n  \"status\": [\n    \"TODO\"\n  ],\n  \"taskType\": [\n    \"CALENDAR\"\n  ],\n  \"moreInformation\": \"{{ $json.Tasks }} for {{ $('Loop Over Clients').item.json.Contact }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[48,272],"id":"bd681052-97c0-4c1b-9e86-ef3020a1df39","name":"SendTaskRequest"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-864,240],"id":"02fb3aaa-e352-45ef-a71b-c1bb27a0222e","name":"Loop Over Clients"},{"parameters":{"documentId":{"__rl":true,"value":"1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU","mode":"list","cachedResultName":"Master Data + Keyword","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1088,240],"id":"eee127e0-fb89-48a2-89cd-bbab1354a197","name":"Get Clients","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}},{"parameters":{"options":{"reset":"={{ $prevNode.name === 'Split Out' }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-208,256],"id":"52c125b5-f066-4c5d-8f96-c78d0e7f445e","name":"Loop Over Items"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[208,272],"id":"a84fc5b8-847b-4781-aa85-fae24ecfbd5b","name":"Wait","webhookId":"d6425775-ec8a-4cb3-8df1-3cc40e66def2"},{"parameters":{"assignments":{"assignments":[{"id":"5e314835-2342-4e33-a814-e2442d6e1ba4","name":"Tasks","value":"=[\"Check if GMB report has been sent or not\", \"Write 3 blogs for clients\", \"Collect review from client\"]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-608,256],"id":"a487a7b1-62c2-4b93-bec7-bf62fc45514e","name":"Edit Fields"},{"parameters":{"fieldToSplitOut":"Tasks","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-400,256],"id":"14272f1c-9e15-4676-ab04-ab8b598150c5","name":"Split Out"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get Clients","type":"main","index":0}]]},"Get Clients":{"main":[[{"node":"Loop Over Clients","type":"main","index":0}]]},"Loop Over Clients":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]},"SendTaskRequest":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Loop Over Clients","type":"main","index":0}],[{"node":"SendTaskRequest","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"G2KZfyUFGXoArofH"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fb44116d-c257-4939-9502-47b8603a7eec","triggerCount":1,"shared":[{"createdAt":"2025-09-23T15:06:35.625Z","updatedAt":"2025-09-23T15:06:35.625Z","role":"workflow:owner","workflowId":"mgoQSLjJJe96xTRH","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[{"createdAt":"2025-09-23T15:06:28.680Z","updatedAt":"2025-09-23T15:06:28.680Z","id":"Bg1R7xK8RfM7LMPd","name":"Task"}]}