recurring-task-mgoQSLjJJe96xTRH.json
{"createdAt":"2025-09-23T15:06:35.625Z","updatedAt":"2025-11-20T19:26:48.544Z","id":"mgoQSLjJJe96xTRH","name":"Recurring Task","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"months","triggerAtHour":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1520,480],"id":"375d39fc-a338-426f-bed5-5593ea710e5b","name":"Schedule Trigger"},{"parameters":{"method":"POST","url":"https://crm.drsmart.in/rest/tasks","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJjNzQ1M2U0MC1hZDljLTQzMmItODc5Mi0xNzFhMGJmYzI5NzAiLCJ0eXBlIjoiQVBJX0tFWSIsIndvcmtzcGFjZUlkIjoiYzc0NTNlNDAtYWQ5Yy00MzJiLTg3OTItMTcxYTBiZmMyOTcwIiwiaWF0IjoxNzU4NjQyMjMwLCJleHAiOjQ5MTIyNDIyMjgsImp0aSI6ImQ4YTAzODZmLTMyZmYtNDUzNy04OTkwLTUwM2VjMDNiMDEyNCJ9.-Nzd149BaClsTaLvTGTzSfUT4IQJYxBh7280ssY5nIA"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"title\": \"{{ $json.Tasks }}\",\n  \"position\": 1,\n  \"dueAt\": \"{{ $now.plus({ days: 3 + Math.floor(Math.random() * 3) }).toFormat('yyyy-MM-dd') }}\",\n\"client\": {\n      \"id\": \"{{ $('Loop Over Clients').item.json['Client ID CRM'] }}\"\n      },\n  \"assigneeId\": \"{{ $('Loop Over Clients').item.json['Assignee ID'] }}\",\n  \"status\": [\n    \"TODO\"\n  ],\n  \"taskType\": [\n    \"{{ $json.Tasks.toUpperCase().replace(/\\s+/g, '_') }}\"\n  ],\n  \"moreInformation\": \"{{ $json.Tasks }} for {{ $('Loop Over Clients').item.json['Client Name'] }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-176,320],"id":"bd681052-97c0-4c1b-9e86-ef3020a1df39","name":"SendTaskRequest"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1072,320],"id":"02fb3aaa-e352-45ef-a71b-c1bb27a0222e","name":"Loop Over Clients"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":321785781,"mode":"list","cachedResultName":"Employee + Clients","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=321785781"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1296,320],"id":"eee127e0-fb89-48a2-89cd-bbab1354a197","name":"Get Clients","credentials":{"googleSheetsOAuth2Api":{"id":"VWI7ANgqySo2PhHL","name":"KR -Paid"}}},{"parameters":{"options":{"reset":"={{ $prevNode.name === 'Split Out' }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-400,320],"id":"52c125b5-f066-4c5d-8f96-c78d0e7f445e","name":"Loop Over Items"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[48,320],"id":"a84fc5b8-847b-4781-aa85-fae24ecfbd5b","name":"Wait","webhookId":"d6425775-ec8a-4cb3-8df1-3cc40e66def2"},{"parameters":{"assignments":{"assignments":[{"id":"5e314835-2342-4e33-a814-e2442d6e1ba4","name":"Tasks","value":"=[\"Calendar\", \"Blueprint\", \"Scheduling\", \"Monthly Report\"]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-848,240],"id":"a487a7b1-62c2-4b93-bec7-bf62fc45514e","name":"Edit Fields"},{"parameters":{"fieldToSplitOut":"Tasks","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-624,240],"id":"14272f1c-9e15-4676-ab04-ab8b598150c5","name":"Split Out"},{"parameters":{"method":"POST","url":"https://crm.drsmart.in/rest/tasks","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJjNzQ1M2U0MC1hZDljLTQzMmItODc5Mi0xNzFhMGJmYzI5NzAiLCJ0eXBlIjoiQVBJX0tFWSIsIndvcmtzcGFjZUlkIjoiYzc0NTNlNDAtYWQ5Yy00MzJiLTg3OTItMTcxYTBiZmMyOTcwIiwiaWF0IjoxNzU4NjQyMjMwLCJleHAiOjQ5MTIyNDIyMjgsImp0aSI6ImQ4YTAzODZmLTMyZmYtNDUzNy04OTkwLTUwM2VjMDNiMDEyNCJ9.-Nzd149BaClsTaLvTGTzSfUT4IQJYxBh7280ssY5nIA"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"title\": \"{{ $json.text }}\",\n  \"position\": 1,\n  \"dueAt\": \"{{ $json.date }}\",\n\"client\": {\n      \"id\": \"{{ $('Loop Over Clients1').item.json['Client ID CRM'] }}\"\n      },\n  \"assigneeId\": \"{{ $('Loop Over Clients1').item.json['Assignee ID'] }}\",\n  \"taskType\": [\n    \"{{ $json.text.toUpperCase().replace(/\\s+/g, '_') }}\"\n  ],\n  \"status\": [\n    \"TODO\"\n  ],\n  \"moreInformation\": \"{{ $json.text }} for {{ $('Loop Over Clients1').item.json['Client Name'] }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,656],"id":"176c0928-8c4e-4454-9264-8be772d28a21","name":"SendTaskRequest1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-640,624],"id":"5c0b0053-9ff2-4f52-9583-704f213ea653","name":"Loop Over Clients1"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":321785781,"mode":"list","cachedResultName":"Employee + Clients","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=321785781"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-864,624],"id":"e0c823e7-87b5-4a72-98bc-e672d84eba6b","name":"Get Clients1","credentials":{"googleSheetsOAuth2Api":{"id":"VWI7ANgqySo2PhHL","name":"KR -Paid"}}},{"parameters":{"options":{"reset":"={{ $prevNode.name === 'Split Out' }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[32,640],"id":"74cc4717-147c-4549-a2e7-b6f680f9f9e9","name":"Loop Over Items1"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[704,656],"id":"79cede24-a372-4695-bbec-d53c0ecaaadd","name":"Wait1","webhookId":"d6425775-ec8a-4cb3-8df1-3cc40e66def2"},{"parameters":{"jsCode":"// n8n Code node (JavaScript)\n// Returns one item with an array of all Saturdays in the month\n// Each Saturday is a date string (YYYY-MM-DD)\n\nfunction pad(n) { return String(n).padStart(2, '0'); }\n\nconst input = (items && items[0] && items[0].json) ? items[0].json : {};\nconst timeZone = input.timeZone || 'Asia/Kolkata';\nconst monthOffset = Number.isInteger(input.monthOffset) ? input.monthOffset : 0;\n\nfunction nowInTZ(tz) {\n  return new Date(new Date().toLocaleString('en-US', { timeZone: tz }));\n}\n\nconst nowTZ = nowInTZ(timeZone);\nlet targetYear = nowTZ.getFullYear();\nlet targetMonth = nowTZ.getMonth() + monthOffset;\n\nif (targetMonth < 0 || targetMonth > 11) {\n  targetYear += Math.floor(targetMonth / 12);\n  targetMonth = ((targetMonth % 12) + 12) % 12;\n}\n\nconst daysInMonth = new Date(targetYear, targetMonth + 1, 0).getDate();\n\nconst weekdayFmt = new Intl.DateTimeFormat('en-US', { weekday: 'long', timeZone });\nconst monthNameFmt = new Intl.DateTimeFormat('en-US', { month: 'long', timeZone });\nconst monthName = monthNameFmt.format(new Date(Date.UTC(targetYear, targetMonth, 15)));\n\nconst saturdays = [];\nfor (let d = 1; d <= daysInMonth; d++) {\n  const anchor = new Date(Date.UTC(targetYear, targetMonth, d, 12, 0, 0));\n  const weekday = weekdayFmt.format(anchor);\n\n  if (weekday === 'Saturday') {\n    const local = new Date(anchor.toLocaleString('en-US', { timeZone }));\n    const y = local.getFullYear();\n    const m = local.getMonth() + 1;\n    const day = local.getDate();\n    saturdays.push(`${y}-${pad(m)}-${pad(day)}`);\n  }\n}\n\n// Output one item with all Saturdays in array + metadata\nreturn [\n  {\n    json: {\n      year: targetYear,\n      month: targetMonth + 1,\n      monthName,\n      timeZone,\n      saturdays\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1264,624],"id":"c1522193-ad85-4d92-a4e2-fb672564602c","name":"Get all Saturdays in a month"},{"parameters":{"fieldToSplitOut":"Tasks","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-208,640],"id":"27a53b11-2ed5-45f1-aad6-57fb3a6563a1","name":"Split Out1"},{"parameters":{"assignments":{"assignments":[{"id":"cbdcf147-b942-4ef4-a3d4-a2a66764e9e0","name":"Tasks","value":"=[\"Review Response  {{ $('Get all Saturdays in a month').item.json.saturdays[0] }}\", \"Review Response {{ $('Get all Saturdays in a month').item.json.saturdays[1] }}\", \"Review Response {{ $('Get all Saturdays in a month').item.json.saturdays[2] }}\", \"Review Response {{ $('Get all Saturdays in a month').item.json.saturdays[3] }}\", \"Citation {{ $('Get all Saturdays in a month').item.json.saturdays[0] }}\", \"Citation {{ $('Get all Saturdays in a month').item.json.saturdays[1] }}\", \"Citation {{ $('Get all Saturdays in a month').item.json.saturdays[2] }}\", \"Citation {{ $('Get all Saturdays in a month').item.json.saturdays[3] }}\"]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-416,640],"id":"f0bf5a11-5914-4d0f-a809-22fba1f52288","name":"Edit Fields2"},{"parameters":{"jsCode":"// n8n Code node\n// Works with a field like items[0].json.Tasks = \"Review Response 2025-09-06\"\n\nconst input = items[0].json.Tasks || \"\";   // <-- use Tasks instead of text\n\nconst dateMatch = input.match(/\\d{4}-\\d{2}-\\d{2}/);\nconst date = dateMatch ? dateMatch[0] : null;\n\n// remove the date part to get only the text\nconst text = date ? input.replace(date, \"\").trim() : input;\n\nreturn [\n  {\n    json: { text, date }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[256,656],"id":"6ee5ec63-e123-4f5b-938c-a01acd0ee80a","name":"Separate String and Date"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get all Saturdays in a month","type":"main","index":0},{"node":"Get Clients","type":"main","index":0}]]},"Get Clients":{"main":[[{"node":"Loop Over Clients","type":"main","index":0}]]},"Loop Over Clients":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]},"SendTaskRequest":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Loop Over Clients","type":"main","index":0}],[{"node":"SendTaskRequest","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"SendTaskRequest1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Loop Over Clients1":{"main":[[],[{"node":"Edit Fields2","type":"main","index":0}]]},"Get Clients1":{"main":[[{"node":"Loop Over Clients1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Loop Over Clients1","type":"main","index":0}],[{"node":"Separate String and Date","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Get all Saturdays in a month":{"main":[[{"node":"Get Clients1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Separate String and Date":{"main":[[{"node":"SendTaskRequest1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"G2KZfyUFGXoArofH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9a807639-d28e-4238-96e9-cfd3ad98d300","triggerCount":1,"shared":[{"createdAt":"2025-09-23T15:06:35.625Z","updatedAt":"2025-09-23T15:06:35.625Z","role":"workflow:owner","workflowId":"mgoQSLjJJe96xTRH","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[{"createdAt":"2025-09-23T15:06:28.680Z","updatedAt":"2025-09-23T15:06:28.680Z","id":"Bg1R7xK8RfM7LMPd","name":"Task"}]}