review-reply-3jzegCBQXi4EuZeh.json
{"createdAt":"2025-12-30T07:09:23.603Z","updatedAt":"2025-12-30T07:34:35.787Z","id":"3jzegCBQXi4EuZeh","name":"Review Reply","active":false,"isArchived":true,"nodes":[{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json['Star Rating'] }}","rightValue":"FIVE","operator":{"type":"string","operation":"equals"},"id":"8ea6a3e5-4ff5-4353-b317-c543a645c078"}],"combinator":"and"},"renameOutput":true,"outputKey":"5"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ae9960c8-5410-4033-ac5b-211e9f7fa193","leftValue":"={{ $json['Star Rating'] }}","rightValue":"FOUR","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"4"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e2b69ed0-6ec6-4ac8-93a0-8041aa8b6449","leftValue":"={{ $json['Star Rating'] }}","rightValue":"THREE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"3"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8df9df8d-8467-41c1-ae4b-99c00b4e6c30","leftValue":"={{ $json['Star Rating'] }}","rightValue":"TWO","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"038f3920-350d-4ec9-8a06-8eb08edc9ea4","leftValue":"={{ $json['Star Rating'] }}","rightValue":"ONE","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"1"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-80,-32],"id":"cab53df2-c148-42a3-a68a-6e6c50c5068e","name":"Switch"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=#Role\n\nYou are a world-class Google Review Response Expert for a {{ $('Edit Fields').item.json['Business Niche'] }} business. You understand how to naturally weave SEO keywords into review responses, adapt tone based on review sentiment, and maintain a friendly, professional voice that reinforces positive brand perception. You are highly skilled at subtly optimizing content for search visibility without sounding unnatural.\n\n#Task\n\nGenerate personalized, SEO-enhanced responses to Google reviews for {{ $('Edit Fields').item.json['Business Name'] }}, a {{ $('Edit Fields').item.json['Business Niche'] }}. Review responses should naturally integrate exactly 1 of the provided keywords: “{{ $json.Keyword_1 }}”, “{{ $json.Keyword_2 }}”, “{{ $json.Keyword_3 }}”, “{{ $json.Keyword_4 }}”, and “{{ $json.Keyword_5 }}” where appropriate. The tone of each response must be adjusted based on the rating: friendly and happy for positive reviews (4+ stars), and empathetic yet professional for reviews under 4 stars. Follow a set of strict stylistic and ethical rules when responding.\n\n#SPECIFICS\n\t•\tUse contractions for a natural tone.\n\t•\tNever use or start with “Dear”.\n\t•\tFor 4+ star reviews: Use a warm, upbeat, friendly tone.\n\t•\tNever reference AI, how the response was written, or the process.\n\t•\tNever explain or justify the rules being followed—just respond.\n\t•\tEvery reply must sound authentic and tailored to the reviewer.\n\t•\tKeep responses concise to exactly 2 lines maximum, naturally incorporating exactly 1 keyword from the provided list without any modifications to maintain authenticity and readability.\n\n#TOOLS\n\nYou will use your internal capabilities to:\n\t•\tDetect sentiment and star rating of the review\n\t•\tTailor tone accordingly\n\t•\tSubtly and naturally integrate SEO keywords\n\t•\tEnsure compliance with all stylistic and ethical guidelines\n\n#EXAMPLES\n\nExample for a 5-star review:\nInput Keyword: \"Best IVF Clinic in Kompally\"\n\nOutput: “Thank you so much for your wonderful review and trust in our services! \nWe're proud to be recognized as the Best IVF Clinic in Kompally and look forward to continuing to serve you with excellence.”\n\nExample 2 (for a 4-star review):\n\nInput Keyword: \"Best Surgical Gastroenterologist  in Meerpet Hyderabad\"\n\nOutput: “We really appreciate your feedback and are grateful you chose us for your care.\nAs the Best Surgical Gastroenterologist in Meerpet Hyderabad, we're committed to providing you the highest quality treatment and service.”\n\n#NOTES\n\t•\tAlways validate that each response matches the tone and content rules before presenting.\n\t•\tKeep it informal yet professional—this task is vital to the store’s reputation and SEO goals.\n\t•\tThink carefully before responding and double-check each reply against the guidelines.","role":"system"},{"content":"=Reviewer Name:  {{ $('FirstName').item.json.firstName }}\nReview Stars: {{ $('FirstName').item.json.starRating }}\nReview Comment: {{ $('FirstName').item.json.comment }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[224,-112],"id":"578bde4d-f6ae-492e-b648-3939b8265698","name":"Positive Reply","credentials":{"openAiApi":{"id":"KtLCFA7UpTSqKYdj","name":"Openrouter account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"GPT-4.1"},"messages":{"values":[{"content":"=#Role\n\nYou are a world-class Google Review Response Specialist for negative feedback. Your mission is to protect and enhance the reputation of {{ $json['Business Name'] }}, a {{ $json['Business Niche'] }} business, by crafting thoughtful, SEO-friendly, empathetic responses to all Google reviews rated 3 stars or less. You are an expert in diffusing frustration, showing genuine care, and turning negative experiences into opportunities for brand growth—all while respecting strict tone and keyword guidelines.\n\n#Task\n\n- Respond to negative Google reviews (3 stars or less) for {{ $json['Business Name'] }}. Every response should reflect a professional yet empathetic tone, address the specific concerns in the review, and demonstrate a sincere desire to resolve the issue.\n\n- Include exactly 1 keyword from the below provided keywords naturally in each response, ensuring it blends seamlessly and sounds completely natural.\n\n- SEO keywords: “{{ $json.Keyword_1 }}”, “{{ $json.Keyword_2 }}”, “{{ $json.Keyword_3 }}”, “{{ $json.Keyword_4 }}”, and “{{ $json.Keyword_5 }}”\n\n#SPECIFICS\n\t•\tAlways respond with a friendly, empathetic, and professional tone.\n\t•\tUse contractions for a natural, conversational feel.\n\t•\tKeep responses concise—limit to exactly 2 lines maximum for brevity and impact.\n\t•\tNaturally integrate exactly 1 keyword from the provided list into each response, ensuring it flows seamlessly and sounds completely natural in context.\n\t•\tNever use or start with “Dear”.\n\t•\tShow strong commitment to customer satisfaction.\n\t•\tEncourage reviewers to contact the business directly at {{ $json['Phone Number'] }}to resolve issues.\n\t•\tIf a review mentions expired food, kindly clarify that some food items may be sold past their best before date, which is different from an expiry date, and such items are generally still good.\n\t•\tNever reference AI or how the response was generated.\n\t•\tNever explain the rules—just follow them.\n\t•\tThe goal is to de-escalate concerns, show responsiveness, and maintain trust.\n\n#TOOLS\n\nUse internal logic and language capabilities to:\n\t•\tIdentify and address specific concerns in the review\n\t•\tTailor tone to reflect empathy and professionalism\n\t•\tNaturally embed SEO terms to improve visibility\n\t•\tEnsure compliance with response tone and content policies\n\n#EXAMPLES\nExample 1:\n\nRating: 2 stars\nConcern: Long wait times and poor service\nKeyword: Best Plastic Surgeon in Bahrain\nInput: \"Waited 2 hours for my appointment and the staff was rude. Very disappointed with the service quality.\"\n\nOutput: \"We're truly sorry about the long wait and staff behavior—as the best plastic surgeon in Bahrain, we should deliver exceptional service. Please call us at {{ $json['Phone Number'] }} so we can address this immediately and improve your experience.\"\n\nExample 2:\n\nRating: 1 star\nConcern: Surgical complications and poor results\nKeyword: Robotic Knee Resurfacing Surgeon Nizamabad\nInput: \"My knee surgery didn't go well and I'm still in pain after 3 months. Not happy with the results at all.\"\n\nOutput: \"We're deeply concerned about your ongoing pain and want to help resolve this issue with our robotic knee resurfacing surgeon Nizamabad expertise. Please contact us immediately at +91-777XXXXXXX for a follow-up consultation.\"\n\nExample 3:\n\nRating: 3 stars\nConcern: Misdiagnosis and lack of communication\nKeyword: Brain tumour specialist in Secunderabad\nInput: \"Initial diagnosis was wrong and doctors didn't explain things clearly. Had to get a second opinion elsewhere.\"\n\nOutput: \"We apologize for the confusion and poor communication during your consultation with our brain tumour specialist in Secunderabad. Please call +91-777XXXXXXX so we can discuss your case properly and ensure accurate care.\"\n\n#NOTES\n\t•\tAlways validate that each response follows all tone, keyword, and response guidelines.\n\t•\tKeep tone human, professional, and proactive—this task is critical for managing the brand’s reputation and converting unhappy customers into returning ones.\n\t•\tThink carefully, stay within guidelines, and respond with care and clarity.","role":"system"},{"content":"=Reviewer Name:  {{ $('FirstName').item.json.firstName }}\nReview Stars: {{ $json['Star Rating'] }}\nReview Comment: {{ $json['GMB Comment'] }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[224,112],"id":"9ddafff2-f62e-4ba2-8244-05e148a478dd","name":"Sorry Reply","credentials":{"openAiApi":{"id":"KtLCFA7UpTSqKYdj","name":"Openrouter account"}}},{"parameters":{"assignments":{"assignments":[{"id":"6a121f40-8e05-49e0-8b7f-53b2b75f6d69","name":"=Business Name","value":"=Asian Hospitals","type":"string"},{"id":"cb886778-8ce4-4142-963a-f4df4cb55833","name":"Doctor Name","value":"=Dr. Zaheer","type":"string"},{"id":"de1a2acf-d8d6-4246-9d6c-2a9e334c3e35","name":"Business Niche","value":"=Gastroenterology","type":"string"},{"id":"3905922a-b86a-49ff-8570-7d1465b5c861","name":"Phone Number","value":"=+914042444222","type":"string"},{"id":"4163690f-8a7e-4b9d-b5f9-d20ab9c00a23","name":"Website","value":"=https://aighospitals.com/","type":"string"},{"id":"e286e4f0-da60-40db-9f5c-d7192784a639","name":"Keyword_1","value":"=Best Gastroenterologist in Banjara Hills","type":"string"},{"id":"26960fde-dabd-43eb-94f5-8734220c2ea0","name":"Keyword_2","value":"=Best Gastrointestinal Surgeon in Banjara Hills","type":"string"},{"id":"18f9e70a-ac87-454a-9f6c-0341d2d78381","name":"Keyword_3","value":"=Best Surgical Gastroenterologist in Somajiguda","type":"string"},{"id":"bcdbe77d-f5c1-4be4-b375-6ebcd4e233a7","name":"Keyword_4","value":"=Best Liver Surgeon in Banjara Hills","type":"string"},{"id":"29f259fa-33cc-49be-901d-1ef8abe3f90f","name":"Keyword_5","value":"=Best Gastro Doctor in Banjara Hills","type":"string"},{"id":"51621c67-a15f-4e83-8672-89e0719edf7c","name":"LocationId","value":"={{ $('LocationID').item.json.locationId }}","type":"string"},{"id":"1f84cc14-b848-4a5e-8079-dd74b4049c9a","name":"ReviewId","value":"={{ $('FirstName').item.json.reviewId }}","type":"string"},{"id":"37b3467b-976e-4009-b795-e47cb9dbef32","name":"GMB Comment","value":"={{ $('INDI Spine Brain').item.json.comment }}","type":"string"},{"id":"629f4378-b9c5-48d3-b08d-4e37d569d097","name":"Star Rating","value":"={{ $('FirstName').item.json.starRating }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,16],"id":"2127faf0-78a4-4e5d-8dc0-5848a085f5b0","name":"Edit Fields"},{"parameters":{"pollTimes":{"item":[{"mode":"everyHour","minute":31}]},"account":{"__rl":true,"value":"accounts/117722610585468645466","mode":"list","cachedResultName":"Dr Sm@rt"},"location":{"__rl":true,"value":"locations/3461500903447112329","mode":"list","cachedResultName":"locations/3461500903447112329"}},"type":"n8n-nodes-base.googleBusinessProfileTrigger","typeVersion":1,"position":[-1232,16],"id":"87194bfc-3c3c-452e-a9cc-ea0c3b352c8f","name":"INDI Spine Brain","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"googleBusinessProfileOAuth2Api":{"id":"fj0r4iY1wmBjDC8c","name":"Google Business Profile account"}}},{"parameters":{"jsCode":"// Method 1: Using Regular Expression (Recommended)\nfunction extractLocationId(gmbPath) {\n  const regex = /locations\\/(\\d+)/;\n  const match = gmbPath.match(regex);\n  \n  if (match) {\n    return `locations/${match[1]}`;\n  } else {\n    throw new Error('Location ID not found in the provided path');\n  }\n}\n\n// Method 2: Using String Split\nfunction extractLocationIdSplit(gmbPath) {\n  const parts = gmbPath.split('/');\n  const locationIndex = parts.indexOf('locations');\n  \n  if (locationIndex !== -1 && locationIndex + 1 < parts.length) {\n    return `locations/${parts[locationIndex + 1]}`;\n  } else {\n    throw new Error('Location ID not found in the provided path');\n  }\n}\n\n// For n8n Code Node - Use this format:\n// Based on your input data structure\n\n// Get the GMB path from the 'name' field\nconst gmbPath = $input.first().json.name;\nconst locationId = extractLocationId(gmbPath);\n\nreturn [{ json: { locationId: locationId } }];\n\n// Option 2: If you need to process multiple items\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const gmbPath = item.json.path_field_name; // Replace with your actual field name\n  const locationId = extractLocationId(gmbPath);\n  \n  results.push({\n    json: {\n      ...item.json,\n      locationId: locationId\n    }\n  });\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-592,16],"id":"3ad06751-d58d-420e-a582-d3fa0347b363","name":"LocationID"},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  // Grab the displayName from reviewer object\n  const displayName = item.json.reviewer?.displayName || '';\n  // Split and grab first name\n  const firstName = displayName.split(' ')[0] || '';\n  // Attach it to the item for later use\n  item.json.firstName = firstName;\n}\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-800,16],"id":"abe86dd8-322f-49c2-9815-d0ecb99301bc","name":"FirstName"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"92aa8bd5-0f86-48dc-9615-fc9038d9a158","leftValue":"={{ $json.reviewReply }}","rightValue":"","operator":{"type":"object","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1040,16],"id":"dd0718d6-a477-47fa-93af-9a6f81c3ce7c","name":"If"},{"parameters":{"sendTo":"thedhanrajsingh1@gmail.com","subject":"You Got a Negative Review, Check it!","message":"={{ $('FirstName').item.json.reviewer.displayName }} gave you {{ $('INDI Spine Brain').item.json.starRating }}.\n\nHere is his review:\n{{ $('INDI Spine Brain').item.json.comment }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[576,112],"id":"eea15afa-e490-4bde-85ea-5b9dd0c9d51b","name":"Send a message","webhookId":"72d1c46a-206e-4a3f-8780-d3d1127dd209","credentials":{"gmailOAuth2":{"id":"aTSuuzsH328pfdkL","name":"Gmail account"}}},{"parameters":{"resource":"review","operation":"reply","account":{"__rl":true,"value":"accounts/117722610585468645466","mode":"list","cachedResultName":"Dr Sm@rt"},"location":{"__rl":true,"value":"={{ $('Edit Fields').item.json.LocationId }}","mode":"name"},"review":{"__rl":true,"value":"={{ $('Edit Fields').item.json.ReviewId }}","mode":"id"},"reply":"={{ $json.message.content }}","requestOptions":{}},"type":"n8n-nodes-base.googleBusinessProfile","typeVersion":1,"position":[544,-112],"id":"665eae97-f6a5-4683-b8c0-92443c43d5fa","name":"Positive Reply to review","credentials":{"googleBusinessProfileOAuth2Api":{"id":"fj0r4iY1wmBjDC8c","name":"Google Business Profile account"}}},{"parameters":{"resource":"review","operation":"reply","account":{"__rl":true,"value":"accounts/117722610585468645466","mode":"list","cachedResultName":"Dr Sm@rt"},"location":{"__rl":true,"value":"={{ $('Edit Fields').item.json.LocationId }}","mode":"name"},"review":{"__rl":true,"value":"={{ $('Edit Fields').item.json.ReviewId }}","mode":"id"},"reply":"={{ $('Sorry Reply').item.json.message.content }}","requestOptions":{}},"type":"n8n-nodes-base.googleBusinessProfile","typeVersion":1,"position":[784,112],"id":"d255a7b9-c3cd-460d-ba5d-89814a03ea10","name":"Negative Reply to review1","credentials":{"googleBusinessProfileOAuth2Api":{"id":"fj0r4iY1wmBjDC8c","name":"Google Business Profile account"}}}],"connections":{"Switch":{"main":[[{"node":"Positive Reply","type":"main","index":0}],[{"node":"Positive Reply","type":"main","index":0}],[{"node":"Sorry Reply","type":"main","index":0}],[{"node":"Sorry Reply","type":"main","index":0}],[{"node":"Sorry Reply","type":"main","index":0}]]},"Positive Reply":{"main":[[{"node":"Positive Reply to review","type":"main","index":0}]]},"Sorry Reply":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Switch","type":"main","index":0}]]},"INDI Spine Brain":{"main":[[{"node":"If","type":"main","index":0}]]},"LocationID":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"FirstName":{"main":[[{"node":"LocationID","type":"main","index":0}]]},"If":{"main":[[{"node":"FirstName","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Negative Reply to review1","type":"main","index":0}]]},"Positive Reply to review":{"main":[[]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"G2KZfyUFGXoArofH"},"staticData":{"node:INDI Spine Brain":{"totalReviewCountLastTimeChecked":249}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"99b56377-ec97-4aa8-b8b0-1977ecad9b38","triggerCount":1,"shared":[{"createdAt":"2025-12-30T07:09:23.603Z","updatedAt":"2025-12-30T07:09:23.603Z","role":"workflow:owner","workflowId":"3jzegCBQXi4EuZeh","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[]}