sheet-to-report-creation-PKtYtwXUdX0W73qw.json
{"createdAt":"2025-09-25T07:57:43.735Z","updatedAt":"2025-10-04T19:01:48.353Z","id":"PKtYtwXUdX0W73qw","name":"Sheet to Report Creation","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1tDZ-QO0WPds8W5asl1zCLq5yCjrgTPaXU-3M8PVIix4","mode":"list","cachedResultName":"Client Reporting Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tDZ-QO0WPds8W5asl1zCLq5yCjrgTPaXU-3M8PVIix4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1492800070,"mode":"list","cachedResultName":"All","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tDZ-QO0WPds8W5asl1zCLq5yCjrgTPaXU-3M8PVIix4/edit#gid=1492800070"},"event":"rowUpdate","options":{"columnsToWatch":["Web & Social Audit"]}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[0,0],"id":"85de5ebc-09de-4ab7-a021-3e66dd588fbe","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"8VkIqMnsMZUgpzrO","name":"Google Sheets Trigger account"}}},{"parameters":{"inputDataFieldName":"=report.pdf","name":"={{ $('Google Sheets Trigger').item.json['Profile Name'] }} {{ (new Date()).toLocaleString('en-US', { year: 'numeric', month: 'long' }) }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1si83hcl70vOt6WFwmR0z40tqHPOsrtgl","mode":"list","cachedResultName":"Client Reports","cachedResultUrl":"https://drive.google.com/drive/folders/1si83hcl70vOt6WFwmR0z40tqHPOsrtgl"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[624,0],"id":"bc1003ae-5a8d-453c-8434-3e08f1748b59","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"hw1thgzACf84bLJW","name":"Google Drive account"}}},{"parameters":{"url":"=https://api.carbone.io/render/{{ $json.data.renderId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"carbone-version","value":"4"}]},"options":{"redirect":{"redirect":{}},"response":{"response":{"responseFormat":"file","outputPropertyName":"=report.pdf"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[416,0],"id":"02c3c18a-7a0e-45cd-a046-ddf2987affd4","name":"Download Report"},{"parameters":{"method":"POST","url":"https://api.carbone.io/render/6e9f196d3e49e3f10b0a83f7df9cac45bc26d7b93149d786c4b7fde95af2e2a0","sendHeaders":true,"headerParameters":{"parameters":[{"name":"carbone-version","value":"4"},{"name":"Authorization","value":"Bearer test_eyJhbGciOiJFUzUxMiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiIxMjUyNjEzMTA4NzQ4NzM0Mzk1IiwiYXVkIjoiY2FyYm9uZSIsImV4cCI6MjQyMTAzODMxOSwiZGF0YSI6eyJ0eXBlIjoidGVzdCJ9fQ.ATH58HcxH9V5943Nu4ohbT9fahw8uvH2UnHuL3vAo244tkbd3RnyvVs7-4gbKQlTOISd-4sFYGd9ORZLkdjGKZe-AYLXrP6VCabwU-MNAUkBGJhGq7dTIbTTRe8wNLWxFa7vsBNfOiabO1T1NAkz2qu4oN5cHfHBtnW5HOhZ-W7i9YF0"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"data\": {\n  \"customer\": \"{{ $json['Profile Name'] }}\",\n  \"month_year\": \"{{ (new Date()).toLocaleString('en-US', { year: 'numeric', month: 'long' }) }}\",\n  \"searchViews\": \"{{ $json['Search Views'] }}\",\n  \"googleProfileRank\": \"3\"\n},\n  \"convertTo\": \"pdf\"\n}","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,0],"id":"02fc78a7-64ea-4296-8c60-87c261532efb","name":"Generate Report"}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"Generate Report","type":"main","index":0}]]},"Download Report":{"main":[[{"node":"Upload file","type":"main","index":0}]]},"Generate Report":{"main":[[{"node":"Download Report","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Sheets Trigger":{"documentId":"1tDZ-QO0WPds8W5asl1zCLq5yCjrgTPaXU-3M8PVIix4","sheetId":1492800070,"lastRevision":925,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1tDZ-QO0WPds8W5asl1zCLq5yCjrgTPaXU-3M8PVIix4&revision=925&exportFormat=xlsx"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b785fb78-c3ea-4c7d-a823-658f12bcc424","triggerCount":1,"shared":[{"createdAt":"2025-09-25T07:57:43.735Z","updatedAt":"2025-09-25T07:57:43.735Z","role":"workflow:owner","workflowId":"PKtYtwXUdX0W73qw","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[]}