sheet-to-report-creation-PKtYtwXUdX0W73qw.json
{"createdAt":"2025-09-25T07:57:43.735Z","updatedAt":"2025-11-05T16:30:38.850Z","id":"PKtYtwXUdX0W73qw","name":"Sheet to Report Creation","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1aGEWvQd5g0TN8eY1V_KI3ME14mVpk6QHVtxTuSz9tvM","mode":"list","cachedResultName":"Client Reporting Sheet - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1aGEWvQd5g0TN8eY1V_KI3ME14mVpk6QHVtxTuSz9tvM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1492800070,"mode":"list","cachedResultName":"All","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1aGEWvQd5g0TN8eY1V_KI3ME14mVpk6QHVtxTuSz9tvM/edit#gid=1492800070"},"event":"rowUpdate","options":{"columnsToWatch":["Primary Keyword"]}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[0,0],"id":"85de5ebc-09de-4ab7-a021-3e66dd588fbe","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"29rUzLwW49JNNLgE","name":"KR -Paid"}}},{"parameters":{"method":"POST","url":"https://reports.drsmart.in/ingest.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-api-key","value":"supersecret123"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"Profile Name","value":"={{ $json['Profile Name'] }}"},{"name":"Start Date","value":"={{ \n  new Date((Number($json[\"Start Date\"]) - 25569) * 86400 * 1000)\n    .toLocaleDateString(\"en-GB\") \n}}"},{"name":"End Date","value":"={{ $json['End Date'] }}"},{"name":"Search Views","value":"={{ $json['Search Views'] }}"},{"name":"Interactions","value":"={{ $json['Interactions '] }}"},{"name":"Website Clicks","value":"={{ $json['Website Clicks'] }}"},{"name":"Direction Request","value":"={{ $json['Direction Request'] }}"},{"name":"Phone Calls","value":"={{ $json['Phone Calls'] }}"},{"name":"Reviews","value":"={{ $json.Reviews }}"},{"name":"Review Responses","value":"={{ $json['Review Responses'] }}"},{"name":"Ratings","value":"={{ $json['Ratings '] }}"},{"name":"Website Speed","value":"={{ $json['Website Speed'] }}"},{"name":"SEO Score","value":"={{ $json['SEO Score'] }}"},{"name":"Keyword 1","value":"={{ $json['Keyword 1'] }}"},{"name":"Rank 1","value":"={{ $json['Rank 1'] }}"},{"name":"Keyword 2","value":"={{ $json['Keyword 2'] }}"},{"name":"Rank 2","value":"={{ $json['Rank 2'] }}"},{"name":"Keyword 3","value":"={{ $json['Keyword 3'] }}"},{"name":"Rank 3","value":"={{ $json['Rank 3'] }}"},{"name":"Keyword 4","value":"={{ $json['Keyword 4'] }}"},{"name":"Rank 4","value":"={{ $json['Rank 4'] }}"},{"name":"=Keyword 5","value":"={{ $json['Keyword 5'] }}"},{"name":"Rank 5","value":"={{ $json['Rank 5'] }}"},{"name":"Citations","value":"={{ $json['Citations '] }}"},{"name":"Backlinks","value":"={{ $json['Backlinks '] }}"},{"name":"Content Marketing","value":"={{ $json['Content Marketing'] }}"},{"name":"Creatives","value":"={{ $json.Creatives }}"},{"name":"Shorts/Reels","value":"={{ $json['Shorts/Reels'] }}"},{"name":"Website SEO","value":"={{ $json['Website SEO'] }}"},{"name":"Local SEO","value":"={{ $json['Web & Social Audit'] }}"},{"name":"Web & Social Audit","value":"={{ $json['Web & Social Audit'] }}"},{"name":"Google Profile Rank","value":"={{ $json.Rank }}"},{"name":"Medical Blogs","value":"2"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,16],"id":"02fc78a7-64ea-4296-8c60-87c261532efb","name":"Generate Report"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[208,0],"id":"692e9621-608f-4f42-8fc7-f3f7fbb07be5","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[688,16],"id":"72350f21-6b7b-4aa8-a033-5d97999358fe","name":"Wait","webhookId":"ee7f87f4-15a7-4259-a32f-b202cebc2b1e"}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Generate Report":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Generate Report","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Sheets Trigger":{"documentId":"1aGEWvQd5g0TN8eY1V_KI3ME14mVpk6QHVtxTuSz9tvM","sheetId":1492800070,"lastRevision":739,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1aGEWvQd5g0TN8eY1V_KI3ME14mVpk6QHVtxTuSz9tvM&revision=739&exportFormat=xlsx"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9f019a12-ae70-4027-9d3e-799b05c431a1","triggerCount":1,"shared":[{"createdAt":"2025-09-25T07:57:43.735Z","updatedAt":"2025-09-25T07:57:43.735Z","role":"workflow:owner","workflowId":"PKtYtwXUdX0W73qw","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[]}