sheet-to-crm---monthly-report-jUqV2FGot3iinvBc.json
{"createdAt":"2025-09-24T17:44:56.471Z","updatedAt":"2025-11-04T19:04:04.673Z","id":"jUqV2FGot3iinvBc","name":"Sheet to CRM - Monthly Report","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1aGEWvQd5g0TN8eY1V_KI3ME14mVpk6QHVtxTuSz9tvM","mode":"list","cachedResultName":"Client Reporting Sheet - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1aGEWvQd5g0TN8eY1V_KI3ME14mVpk6QHVtxTuSz9tvM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1492800070,"mode":"list","cachedResultName":"All","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1aGEWvQd5g0TN8eY1V_KI3ME14mVpk6QHVtxTuSz9tvM/edit#gid=1492800070"},"event":"rowUpdate","options":{"columnsToWatch":["Primary Keyword"]}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-224,-16],"id":"ccb9528e-af90-4aa6-962c-00c802d80809","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"29rUzLwW49JNNLgE","name":"KR -Paid"}}},{"parameters":{"method":"POST","url":"https://crm.drsmart.in/rest/monthlyReports","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJjNzQ1M2U0MC1hZDljLTQzMmItODc5Mi0xNzFhMGJmYzI5NzAiLCJ0eXBlIjoiQVBJX0tFWSIsIndvcmtzcGFjZUlkIjoiYzc0NTNlNDAtYWQ5Yy00MzJiLTg3OTItMTcxYTBiZmMyOTcwIiwiaWF0IjoxNzU4NjQyMjMwLCJleHAiOjQ5MTIyNDIyMjgsImp0aSI6ImQ4YTAzODZmLTMyZmYtNDUzNy04OTkwLTUwM2VjMDNiMDEyNCJ9.-Nzd149BaClsTaLvTGTzSfUT4IQJYxBh7280ssY5nIA"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n\"name\": \"{{ $json['Profile Name'] }}\",\n\"startDate\": \"{{ new Date(($json['Start Date'] - 25569) * 86400 * 1000).toISOString().split('T')[0] }}\",\n\"endDate\": \"{{ new Date(($json['End Date'] - 25569) * 86400 * 1000).toISOString().split('T')[0] }}\",\n\"searchViews\": {{ $json['Search Views'] }},\n\"interactions\": {{ $json['Interactions '] }},\n\"websiteClicks\": {{ $json['Website Clicks'] }},\n\"directionRequest\": {{ $json['Direction Request'] }},\n\"phoneCalls\": {{ $json['Phone Calls'] }},\n\"reviews\": {{ $json.Reviews }},\n\"reviewResponses\": {{ $json['Review Responses'] }},\n\"ratings\": {{ $json['Ratings '] }},\n\"websiteSpeed\": \"{{ $json['Website Speed'] }}\",\n\"seoScore\": {{ $json['SEO Score'] }},\n\"keyword1\": \"{{ $json['Keyword 1'] ? $json['Keyword 1'] : null }}\",\n\"rank1\": {{ $json['Rank 1'] ? Number($json['Rank 1']) : 0 }},\n\"keyword2\": \"{{ $json['Keyword 2'] ? $json['Keyword 2'] : null }}\",\n\"rank2\": {{ $json['Rank 2'] ? Number($json['Rank 2']) : 0 }},\n\"keyword3\": \"{{ $json['Keyword 3'] ? $json['Keyword 3'] : null }}\",\n\"rank3\": {{ $json['Rank 3'] ? Number($json['Rank 3']) : 0 }},\n\"keyword4\": \"{{ $json['Keyword 4'] ? $json['Keyword 4'] : null }}\",\n\"rank4\": {{ $json['Rank 4'] ? Number($json['Rank 4']) : 0 }},\n\"keyword5\": \"{{ $json['Keyword 5'] ? $json['Keyword 5'] : null }}\",\n\"rank5\": {{ $json['Rank 5'] ? Number($json['Rank 5']) : 0 }},\n\"citations\": {{ $json['Citations '] }},\n\"backlinks\": {{ $json['Backlinks '] }},\n\"contentMarketing\": {{ $json['Content Marketing'] }},\n\"creatives\": {{ $json.Creatives }},\n\"shortsReels\": {{ $json['Shorts/Reels'] }},\n\"websiteSeo\": true,\n\"localSeo\": true,\n\"webSocialAudit\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[192,0],"id":"cbb28f2f-c1cc-4737-9e6c-f6d7049c4c7e","name":"HTTP Request"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[400,0],"id":"97b6f5c3-cdbd-4b22-b971-9086e78a4a91","name":"Wait","webhookId":"639cecdc-1e72-4e20-8a07-af57bd88fa1a"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-32,-16],"id":"48f60a29-92a7-45b8-bbc6-c1c659c3b894","name":"Loop Over Items"}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Sheets Trigger":{"documentId":"1aGEWvQd5g0TN8eY1V_KI3ME14mVpk6QHVtxTuSz9tvM","sheetId":1492800070,"lastRevision":739,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1aGEWvQd5g0TN8eY1V_KI3ME14mVpk6QHVtxTuSz9tvM&revision=739&exportFormat=xlsx"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"57d7be6c-0054-401f-9713-151c06fb7e86","triggerCount":1,"shared":[{"createdAt":"2025-09-24T17:44:56.471Z","updatedAt":"2025-09-24T17:44:56.471Z","role":"workflow:owner","workflowId":"jUqV2FGot3iinvBc","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[]}