sheet-to-crm---monthly-report-jUqV2FGot3iinvBc.json
{"createdAt":"2025-09-24T17:44:56.471Z","updatedAt":"2025-12-23T18:51:21.977Z","id":"jUqV2FGot3iinvBc","name":"Sheet to CRM - Monthly Report","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1aGEWvQd5g0TN8eY1V_KI3ME14mVpk6QHVtxTuSz9tvM","mode":"list","cachedResultName":"Client Reporting Sheet - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1aGEWvQd5g0TN8eY1V_KI3ME14mVpk6QHVtxTuSz9tvM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1492800070,"mode":"list","cachedResultName":"All","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1aGEWvQd5g0TN8eY1V_KI3ME14mVpk6QHVtxTuSz9tvM/edit#gid=1492800070"},"event":"rowUpdate","options":{"columnsToWatch":["Primary Keyword"]}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-224,-16],"id":"ccb9528e-af90-4aa6-962c-00c802d80809","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"29rUzLwW49JNNLgE","name":"KR -Paid"}}},{"parameters":{"method":"POST","url":"https://crm.drsmart.in/rest/monthlyReports","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJjNzQ1M2U0MC1hZDljLTQzMmItODc5Mi0xNzFhMGJmYzI5NzAiLCJ0eXBlIjoiQVBJX0tFWSIsIndvcmtzcGFjZUlkIjoiYzc0NTNlNDAtYWQ5Yy00MzJiLTg3OTItMTcxYTBiZmMyOTcwIiwiaWF0IjoxNzU4NjQyMjMwLCJleHAiOjQ5MTIyNDIyMjgsImp0aSI6ImQ4YTAzODZmLTMyZmYtNDUzNy04OTkwLTUwM2VjMDNiMDEyNCJ9.-Nzd149BaClsTaLvTGTzSfUT4IQJYxBh7280ssY5nIA"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $json[\"Profile Name\"] }}"},{"name":"startDate","value":"={{ new Date(($json['Start Date'] - 25569) * 86400 * 1000).toISOString().split('T')[0] }}"},{"name":"endDate","value":"={{ $json['End Date'] ? JSON.stringify($json['End Date'].split('/').reverse().join('-')) : null }}"},{"name":"searchViews","value":"={{ $json['Search Views'] !== undefined && $json['Search Views'] !== '' ? $json['Search Views'] : null }}"},{"name":"interactions","value":"={{ $json['Interactions '] !== undefined && $json['Interactions '] !== '' ? $json['Interactions '] : null }}"},{"name":"=websiteClicks","value":"={{ $json['Website Clicks'] !== undefined && $json['Website Clicks'] !== '' ? $json['Website Clicks'] : null }}"},{"name":"directionRequest","value":"={{ $json['Direction Request'] !== undefined && $json['Direction Request'] !== '' ? $json['Direction Request'] : null }}"},{"name":"phoneCalls","value":"={{ $json['Phone Calls'] !== undefined && $json['Phone Calls'] !== '' ? $json['Phone Calls'] : null }}"},{"name":"reviews","value":"={{ $json.Reviews !== undefined && $json.Reviews !== '' ? $json.Reviews : null }}"},{"name":"reviewResponses","value":"={{ $json['Review Responses'] !== undefined && $json['Review Responses'] !== '' ? $json['Review Responses'] : null }}"},{"name":"ratings","value":"={{ $json['Ratings '] !== undefined && $json['Ratings '] !== '' ? $json['Ratings '] : null }}"},{"name":"websiteSpeed","value":"={{ $json['Website Speed'] ? JSON.stringify($json['Website Speed']) : 0 }}"},{"name":"websiteSpeed","value":"={{ $json['Website Speed'] ? JSON.stringify($json['Website Speed']) : 0 }}"},{"name":"keyword1","value":"={{ $json['Keyword 1'] ? JSON.stringify($json['Keyword 1']) : null }}"},{"name":"rank1","value":"={{ $json['Rank 1'] !== undefined && $json['Rank 1'] !== '' ? Number($json['Rank 1']) : 0 }}"},{"name":"keyword2","value":"={{ $json['Keyword 1'] ? JSON.stringify($json['Keyword 1']) : null }}"},{"name":"rank2","value":"={{ $json['Rank 1'] !== undefined && $json['Rank 1'] !== '' ? Number($json['Rank 1']) : 0 }}"},{"name":"keyword3","value":"={{ $json['Keyword 1'] ? JSON.stringify($json['Keyword 1']) : null }}"},{"name":"rank3","value":"={{ $json['Rank 1'] !== undefined && $json['Rank 1'] !== '' ? Number($json['Rank 1']) : 0 }}"},{"name":"keyword4","value":"={{ $json['Keyword 1'] ? JSON.stringify($json['Keyword 1']) : null }}"},{"name":"rank4","value":"={{ $json['Rank 1'] !== undefined && $json['Rank 1'] !== '' ? Number($json['Rank 1']) : 0 }}"},{"name":"keyword5","value":"={{ $json['Keyword 1'] ? JSON.stringify($json['Keyword 1']) : null }}"},{"name":"rank5","value":"={{ $json['Rank 1'] !== undefined && $json['Rank 1'] !== '' ? Number($json['Rank 1']) : 0 }}"},{"name":"citations","value":"={{ $json['Citations '] !== undefined && $json['Citations '] !== '' ? $json['Citations '] : 0 }}"},{"name":"backlinks","value":"={{ $json['Backlinks '] !== undefined && $json['Backlinks '] !== '' ? $json['Backlinks '] : 0 }}"},{"name":"contentMarketing","value":"={{ $json['Content Marketing'] !== undefined && $json['Content Marketing'] !== '' ? $json['Content Marketing'] : 0 }}"},{"name":"creatives","value":"={{ $json.Creatives !== undefined && $json.Creatives !== '' ? $json.Creatives : 0 }}"},{"name":"shortsReels","value":"={{ $json['Shorts/Reels'] !== undefined && $json['Shorts/Reels'] !== '' ? $json['Shorts/Reels'] : null }}"},{"name":"websiteSeo","value":"true"},{"name":"localSeo","value":"true"},{"name":"webSocialAudit","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[192,0],"id":"cbb28f2f-c1cc-4737-9e6c-f6d7049c4c7e","name":"HTTP Request"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[400,0],"id":"97b6f5c3-cdbd-4b22-b971-9086e78a4a91","name":"Wait","webhookId":"639cecdc-1e72-4e20-8a07-af57bd88fa1a"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-32,-16],"id":"48f60a29-92a7-45b8-bbc6-c1c659c3b894","name":"Loop Over Items"}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Sheets Trigger":{"documentId":"1aGEWvQd5g0TN8eY1V_KI3ME14mVpk6QHVtxTuSz9tvM","sheetId":1492800070,"lastRevision":2524,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1aGEWvQd5g0TN8eY1V_KI3ME14mVpk6QHVtxTuSz9tvM&revision=2524&exportFormat=xlsx"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e67a4963-b1bc-45f9-8c17-4ffc4cff87a5","triggerCount":1,"shared":[{"createdAt":"2025-09-24T17:44:56.471Z","updatedAt":"2025-09-24T17:44:56.471Z","role":"workflow:owner","workflowId":"jUqV2FGot3iinvBc","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[]}