step-4---gmb-reporting-primary-keyword-KptHoOHFFBYJQaAT.json
{"createdAt":"2025-10-10T05:05:55.259Z","updatedAt":"2025-12-24T18:06:36.847Z","id":"KptHoOHFFBYJQaAT","name":"Step 4 - GMB Reporting Primary Keyword","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":5,"triggerAtHour":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1792,400],"id":"6ed73af7-c1c5-466b-a790-1bc3c2d91335","name":"Schedule Trigger"},{"parameters":{"jsCode":"// Get current date\nconst now = new Date();\n\n// Calculate last month (adjusting for January)\nlet year = now.getFullYear();\nlet month = now.getMonth() - 1;\n\nif (month < 0) {\n  month = 11;\n  year -= 1;\n}\n\n// Start date of last month\nconst startDate = new Date(year, month, 1);\n\n// End date of last month (0th day of current month = last day of previous)\nconst endDate = new Date(year, month + 1, 0);\n\n// Extract parts\nconst pad = (num) => String(num).padStart(2, '0');\n\nreturn [\n  {\n    json: {\n      StartDay: pad(startDate.getDate()),\n      StartMonth: pad(startDate.getMonth() + 1),\n      StartYear: startDate.getFullYear(),\n\n      EndDay: pad(endDate.getDate()),\n      EndMonth: pad(endDate.getMonth() + 1),\n      EndYear: endDate.getFullYear(),\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1568,400],"id":"cb36bd52-3959-40ed-b065-a6edb2640f99","name":"Start and End Date"},{"parameters":{"jsCode":"// Get the input keywords\nconst keywordsRaw = $json[\"SEO Keywords\"] || \"\";\n\n// Split, trim, remove semicolons, and filter empty entries\nconst keywordsArray = keywordsRaw\n  .split(\"\\n\")\n  .map(k => k.trim().replace(/;$/, \"\")) // removes trailing semicolon if present\n  .filter(k => k.length > 0);\n\n// Return each keyword as a separate item\nreturn keywordsArray.map(keyword => ({\n  json: { keyword }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-624,288],"id":"7011c4c2-3e08-431b-82be-67e9b9db7508","name":"Keywords"},{"parameters":{"options":{"reset":"={{ $prevNode.name === 'Keywords' }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-400,288],"id":"91e49e94-7e88-4c53-8324-1b20ba85b9fa","name":"Loop Over Keywords"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1088,400],"id":"49d56ddd-bb71-4d19-a29a-0d4d3cd29ea4","name":"Loop Over Clients"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1328,400],"id":"a51d0f9a-3edb-44a2-8698-efa06194fd27","name":"Get Clients","credentials":{"googleSheetsOAuth2Api":{"id":"VWI7ANgqySo2PhHL","name":"KR -Paid"}}},{"parameters":{"jsCode":"const matches = [];\n\n// Load Clients sheet\nconst clients = $('Get Clients').all().map(c => c.json);\n\n// Loop through Apify scraped businesses\nfor (const item of $input.all()) {\n\n  const data = item.json;\n  const apiPlaceId = data.placeId;\n\n  if (!apiPlaceId) continue;\n\n  // Match using GMB Place ID\n  const client = clients.find(c => {\n    const clientPlaceId =\n      c['GMB Place ID'] ||\n      c.gmb_place_id ||\n      c.placeId ||\n      c.place_id;\n\n    return clientPlaceId && clientPlaceId.toString() === apiPlaceId.toString();\n  });\n\n  if (!client) continue;\n\n  matches.push({\n    keyword: data.searchString,\n    ranking_position: data.rank,\n    client_id: client['Client ID'] || client.clientId || null,\n    client_name: client['Client Name'] || client.name || null,\n    whatsapp: client.WhatsApp || client.whatsapp || null,\n    city: data.city,\n    business_name: data.title,\n    phone: data.phoneUnformatted || data.phone || null,\n    website: data.website || null,\n    rating: data.totalScore || null,\n    reviews: data.reviewsCount || null,\n    place_id: apiPlaceId,\n    maps_url: data.url\n  });\n}\n\nreturn matches;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[48,288],"id":"e3c92ae4-4104-4af9-acb2-04a16ffb7c9e","name":"Code","alwaysOutputData":true},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1968,48],"id":"45969e7a-390d-4d0f-8abe-bc86ab716424","name":"Limit"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2160,32],"id":"09ffd1cd-75d3-45a5-ac86-e8f35f3024f9","name":"Wait1","webhookId":"ec1e4c70-6bc3-4a07-b436-0f282f82c48a"},{"parameters":{"promptType":"define","text":"=GMB Ranking of each keyword:{{ $json.textData }}","options":{"systemMessage":"=#Role: You are a helpful assistant whose role is to give top 5 keywords a client has ranked for.\n\n#Intruction: \n- You have been given results of 10 keywords.\n- Gop through each of the 10 keywords.\n- Then give Top 5 keywords that a client ranked for the exact ranking position.\n\nOutput Format:\n\nKeyword 1 - Rank\nKeyword 2 - Rank\nKeyword 3 - Rank\nKeyword 4 - Rank\nKeyword 5 - Rank\n\nGive output in list format."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[480,48],"id":"cc8b1263-a540-4b06-9fd2-873e1b31f49a","name":"AI Agent","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[768,288],"id":"62200eee-9f18-419b-9cf9-20b387fc355b","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"pmnJNFOqBuhd4qSv","name":"OpenRouter account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=sg293yr2{{ $now }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[944,288],"id":"5269046b-6f05-4465-a1c3-20781b673d68","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"9zDWQDsOZBmHEvfH","name":"Postgres account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1lRqfjA67CepPWoB0C-BijqAaR-aWUeDEPXndb6Ps_eI","mode":"list","cachedResultName":"GMB Audit Report - Worksheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lRqfjA67CepPWoB0C-BijqAaR-aWUeDEPXndb6Ps_eI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lRqfjA67CepPWoB0C-BijqAaR-aWUeDEPXndb6Ps_eI/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Keyword":"={{ $('Keywords').first().json.keyword }}","Profile Name":"={{ $('Loop Over Clients').last().json['Client Name'] }}","Ranking Position":"={{ $json.ranking_position }}","Rating":"={{ $json.rating }}","Reviews":"={{ $json.reviews }}","Location":"={{ $json.city }}"},"matchingColumns":[],"schema":[{"id":"Profile Name","displayName":"Profile Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Keyword","displayName":"Keyword","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ranking Position","displayName":"Ranking Position","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Reviews","displayName":"Reviews","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Rating","displayName":"Rating","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[240,288],"id":"aa3c4c42-9561-4dbc-8ed7-7ded44f81aab","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"VWI7ANgqySo2PhHL","name":"KR -Paid"}}},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1lRqfjA67CepPWoB0C-BijqAaR-aWUeDEPXndb6Ps_eI","mode":"list","cachedResultName":"GMB Audit Report - Worksheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lRqfjA67CepPWoB0C-BijqAaR-aWUeDEPXndb6Ps_eI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lRqfjA67CepPWoB0C-BijqAaR-aWUeDEPXndb6Ps_eI/edit#gid=0"},"numberToDelete":100},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1728,48],"id":"afefb322-aa56-4e57-bb2b-0e64a97f4df6","name":"Delete rows or columns from sheet","credentials":{"googleSheetsOAuth2Api":{"id":"VWI7ANgqySo2PhHL","name":"KR -Paid"}}},{"parameters":{"documentId":{"__rl":true,"value":"1lRqfjA67CepPWoB0C-BijqAaR-aWUeDEPXndb6Ps_eI","mode":"list","cachedResultName":"GMB Audit Report - Worksheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lRqfjA67CepPWoB0C-BijqAaR-aWUeDEPXndb6Ps_eI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lRqfjA67CepPWoB0C-BijqAaR-aWUeDEPXndb6Ps_eI/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-176,48],"id":"f2d0a6a9-d026-4881-96a8-43e8a76b1421","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"VWI7ANgqySo2PhHL","name":"KR -Paid"}}},{"parameters":{"jsCode":"// Build the merged \"Keyword - Rank\" text\nconst lines = items.map(item => `${item.json.Keyword} - Rank ${item.json[\"Ranking Position\"]}`);\n\n// Helper: get the first non-empty value for a field across rows\nfunction firstNonEmpty(field) {\n  for (const it of items) {\n    const v = it.json[field];\n    if (v !== undefined && v !== null) {\n      const s = String(v).trim();\n      if (s && s.toLowerCase() !== \"[empty]\") return v;\n    }\n  }\n  return \"\"; // fallback if all are empty\n}\n\nconst review = firstNonEmpty(\"Reviews\");\nconst rating = firstNonEmpty(\"Rating\");\n\nreturn [\n  {\n    json: {\n      textData: lines.join('\\n'),\n      review,   // single review value\n      rating    // single rating value\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[48,48],"id":"f486eb46-232b-42cf-916f-ff93546f9b60","name":"Merge"},{"parameters":{"jsCode":"// Get the AI Agent output text\nconst inputText = $json.output || \"\";\n\n// Split into lines, clean them up\nconst lines = inputText\n  .split(\"\\n\")\n  .map(line => line.replace(/^\\d+\\.\\s*/, \"\").trim()) // remove \"1. \"\n  .filter(line => line.length > 0);\n\n// Extract keyword + rank separately\nconst keywords = [];\nconst ranks = [];\n\nlines.forEach(line => {\n  // Match \"... - Rank X\" at the end\n  const match = line.match(/^(.*?)-\\s*Rank\\s*(\\d+)/i);\n  if (match) {\n    const keyword = match[1].trim();\n    const rank = parseInt(match[2], 10);\n    keywords.push(keyword);\n    ranks.push(rank);\n  }\n});\n\n// Return as single item with two arrays\nreturn [\n  {\n    json: {\n      keywords,\n      ranks\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[880,48],"id":"1bcffbf2-4d5e-41a4-a134-6d22a54527ea","name":"Code1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1aGEWvQd5g0TN8eY1V_KI3ME14mVpk6QHVtxTuSz9tvM","mode":"list","cachedResultName":"Client Reporting Sheet - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1aGEWvQd5g0TN8eY1V_KI3ME14mVpk6QHVtxTuSz9tvM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"={{ $('Loop Over Clients').first().json['Client Reporting Sheet'] }}","mode":"url"},"columns":{"mappingMode":"defineBelow","value":{"Profile Name":"={{ $('Edit Fields').last().json['Client Name'] }}","Start Date":"={{ $('Start and End Date').first().json.StartDay }}/{{ $('Start and End Date').first().json.StartMonth }}/{{ $('Start and End Date').first().json.StartYear }}","End Date":"={{ $('Start and End Date').first().json.EndDay }}/{{ $('Start and End Date').first().json.EndMonth }}/{{ $('Start and End Date').first().json.EndYear }}","Primary Keyword":"={{ $json.keywords[0] }}","Rank":"={{ $json.ranks[0] }}"},"matchingColumns":["Start Date"],"schema":[{"id":"Profile Name","displayName":"Profile Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Start Date","displayName":"Start Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"End Date","displayName":"End Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Search Views","displayName":"Search Views","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Interactions ","displayName":"Interactions ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Website Clicks","displayName":"Website Clicks","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Direction Request","displayName":"Direction Request","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Phone Calls","displayName":"Phone Calls","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Reviews","displayName":"Reviews","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Review Responses","displayName":"Review Responses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ratings ","displayName":"Ratings ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Website Speed","displayName":"Website Speed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SEO Score","displayName":"SEO Score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Primary Keyword","displayName":"Primary Keyword","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Rank","displayName":"Rank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Keyword 1","displayName":"Keyword 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Rank 1","displayName":"Rank 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Keyword 2","displayName":"Keyword 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Rank 2","displayName":"Rank 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Keyword 3","displayName":"Keyword 3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Rank 3","displayName":"Rank 3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Keyword 4","displayName":"Keyword 4","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Rank 4","displayName":"Rank 4","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Keyword 5","displayName":"Keyword 5","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Rank 5","displayName":"Rank 5","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Citations ","displayName":"Citations ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Backlinks ","displayName":"Backlinks ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Content Marketing","displayName":"Content Marketing","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Creatives","displayName":"Creatives","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Shorts/Reels","displayName":"Shorts/Reels","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Medical Blogs","displayName":"Medical Blogs","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Website SEO","displayName":"Website SEO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Local SEO","displayName":"Local SEO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Web & Social Audit","displayName":"Web & Social Audit","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Google Profile Rank","displayName":"Google Profile Rank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1312,48],"id":"74d7b934-a07c-4527-856d-ebe0da11c02c","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"VWI7ANgqySo2PhHL","name":"KR -Paid"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[464,288],"id":"a64f396d-4c85-4a6e-baaa-82b2016f6a9b","name":"Limit1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1aGEWvQd5g0TN8eY1V_KI3ME14mVpk6QHVtxTuSz9tvM","mode":"list","cachedResultName":"Client Reporting Sheet - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1aGEWvQd5g0TN8eY1V_KI3ME14mVpk6QHVtxTuSz9tvM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1492800070,"mode":"list","cachedResultName":"All","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tDZ-QO0WPds8W5asl1zCLq5yCjrgTPaXU-3M8PVIix4/edit#gid=1492800070"},"columns":{"mappingMode":"defineBelow","value":{"UniqueProfileName":"={{ $json['Profile Name'] }}{{ $json['Start Date'] }}","Primary Keyword":"={{ $json['Primary Keyword'] }}","Rank":"={{ $json.Rank }}"},"matchingColumns":["UniqueProfileName"],"schema":[{"id":"Profile Name","displayName":"Profile Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Start Date","displayName":"Start Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"End Date","displayName":"End Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Search Views","displayName":"Search Views","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Interactions ","displayName":"Interactions ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Website Clicks","displayName":"Website Clicks","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Direction Request","displayName":"Direction Request","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Phone Calls","displayName":"Phone Calls","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Reviews","displayName":"Reviews","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Review Responses","displayName":"Review Responses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ratings ","displayName":"Ratings ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Website Speed","displayName":"Website Speed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SEO Score","displayName":"SEO Score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Primary Keyword","displayName":"Primary Keyword","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Rank","displayName":"Rank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Keyword 1","displayName":"Keyword 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Rank 1","displayName":"Rank 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Keyword 2","displayName":"Keyword 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Rank 2","displayName":"Rank 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Keyword 3","displayName":"Keyword 3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Rank 3","displayName":"Rank 3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Keyword 4","displayName":"Keyword 4","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Rank 4","displayName":"Rank 4","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Keyword 5","displayName":"Keyword 5","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Rank 5","displayName":"Rank 5","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Citations ","displayName":"Citations ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Backlinks ","displayName":"Backlinks ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Content Marketing","displayName":"Content Marketing","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Creatives","displayName":"Creatives","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Shorts/Reels","displayName":"Shorts/Reels","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Medical Blogs","displayName":"Medical Blogs","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Website SEO","displayName":"Website SEO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Local SEO","displayName":"Local SEO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Web & Social Audit","displayName":"Web & Social Audit","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Google Profile Rank","displayName":"Google Profile Rank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"UniqueProfileName","displayName":"UniqueProfileName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1520,48],"id":"1951b9a3-6af1-45c7-946e-287ceb9f76a5","name":"Add to All","credentials":{"googleSheetsOAuth2Api":{"id":"VWI7ANgqySo2PhHL","name":"KR -Paid"}}},{"parameters":{"assignments":{"assignments":[{"id":"002afc58-e8d3-4f8c-a0da-59465b4f7c3a","name":"Client Name","value":"={{ $json['Client Name'] }}","type":"string"},{"id":"547ffbad-46d5-4cb6-80b3-1cd4bc98e23f","name":"SEO Keywords","value":"={{ $json['Primary Keyword'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-816,288],"id":"fcafe119-1079-411c-8e26-27070fb9bdad","name":"Edit Fields"},{"parameters":{"operation":"Run actor and get dataset","actorId":{"__rl":true,"value":"nwua9Gu5YrADL7ZDj","mode":"list","cachedResultName":"Google Maps Scraper (compass/crawler-google-places)","cachedResultUrl":"https://console.apify.com/actors/nwua9Gu5YrADL7ZDj/input"},"customBody":"={\n    \"includeWebResults\": false,\n    \"language\": \"en\",\n    \"locationQuery\": \"India\",\n    \"maxCrawledPlacesPerSearch\": 20,\n    \"maxImages\": 0,\n    \"maximumLeadsEnrichmentRecords\": 0,\n    \"scrapeContacts\": false,\n    \"scrapeDirectories\": false,\n    \"scrapeImageAuthors\": false,\n    \"scrapePlaceDetailPage\": false,\n    \"scrapeReviewsPersonalData\": true,\n    \"scrapeSocialMediaProfiles\": {\n        \"facebooks\": false,\n        \"instagrams\": false,\n        \"tiktoks\": false,\n        \"twitters\": false,\n        \"youtubes\": false\n    },\n    \"scrapeTableReservationProvider\": false,\n    \"searchStringsArray\": [\n        \"{{ $json.keyword }}\"\n    ],\n    \"skipClosedPlaces\": false\n}"},"type":"@apify/n8n-nodes-apify.apify","typeVersion":1,"position":[-144,288],"id":"5dbc5a83-c3ed-4b42-ac3b-0cee6fe5c8a4","name":"Run an Actor and get dataset","credentials":{"apifyApi":{"id":"RrI2FgfxIjOSh5lz","name":"Paid Account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Start and End Date","type":"main","index":0}]]},"Start and End Date":{"main":[[{"node":"Get Clients","type":"main","index":0}]]},"Keywords":{"main":[[{"node":"Loop Over Keywords","type":"main","index":0}]]},"Loop Over Keywords":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}],[{"node":"Run an Actor and get dataset","type":"main","index":0}]]},"Loop Over Clients":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]},"Get Clients":{"main":[[{"node":"Loop Over Clients","type":"main","index":0}]]},"Code":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Clients","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code1","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Append row in sheet":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"Delete rows or columns from sheet":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Add to All","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"Loop Over Keywords","type":"main","index":0}]]},"Add to All":{"main":[[{"node":"Delete rows or columns from sheet","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Keywords","type":"main","index":0}]]},"Run an Actor and get dataset":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"G2KZfyUFGXoArofH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"37b2b1f6-1c40-47b8-8aae-c87c24a978d1","triggerCount":1,"shared":[{"createdAt":"2025-10-10T05:05:55.259Z","updatedAt":"2025-10-10T05:05:55.259Z","role":"workflow:owner","workflowId":"KptHoOHFFBYJQaAT","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[]}