step-2---reporting-gmb-profile-+-pagespeed-eownN32aASWwEkOD.json
{"createdAt":"2025-08-28T19:44:35.644Z","updatedAt":"2026-02-27T09:45:34.298Z","id":"eownN32aASWwEkOD","name":"Step 2 - Reporting GMB Profile + Pagespeed","active":true,"isArchived":false,"nodes":[{"parameters":{"url":"=https://businessprofileperformance.googleapis.com/v1/locations/{{ $json['Profile ID'] }}:fetchMultiDailyMetricsTimeSeries","authentication":"predefinedCredentialType","nodeCredentialType":"googleBusinessProfileOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"dailyMetrics","value":"BUSINESS_IMPRESSIONS_MOBILE_SEARCH"},{"name":"dailyRange.start_date.year","value":"={{ $json.StartYear }}"},{"name":"dailyRange.start_date.month","value":"={{ $json.StartMonth }}"},{"name":"dailyRange.start_date.day","value":"={{ $json.StartDay }}"},{"name":"dailyRange.end_date.year","value":"={{ $json.EndYear }}"},{"name":"dailyRange.end_date.month","value":"={{ $json.EndMonth }}"},{"name":"dailyRange.end_date.day","value":"={{ $json.EndDay }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[144,496],"id":"dc4bdd87-cae9-41dc-8c4b-e0e178897347","name":"MOBILE_SEARCH","credentials":{"googleBusinessProfileOAuth2Api":{"id":"fj0r4iY1wmBjDC8c","name":"Google Business Profile account"}},"onError":"continueRegularOutput"},{"parameters":{"url":"=https://businessprofileperformance.googleapis.com/v1/locations/{{ $json['Profile ID'] }}:fetchMultiDailyMetricsTimeSeries","authentication":"predefinedCredentialType","nodeCredentialType":"googleBusinessProfileOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"dailyMetrics","value":"BUSINESS_IMPRESSIONS_DESKTOP_SEARCH"},{"name":"dailyRange.start_date.year","value":"={{ $json.StartYear }}"},{"name":"dailyRange.start_date.month","value":"={{ $json.StartMonth }}"},{"name":"dailyRange.start_date.day","value":"={{ $json.StartDay }}"},{"name":"dailyRange.end_date.year","value":"={{ $json.EndYear }}"},{"name":"dailyRange.end_date.month","value":"={{ $json.EndMonth }}"},{"name":"dailyRange.end_date.day","value":"={{ $json.EndDay }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[144,304],"id":"0b1ac8a0-54b2-4b49-9063-1e4acb41704d","name":"DESKTOP_SEARCH","credentials":{"googleBusinessProfileOAuth2Api":{"id":"fj0r4iY1wmBjDC8c","name":"Google Business Profile account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Extract time series array of metrics\nconst metrics = items[0].json.multiDailyMetricTimeSeries[0].dailyMetricTimeSeries;\n\n// Initialize accumulator\nconst totals = {};\n\n// Loop through each metric series\nfor (const m of metrics) {\n  const metricName = m.dailyMetric;\n  const values = m.timeSeries.datedValues || [];\n  const sum = values.reduce((acc, dv) => {\n    return acc + (Number(dv.value || 0));\n  }, 0);\n  totals[`${metricName}_total`] = sum;\n}\n\n// Return a single item containing all totals\nreturn [{\n  json: totals\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,496],"id":"909e8ca4-0610-4fb6-8088-fa31dd134e9a","name":"Mobile Search Count"},{"parameters":{"jsCode":"// Extract time series array of metrics\nconst metrics = items[0].json.multiDailyMetricTimeSeries[0].dailyMetricTimeSeries;\n\n// Initialize accumulator\nconst totals = {};\n\n// Loop through each metric series\nfor (const m of metrics) {\n  const metricName = m.dailyMetric;\n  const values = m.timeSeries.datedValues || [];\n  const sum = values.reduce((acc, dv) => {\n    return acc + (Number(dv.value || 0));\n  }, 0);\n  totals[`${metricName}_total`] = sum;\n}\n\n// Return a single item containing all totals\nreturn [{\n  json: totals\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,304],"id":"3000d9ee-ed97-4b29-afb9-0b1b6de1f29e","name":"Desktop Search Count"},{"parameters":{"url":"=https://businessprofileperformance.googleapis.com/v1/locations/{{ $json['Profile ID'] }}:fetchMultiDailyMetricsTimeSeries","authentication":"predefinedCredentialType","nodeCredentialType":"googleBusinessProfileOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"dailyMetrics","value":"BUSINESS_IMPRESSIONS_DESKTOP_MAPS"},{"name":"dailyRange.start_date.year","value":"={{ $json.StartYear }}"},{"name":"dailyRange.start_date.month","value":"={{ $json.StartMonth }}"},{"name":"dailyRange.start_date.day","value":"={{ $json.StartDay }}"},{"name":"dailyRange.end_date.year","value":"={{ $json.EndYear }}"},{"name":"dailyRange.end_date.month","value":"={{ $json.EndMonth }}"},{"name":"dailyRange.end_date.day","value":"={{ $json.EndDay }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[128,720],"id":"ff0fe17b-7c51-4085-9f36-f9a1d07ff6bb","name":"DESKTOP_MAP Views","credentials":{"googleBusinessProfileOAuth2Api":{"id":"fj0r4iY1wmBjDC8c","name":"Google Business Profile account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Extract time series array of metrics\nconst metrics = items[0].json.multiDailyMetricTimeSeries[0].dailyMetricTimeSeries;\n\n// Initialize accumulator\nconst totals = {};\n\n// Loop through each metric series\nfor (const m of metrics) {\n  const metricName = m.dailyMetric;\n  const values = m.timeSeries.datedValues || [];\n  const sum = values.reduce((acc, dv) => {\n    return acc + (Number(dv.value || 0));\n  }, 0);\n  totals[`${metricName}_total`] = sum;\n}\n\n// Return a single item containing all totals\nreturn [{\n  json: totals\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,720],"id":"d4be2e26-06bc-421c-82a6-3dac6d8c1fe4","name":"Desktop Map Views Count"},{"parameters":{"url":"=https://businessprofileperformance.googleapis.com/v1/locations/{{ $json['Profile ID'] }}:fetchMultiDailyMetricsTimeSeries","authentication":"predefinedCredentialType","nodeCredentialType":"googleBusinessProfileOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"dailyMetrics","value":"BUSINESS_IMPRESSIONS_MOBILE_MAPS"},{"name":"dailyRange.start_date.year","value":"={{ $json.StartYear }}"},{"name":"dailyRange.start_date.month","value":"={{ $json.StartMonth }}"},{"name":"dailyRange.start_date.day","value":"={{ $json.StartDay }}"},{"name":"dailyRange.end_date.year","value":"={{ $json.EndYear }}"},{"name":"dailyRange.end_date.month","value":"={{ $json.EndMonth }}"},{"name":"dailyRange.end_date.day","value":"={{ $json.EndDay }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[128,944],"id":"3e3250f7-04bc-4cfa-986e-758cf66b1d86","name":"MOBILE_MAPS Views","credentials":{"googleBusinessProfileOAuth2Api":{"id":"fj0r4iY1wmBjDC8c","name":"Google Business Profile account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Extract time series array of metrics\nconst metrics = items[0].json.multiDailyMetricTimeSeries[0].dailyMetricTimeSeries;\n\n// Initialize accumulator\nconst totals = {};\n\n// Loop through each metric series\nfor (const m of metrics) {\n  const metricName = m.dailyMetric;\n  const values = m.timeSeries.datedValues || [];\n  const sum = values.reduce((acc, dv) => {\n    return acc + (Number(dv.value || 0));\n  }, 0);\n  totals[`${metricName}_total`] = sum;\n}\n\n// Return a single item containing all totals\nreturn [{\n  json: totals\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,944],"id":"0eee53b3-1a66-42c6-85e1-410d7d0821c6","name":"Mobile Map Views Count"},{"parameters":{"url":"=https://businessprofileperformance.googleapis.com/v1/locations/{{ $json['Profile ID'] }}:fetchMultiDailyMetricsTimeSeries","authentication":"predefinedCredentialType","nodeCredentialType":"googleBusinessProfileOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"dailyMetrics","value":"BUSINESS_DIRECTION_REQUESTS"},{"name":"dailyRange.start_date.year","value":"={{ $json.StartYear }}"},{"name":"dailyRange.start_date.month","value":"={{ $json.StartMonth }}"},{"name":"dailyRange.start_date.day","value":"={{ $json.StartDay }}"},{"name":"dailyRange.end_date.year","value":"={{ $json.EndYear }}"},{"name":"dailyRange.end_date.month","value":"={{ $json.EndMonth }}"},{"name":"dailyRange.end_date.day","value":"={{ $json.EndDay }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[128,1168],"id":"a5ec9e39-c55f-4d21-af5b-0469ac995100","name":"DIRECTION_REQUESTS","credentials":{"googleBusinessProfileOAuth2Api":{"id":"fj0r4iY1wmBjDC8c","name":"Google Business Profile account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Extract time series array of metrics\nconst metrics = items[0].json.multiDailyMetricTimeSeries[0].dailyMetricTimeSeries;\n\n// Initialize accumulator\nconst totals = {};\n\n// Loop through each metric series\nfor (const m of metrics) {\n  const metricName = m.dailyMetric;\n  const values = m.timeSeries.datedValues || [];\n  const sum = values.reduce((acc, dv) => {\n    return acc + (Number(dv.value || 0));\n  }, 0);\n  totals[`${metricName}_total`] = sum;\n}\n\n// Return a single item containing all totals\nreturn [{\n  json: totals\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,1168],"id":"2fd8d160-f141-48de-b083-44143909bbde","name":"Mobile Map Views Count1"},{"parameters":{"url":"=https://businessprofileperformance.googleapis.com/v1/locations/{{ $json['Profile ID'] }}:fetchMultiDailyMetricsTimeSeries","authentication":"predefinedCredentialType","nodeCredentialType":"googleBusinessProfileOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"dailyMetrics","value":"CALL_CLICKS"},{"name":"dailyRange.start_date.year","value":"={{ $json.StartYear }}"},{"name":"dailyRange.start_date.month","value":"={{ $json.StartMonth }}"},{"name":"dailyRange.start_date.day","value":"={{ $json.StartDay }}"},{"name":"dailyRange.end_date.year","value":"={{ $json.EndYear }}"},{"name":"dailyRange.end_date.month","value":"={{ $json.EndMonth }}"},{"name":"dailyRange.end_date.day","value":"={{ $json.EndDay }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[144,112],"id":"32aec0d5-9ba5-4d36-898e-3ec99e4c154e","name":"CALL_CLICKS","credentials":{"googleBusinessProfileOAuth2Api":{"id":"fj0r4iY1wmBjDC8c","name":"Google Business Profile account"}},"onError":"continueRegularOutput"},{"parameters":{"url":"=https://businessprofileperformance.googleapis.com/v1/locations/{{ $json['Profile ID'] }}:fetchMultiDailyMetricsTimeSeries","authentication":"predefinedCredentialType","nodeCredentialType":"googleBusinessProfileOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"dailyMetrics","value":"WEBSITE_CLICKS"},{"name":"dailyRange.start_date.year","value":"={{ $json.StartYear }}"},{"name":"dailyRange.start_date.month","value":"={{ $json.StartMonth }}"},{"name":"dailyRange.start_date.day","value":"={{ $json.StartDay }}"},{"name":"dailyRange.end_date.year","value":"={{ $json.EndYear }}"},{"name":"dailyRange.end_date.month","value":"={{ $json.EndMonth }}"},{"name":"dailyRange.end_date.day","value":"={{ $json.EndDay }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[144,-96],"id":"6150b5da-3286-43da-926d-1f34336d1fdc","name":"WEBSITE_CLICKS","credentials":{"googleBusinessProfileOAuth2Api":{"id":"fj0r4iY1wmBjDC8c","name":"Google Business Profile account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Extract time series array of metrics\nconst metrics = items[0].json.multiDailyMetricTimeSeries[0].dailyMetricTimeSeries;\n\n// Initialize accumulator\nconst totals = {};\n\n// Loop through each metric series\nfor (const m of metrics) {\n  const metricName = m.dailyMetric;\n  const values = m.timeSeries.datedValues || [];\n  const sum = values.reduce((acc, dv) => {\n    return acc + (Number(dv.value || 0));\n  }, 0);\n  totals[`${metricName}_total`] = sum;\n}\n\n// Return a single item containing all totals\nreturn [{\n  json: totals\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[384,-96],"id":"c4e79b8a-8009-4769-9a04-b6a9b098b603","name":"CALL_CLICKS Count"},{"parameters":{"jsCode":"// Extract time series array of metrics\nconst metrics = items[0].json.multiDailyMetricTimeSeries[0].dailyMetricTimeSeries;\n\n// Initialize accumulator\nconst totals = {};\n\n// Loop through each metric series\nfor (const m of metrics) {\n  const metricName = m.dailyMetric;\n  const values = m.timeSeries.datedValues || [];\n  const sum = values.reduce((acc, dv) => {\n    return acc + (Number(dv.value || 0));\n  }, 0);\n  totals[`${metricName}_total`] = sum;\n}\n\n// Return a single item containing all totals\nreturn [{\n  json: totals\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,112],"id":"5ec48123-b04a-4512-a5f6-db358a5c8c50","name":"WEBSITE_CLICKS Count"},{"parameters":{"numberInputs":8},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[976,384],"id":"6e65e8c1-ef80-4c7b-ad11-c0ad2e99fc0f","name":"Merge"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1200,464],"id":"78393391-3565-4565-832a-47e080050fcc","name":"Aggregate"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":5,"triggerAtHour":4}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1536,464],"id":"48fc7149-570c-4d66-93d2-f701fb31cb16","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"7318235a-1aa9-432e-9549-3eb463589569","name":"Client Name","value":"={{ $json['Client Name'] }}","type":"string"},{"id":"3e5a4b88-b157-4228-b433-7361dc4975e8","name":"Profile ID","value":"={{ $json['GMB Profile ID'] }}","type":"string"},{"id":"6430aef9-6bba-421c-b017-956f4e30b008","name":"StartDay","value":"={{ $('Start and End Date').item.json.StartDay }}","type":"string"},{"id":"1f057ee8-dcf1-4984-bdc4-027db51ae5d8","name":"StartMonth","value":"={{ $('Start and End Date').item.json.StartMonth }}","type":"string"},{"id":"51a15ae9-e0b5-40e0-bcc0-d670ccf96c9d","name":"StartYear","value":"={{ $('Start and End Date').item.json.StartYear }}","type":"number"},{"id":"9ea505b9-2f68-4f6d-a5ce-5dca8132af89","name":"EndDay","value":"={{ $('Start and End Date').item.json.EndDay }}","type":"string"},{"id":"1e25cd23-aecc-4345-a98e-a51f6f80b56d","name":"EndMonth","value":"={{ $('Start and End Date').item.json.EndMonth }}","type":"string"},{"id":"175f84b4-d93d-4136-b1ad-9388ff5d12d8","name":"EndYear","value":"={{ $('Start and End Date').item.json.EndYear }}","type":"number"},{"id":"f53445f9-07c7-4fba-8fd5-e0c970f5e2f4","name":"Google Sheet Link","value":"={{ $json['Client Reporting Sheet'] }}","type":"string"},{"id":"1d0e2996-b4bd-4cc4-b11c-f4bcf39179cb","name":"Website URL","value":"={{ $json['Website URL'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-432,480],"id":"c5b71996-144f-4315-9ce5-566197bfa26d","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-928,464],"id":"81da1aa2-d909-4f3e-9c05-1564c71b3389","name":"Loop Over Items"},{"parameters":{"amount":"={{ $json.randomNumber }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1712,464],"id":"c7f362bf-3185-4215-8f3d-a77e15d1f01f","name":"Wait","webhookId":"b100265e-d75c-4fad-a65c-84139d165210"},{"parameters":{"jsCode":"// Generate a random number between 1 and 5 with two decimal precision\nconst randomNumber = (Math.random() * (60 - 1) + 1).toFixed(0);\n\n// Return it as output\nreturn [\n  {\n    json: {\n      randomNumber: parseFloat(randomNumber)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1552,464],"id":"207fa537-80c0-4833-8ffd-5cc7c19c5f11","name":"RandomeTimeDigit"},{"parameters":{"jsCode":"// Get current date\nconst now = new Date();\n\n// Calculate last month (adjusting for January)\nlet year = now.getFullYear();\nlet month = now.getMonth() - 1;\n\nif (month < 0) {\n  month = 11;\n  year -= 1;\n}\n\n// Start date of last month\nconst startDate = new Date(year, month, 1);\n\n// End date of last month (0th day of current month = last day of previous)\nconst endDate = new Date(year, month + 1, 0);\n\n// Extract parts\nconst pad = (num) => String(num).padStart(2, '0');\n\nconst startD = pad(startDate.getDate());\nconst startM = pad(startDate.getMonth() + 1);\nconst startY = startDate.getFullYear();\n\nconst endD = pad(endDate.getDate());\nconst endM = pad(endDate.getMonth() + 1);\nconst endY = endDate.getFullYear();\n\nreturn [\n  {\n    json: {\n      StartDay: startD,\n      StartMonth: startM,\n      StartYear: startY,\n      StartDate_DB: `${startY}-${startM}-${startD}`, // Perfect for PostgreSQL (YYYY-MM-DD)\n\n      EndDay: endD,\n      EndMonth: endM,\n      EndYear: endY,\n      EndDate_DB: `${endY}-${endM}-${endD}` // Perfect for PostgreSQL (YYYY-MM-DD)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1328,464],"id":"1cbd2c5a-4bd0-4032-b7c0-c07c82d138df","name":"Start and End Date"},{"parameters":{"url":"={{ $json['Website URL'] }}","additionalFields":{}},"type":"n8n-nodes-google-pagespeed.googlePageSpeed","typeVersion":2,"position":[256,1392],"id":"ea573318-c54c-4ed9-ba76-31e3de0387e3","name":"Google PageSpeed","credentials":{"googlePageSpeedApi":{"id":"SDr9jq9boV2brUvc","name":"Google PageSpeed account"}},"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1872,464],"id":"e87f3b7f-143a-48b2-8716-f33dcbaa6089","name":"Limit"},{"parameters":{"operation":"executeQuery","query":"SELECT id, sl_no AS \"Sl No.\", client_id AS \"Client ID\", client_name AS \"Client Name\", dr_name AS \"Dr Name\", gmb_profile_id AS \"GMB Profile ID\", website_url AS \"Website URL\", client_reporting_sheet AS \"Client Reporting Sheet\", whatsapp AS \"WhatsApp\", city_name AS \"City Name\", country AS \"Country\" FROM dr_smart.clients ORDER BY id;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1152,464],"id":"d6423867-4498-4a4b-89e5-17f93289cdae","name":"Get Clients","credentials":{"postgres":{"id":"9zDWQDsOZBmHEvfH","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT id, sl_no AS \"Sl No.\", client_id AS \"Client ID\", client_name AS \"Client Name\", gmb_profile_id AS \"GMB Profile ID\", website_url AS \"Website URL\", client_reporting_sheet AS \"Client Reporting Sheet\", whatsapp AS \"WhatsApp\" FROM dr_smart.clients WHERE sl_no = {{ $json['Sl No.'] }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-672,480],"id":"e3a58dcc-aa3f-49f7-b4f7-85a240670749","name":"Get Client Details","credentials":{"postgres":{"id":"9zDWQDsOZBmHEvfH","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO dr_smart.client_reports (client_id, profile_name, unique_profile_name, start_date, end_date, search_views, interactions, website_clicks, direction_requests, phone_calls, website_speed, seo_score) VALUES ((SELECT id FROM dr_smart.clients WHERE client_name = '{{ $('Edit Fields').item.json['Client Name'] }}' LIMIT 1), '{{ $('Edit Fields').item.json['Client Name'] }}', '{{ $('Edit Fields').item.json['Client Name'] }}{{ $('Start and End Date').first().json.StartDay }}/{{ $('Start and End Date').first().json.StartMonth }}/{{ $('Start and End Date').first().json.StartYear }}', '{{ $('Start and End Date').first().json.StartYear }}-{{ $('Start and End Date').first().json.StartMonth }}-{{ $('Start and End Date').first().json.StartDay }}'::date, '{{ $('Start and End Date').first().json.EndYear }}-{{ $('Start and End Date').first().json.EndMonth }}-{{ $('Start and End Date').first().json.EndDay }}'::date, {{ $json.data[3].BUSINESS_IMPRESSIONS_MOBILE_SEARCH_total + $json.data[2].BUSINESS_IMPRESSIONS_DESKTOP_SEARCH_total + $json.data[5].BUSINESS_IMPRESSIONS_MOBILE_MAPS_total + $json.data[4].BUSINESS_IMPRESSIONS_DESKTOP_MAPS_total }}, {{ $json.data[0].WEBSITE_CLICKS_total + $json.data[6].BUSINESS_DIRECTION_REQUESTS_total + $json.data[1].CALL_CLICKS_total }}, {{ $json.data[0].WEBSITE_CLICKS_total }}, {{ $json.data[6].BUSINESS_DIRECTION_REQUESTS_total }}, {{ $json.data[1].CALL_CLICKS_total }}, '{{ $json.data[7].audits[\"first-contentful-paint\"].displayValue }}', {{ $json.data[7].scores.seo }}) ON CONFLICT (unique_profile_name) DO UPDATE SET search_views = EXCLUDED.search_views, interactions = EXCLUDED.interactions, website_clicks = EXCLUDED.website_clicks, direction_requests = EXCLUDED.direction_requests, phone_calls = EXCLUDED.phone_calls, website_speed = EXCLUDED.website_speed, seo_score = EXCLUDED.seo_score;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1376,464],"id":"10496ef9-a7b2-42b1-82e3-2d1d8e18353f","name":"Upsert GBP Metrics","credentials":{"postgres":{"id":"9zDWQDsOZBmHEvfH","name":"Postgres account"}}}],"connections":{"DESKTOP_SEARCH":{"main":[[{"node":"Desktop Search Count","type":"main","index":0}]]},"MOBILE_SEARCH":{"main":[[{"node":"Mobile Search Count","type":"main","index":0}]]},"DESKTOP_MAP Views":{"main":[[{"node":"Desktop Map Views Count","type":"main","index":0}]]},"MOBILE_MAPS Views":{"main":[[{"node":"Mobile Map Views Count","type":"main","index":0}]]},"DIRECTION_REQUESTS":{"main":[[{"node":"Mobile Map Views Count1","type":"main","index":0}]]},"CALL_CLICKS":{"main":[[{"node":"WEBSITE_CLICKS Count","type":"main","index":0}]]},"WEBSITE_CLICKS":{"main":[[{"node":"CALL_CLICKS Count","type":"main","index":0}]]},"CALL_CLICKS Count":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"WEBSITE_CLICKS Count":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Desktop Search Count":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Mobile Search Count":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Desktop Map Views Count":{"main":[[{"node":"Merge","type":"main","index":4}]]},"Mobile Map Views Count":{"main":[[{"node":"Merge","type":"main","index":5}]]},"Mobile Map Views Count1":{"main":[[{"node":"Merge","type":"main","index":6}]]},"Schedule Trigger":{"main":[[{"node":"Start and End Date","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"WEBSITE_CLICKS","type":"main","index":0},{"node":"CALL_CLICKS","type":"main","index":0},{"node":"DESKTOP_SEARCH","type":"main","index":0},{"node":"MOBILE_SEARCH","type":"main","index":0},{"node":"DESKTOP_MAP Views","type":"main","index":0},{"node":"MOBILE_MAPS Views","type":"main","index":0},{"node":"DIRECTION_REQUESTS","type":"main","index":0},{"node":"Google PageSpeed","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Get Client Details","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Limit","type":"main","index":0}]]},"RandomeTimeDigit":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Upsert GBP Metrics","type":"main","index":0}]]},"Start and End Date":{"main":[[{"node":"Get Clients","type":"main","index":0}]]},"Google PageSpeed":{"main":[[{"node":"Merge","type":"main","index":7}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get Clients":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get Client Details":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Upsert GBP Metrics":{"main":[[{"node":"RandomeTimeDigit","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"G2KZfyUFGXoArofH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"33d3f2b9-916f-4177-bf0d-4f040319a7e2","triggerCount":1,"shared":[{"createdAt":"2025-08-28T19:44:35.644Z","updatedAt":"2025-08-28T19:44:35.644Z","role":"workflow:owner","workflowId":"eownN32aASWwEkOD","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[]}