step-2---reporting-gmb-profile-+-pagespeed-eownN32aASWwEkOD.json
{"createdAt":"2025-08-28T19:44:35.644Z","updatedAt":"2026-01-03T13:32:23.824Z","id":"eownN32aASWwEkOD","name":"Step 2 - Reporting GMB Profile + Pagespeed","active":true,"isArchived":false,"nodes":[{"parameters":{"url":"=https://businessprofileperformance.googleapis.com/v1/locations/{{ $json['Profile ID'] }}:fetchMultiDailyMetricsTimeSeries","authentication":"predefinedCredentialType","nodeCredentialType":"googleBusinessProfileOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"dailyMetrics","value":"BUSINESS_IMPRESSIONS_MOBILE_SEARCH"},{"name":"dailyRange.start_date.year","value":"={{ $json.StartYear }}"},{"name":"dailyRange.start_date.month","value":"={{ $json.StartMonth }}"},{"name":"dailyRange.start_date.day","value":"={{ $json.StartDay }}"},{"name":"dailyRange.end_date.year","value":"={{ $json.EndYear }}"},{"name":"dailyRange.end_date.month","value":"={{ $json.EndMonth }}"},{"name":"dailyRange.end_date.day","value":"={{ $json.EndDay }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[144,496],"id":"dc4bdd87-cae9-41dc-8c4b-e0e178897347","name":"MOBILE_SEARCH","credentials":{"googleBusinessProfileOAuth2Api":{"id":"fj0r4iY1wmBjDC8c","name":"Google Business Profile account"}},"onError":"continueRegularOutput"},{"parameters":{"url":"=https://businessprofileperformance.googleapis.com/v1/locations/{{ $json['Profile ID'] }}:fetchMultiDailyMetricsTimeSeries","authentication":"predefinedCredentialType","nodeCredentialType":"googleBusinessProfileOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"dailyMetrics","value":"BUSINESS_IMPRESSIONS_DESKTOP_SEARCH"},{"name":"dailyRange.start_date.year","value":"={{ $json.StartYear }}"},{"name":"dailyRange.start_date.month","value":"={{ $json.StartMonth }}"},{"name":"dailyRange.start_date.day","value":"={{ $json.StartDay }}"},{"name":"dailyRange.end_date.year","value":"={{ $json.EndYear }}"},{"name":"dailyRange.end_date.month","value":"={{ $json.EndMonth }}"},{"name":"dailyRange.end_date.day","value":"={{ $json.EndDay }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[144,304],"id":"0b1ac8a0-54b2-4b49-9063-1e4acb41704d","name":"DESKTOP_SEARCH","credentials":{"googleBusinessProfileOAuth2Api":{"id":"fj0r4iY1wmBjDC8c","name":"Google Business Profile account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Extract time series array of metrics\nconst metrics = items[0].json.multiDailyMetricTimeSeries[0].dailyMetricTimeSeries;\n\n// Initialize accumulator\nconst totals = {};\n\n// Loop through each metric series\nfor (const m of metrics) {\n  const metricName = m.dailyMetric;\n  const values = m.timeSeries.datedValues || [];\n  const sum = values.reduce((acc, dv) => {\n    return acc + (Number(dv.value || 0));\n  }, 0);\n  totals[`${metricName}_total`] = sum;\n}\n\n// Return a single item containing all totals\nreturn [{\n  json: totals\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,496],"id":"909e8ca4-0610-4fb6-8088-fa31dd134e9a","name":"Mobile Search Count"},{"parameters":{"jsCode":"// Extract time series array of metrics\nconst metrics = items[0].json.multiDailyMetricTimeSeries[0].dailyMetricTimeSeries;\n\n// Initialize accumulator\nconst totals = {};\n\n// Loop through each metric series\nfor (const m of metrics) {\n  const metricName = m.dailyMetric;\n  const values = m.timeSeries.datedValues || [];\n  const sum = values.reduce((acc, dv) => {\n    return acc + (Number(dv.value || 0));\n  }, 0);\n  totals[`${metricName}_total`] = sum;\n}\n\n// Return a single item containing all totals\nreturn [{\n  json: totals\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,304],"id":"3000d9ee-ed97-4b29-afb9-0b1b6de1f29e","name":"Desktop Search Count"},{"parameters":{"url":"=https://businessprofileperformance.googleapis.com/v1/locations/{{ $json['Profile ID'] }}:fetchMultiDailyMetricsTimeSeries","authentication":"predefinedCredentialType","nodeCredentialType":"googleBusinessProfileOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"dailyMetrics","value":"BUSINESS_IMPRESSIONS_DESKTOP_MAPS"},{"name":"dailyRange.start_date.year","value":"={{ $json.StartYear }}"},{"name":"dailyRange.start_date.month","value":"={{ $json.StartMonth }}"},{"name":"dailyRange.start_date.day","value":"={{ $json.StartDay }}"},{"name":"dailyRange.end_date.year","value":"={{ $json.EndYear }}"},{"name":"dailyRange.end_date.month","value":"={{ $json.EndMonth }}"},{"name":"dailyRange.end_date.day","value":"={{ $json.EndDay }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[128,720],"id":"ff0fe17b-7c51-4085-9f36-f9a1d07ff6bb","name":"DESKTOP_MAP Views","credentials":{"googleBusinessProfileOAuth2Api":{"id":"fj0r4iY1wmBjDC8c","name":"Google Business Profile account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Extract time series array of metrics\nconst metrics = items[0].json.multiDailyMetricTimeSeries[0].dailyMetricTimeSeries;\n\n// Initialize accumulator\nconst totals = {};\n\n// Loop through each metric series\nfor (const m of metrics) {\n  const metricName = m.dailyMetric;\n  const values = m.timeSeries.datedValues || [];\n  const sum = values.reduce((acc, dv) => {\n    return acc + (Number(dv.value || 0));\n  }, 0);\n  totals[`${metricName}_total`] = sum;\n}\n\n// Return a single item containing all totals\nreturn [{\n  json: totals\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,720],"id":"d4be2e26-06bc-421c-82a6-3dac6d8c1fe4","name":"Desktop Map Views Count"},{"parameters":{"url":"=https://businessprofileperformance.googleapis.com/v1/locations/{{ $json['Profile ID'] }}:fetchMultiDailyMetricsTimeSeries","authentication":"predefinedCredentialType","nodeCredentialType":"googleBusinessProfileOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"dailyMetrics","value":"BUSINESS_IMPRESSIONS_MOBILE_MAPS"},{"name":"dailyRange.start_date.year","value":"={{ $json.StartYear }}"},{"name":"dailyRange.start_date.month","value":"={{ $json.StartMonth }}"},{"name":"dailyRange.start_date.day","value":"={{ $json.StartDay }}"},{"name":"dailyRange.end_date.year","value":"={{ $json.EndYear }}"},{"name":"dailyRange.end_date.month","value":"={{ $json.EndMonth }}"},{"name":"dailyRange.end_date.day","value":"={{ $json.EndDay }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[128,944],"id":"3e3250f7-04bc-4cfa-986e-758cf66b1d86","name":"MOBILE_MAPS Views","credentials":{"googleBusinessProfileOAuth2Api":{"id":"fj0r4iY1wmBjDC8c","name":"Google Business Profile account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Extract time series array of metrics\nconst metrics = items[0].json.multiDailyMetricTimeSeries[0].dailyMetricTimeSeries;\n\n// Initialize accumulator\nconst totals = {};\n\n// Loop through each metric series\nfor (const m of metrics) {\n  const metricName = m.dailyMetric;\n  const values = m.timeSeries.datedValues || [];\n  const sum = values.reduce((acc, dv) => {\n    return acc + (Number(dv.value || 0));\n  }, 0);\n  totals[`${metricName}_total`] = sum;\n}\n\n// Return a single item containing all totals\nreturn [{\n  json: totals\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,944],"id":"0eee53b3-1a66-42c6-85e1-410d7d0821c6","name":"Mobile Map Views Count"},{"parameters":{"url":"=https://businessprofileperformance.googleapis.com/v1/locations/{{ $json['Profile ID'] }}:fetchMultiDailyMetricsTimeSeries","authentication":"predefinedCredentialType","nodeCredentialType":"googleBusinessProfileOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"dailyMetrics","value":"BUSINESS_DIRECTION_REQUESTS"},{"name":"dailyRange.start_date.year","value":"={{ $json.StartYear }}"},{"name":"dailyRange.start_date.month","value":"={{ $json.StartMonth }}"},{"name":"dailyRange.start_date.day","value":"={{ $json.StartDay }}"},{"name":"dailyRange.end_date.year","value":"={{ $json.EndYear }}"},{"name":"dailyRange.end_date.month","value":"={{ $json.EndMonth }}"},{"name":"dailyRange.end_date.day","value":"={{ $json.EndDay }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[128,1168],"id":"a5ec9e39-c55f-4d21-af5b-0469ac995100","name":"DIRECTION_REQUESTS","credentials":{"googleBusinessProfileOAuth2Api":{"id":"fj0r4iY1wmBjDC8c","name":"Google Business Profile account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Extract time series array of metrics\nconst metrics = items[0].json.multiDailyMetricTimeSeries[0].dailyMetricTimeSeries;\n\n// Initialize accumulator\nconst totals = {};\n\n// Loop through each metric series\nfor (const m of metrics) {\n  const metricName = m.dailyMetric;\n  const values = m.timeSeries.datedValues || [];\n  const sum = values.reduce((acc, dv) => {\n    return acc + (Number(dv.value || 0));\n  }, 0);\n  totals[`${metricName}_total`] = sum;\n}\n\n// Return a single item containing all totals\nreturn [{\n  json: totals\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,1168],"id":"2fd8d160-f141-48de-b083-44143909bbde","name":"Mobile Map Views Count1"},{"parameters":{"url":"=https://businessprofileperformance.googleapis.com/v1/locations/{{ $json['Profile ID'] }}:fetchMultiDailyMetricsTimeSeries","authentication":"predefinedCredentialType","nodeCredentialType":"googleBusinessProfileOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"dailyMetrics","value":"CALL_CLICKS"},{"name":"dailyRange.start_date.year","value":"={{ $json.StartYear }}"},{"name":"dailyRange.start_date.month","value":"={{ $json.StartMonth }}"},{"name":"dailyRange.start_date.day","value":"={{ $json.StartDay }}"},{"name":"dailyRange.end_date.year","value":"={{ $json.EndYear }}"},{"name":"dailyRange.end_date.month","value":"={{ $json.EndMonth }}"},{"name":"dailyRange.end_date.day","value":"={{ $json.EndDay }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[144,112],"id":"32aec0d5-9ba5-4d36-898e-3ec99e4c154e","name":"CALL_CLICKS","credentials":{"googleBusinessProfileOAuth2Api":{"id":"fj0r4iY1wmBjDC8c","name":"Google Business Profile account"}},"onError":"continueRegularOutput"},{"parameters":{"url":"=https://businessprofileperformance.googleapis.com/v1/locations/{{ $json['Profile ID'] }}:fetchMultiDailyMetricsTimeSeries","authentication":"predefinedCredentialType","nodeCredentialType":"googleBusinessProfileOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"dailyMetrics","value":"WEBSITE_CLICKS"},{"name":"dailyRange.start_date.year","value":"={{ $json.StartYear }}"},{"name":"dailyRange.start_date.month","value":"={{ $json.StartMonth }}"},{"name":"dailyRange.start_date.day","value":"={{ $json.StartDay }}"},{"name":"dailyRange.end_date.year","value":"={{ $json.EndYear }}"},{"name":"dailyRange.end_date.month","value":"={{ $json.EndMonth }}"},{"name":"dailyRange.end_date.day","value":"={{ $json.EndDay }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[144,-96],"id":"6150b5da-3286-43da-926d-1f34336d1fdc","name":"WEBSITE_CLICKS","credentials":{"googleBusinessProfileOAuth2Api":{"id":"fj0r4iY1wmBjDC8c","name":"Google Business Profile account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Extract time series array of metrics\nconst metrics = items[0].json.multiDailyMetricTimeSeries[0].dailyMetricTimeSeries;\n\n// Initialize accumulator\nconst totals = {};\n\n// Loop through each metric series\nfor (const m of metrics) {\n  const metricName = m.dailyMetric;\n  const values = m.timeSeries.datedValues || [];\n  const sum = values.reduce((acc, dv) => {\n    return acc + (Number(dv.value || 0));\n  }, 0);\n  totals[`${metricName}_total`] = sum;\n}\n\n// Return a single item containing all totals\nreturn [{\n  json: totals\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[384,-96],"id":"c4e79b8a-8009-4769-9a04-b6a9b098b603","name":"CALL_CLICKS Count"},{"parameters":{"jsCode":"// Extract time series array of metrics\nconst metrics = items[0].json.multiDailyMetricTimeSeries[0].dailyMetricTimeSeries;\n\n// Initialize accumulator\nconst totals = {};\n\n// Loop through each metric series\nfor (const m of metrics) {\n  const metricName = m.dailyMetric;\n  const values = m.timeSeries.datedValues || [];\n  const sum = values.reduce((acc, dv) => {\n    return acc + (Number(dv.value || 0));\n  }, 0);\n  totals[`${metricName}_total`] = sum;\n}\n\n// Return a single item containing all totals\nreturn [{\n  json: totals\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,112],"id":"5ec48123-b04a-4512-a5f6-db358a5c8c50","name":"WEBSITE_CLICKS Count"},{"parameters":{"numberInputs":8},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[976,384],"id":"6e65e8c1-ef80-4c7b-ad11-c0ad2e99fc0f","name":"Merge"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1200,464],"id":"78393391-3565-4565-832a-47e080050fcc","name":"Aggregate"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":5,"triggerAtHour":4}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1536,464],"id":"48fc7149-570c-4d66-93d2-f701fb31cb16","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"7318235a-1aa9-432e-9549-3eb463589569","name":"Client Name","value":"={{ $json['Client Name'] }}","type":"string"},{"id":"3e5a4b88-b157-4228-b433-7361dc4975e8","name":"Profile ID","value":"={{ $json['GMB Profile ID'] }}","type":"string"},{"id":"6430aef9-6bba-421c-b017-956f4e30b008","name":"StartDay","value":"={{ $('Start and End Date').item.json.StartDay }}","type":"string"},{"id":"1f057ee8-dcf1-4984-bdc4-027db51ae5d8","name":"StartMonth","value":"={{ $('Start and End Date').item.json.StartMonth }}","type":"string"},{"id":"51a15ae9-e0b5-40e0-bcc0-d670ccf96c9d","name":"StartYear","value":"={{ $('Start and End Date').item.json.StartYear }}","type":"number"},{"id":"9ea505b9-2f68-4f6d-a5ce-5dca8132af89","name":"EndDay","value":"={{ $('Start and End Date').item.json.EndDay }}","type":"string"},{"id":"1e25cd23-aecc-4345-a98e-a51f6f80b56d","name":"EndMonth","value":"={{ $('Start and End Date').item.json.EndMonth }}","type":"string"},{"id":"175f84b4-d93d-4136-b1ad-9388ff5d12d8","name":"EndYear","value":"={{ $('Start and End Date').item.json.EndYear }}","type":"number"},{"id":"f53445f9-07c7-4fba-8fd5-e0c970f5e2f4","name":"Google Sheet Link","value":"={{ $json['Client Reporting Sheet'] }}","type":"string"},{"id":"1d0e2996-b4bd-4cc4-b11c-f4bcf39179cb","name":"Website URL","value":"={{ $json['Website URL'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-432,480],"id":"c5b71996-144f-4315-9ce5-566197bfa26d","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-928,464],"id":"81da1aa2-d909-4f3e-9c05-1564c71b3389","name":"Loop Over Items"},{"parameters":{"amount":"={{ $json.randomNumber }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2032,464],"id":"c7f362bf-3185-4215-8f3d-a77e15d1f01f","name":"Wait","webhookId":"b100265e-d75c-4fad-a65c-84139d165210"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"filtersUI":{"values":[{"lookupColumn":"Sl No.","lookupValue":"={{ $json['Sl No.'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-640,480],"id":"53e9ae36-29a4-46b4-9e16-379c741ab302","name":"Get row WA Number","credentials":{"googleSheetsOAuth2Api":{"id":"VWI7ANgqySo2PhHL","name":"KR -Paid"}}},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1136,464],"id":"f17f8340-da21-4264-b5b2-67a3285cb372","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"VWI7ANgqySo2PhHL","name":"KR -Paid"}}},{"parameters":{"jsCode":"// Generate a random number between 1 and 5 with two decimal precision\nconst randomNumber = (Math.random() * (60 - 1) + 1).toFixed(0);\n\n// Return it as output\nreturn [\n  {\n    json: {\n      randomNumber: parseFloat(randomNumber)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1824,464],"id":"207fa537-80c0-4833-8ffd-5cc7c19c5f11","name":"RandomeTimeDigit"},{"parameters":{"jsCode":"// Get current date\nconst now = new Date();\n\n// Calculate last month (adjusting for January)\nlet year = now.getFullYear();\nlet month = now.getMonth() - 1;\n\nif (month < 0) {\n  month = 11;\n  year -= 1;\n}\n\n// Start date of last month\nconst startDate = new Date(year, month, 1);\n\n// End date of last month (0th day of current month = last day of previous)\nconst endDate = new Date(year, month + 1, 0);\n\n// Extract parts\nconst pad = (num) => String(num).padStart(2, '0');\n\nreturn [\n  {\n    json: {\n      StartDay: pad(startDate.getDate()),\n      StartMonth: pad(startDate.getMonth() + 1),\n      StartYear: startDate.getFullYear(),\n\n      EndDay: pad(endDate.getDate()),\n      EndMonth: pad(endDate.getMonth() + 1),\n      EndYear: endDate.getFullYear(),\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1328,464],"id":"1cbd2c5a-4bd0-4032-b7c0-c07c82d138df","name":"Start and End Date"},{"parameters":{"url":"={{ $json['Website URL'] }}","additionalFields":{}},"type":"n8n-nodes-google-pagespeed.googlePageSpeed","typeVersion":2,"position":[256,1392],"id":"ea573318-c54c-4ed9-ba76-31e3de0387e3","name":"Google PageSpeed","credentials":{"googlePageSpeedApi":{"id":"SDr9jq9boV2brUvc","name":"Google PageSpeed account"}},"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[2240,464],"id":"e87f3b7f-143a-48b2-8716-f33dcbaa6089","name":"Limit"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1aGEWvQd5g0TN8eY1V_KI3ME14mVpk6QHVtxTuSz9tvM","mode":"list","cachedResultName":"Client Reporting Sheet - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1aGEWvQd5g0TN8eY1V_KI3ME14mVpk6QHVtxTuSz9tvM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1492800070,"mode":"list","cachedResultName":"All","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tDZ-QO0WPds8W5asl1zCLq5yCjrgTPaXU-3M8PVIix4/edit#gid=1492800070"},"columns":{"mappingMode":"defineBelow","value":{"Profile Name":"={{ $json['Profile Name'] }}","Start Date":"={{ $json['Start Date'] }}","End Date":"={{ $json['End Date'] }}","Ratings ":"","Review Responses":"","Reviews":"","UniqueProfileName":"={{ $json['Profile Name'] }}{{ $json['Start Date'] }}","Interactions ":"={{ $json['Interactions '] }}","Search Views":"={{ $json['Search Views'] }}","Website Clicks":"={{ $json['Website Clicks'] }}","Direction Request":"={{ $json['Direction Request'] }}","Phone Calls":"={{ $json['Phone Calls'] }}","Website Speed":"={{ $json['Website Speed'] }}","SEO Score":"={{ $json['SEO Score'] }}"},"matchingColumns":["UniqueProfileName"],"schema":[{"id":"Profile Name","displayName":"Profile Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Start Date","displayName":"Start Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"End Date","displayName":"End Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Search Views","displayName":"Search Views","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Interactions ","displayName":"Interactions ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website Clicks","displayName":"Website Clicks","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Direction Request","displayName":"Direction Request","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone Calls","displayName":"Phone Calls","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Reviews","displayName":"Reviews","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Review Responses","displayName":"Review Responses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ratings ","displayName":"Ratings ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website Speed","displayName":"Website Speed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SEO Score","displayName":"SEO Score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Primary Keyword","displayName":"Primary Keyword","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Rank","displayName":"Rank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Keyword 1","displayName":"Keyword 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Rank 1","displayName":"Rank 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Keyword 2","displayName":"Keyword 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Rank 2","displayName":"Rank 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Keyword 3","displayName":"Keyword 3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Rank 3","displayName":"Rank 3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Keyword 4","displayName":"Keyword 4","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Rank 4","displayName":"Rank 4","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Keyword 5","displayName":"Keyword 5","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Rank 5","displayName":"Rank 5","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Citations ","displayName":"Citations ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Backlinks ","displayName":"Backlinks ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Content Marketing","displayName":"Content Marketing","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Creatives","displayName":"Creatives","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Shorts/Reels","displayName":"Shorts/Reels","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Medical Blogs","displayName":"Medical Blogs","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website SEO","displayName":"Website SEO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Local SEO","displayName":"Local SEO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Web & Social Audit","displayName":"Web & Social Audit","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Google Profile Rank","displayName":"Google Profile Rank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"UniqueProfileName","displayName":"UniqueProfileName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1632,464],"id":"90e0aed7-9d2a-4fe4-bbbb-a80d7f285614","name":"Add to All","credentials":{"googleSheetsOAuth2Api":{"id":"VWI7ANgqySo2PhHL","name":"KR -Paid"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"=1aGEWvQd5g0TN8eY1V_KI3ME14mVpk6QHVtxTuSz9tvM","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('Get row WA Number').item.json['Client Reporting Sheet'] }}","mode":"url"},"columns":{"mappingMode":"defineBelow","value":{"Profile Name":"={{ $('Edit Fields').item.json['Client Name'] }}","Interactions ":"={{ $json.data[0].WEBSITE_CLICKS_total + $json.data[6].BUSINESS_DIRECTION_REQUESTS_total + $json.data[1].CALL_CLICKS_total }}","Search Views":"={{ $json.data[3].BUSINESS_IMPRESSIONS_MOBILE_SEARCH_total + $json.data[2].BUSINESS_IMPRESSIONS_DESKTOP_SEARCH_total + $json.data[5].BUSINESS_IMPRESSIONS_MOBILE_MAPS_total + $json.data[4].BUSINESS_IMPRESSIONS_DESKTOP_MAPS_total }}","Website Clicks":"={{ $json.data[0].WEBSITE_CLICKS_total }}","Direction Request":"={{ $json.data[6].BUSINESS_DIRECTION_REQUESTS_total }}","Phone Calls":"={{ $json.data[1].CALL_CLICKS_total }}","SEO Score":"={{ $json.data[7].scores.seo }}","Website Speed":"={{ $json.data[7].audits['first-contentful-paint'].displayValue }}","Start Date":"={{ $('Start and End Date').first().json.StartDay }}/{{ $('Start and End Date').first().json.StartMonth }}/{{ $('Start and End Date').first().json.StartYear }}","End Date":"={{ $('Start and End Date').first().json.EndDay }}/{{ $('Start and End Date').first().json.EndMonth }}/{{ $('Start and End Date').first().json.EndYear }}"},"matchingColumns":["Start Date"],"schema":[{"id":"Profile Name","displayName":"Profile Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Start Date","displayName":"Start Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"End Date","displayName":"End Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Search Views","displayName":"Search Views","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Interactions ","displayName":"Interactions ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website Clicks","displayName":"Website Clicks","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Direction Request","displayName":"Direction Request","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone Calls","displayName":"Phone Calls","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Reviews","displayName":"Reviews","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Review Responses","displayName":"Review Responses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ratings ","displayName":"Ratings ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website Speed","displayName":"Website Speed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SEO Score","displayName":"SEO Score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Primary Keyword","displayName":"Primary Keyword","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Rank","displayName":"Rank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Keyword 1","displayName":"Keyword 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Rank 1","displayName":"Rank 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Keyword 2","displayName":"Keyword 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Rank 2","displayName":"Rank 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Keyword 3","displayName":"Keyword 3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Rank 3","displayName":"Rank 3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Keyword 4","displayName":"Keyword 4","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Rank 4","displayName":"Rank 4","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Keyword 5","displayName":"Keyword 5","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Rank 5","displayName":"Rank 5","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Citations ","displayName":"Citations ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Backlinks ","displayName":"Backlinks ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Content Marketing","displayName":"Content Marketing","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Creatives","displayName":"Creatives","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Shorts/Reels","displayName":"Shorts/Reels","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Medical Blogs","displayName":"Medical Blogs","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website SEO","displayName":"Website SEO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Local SEO","displayName":"Local SEO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Web & Social Audit","displayName":"Web & Social Audit","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Google Profile Rank","displayName":"Google Profile Rank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1408,464],"id":"34c554fa-98cc-45f0-8180-0e2595afb969","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"VWI7ANgqySo2PhHL","name":"KR -Paid"}}}],"connections":{"DESKTOP_SEARCH":{"main":[[{"node":"Desktop Search Count","type":"main","index":0}]]},"MOBILE_SEARCH":{"main":[[{"node":"Mobile Search Count","type":"main","index":0}]]},"DESKTOP_MAP Views":{"main":[[{"node":"Desktop Map Views Count","type":"main","index":0}]]},"MOBILE_MAPS Views":{"main":[[{"node":"Mobile Map Views Count","type":"main","index":0}]]},"DIRECTION_REQUESTS":{"main":[[{"node":"Mobile Map Views Count1","type":"main","index":0}]]},"CALL_CLICKS":{"main":[[{"node":"WEBSITE_CLICKS Count","type":"main","index":0}]]},"WEBSITE_CLICKS":{"main":[[{"node":"CALL_CLICKS Count","type":"main","index":0}]]},"CALL_CLICKS Count":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"WEBSITE_CLICKS Count":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Desktop Search Count":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Mobile Search Count":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Desktop Map Views Count":{"main":[[{"node":"Merge","type":"main","index":4}]]},"Mobile Map Views Count":{"main":[[{"node":"Merge","type":"main","index":5}]]},"Mobile Map Views Count1":{"main":[[{"node":"Merge","type":"main","index":6}]]},"Schedule Trigger":{"main":[[{"node":"Start and End Date","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"WEBSITE_CLICKS","type":"main","index":0},{"node":"CALL_CLICKS","type":"main","index":0},{"node":"DESKTOP_SEARCH","type":"main","index":0},{"node":"MOBILE_SEARCH","type":"main","index":0},{"node":"DESKTOP_MAP Views","type":"main","index":0},{"node":"MOBILE_MAPS Views","type":"main","index":0},{"node":"DIRECTION_REQUESTS","type":"main","index":0},{"node":"Google PageSpeed","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Get row WA Number","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Get row WA Number":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"RandomeTimeDigit":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Start and End Date":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Google PageSpeed":{"main":[[{"node":"Merge","type":"main","index":7}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Add to All":{"main":[[{"node":"RandomeTimeDigit","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Add to All","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"G2KZfyUFGXoArofH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fdd2d21f-5058-469d-985f-fb3fd375ea5d","triggerCount":1,"shared":[{"createdAt":"2025-08-28T19:44:35.644Z","updatedAt":"2025-08-28T19:44:35.644Z","role":"workflow:owner","workflowId":"eownN32aASWwEkOD","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[]}