step-4---gmb-reporting-primary-keyword-copy-lkLU4GE23bk5BI26.json
{"createdAt":"2025-12-24T17:27:17.438Z","updatedAt":"2025-12-24T18:05:56.957Z","id":"lkLU4GE23bk5BI26","name":"Step 4 - GMB Reporting Primary Keyword copy","active":false,"isArchived":true,"nodes":[{"parameters":{"url":"https://maps-data.p.rapidapi.com/searchmaps.php","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.keyword }}"},{"name":"limit","value":"20"},{"name":"country","value":"India"},{"name":"lang","value":"en"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"maps-data.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"71fca758c8msh7ad08d109960e5cp116017jsn82400151ce09"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-704,304],"id":"bbf11cbc-a5db-4fb6-a3c6-c4bc88ed42ff","name":"RequestKeyword1","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":5,"triggerAtHour":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2320,416],"id":"79170677-baa7-4539-a56b-1ce5a73f7778","name":"Schedule Trigger"},{"parameters":{"jsCode":"// Get current date\nconst now = new Date();\n\n// Calculate last month (adjusting for January)\nlet year = now.getFullYear();\nlet month = now.getMonth() - 1;\n\nif (month < 0) {\n  month = 11;\n  year -= 1;\n}\n\n// Start date of last month\nconst startDate = new Date(year, month, 1);\n\n// End date of last month (0th day of current month = last day of previous)\nconst endDate = new Date(year, month + 1, 0);\n\n// Extract parts\nconst pad = (num) => String(num).padStart(2, '0');\n\nreturn [\n  {\n    json: {\n      StartDay: pad(startDate.getDate()),\n      StartMonth: pad(startDate.getMonth() + 1),\n      StartYear: startDate.getFullYear(),\n\n      EndDay: pad(endDate.getDate()),\n      EndMonth: pad(endDate.getMonth() + 1),\n      EndYear: endDate.getFullYear(),\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2096,416],"id":"ab85cb39-7bf3-494e-b9dc-e77399cae371","name":"Start and End Date"},{"parameters":{"jsCode":"// Get the input keywords\nconst keywordsRaw = $json[\"SEO Keywords\"] || \"\";\n\n// Split, trim, remove semicolons, and filter empty entries\nconst keywordsArray = keywordsRaw\n  .split(\"\\n\")\n  .map(k => k.trim().replace(/;$/, \"\")) // removes trailing semicolon if present\n  .filter(k => k.length > 0);\n\n// Return each keyword as a separate item\nreturn keywordsArray.map(keyword => ({\n  json: { keyword }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1152,304],"id":"c4208b9c-1e5b-4961-a0dc-03dbac84910c","name":"Keywords"},{"parameters":{"options":{"reset":"={{ $prevNode.name === 'Keywords' }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-928,304],"id":"a1689c54-57e8-49eb-99bf-6943b0d3c844","name":"Loop Over Keywords"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1616,416],"id":"672926de-40d6-4741-87f7-701bd01112d5","name":"Loop Over Clients"},{"parameters":{"documentId":{"__rl":true,"value":"1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o","mode":"list","cachedResultName":"Master Data + Keyword - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA + Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MlG9HhILo1u8So9aQoUDi5dcjEGqd4MpNK5zmA2046o/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1856,416],"id":"76a7a152-1a5b-4339-9ef0-56dda615943c","name":"Get Clients","credentials":{"googleSheetsOAuth2Api":{"id":"VWI7ANgqySo2PhHL","name":"KR -Paid"}}},{"parameters":{"jsCode":"const allMatches = [];\n\n// Get keywords and client data\nconst keywords = $('Keywords').all().map(k => k.json.keyword);\nconst clientData = $('Get Clients').all().map(client => client.json);\n\nfor (const item of $input.all()) {\n  // Get API data from input\n  const apiResults = item.json.data || [];\n  \n  // Get the specific keyword for this item - try multiple possible field names\n  const currentKeyword = item.json.keyword || \n                        keywords[0] || // If there's only one keyword, use it\n                        'Unknown keyword';\n  \n  // Process each ranking position in the data array\n  apiResults.forEach((rankingData, position) => {\n    // Extract GMB Place ID from ranking data\n    const apiPlaceId = rankingData.place_id || rankingData.gmb_place_id || rankingData.placeId;\n    \n    if (!apiPlaceId) {\n      return;\n    }\n\n    // Find matching client in Google Sheet data\n    const matchingClient = clientData.find(client => {\n      const clientPlaceId = client['GMB Place ID'] || \n                           client['gmb_place_id'] || \n                           client['place_id'] ||\n                           client.GMBPlaceID ||\n                           client.placeId;\n      \n      return clientPlaceId && clientPlaceId.toString() === apiPlaceId.toString();\n    });\n\n    if (matchingClient) {\n      const match = {\n        keyword: currentKeyword,\n        ranking_position: position + 1,\n        client_id: matchingClient['Client ID'] || matchingClient.clientId,\n        client_name: matchingClient['Client Name'] || matchingClient.name,\n        contact: matchingClient.Contact || matchingClient.contact,\n        whatsapp: matchingClient.WhatsApp || matchingClient.whatsapp,\n        location: matchingClient.Location || matchingClient.location,\n        url: matchingClient.URL || matchingClient.url,\n        gmb_place_id: apiPlaceId,\n        business_name: rankingData.name || rankingData.business_name,\n        address: rankingData.full_address || rankingData.address,\n        phone: rankingData.phone_number || rankingData.phone,\n        rating: rankingData.rating,\n        review_count: rankingData.review_count || rankingData.reviews,\n        website: rankingData.website\n      };\n      \n      allMatches.push(match);\n    }\n  });\n}\n\nreturn allMatches;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,304],"id":"3dd62e02-ebfb-452e-b50b-52c9a9b253be","name":"Code","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1440,64],"id":"0554ce22-e5ce-4ec0-aa0d-50f59e7e044e","name":"Limit"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1632,48],"id":"68e1fa4e-beba-44e7-a6c3-db4728906413","name":"Wait1","webhookId":"ec1e4c70-6bc3-4a07-b436-0f282f82c48a"},{"parameters":{"promptType":"define","text":"=GMB Ranking of each keyword:{{ $json.textData }}","options":{"systemMessage":"=#Role: You are a helpful assistant whose role is to give top 5 keywords a client has ranked for.\n\n#Intruction: \n- You have been given results of 10 keywords.\n- Gop through each of the 10 keywords.\n- Then give Top 5 keywords that a client ranked for the exact ranking position.\n\nOutput Format:\n\nKeyword 1 - Rank\nKeyword 2 - Rank\nKeyword 3 - Rank\nKeyword 4 - Rank\nKeyword 5 - Rank\n\nGive output in list format."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-48,-48],"id":"ead8ca47-a497-4ebd-8d61-e894e45a85be","name":"AI Agent","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-16,176],"id":"10d50ac2-35f4-4ee3-af9c-155acae10dec","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"pmnJNFOqBuhd4qSv","name":"OpenRouter account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=sg293yr2{{ $now }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[112,176],"id":"c4c2d0eb-8b2f-4c63-8294-6a5be4960095","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"9zDWQDsOZBmHEvfH","name":"Postgres account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1lRqfjA67CepPWoB0C-BijqAaR-aWUeDEPXndb6Ps_eI","mode":"list","cachedResultName":"GMB Audit Report - Worksheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lRqfjA67CepPWoB0C-BijqAaR-aWUeDEPXndb6Ps_eI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lRqfjA67CepPWoB0C-BijqAaR-aWUeDEPXndb6Ps_eI/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Keyword":"={{ $('Keywords').item.json.keyword }}","Profile Name":"={{ $('Get Clients').item.json['Clinet Name'] }}","Ranking Position":"={{ $json.ranking_position }}","Rating":"={{ $json.rating }}","Reviews":"={{ $json.review_count }}","Location":"={{ $json.location }}"},"matchingColumns":[],"schema":[{"id":"Profile Name","displayName":"Profile Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Keyword","displayName":"Keyword","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ranking Position","displayName":"Ranking Position","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Reviews","displayName":"Reviews","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Rating","displayName":"Rating","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-272,304],"id":"fd94391e-efc6-4200-a4a3-7bb1d7278c0a","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"VWI7ANgqySo2PhHL","name":"KR -Paid"}}},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"1lRqfjA67CepPWoB0C-BijqAaR-aWUeDEPXndb6Ps_eI","mode":"list","cachedResultName":"GMB Audit Report - Worksheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lRqfjA67CepPWoB0C-BijqAaR-aWUeDEPXndb6Ps_eI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lRqfjA67CepPWoB0C-BijqAaR-aWUeDEPXndb6Ps_eI/edit#gid=0"},"numberToDelete":100},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1200,64],"id":"164770f0-3807-40cf-b34c-0b1ef194eae7","name":"Delete rows or columns from sheet","credentials":{"googleSheetsOAuth2Api":{"id":"VWI7ANgqySo2PhHL","name":"KR -Paid"}}},{"parameters":{"documentId":{"__rl":true,"value":"1lRqfjA67CepPWoB0C-BijqAaR-aWUeDEPXndb6Ps_eI","mode":"list","cachedResultName":"GMB Audit Report - Worksheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lRqfjA67CepPWoB0C-BijqAaR-aWUeDEPXndb6Ps_eI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lRqfjA67CepPWoB0C-BijqAaR-aWUeDEPXndb6Ps_eI/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-704,64],"id":"73450b54-72f3-46f4-92d7-93908807d0c1","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"VWI7ANgqySo2PhHL","name":"KR -Paid"}}},{"parameters":{"jsCode":"// Build the merged \"Keyword - Rank\" text\nconst lines = items.map(item => `${item.json.Keyword} - Rank ${item.json[\"Ranking Position\"]}`);\n\n// Helper: get the first non-empty value for a field across rows\nfunction firstNonEmpty(field) {\n  for (const it of items) {\n    const v = it.json[field];\n    if (v !== undefined && v !== null) {\n      const s = String(v).trim();\n      if (s && s.toLowerCase() !== \"[empty]\") return v;\n    }\n  }\n  return \"\"; // fallback if all are empty\n}\n\nconst review = firstNonEmpty(\"Reviews\");\nconst rating = firstNonEmpty(\"Rating\");\n\nreturn [\n  {\n    json: {\n      textData: lines.join('\\n'),\n      review,   // single review value\n      rating    // single rating value\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,64],"id":"8c38a538-fdbe-4035-b46a-3e9ff2be4791","name":"Merge"},{"parameters":{"jsCode":"// Get the AI Agent output text\nconst inputText = $json.output || \"\";\n\n// Split into lines, clean them up\nconst lines = inputText\n  .split(\"\\n\")\n  .map(line => line.replace(/^\\d+\\.\\s*/, \"\").trim()) // remove \"1. \"\n  .filter(line => line.length > 0);\n\n// Extract keyword + rank separately\nconst keywords = [];\nconst ranks = [];\n\nlines.forEach(line => {\n  // Match \"... - Rank X\" at the end\n  const match = line.match(/^(.*?)-\\s*Rank\\s*(\\d+)/i);\n  if (match) {\n    const keyword = match[1].trim();\n    const rank = parseInt(match[2], 10);\n    keywords.push(keyword);\n    ranks.push(rank);\n  }\n});\n\n// Return as single item with two arrays\nreturn [\n  {\n    json: {\n      keywords,\n      ranks\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[352,64],"id":"28a5b7fb-0424-4e7f-8655-719e26880a33","name":"Code1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1aGEWvQd5g0TN8eY1V_KI3ME14mVpk6QHVtxTuSz9tvM","mode":"list","cachedResultName":"Client Reporting Sheet - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1aGEWvQd5g0TN8eY1V_KI3ME14mVpk6QHVtxTuSz9tvM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"={{ $('Loop Over Clients').first().json['Client Reporting Sheet'] }}","mode":"url"},"columns":{"mappingMode":"defineBelow","value":{"Profile Name":"={{ $('Edit Fields').last().json['Client Name'] }}","Start Date":"={{ $('Start and End Date').first().json.StartDay }}/{{ $('Start and End Date').first().json.StartMonth }}/{{ $('Start and End Date').first().json.StartYear }}","End Date":"={{ $('Start and End Date').first().json.EndDay }}/{{ $('Start and End Date').first().json.EndMonth }}/{{ $('Start and End Date').first().json.EndYear }}","Primary Keyword":"={{ $json.keywords[0] }}","Rank":"={{ $json.ranks[0] }}"},"matchingColumns":["Start Date"],"schema":[{"id":"Profile Name","displayName":"Profile Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Start Date","displayName":"Start Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"End Date","displayName":"End Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Search Views","displayName":"Search Views","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Interactions ","displayName":"Interactions ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Website Clicks","displayName":"Website Clicks","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Direction Request","displayName":"Direction Request","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Phone Calls","displayName":"Phone Calls","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Reviews","displayName":"Reviews","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Review Responses","displayName":"Review Responses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ratings ","displayName":"Ratings ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Website Speed","displayName":"Website Speed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SEO Score","displayName":"SEO Score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Primary Keyword","displayName":"Primary Keyword","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Rank","displayName":"Rank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Keyword 1","displayName":"Keyword 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Rank 1","displayName":"Rank 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Keyword 2","displayName":"Keyword 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Rank 2","displayName":"Rank 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Keyword 3","displayName":"Keyword 3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Rank 3","displayName":"Rank 3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Keyword 4","displayName":"Keyword 4","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Rank 4","displayName":"Rank 4","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Keyword 5","displayName":"Keyword 5","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Rank 5","displayName":"Rank 5","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Citations ","displayName":"Citations ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Backlinks ","displayName":"Backlinks ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Content Marketing","displayName":"Content Marketing","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Creatives","displayName":"Creatives","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Shorts/Reels","displayName":"Shorts/Reels","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Medical Blogs","displayName":"Medical Blogs","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Website SEO","displayName":"Website SEO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Local SEO","displayName":"Local SEO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Web & Social Audit","displayName":"Web & Social Audit","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Google Profile Rank","displayName":"Google Profile Rank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[784,64],"id":"c90e23c3-6853-43c4-842b-d4d475640363","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"VWI7ANgqySo2PhHL","name":"KR -Paid"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-64,304],"id":"da2f823f-86fd-4719-9a5b-d52ce6954ee8","name":"Limit1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1aGEWvQd5g0TN8eY1V_KI3ME14mVpk6QHVtxTuSz9tvM","mode":"list","cachedResultName":"Client Reporting Sheet - Original","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1aGEWvQd5g0TN8eY1V_KI3ME14mVpk6QHVtxTuSz9tvM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1492800070,"mode":"list","cachedResultName":"All","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tDZ-QO0WPds8W5asl1zCLq5yCjrgTPaXU-3M8PVIix4/edit#gid=1492800070"},"columns":{"mappingMode":"defineBelow","value":{"UniqueProfileName":"={{ $json['Profile Name'] }}{{ $json['Start Date'] }}","Primary Keyword":"={{ $json['Primary Keyword'] }}","Rank":"={{ $json.Rank }}"},"matchingColumns":["UniqueProfileName"],"schema":[{"id":"Profile Name","displayName":"Profile Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Start Date","displayName":"Start Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"End Date","displayName":"End Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Search Views","displayName":"Search Views","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Interactions ","displayName":"Interactions ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Website Clicks","displayName":"Website Clicks","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Direction Request","displayName":"Direction Request","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Phone Calls","displayName":"Phone Calls","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Reviews","displayName":"Reviews","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Review Responses","displayName":"Review Responses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Ratings ","displayName":"Ratings ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Website Speed","displayName":"Website Speed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"SEO Score","displayName":"SEO Score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Primary Keyword","displayName":"Primary Keyword","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Rank","displayName":"Rank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Keyword 1","displayName":"Keyword 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Rank 1","displayName":"Rank 1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Keyword 2","displayName":"Keyword 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Rank 2","displayName":"Rank 2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Keyword 3","displayName":"Keyword 3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Rank 3","displayName":"Rank 3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Keyword 4","displayName":"Keyword 4","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Rank 4","displayName":"Rank 4","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Keyword 5","displayName":"Keyword 5","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Rank 5","displayName":"Rank 5","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Citations ","displayName":"Citations ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Backlinks ","displayName":"Backlinks ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Content Marketing","displayName":"Content Marketing","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Creatives","displayName":"Creatives","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Shorts/Reels","displayName":"Shorts/Reels","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Medical Blogs","displayName":"Medical Blogs","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Website SEO","displayName":"Website SEO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Local SEO","displayName":"Local SEO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Web & Social Audit","displayName":"Web & Social Audit","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Google Profile Rank","displayName":"Google Profile Rank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"UniqueProfileName","displayName":"UniqueProfileName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[992,64],"id":"2f9dac63-fc7a-4524-b2a9-d1a19df41e59","name":"Add to All","credentials":{"googleSheetsOAuth2Api":{"id":"VWI7ANgqySo2PhHL","name":"KR -Paid"}}},{"parameters":{"assignments":{"assignments":[{"id":"002afc58-e8d3-4f8c-a0da-59465b4f7c3a","name":"Client Name","value":"={{ $json['Client Name'] }}","type":"string"},{"id":"547ffbad-46d5-4cb6-80b3-1cd4bc98e23f","name":"SEO Keywords","value":"={{ $json['Primary Keyword'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1344,304],"id":"deb6bb3a-25cb-4829-9559-731ff3cc74a7","name":"Edit Fields"}],"connections":{"RequestKeyword1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Start and End Date","type":"main","index":0}]]},"Start and End Date":{"main":[[{"node":"Get Clients","type":"main","index":0}]]},"Keywords":{"main":[[{"node":"Loop Over Keywords","type":"main","index":0}]]},"Loop Over Keywords":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}],[{"node":"RequestKeyword1","type":"main","index":0}]]},"Loop Over Clients":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]},"Get Clients":{"main":[[{"node":"Loop Over Clients","type":"main","index":0}]]},"Code":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Clients","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code1","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Append row in sheet":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"Delete rows or columns from sheet":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Add to All","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"Loop Over Keywords","type":"main","index":0}]]},"Add to All":{"main":[[{"node":"Delete rows or columns from sheet","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Keywords","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"G2KZfyUFGXoArofH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"77dcf0e8-13a9-4bfc-9033-899607e87c09","triggerCount":1,"shared":[{"createdAt":"2025-12-24T17:27:17.438Z","updatedAt":"2025-12-24T17:27:17.438Z","role":"workflow:owner","workflowId":"lkLU4GE23bk5BI26","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[]}