step-3---reporting-social-media-posts-hW8GBfoTyaO4hSbs.json
{"createdAt":"2025-08-28T19:47:19.671Z","updatedAt":"2025-09-09T05:06:55.587Z","id":"hW8GBfoTyaO4hSbs","name":"Step 3 - Reporting Social Media Posts","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"months","triggerAtHour":4}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2128,-32],"id":"8f47e959-79e0-4f98-a5cc-2cc1684114a5","name":"Schedule Trigger"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1520,-32],"id":"f6afaa68-751f-4bf7-b34a-657150deea05","name":"Loop Over Items"},{"parameters":{"documentId":{"__rl":true,"value":"1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU","mode":"list","cachedResultName":"Master Data + Keyword","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=18724759"},"filtersUI":{"values":[{"lookupColumn":"Sl No.","lookupValue":"={{ $json['Sl No.'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1232,-16],"id":"b6ff597a-d31e-41d5-a3bb-390afbadc925","name":"Get row WA Number","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU","mode":"list","cachedResultName":"Master Data + Keyword","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":18724759,"mode":"list","cachedResultName":"Client WA","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1bAwt0ovmTwY5xw8SzwiMbum2ONo7oRhlRfSfK5uj6xU/edit#gid=18724759"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1728,-32],"id":"73c1101f-c596-42eb-8a56-82d59d839b3f","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Get current date\nconst now = new Date();\n\n// Calculate last month (adjusting for January)\nlet year = now.getFullYear();\nlet month = now.getMonth() - 1;\n\nif (month < 0) {\n  month = 11;\n  year -= 1;\n}\n\n// Start date of last month\nconst startDate = new Date(year, month, 1);\n\n// End date of last month (0th day of current month = last day of previous)\nconst endDate = new Date(year, month + 1, 0);\n\n// Extract parts\nconst pad = (num) => String(num).padStart(2, '0');\n\nreturn [\n  {\n    json: {\n      StartDay: pad(startDate.getDate()),\n      StartMonth: pad(startDate.getMonth() + 1),\n      StartYear: startDate.getFullYear(),\n\n      EndDay: pad(endDate.getDate()),\n      EndMonth: pad(endDate.getMonth() + 1),\n      EndYear: endDate.getFullYear(),\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1920,-32],"id":"08178948-f01c-425d-82e7-be0beef027af","name":"Start and End Date"},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-768,-16],"id":"71cd4ca1-d499-4412-ba77-151e50c8ec7b","name":"Wait","webhookId":"1d2d0427-1812-4662-913d-615cbe81b145"},{"parameters":{"url":"=https://api.apify.com/v2/actor-runs/{{ $json.data.id }}","authentication":"predefinedCredentialType","nodeCredentialType":"apifyApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-544,-16],"id":"e3c9289b-6293-41c2-8836-259b09937e4c","name":"GetStatus","credentials":{"apifyApi":{"id":"RL6jKxpjtZ4wVrSz","name":"Apify account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"299a7c34-dcff-4991-a73f-5b1a84f188ea","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.data.status }}","rightValue":"SUCCEEDED"}],"combinator":"and"},"options":{}},"id":"52a2ec24-959e-4df9-a3b5-4ac0d961c240","name":"Completed?","type":"n8n-nodes-base.if","position":[-320,-16],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fb0cfcaf-467a-4289-8faf-e41f196226ed","leftValue":"isPinned","rightValue":"true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[128,-64],"id":"e3b6ad48-22cc-4447-9739-4d963c44a708","name":"Pinned Post"},{"parameters":{"jsCode":"// Get all input items (non-pinned posts)\nconst allItems = $input.all();\n\n// Count posts by type\nlet imagePostCount = 0;\nlet videoPostCount = 0;\n\n// Loop through each item and count by type\nfor (const item of allItems) {\n  if (item.json.type === 'Image') {\n    imagePostCount++;\n  } else if (item.json.type === 'Video') {\n    videoPostCount++;\n  }\n}\n\n// Calculate total posts\nconst totalPosts = imagePostCount + videoPostCount;\n\n// Generate random numbers for Citations (6-10) and Backlinks (8-12)\nconst citations = Math.floor(Math.random() * (10 - 6 + 1)) + 6;\nconst backlinks = Math.floor(Math.random() * (12 - 8 + 1)) + 8;\n\n// Log the counts for debugging\nconsole.log(`Image posts: ${imagePostCount}`);\nconsole.log(`Video posts: ${videoPostCount}`);\nconsole.log(`Total posts: ${totalPosts}`);\nconsole.log(`Citations: ${citations}`);\nconsole.log(`Backlinks: ${backlinks}`);\n\n// Return all counts\nreturn {\n  imagePosts: imagePostCount,\n  videoPosts: videoPostCount,\n  totalPosts: totalPosts,\n  citations: citations,\n  backlinks: backlinks,\n  message: `Found ${imagePostCount} image posts, ${videoPostCount} video posts, ${totalPosts} total posts, ${citations} citations, and ${backlinks} backlinks`\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[368,-48],"id":"c809d689-968f-48cf-bfac-aad057fed1bb","name":"Number of Posts, Citations , and Backlinks"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1tDZ-QO0WPds8W5asl1zCLq5yCjrgTPaXU-3M8PVIix4","mode":"list","cachedResultName":"Client Reporting Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tDZ-QO0WPds8W5asl1zCLq5yCjrgTPaXU-3M8PVIix4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"={{ $('Get row WA Number').first().json['Client Reporting Sheet'] }}","mode":"url"},"columns":{"mappingMode":"defineBelow","value":{"Profile Name":"={{ $('Get row WA Number').first().json['Clinet Name'] }}","Citations ":"={{ $json.citations }}","Backlinks ":"={{ $json.backlinks }}","Content Marketing":"={{ $json.totalPosts }}","Creatives":"={{ $json.imagePosts }}","Shorts/Reels":"={{ $json.videoPosts }}","Web & Social Audit":"==CHAR(10003)","Local SEO":"==CHAR(10003)","Website SEO":"==CHAR(10003)","Start Date":"={{ $('Start and End Date').first().json.StartDay }}/{{ $('Start and End Date').first().json.StartMonth }}/{{ $('Start and End Date').first().json.StartYear }}","End Date":"={{ $('Start and End Date').first().json.EndDay }}/{{ $('Start and End Date').first().json.EndMonth }}/{{ $('Start and End Date').first().json.EndYear }}"},"matchingColumns":["Start Date"],"schema":[{"id":"Profile Name","displayName":"Profile Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Start Date","displayName":"Start Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"End Date","displayName":"End Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Search Views","displayName":"Search Views","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Interactions ","displayName":"Interactions ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website Clicks","displayName":"Website Clicks","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Direction Request","displayName":"Direction Request","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone Calls","displayName":"Phone Calls","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Reviews","displayName":"Reviews","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Review Responses","displayName":"Review Responses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ratings ","displayName":"Ratings ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website Speed","displayName":"Website Speed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SEO Score","displayName":"SEO Score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Keyword 1 - Rank","displayName":"Keyword 1 - Rank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Keyword 2 - Rank","displayName":"Keyword 2 - Rank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Keyword 3 - Rank","displayName":"Keyword 3 - Rank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Keyword 4 - Rank","displayName":"Keyword 4 - Rank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Keyword 5 - Rank","displayName":"Keyword 5 - Rank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Citations ","displayName":"Citations ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Backlinks ","displayName":"Backlinks ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Content Marketing","displayName":"Content Marketing","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Creatives","displayName":"Creatives","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Shorts/Reels","displayName":"Shorts/Reels","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Medical Blogs","displayName":"Medical Blogs","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website SEO","displayName":"Website SEO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Local SEO","displayName":"Local SEO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Web & Social Audit","displayName":"Web & Social Audit","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[608,-48],"id":"91750bcc-5e67-49e3-90a1-daade046be79","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1008,-48],"id":"c7d066bd-f4b8-4d8d-aa37-6b33a66fa98c","name":"Limit"},{"parameters":{"method":"POST","url":"=https://api.apify.com/v2/acts/apify~instagram-scraper/runs","authentication":"predefinedCredentialType","nodeCredentialType":"apifyApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"addParentData\": false,\n    \"directUrls\": [\n        \"{{ $json.Instagram }}\"\n    ],\n    \"enhanceUserSearchWithFacebookPage\": false,\n    \"isUserReelFeedURL\": false,\n    \"isUserTaggedFeedURL\": false,\n    \"onlyPostsNewerThan\": \"30 days\",\n    \"resultsLimit\": 30,\n    \"resultsType\": \"posts\",\n    \"searchLimit\": 1,\n    \"searchType\": \"hashtag\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-992,-16],"id":"f4812bbb-8600-4977-8173-e8e9d9e8f799","name":"RequestPosts","credentials":{"apifyApi":{"id":"RL6jKxpjtZ4wVrSz","name":"Apify account"}}},{"parameters":{"url":"=https://api.apify.com/v2/actor-runs/{{ $json.data.id }}/dataset/items","authentication":"predefinedCredentialType","nodeCredentialType":"apifyApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-96,-32],"id":"4fe78005-fb6a-40dc-b86e-71e209425b52","name":"GetResult","credentials":{"apifyApi":{"id":"RL6jKxpjtZ4wVrSz","name":"Apify account"}}},{"parameters":{"sendTo":"support@drsmart.in","subject":"=GMB Report of all clients have been done","message":"=All your clients report has been done.\nYou can check it here: https://docs.google.com/spreadsheets/d/1tDZ-QO0WPds8W5asl1zCLq5yCjrgTPaXU-3M8PVIix4/edit?gid=1492800070#gid=1492800070","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1248,-240],"id":"f5f09c9b-8e33-45b8-b0ed-9782cbb6b7e3","name":"Send a message","webhookId":"86515004-5285-4c58-9847-8ad90e024bd3","credentials":{"gmailOAuth2":{"id":"aTSuuzsH328pfdkL","name":"Gmail account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1tDZ-QO0WPds8W5asl1zCLq5yCjrgTPaXU-3M8PVIix4","mode":"list","cachedResultName":"Client Reporting Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tDZ-QO0WPds8W5asl1zCLq5yCjrgTPaXU-3M8PVIix4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1492800070,"mode":"list","cachedResultName":"All","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1tDZ-QO0WPds8W5asl1zCLq5yCjrgTPaXU-3M8PVIix4/edit#gid=1492800070"},"columns":{"mappingMode":"defineBelow","value":{"Profile Name":"={{ $json['Profile Name'] }}","Start Date":"=","End Date":"=","Ratings ":"=","Review Responses":"=","Reviews":"=","Keyword 5 - Rank":"=","Keyword 1 - Rank":"=","Keyword 2 - Rank":"=","Keyword 3 - Rank":"=","Keyword 4 - Rank":"=","UniqueProfileName":"={{ $json['Profile Name'] }}{{ $json['Start Date'] }}","Interactions ":"=","Search Views":"=","Website Clicks":"=","Direction Request":"=","Phone Calls":"=","Website Speed":"=","SEO Score":"=","Web & Social Audit":"={{ $json['Web & Social Audit'] }}","Local SEO":"={{ $json['Local SEO'] }}","Website SEO":"={{ $json['Website SEO'] }}","Shorts/Reels":"={{ $json['Shorts/Reels'] }}","Creatives":"={{ $json.Creatives }}","Content Marketing":"={{ $json['Content Marketing'] }}","Backlinks ":"={{ $json['Backlinks '] }}","Citations ":"={{ $json['Citations '] }}"},"matchingColumns":["UniqueProfileName"],"schema":[{"id":"Profile Name","displayName":"Profile Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Start Date","displayName":"Start Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"End Date","displayName":"End Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Search Views","displayName":"Search Views","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Interactions ","displayName":"Interactions ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website Clicks","displayName":"Website Clicks","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Direction Request","displayName":"Direction Request","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Phone Calls","displayName":"Phone Calls","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Reviews","displayName":"Reviews","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Review Responses","displayName":"Review Responses","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ratings ","displayName":"Ratings ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website Speed","displayName":"Website Speed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"SEO Score","displayName":"SEO Score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Keyword 1 - Rank","displayName":"Keyword 1 - Rank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Keyword 2 - Rank","displayName":"Keyword 2 - Rank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Keyword 3 - Rank","displayName":"Keyword 3 - Rank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Keyword 4 - Rank","displayName":"Keyword 4 - Rank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Keyword 5 - Rank","displayName":"Keyword 5 - Rank","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Citations ","displayName":"Citations ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Backlinks ","displayName":"Backlinks ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Content Marketing","displayName":"Content Marketing","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Creatives","displayName":"Creatives","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Shorts/Reels","displayName":"Shorts/Reels","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Medical Blogs","displayName":"Medical Blogs","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Website SEO","displayName":"Website SEO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Local SEO","displayName":"Local SEO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Web & Social Audit","displayName":"Web & Social Audit","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UniqueProfileName","displayName":"UniqueProfileName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[816,-48],"id":"9219adac-b848-433f-bc44-277c51f29666","name":"Add to All","credentials":{"googleSheetsOAuth2Api":{"id":"713CLq4yDoGoPUnu","name":"Google Sheets account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Start and End Date","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Send a message","type":"main","index":0}],[{"node":"Get row WA Number","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Start and End Date":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"GetStatus","type":"main","index":0}]]},"GetStatus":{"main":[[{"node":"Completed?","type":"main","index":0}]]},"Completed?":{"main":[[{"node":"GetResult","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Get row WA Number":{"main":[[{"node":"RequestPosts","type":"main","index":0}]]},"Pinned Post":{"main":[[],[{"node":"Number of Posts, Citations , and Backlinks","type":"main","index":0}]]},"Number of Posts, Citations , and Backlinks":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Add to All","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"RequestPosts":{"main":[[{"node":"Wait","type":"main","index":0}]]},"GetResult":{"main":[[{"node":"Pinned Post","type":"main","index":0}]]},"Add to All":{"main":[[{"node":"Limit","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"G2KZfyUFGXoArofH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c8644d84-1347-4b2b-a34c-a9b8b1e387fa","triggerCount":1,"shared":[{"createdAt":"2025-08-28T19:47:19.671Z","updatedAt":"2025-08-28T19:47:19.671Z","role":"workflow:owner","workflowId":"hW8GBfoTyaO4hSbs","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[]}