step-1---gmb-reporting-top-keyword-2pRIVDYBR89ysAqH.json
{"createdAt":"2025-08-28T19:08:27.030Z","updatedAt":"2026-02-27T15:07:26.375Z","id":"2pRIVDYBR89ysAqH","name":"Step 1 - GMB Reporting Top Keyword","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":5,"triggerAtMinute":5}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1920,400],"id":"02538a3d-4ee0-4b8b-82de-a97aea84826f","name":"Schedule Trigger"},{"parameters":{"jsCode":"// Get current date\nconst now = new Date();\n\n// Calculate last month (adjusting for January)\nlet year = now.getFullYear();\nlet month = now.getMonth() - 1;\n\nif (month < 0) {\n  month = 11;\n  year -= 1;\n}\n\n// Start date of last month\nconst startDate = new Date(year, month, 1);\n\n// End date of last month (0th day of current month = last day of previous)\nconst endDate = new Date(year, month + 1, 0);\n\n// Extract parts\nconst pad = (num) => String(num).padStart(2, '0');\n\nreturn [\n  {\n    json: {\n      StartDay: pad(startDate.getDate()),\n      StartMonth: pad(startDate.getMonth() + 1),\n      StartYear: startDate.getFullYear(),\n\n      EndDay: pad(endDate.getDate()),\n      EndMonth: pad(endDate.getMonth() + 1),\n      EndYear: endDate.getFullYear(),\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1696,400],"id":"7718ffef-a369-453e-9998-354757836684","name":"Start and End Date"},{"parameters":{"jsCode":"// Get the input keywords\nconst keywordsRaw = $json[\"SEO Keywords\"] || \"\";\n\n// Split on commas, semicolons, newlines, or periods, then trim and filter\nconst keywordsArray = keywordsRaw\n  .split(/[,;.\\n]+/) // split on any of these delimiters\n  .map(k => k.trim()) // remove extra spaces\n  .filter(k => k.length > 0); // remove empty strings\n\n// Return each keyword as a separate item\nreturn keywordsArray.map(keyword => ({\n  json: { keyword }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-624,288],"id":"1457be0f-da76-47dd-a918-2f55e0b17ca2","name":"Keywords"},{"parameters":{"options":{"reset":"={{ $prevNode.name === 'Keywords' }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-400,288],"id":"69168ade-5006-4d7d-b879-f932dc56b5b5","name":"Loop Over Keywords"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1184,400],"id":"6b6b159f-f154-416d-a10c-1f1327867165","name":"Loop Over Clients"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1296,48],"id":"cc8fe102-5a8e-441d-b954-211d71adbde8","name":"Limit"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1488,48],"id":"de755d16-813d-4f1b-9c78-ce4eafbbb379","name":"Wait1","webhookId":"d962e924-f00d-4851-a850-a23c239820d3"},{"parameters":{"promptType":"define","text":"=GMB Ranking of each keyword:{{ $json.textData }}","options":{"systemMessage":"=#Role: You are a helpful assistant whose role is to give top 5 keywords a client has ranked for.\n\n#Intruction: \n- You have been given results of 10 keywords.\n- Gop through each of the 10 keywords.\n- Then give Top 5 keywords that a client ranked for the exact ranking position.\n\nOutput Format:\n\nKeyword 1 - Rank\nKeyword 2 - Rank\nKeyword 3 - Rank\nKeyword 4 - Rank\nKeyword 5 - Rank\n\nGive output in list format."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[480,48],"id":"0441f27a-7e43-4e5f-98a6-d7609100607c","name":"AI Agent","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[736,416],"id":"405761c5-3ee6-4e2c-8529-04f33e69655b","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"pmnJNFOqBuhd4qSv","name":"OpenRouter account"}}},{"parameters":{"jsCode":"// Build the merged \"Keyword - Rank\" text\nconst lines = items.map(item => `${item.json.Keyword} - Rank ${item.json[\"Ranking Position\"]}`);\n\n// Helper: get the first non-empty value for a field across rows\nfunction firstNonEmpty(field) {\n  for (const it of items) {\n    const v = it.json[field];\n    if (v !== undefined && v !== null) {\n      const s = String(v).trim();\n      if (s && s.toLowerCase() !== \"[empty]\") return v;\n    }\n  }\n  return \"\"; // fallback if all are empty\n}\n\nconst review = firstNonEmpty(\"Reviews\");\nconst rating = firstNonEmpty(\"Rating\");\n\nreturn [\n  {\n    json: {\n      textData: lines.join('\\n'),\n      review,   // single review value\n      rating    // single rating value\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,48],"id":"c70047d7-8f67-4604-89ef-3a40a47adde5","name":"Merge"},{"parameters":{"jsCode":"// Get the AI Agent output text\nconst inputText = $json.output || \"\";\n\n// Split into lines, clean them up\nconst lines = inputText\n  .split(\"\\n\")\n  .map(line => line.replace(/^\\d+\\.\\s*/, \"\").trim()) // remove \"1. \"\n  .filter(line => line.length > 0);\n\n// Extract keyword + rank separately\nconst keywords = [];\nconst ranks = [];\n\nlines.forEach(line => {\n  // Match \"... - Rank X\" at the end\n  const match = line.match(/^(.*?)-\\s*Rank\\s*(\\d+)/i);\n  if (match) {\n    const keyword = match[1].trim();\n    const rank = parseInt(match[2], 10);\n    keywords.push(keyword);\n    ranks.push(rank);\n  }\n});\n\n// Return as single item with two arrays\nreturn [\n  {\n    json: {\n      keywords,\n      ranks\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[880,48],"id":"07ab2214-0643-4b9f-ba19-66c8a82268c8","name":"Code1"},{"parameters":{"assignments":{"assignments":[{"id":"002afc58-e8d3-4f8c-a0da-59465b4f7c3a","name":"Client Name","value":"={{ $json['Client Name'] }}","type":"string"},{"id":"547ffbad-46d5-4cb6-80b3-1cd4bc98e23f","name":"SEO Keywords","value":"={{ $json['SEO Keywords'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-816,288],"id":"eaaf98ee-fd13-4e70-8604-31644fcdfc10","name":"Edit Fields"},{"parameters":{"jsCode":"const matches = [];\n\n// Load Clients sheet\nconst clients = $('Get Clients').all().map(c => c.json);\n\n// Loop through Apify scraped businesses\nfor (const item of $input.all()) {\n\n  const data = item.json;\n  const apiPlaceId = data.placeId;\n\n  if (!apiPlaceId) continue;\n\n  // Match using GMB Place ID\n  const client = clients.find(c => {\n    const clientPlaceId =\n      c['GMB Place ID'] ||\n      c.gmb_place_id ||\n      c.placeId ||\n      c.place_id;\n\n    return clientPlaceId && clientPlaceId.toString() === apiPlaceId.toString();\n  });\n\n  if (!client) continue;\n\n  matches.push({\n    keyword: data.searchString,\n    ranking_position: data.rank,\n    client_id: client['Client ID'] || client.clientId || null,\n    client_name: client['Client Name'] || client.name || null,\n    whatsapp: client.WhatsApp || client.whatsapp || null,\n    city: data.city,\n    business_name: data.title,\n    phone: data.phoneUnformatted || data.phone || null,\n    website: data.website || null,\n    rating: data.totalScore || null,\n    reviews: data.reviewsCount || null,\n    place_id: apiPlaceId,\n    maps_url: data.url\n  });\n}\n\nreturn matches;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[144,304],"id":"718028c8-69f0-457a-b810-26488c302b3f","name":"Code","alwaysOutputData":true},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[560,304],"id":"e41edc9f-d530-4deb-ab4d-7bc5b3fee863","name":"Limit1"},{"parameters":{"operation":"Run actor and get dataset","actorId":{"__rl":true,"value":"nwua9Gu5YrADL7ZDj","mode":"list","cachedResultName":"Google Maps Scraper (compass/crawler-google-places)","cachedResultUrl":"https://console.apify.com/actors/nwua9Gu5YrADL7ZDj/input"},"customBody":"={\n    \"city\": \"{{ $('Loop Over Clients').item.json['City Name'] }}\",\n    \"countryCode\": \"{{ $json.CountryCode }}\",\n    \"includeWebResults\": false,\n    \"language\": \"en\",\n    \"maxCrawledPlacesPerSearch\": 20,\n    \"maxImages\": 0,\n    \"maximumLeadsEnrichmentRecords\": 0,\n    \"scrapeContacts\": false,\n    \"scrapeDirectories\": false,\n    \"scrapeImageAuthors\": false,\n    \"scrapePlaceDetailPage\": false,\n    \"scrapeReviewsPersonalData\": true,\n    \"scrapeTableReservationProvider\": false,\n    \"searchStringsArray\": [\n        \"{{ $('Loop Over Keywords').item.json.keyword }}\"\n    ],\n    \"skipClosedPlaces\": false\n}"},"type":"@apify/n8n-nodes-apify.apify","typeVersion":1,"position":[-32,304],"id":"b17b1e4a-4b23-4f18-b486-86d6b6a80f32","name":"Run an Actor and get dataset","alwaysOutputData":true,"credentials":{"apifyApi":{"id":"RL6jKxpjtZ4wVrSz","name":"Apify account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const countryName = $('Loop Over Clients').first().json.Country\n  ?.toString()\n  .trim()\n  .toLowerCase();\n\nconst countryMap = {\n  \"india\": \"in\",\n  \"united states\": \"us\",\n  \"usa\": \"us\",\n  \"united kingdom\": \"gb\",\n  \"uk\": \"gb\",\n  \"canada\": \"ca\",\n  \"australia\": \"au\",\n  \"germany\": \"de\",\n  \"france\": \"fr\",\n  \"spain\": \"es\",\n  \"italy\": \"it\",\n  \"netherlands\": \"nl\",\n  \"singapore\": \"sg\",\n  \"uae\": \"ae\",\n  \"united arab emirates\": \"ae\",\n  \"bahrain\": \"bh\",\n  \"saudi arabia\": \"sa\",\n  \"south africa\": \"za\",\n  \"bangladesh\": \"bd\",\n  \"pakistan\": \"pk\",\n  \"sri lanka\": \"lk\",\n  \"nepal\": \"np\",\n  \"malaysia\": \"my\",\n  \"indonesia\": \"id\",\n  \"philippines\": \"ph\",\n  \"japan\": \"jp\",\n  \"china\": \"cn\"\n};\n\n// return null when not found\nconst countryCode = countryMap[countryName] ?? null;\n\nreturn [\n  {\n    json: {\n      Country: countryName || null,\n      CountryCode: countryCode\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,304],"id":"26ffa807-b95e-4dd7-85fa-05e9848d5d93","name":"Country Code"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO dr_smart.gmb_audits (client_id, profile_name, keyword, ranking_position, reviews, rating, location) VALUES ((SELECT id FROM dr_smart.clients WHERE client_name = '{{ $('Loop Over Clients').last().json['Client Name'] }}' LIMIT 1), '{{ $('Loop Over Clients').last().json['Client Name'] }}', '{{ $('Keywords').first().json.keyword }}', {{ $json.ranking_position || 'NULL' }}, {{ $json.reviews || 'NULL' }}, {{ $json.rating || 'NULL' }}, '{{ $json.city }}');","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[352,304],"id":"31eb46ec-e7a4-4f49-a754-5198b3bf0db8","name":"Insert GMB Audit","credentials":{"postgres":{"id":"9zDWQDsOZBmHEvfH","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT profile_name AS \"Profile Name\", keyword AS \"Keyword\", ranking_position AS \"Ranking Position\", reviews AS \"Reviews\", rating AS \"Rating\", location AS \"Location\" FROM dr_smart.gmb_audits WHERE profile_name = '{{ $('Loop Over Clients').last().json['Client Name'] }}' ORDER BY created_at DESC;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[0,48],"id":"8c7e01cc-ed1a-4990-a8c8-88ed01928f65","name":"Get GMB Audits","credentials":{"postgres":{"id":"9zDWQDsOZBmHEvfH","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO dr_smart.client_reports (client_id, profile_name, unique_profile_name, start_date, end_date, ratings, reviews, review_responses, keyword_1, rank_1, keyword_2, rank_2, keyword_3, rank_3, keyword_4, rank_4, keyword_5, rank_5) VALUES ((SELECT id FROM dr_smart.clients WHERE client_name = '{{ $('Edit Fields').last().json['Client Name'] }}' LIMIT 1), '{{ $('Edit Fields').last().json['Client Name'] }}', '{{ $('Edit Fields').last().json['Client Name'] }}{{ $('Start and End Date').first().json.StartDay }}/{{ $('Start and End Date').first().json.StartMonth }}/{{ $('Start and End Date').first().json.StartYear }}', '{{ $('Start and End Date').first().json.StartYear }}-{{ $('Start and End Date').first().json.StartMonth }}-{{ $('Start and End Date').first().json.StartDay }}'::date, '{{ $('Start and End Date').first().json.EndYear }}-{{ $('Start and End Date').first().json.EndMonth }}-{{ $('Start and End Date').first().json.EndDay }}'::date, {{ $('Merge').item.json.rating || 'NULL' }}, {{ $('Merge').item.json.review || 'NULL' }}, {{ $('Merge').item.json.review || 'NULL' }}, {{ $json.keywords[0] ? \"'\" + $json.keywords[0] + \"'\" : 'NULL' }}, {{ $json.ranks[0] || 'NULL' }}, {{ $json.keywords[1] ? \"'\" + $json.keywords[1] + \"'\" : 'NULL' }}, {{ $json.ranks[1] || 'NULL' }}, {{ $json.keywords[2] ? \"'\" + $json.keywords[2] + \"'\" : 'NULL' }}, {{ $json.ranks[2] || 'NULL' }}, {{ $json.keywords[3] ? \"'\" + $json.keywords[3] + \"'\" : 'NULL' }}, {{ $json.ranks[3] || 'NULL' }}, {{ $json.keywords[4] ? \"'\" + $json.keywords[4] + \"'\" : 'NULL' }}, {{ $json.ranks[4] || 'NULL' }}) ON CONFLICT (unique_profile_name) DO UPDATE SET ratings = EXCLUDED.ratings, reviews = EXCLUDED.reviews, review_responses = EXCLUDED.review_responses, keyword_1 = EXCLUDED.keyword_1, rank_1 = EXCLUDED.rank_1, keyword_2 = EXCLUDED.keyword_2, rank_2 = EXCLUDED.rank_2, keyword_3 = EXCLUDED.keyword_3, rank_3 = EXCLUDED.rank_3, keyword_4 = EXCLUDED.keyword_4, rank_4 = EXCLUDED.rank_4, keyword_5 = EXCLUDED.keyword_5, rank_5 = EXCLUDED.rank_5;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1088,48],"id":"dde65edf-4ff9-4231-9914-317eef1b5da0","name":"Upsert Client Report","credentials":{"postgres":{"id":"9zDWQDsOZBmHEvfH","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT id, client_id, client_name AS \"Client Name\", dr_name AS \"Dr Name\", specialisation AS \"Specialisation\", primary_keyword AS \"Primary Keyword\", seo_keywords AS \"SEO Keywords\", city_name AS \"City Name\", country AS \"Country\", gmb_place_id AS \"GMB Place ID\", client_reporting_sheet AS \"Client Reporting Sheet\", contact_number AS \"Contact Number\", whatsapp AS \"WhatsApp\" FROM dr_smart.clients ORDER BY id;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1440,400],"id":"24ccec9c-8ea9-4c28-85ea-110a2b2cc0e3","name":"Get Clients","credentials":{"postgres":{"id":"9zDWQDsOZBmHEvfH","name":"Postgres account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Start and End Date","type":"main","index":0}]]},"Start and End Date":{"main":[[{"node":"Get Clients","type":"main","index":0}]]},"Keywords":{"main":[[{"node":"Loop Over Keywords","type":"main","index":0}]]},"Loop Over Keywords":{"main":[[{"node":"Get GMB Audits","type":"main","index":0}],[{"node":"Country Code","type":"main","index":0}]]},"Loop Over Clients":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Clients","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code1","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Merge":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Upsert Client Report","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Keywords","type":"main","index":0}]]},"Code":{"main":[[{"node":"Insert GMB Audit","type":"main","index":0}]]},"Run an Actor and get dataset":{"main":[[{"node":"Code","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"Loop Over Keywords","type":"main","index":0}]]},"Country Code":{"main":[[{"node":"Run an Actor and get dataset","type":"main","index":0}]]},"Insert GMB Audit":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"Get GMB Audits":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Upsert Client Report":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Get Clients":{"main":[[{"node":"Loop Over Clients","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"G2KZfyUFGXoArofH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a2133ffc-f859-47f0-ba8e-0214afa426dc","triggerCount":1,"shared":[{"createdAt":"2025-08-28T19:08:27.030Z","updatedAt":"2025-08-28T19:08:27.030Z","role":"workflow:owner","workflowId":"2pRIVDYBR89ysAqH","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[]}