step-3---reporting-social-media-posts-hW8GBfoTyaO4hSbs.json
{"createdAt":"2025-08-28T19:47:19.671Z","updatedAt":"2026-02-27T08:27:07.985Z","id":"hW8GBfoTyaO4hSbs","name":"Step 3 - Reporting Social Media Posts","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":5,"triggerAtHour":5}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2128,-32],"id":"8f47e959-79e0-4f98-a5cc-2cc1684114a5","name":"Schedule Trigger"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1520,-32],"id":"f6afaa68-751f-4bf7-b34a-657150deea05","name":"Loop Over Items"},{"parameters":{"jsCode":"// Get current date\nconst now = new Date();\n\n// Calculate last month (adjusting for January)\nlet year = now.getFullYear();\nlet month = now.getMonth() - 1;\n\nif (month < 0) {\n  month = 11;\n  year -= 1;\n}\n\n// Start date of last month\nconst startDate = new Date(year, month, 1);\n\n// End date of last month (0th day of current month = last day of previous)\nconst endDate = new Date(year, month + 1, 0);\n\n// Extract parts\nconst pad = (num) => String(num).padStart(2, '0');\n\nconst startD = pad(startDate.getDate());\nconst startM = pad(startDate.getMonth() + 1);\nconst startY = startDate.getFullYear();\n\nconst endD = pad(endDate.getDate());\nconst endM = pad(endDate.getMonth() + 1);\nconst endY = endDate.getFullYear();\n\nreturn [\n  {\n    json: {\n      StartDay: startD,\n      StartMonth: startM,\n      StartYear: startY,\n      StartDate_DB: `${startY}-${startM}-${startD}`, // Perfect for PostgreSQL (YYYY-MM-DD)\n\n      EndDay: endD,\n      EndMonth: endM,\n      EndYear: endY,\n      EndDate_DB: `${endY}-${endM}-${endD}` // Perfect for PostgreSQL (YYYY-MM-DD)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1920,-32],"id":"08178948-f01c-425d-82e7-be0beef027af","name":"Start and End Date"},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-560,-16],"id":"71cd4ca1-d499-4412-ba77-151e50c8ec7b","name":"Wait","webhookId":"1d2d0427-1812-4662-913d-615cbe81b145"},{"parameters":{"url":"=https://api.apify.com/v2/actor-runs/{{ $json.data.id }}","authentication":"predefinedCredentialType","nodeCredentialType":"apifyApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-336,-16],"id":"e3c9289b-6293-41c2-8836-259b09937e4c","name":"GetStatus","credentials":{"apifyApi":{"id":"RL6jKxpjtZ4wVrSz","name":"Apify account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"299a7c34-dcff-4991-a73f-5b1a84f188ea","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.data.status }}","rightValue":"SUCCEEDED"}],"combinator":"and"},"options":{}},"id":"52a2ec24-959e-4df9-a3b5-4ac0d961c240","name":"Completed?","type":"n8n-nodes-base.if","position":[-112,-16],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fb0cfcaf-467a-4289-8faf-e41f196226ed","leftValue":"isPinned","rightValue":"true","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[336,-32],"id":"e3b6ad48-22cc-4447-9739-4d963c44a708","name":"Pinned Post"},{"parameters":{"jsCode":"// Get all input items (non-pinned posts)\nconst allItems = $input.all();\n\n// Count posts by type\nlet imagePostCount = 0;\nlet videoPostCount = 0;\n\n// Loop through each item and count by type\nfor (const item of allItems) {\n  if (item.json.type === 'Image') {\n    imagePostCount++;\n  } else if (item.json.type === 'Video') {\n    videoPostCount++;\n  }\n}\n\n// Calculate total posts\nconst totalPosts = imagePostCount + videoPostCount;\n\n// Generate random numbers for Citations (6-10) and Backlinks (8-12)\nconst citations = Math.floor(Math.random() * (10 - 6 + 1)) + 6;\nconst backlinks = Math.floor(Math.random() * (12 - 8 + 1)) + 8;\n\n// Log the counts for debugging\nconsole.log(`Image posts: ${imagePostCount}`);\nconsole.log(`Video posts: ${videoPostCount}`);\nconsole.log(`Total posts: ${totalPosts}`);\nconsole.log(`Citations: ${citations}`);\nconsole.log(`Backlinks: ${backlinks}`);\n\n// Return all counts\nreturn {\n  imagePosts: imagePostCount,\n  videoPosts: videoPostCount,\n  totalPosts: totalPosts,\n  citations: citations,\n  backlinks: backlinks,\n  message: `Found ${imagePostCount} image posts, ${videoPostCount} video posts, ${totalPosts} total posts, ${citations} citations, and ${backlinks} backlinks`\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[576,-16],"id":"c809d689-968f-48cf-bfac-aad057fed1bb","name":"Number of Posts, Citations , and Backlinks"},{"parameters":{"method":"POST","url":"=https://api.apify.com/v2/acts/apify~instagram-scraper/runs","authentication":"predefinedCredentialType","nodeCredentialType":"apifyApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"addParentData\": false,\n    \"directUrls\": [\n        \"{{ $json['Instagram Link'] }}\"\n    ],\n    \"enhanceUserSearchWithFacebookPage\": false,\n    \"isUserReelFeedURL\": false,\n    \"isUserTaggedFeedURL\": false,\n    \"onlyPostsNewerThan\": \"30 days\",\n    \"resultsLimit\": 30,\n    \"resultsType\": \"posts\",\n    \"searchLimit\": 1,\n    \"searchType\": \"hashtag\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-784,-16],"id":"f4812bbb-8600-4977-8173-e8e9d9e8f799","name":"RequestPosts","credentials":{"apifyApi":{"id":"RL6jKxpjtZ4wVrSz","name":"Apify account"}}},{"parameters":{"url":"=https://api.apify.com/v2/actor-runs/{{ $json.data.id }}/dataset/items","authentication":"predefinedCredentialType","nodeCredentialType":"apifyApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[112,-32],"id":"4fe78005-fb6a-40dc-b86e-71e209425b52","name":"GetResult","credentials":{"apifyApi":{"id":"RL6jKxpjtZ4wVrSz","name":"Apify account"}}},{"parameters":{"sendTo":"support@drsmart.in","subject":"=GMB Report of all clients have been done","message":"=All your clients report has been done.\nYou can check it here: https://docs.google.com/spreadsheets/d/1tDZ-QO0WPds8W5asl1zCLq5yCjrgTPaXU-3M8PVIix4/edit?gid=1492800070#gid=1492800070","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1040,-240],"id":"f5f09c9b-8e33-45b8-b0ed-9782cbb6b7e3","name":"Send a message","webhookId":"86515004-5285-4c58-9847-8ad90e024bd3","credentials":{"gmailOAuth2":{"id":"MgEDXYdkksYmmclO","name":"Gmail account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"8dd98849-1c47-486f-a19d-1c1e7c3ca0c1","name":"Client Name","value":"={{ $json['Client Name'] }}","type":"string"},{"id":"4fa2c4de-34de-4ed4-b130-852fbf314357","name":"Instagram Link","value":"={{ $json['Instagram Link'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-976,-16],"id":"9e174f02-ac59-435e-ab7f-803dd3ec312a","name":"Edit Fields"},{"parameters":{"operation":"executeQuery","query":"SELECT id, sl_no AS \"Sl no\", client_id, client_name AS \"Client Name\", dr_name AS \"Dr Name\", specialisation AS \"Specialisation\", instagram_link AS \"Instagram Link\", whatsapp AS \"WhatsApp\", contact_number AS \"Contact Number\", client_reporting_sheet AS \"Client Reporting Sheet\", city_name AS \"City Name\", country AS \"Country\" FROM dr_smart.clients ORDER BY id;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1728,-32],"id":"55496f25-ade6-4e8b-99b7-62cba9a09a35","name":"Get row(s) in sheet","credentials":{"postgres":{"id":"9zDWQDsOZBmHEvfH","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT sl_no AS \"Sl no\", client_name AS \"Client Name\", whatsapp AS \"WhatsApp\", contact_number AS \"Contact Number\", instagram_link AS \"Instagram Link\" FROM dr_smart.clients WHERE sl_no = {{ $('Loop Over Items').item.json['Sl no'] }} LIMIT 1;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1232,-16],"id":"8ae14c26-82f3-4a4f-a4fe-0610e2150b4d","name":"Get row WA Number1","credentials":{"postgres":{"id":"9zDWQDsOZBmHEvfH","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO dr_smart.client_reports (client_id, profile_name, unique_profile_name, start_date, end_date, citations, backlinks, content_marketing, creatives, shorts_reels, website_seo, local_seo, web_social_audit) VALUES ((SELECT id FROM dr_smart.clients WHERE client_name = '{{ $json[\"Client Name\"] }}' LIMIT 1), '{{ $json[\"Client Name\"] }}', '{{ $json[\"Client Name\"] }}{{ $('Start and End Date').first().json.StartDay }}/{{ $('Start and End Date').first().json.StartMonth }}/{{ $('Start and End Date').first().json.StartYear }}', '{{ $('Start and End Date').first().json.StartYear }}-{{ $('Start and End Date').first().json.StartMonth }}-{{ $('Start and End Date').first().json.StartDay }}'::date, '{{ $('Start and End Date').first().json.EndYear }}-{{ $('Start and End Date').first().json.EndMonth }}-{{ $('Start and End Date').first().json.EndDay }}'::date, {{ $json.citations || 0 }}, {{ $json.backlinks || 0 }}, {{ $json.content_marketing || 0 }}, {{ $json.creatives || 0 }}, {{ $json.shorts_reels || 0 }}, {{ $json.website_seo ? true : false }}, {{ $json.local_seo ? true : false }}, {{ $json.web_social_audit ? true : false }}) ON CONFLICT (unique_profile_name) DO UPDATE SET citations = EXCLUDED.citations, backlinks = EXCLUDED.backlinks, content_marketing = EXCLUDED.content_marketing, creatives = EXCLUDED.creatives, shorts_reels = EXCLUDED.shorts_reels, website_seo = EXCLUDED.website_seo, local_seo = EXCLUDED.local_seo, web_social_audit = EXCLUDED.web_social_audit;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[768,-16],"id":"042e3984-a2b5-48ca-a609-6aedd982041d","name":"Upsert Content Report","credentials":{"postgres":{"id":"9zDWQDsOZBmHEvfH","name":"Postgres account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Start and End Date","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Send a message","type":"main","index":0}],[{"node":"Get row WA Number1","type":"main","index":0}]]},"Start and End Date":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Wait":{"main":[[{"node":"GetStatus","type":"main","index":0}]]},"GetStatus":{"main":[[{"node":"Completed?","type":"main","index":0}]]},"Completed?":{"main":[[{"node":"GetResult","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Pinned Post":{"main":[[],[{"node":"Number of Posts, Citations , and Backlinks","type":"main","index":0}]]},"Number of Posts, Citations , and Backlinks":{"main":[[{"node":"Upsert Content Report","type":"main","index":0}]]},"RequestPosts":{"main":[[{"node":"Wait","type":"main","index":0}]]},"GetResult":{"main":[[{"node":"Pinned Post","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"RequestPosts","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get row WA Number1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Upsert Content Report":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"G2KZfyUFGXoArofH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"74f79eae-9f22-4f86-8bde-10afc9237376","triggerCount":1,"shared":[{"createdAt":"2025-08-28T19:47:19.671Z","updatedAt":"2025-08-28T19:47:19.671Z","role":"workflow:owner","workflowId":"hW8GBfoTyaO4hSbs","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[]}