step-4---gmb-reporting-primary-keyword-KptHoOHFFBYJQaAT.json
{"createdAt":"2025-10-10T05:05:55.259Z","updatedAt":"2026-02-27T15:05:15.223Z","id":"KptHoOHFFBYJQaAT","name":"Step 4 - GMB Reporting Primary Keyword","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":5,"triggerAtHour":7}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1792,400],"id":"6ed73af7-c1c5-466b-a790-1bc3c2d91335","name":"Schedule Trigger"},{"parameters":{"jsCode":"// Get current date\nconst now = new Date();\n\n// Calculate last month (adjusting for January)\nlet year = now.getFullYear();\nlet month = now.getMonth() - 1;\n\nif (month < 0) {\n  month = 11;\n  year -= 1;\n}\n\n// Start date of last month\nconst startDate = new Date(year, month, 1);\n\n// End date of last month (0th day of current month = last day of previous)\nconst endDate = new Date(year, month + 1, 0);\n\n// Extract parts\nconst pad = (num) => String(num).padStart(2, '0');\n\nconst startD = pad(startDate.getDate());\nconst startM = pad(startDate.getMonth() + 1);\nconst startY = startDate.getFullYear();\n\nconst endD = pad(endDate.getDate());\nconst endM = pad(endDate.getMonth() + 1);\nconst endY = endDate.getFullYear();\n\nreturn [\n  {\n    json: {\n      StartDay: startD,\n      StartMonth: startM,\n      StartYear: startY,\n      StartDate_DB: `${startY}-${startM}-${startD}`, // Perfect for PostgreSQL (YYYY-MM-DD)\n\n      EndDay: endD,\n      EndMonth: endM,\n      EndYear: endY,\n      EndDate_DB: `${endY}-${endM}-${endD}` // Perfect for PostgreSQL (YYYY-MM-DD)\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1568,400],"id":"cb36bd52-3959-40ed-b065-a6edb2640f99","name":"Start and End Date"},{"parameters":{"jsCode":"// Get the input keywords\nconst keywordsRaw = $json[\"SEO Keywords\"] || \"\";\n\n// Split, trim, remove semicolons, and filter empty entries\nconst keywordsArray = keywordsRaw\n  .split(\"\\n\")\n  .map(k => k.trim().replace(/;$/, \"\")) // removes trailing semicolon if present\n  .filter(k => k.length > 0);\n\n// Return each keyword as a separate item\nreturn keywordsArray.map(keyword => ({\n  json: { keyword }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-624,288],"id":"7011c4c2-3e08-431b-82be-67e9b9db7508","name":"Keywords"},{"parameters":{"options":{"reset":"={{ $prevNode.name === 'Keywords' }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-400,288],"id":"91e49e94-7e88-4c53-8324-1b20ba85b9fa","name":"Loop Over Keywords"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1088,400],"id":"49d56ddd-bb71-4d19-a29a-0d4d3cd29ea4","name":"Loop Over Clients"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1024,48],"id":"45969e7a-390d-4d0f-8abe-bc86ab716424","name":"Limit"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1232,48],"id":"09ffd1cd-75d3-45a5-ac86-e8f35f3024f9","name":"Wait1","webhookId":"ec1e4c70-6bc3-4a07-b436-0f282f82c48a"},{"parameters":{"promptType":"define","text":"=GMB Ranking of each keyword:{{ $json.textData }}","options":{"systemMessage":"=#Role: You are a helpful assistant whose role is to give top 5 keywords a client has ranked for.\n\n#Intruction: \n- You have been given results of 10 keywords.\n- Gop through each of the 10 keywords.\n- Then give Top 5 keywords that a client ranked for the exact ranking position.\n\nOutput Format:\n\nKeyword 1 - Rank\nKeyword 2 - Rank\nKeyword 3 - Rank\nKeyword 4 - Rank\nKeyword 5 - Rank\n\nGive output in list format."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[240,48],"id":"cc8b1263-a540-4b06-9fd2-873e1b31f49a","name":"AI Agent","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[768,288],"id":"62200eee-9f18-419b-9cf9-20b387fc355b","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"pmnJNFOqBuhd4qSv","name":"OpenRouter account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=sg293yr2{{ $now }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[944,288],"id":"5269046b-6f05-4465-a1c3-20781b673d68","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"9zDWQDsOZBmHEvfH","name":"Postgres account"}}},{"parameters":{"jsCode":"// Build the merged \"Keyword - Rank\" text\nconst lines = items.map(item => `${item.json.Keyword} - Rank ${item.json[\"Ranking Position\"]}`);\n\n// Helper: get the first non-empty value for a field across rows\nfunction firstNonEmpty(field) {\n  for (const it of items) {\n    const v = it.json[field];\n    if (v !== undefined && v !== null) {\n      const s = String(v).trim();\n      if (s && s.toLowerCase() !== \"[empty]\") return v;\n    }\n  }\n  return \"\"; // fallback if all are empty\n}\n\nconst review = firstNonEmpty(\"Reviews\");\nconst rating = firstNonEmpty(\"Rating\");\n\nreturn [\n  {\n    json: {\n      textData: lines.join('\\n'),\n      review,   // single review value\n      rating    // single rating value\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[48,48],"id":"f486eb46-232b-42cf-916f-ff93546f9b60","name":"Merge"},{"parameters":{"jsCode":"// Get the AI Agent output text\nconst inputText = $json.output || \"\";\n\n// Split into lines, clean them up\nconst lines = inputText\n  .split(\"\\n\")\n  .map(line => line.replace(/^\\d+\\.\\s*/, \"\").trim()) // remove \"1. \"\n  .filter(line => line.length > 0);\n\n// Extract keyword + rank separately\nconst keywords = [];\nconst ranks = [];\n\nlines.forEach(line => {\n  // Match \"... - Rank X\" at the end\n  const match = line.match(/^(.*?)-\\s*Rank\\s*(\\d+)/i);\n  if (match) {\n    const keyword = match[1].trim();\n    const rank = parseInt(match[2], 10);\n    keywords.push(keyword);\n    ranks.push(rank);\n  }\n});\n\n// Return as single item with two arrays\nreturn [\n  {\n    json: {\n      keywords,\n      ranks\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[592,48],"id":"1bcffbf2-4d5e-41a4-a134-6d22a54527ea","name":"Code1"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[576,304],"id":"a64f396d-4c85-4a6e-baaa-82b2016f6a9b","name":"Limit1"},{"parameters":{"assignments":{"assignments":[{"id":"002afc58-e8d3-4f8c-a0da-59465b4f7c3a","name":"Client Name","value":"={{ $json['Client Name'] }}","type":"string"},{"id":"547ffbad-46d5-4cb6-80b3-1cd4bc98e23f","name":"SEO Keywords","value":"={{ $json['Primary Keyword'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-816,288],"id":"fcafe119-1079-411c-8e26-27070fb9bdad","name":"Edit Fields"},{"parameters":{"jsCode":"const matches = [];\n\n// Load Clients sheet\nconst clients = $('Get Clients').all().map(c => c.json);\n\n// Loop through Apify scraped businesses\nfor (const item of $input.all()) {\n\n  const data = item.json;\n  const apiPlaceId = data.placeId;\n\n  if (!apiPlaceId) continue;\n\n  // Match using GMB Place ID\n  const client = clients.find(c => {\n    const clientPlaceId =\n      c['GMB Place ID'] ||\n      c.gmb_place_id ||\n      c.placeId ||\n      c.place_id;\n\n    return clientPlaceId && clientPlaceId.toString() === apiPlaceId.toString();\n  });\n\n  if (!client) continue;\n\n  matches.push({\n    keyword: data.searchString,\n    ranking_position: data.rank,\n    client_id: client['Client ID'] || client.clientId || null,\n    client_name: client['Client Name'] || client.name || null,\n    whatsapp: client.WhatsApp || client.whatsapp || null,\n    city: data.city,\n    business_name: data.title,\n    phone: data.phoneUnformatted || data.phone || null,\n    website: data.website || null,\n    rating: data.totalScore || null,\n    reviews: data.reviewsCount || null,\n    place_id: apiPlaceId,\n    maps_url: data.url\n  });\n}\n\nreturn matches;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[176,304],"id":"8bc62cc6-5172-4cee-98fd-ac62b9480d6c","name":"Code","alwaysOutputData":true},{"parameters":{"operation":"Run actor and get dataset","actorId":{"__rl":true,"value":"nwua9Gu5YrADL7ZDj","mode":"list","cachedResultName":"Google Maps Scraper (compass/crawler-google-places)","cachedResultUrl":"https://console.apify.com/actors/nwua9Gu5YrADL7ZDj/input"},"customBody":"={\n    \"city\": \"{{ $('Loop Over Clients').item.json['City Name'] }}\",\n    \"countryCode\": \"{{ $json.CountryCode }}\",\n    \"includeWebResults\": false,\n    \"language\": \"en\",\n    \"maxCrawledPlacesPerSearch\": 20,\n    \"maxImages\": 0,\n    \"maximumLeadsEnrichmentRecords\": 0,\n    \"scrapeContacts\": false,\n    \"scrapeDirectories\": false,\n    \"scrapeImageAuthors\": false,\n    \"scrapePlaceDetailPage\": false,\n    \"scrapeReviewsPersonalData\": true,\n    \"scrapeTableReservationProvider\": false,\n    \"searchStringsArray\": [\n        \"{{ $('Loop Over Keywords').item.json.keyword }}\"\n    ],\n    \"skipClosedPlaces\": false\n}","timeout":{}},"type":"@apify/n8n-nodes-apify.apify","typeVersion":1,"position":[-16,304],"id":"81fab16b-1db2-45ab-b8a5-4a2fa8616bc2","name":"Run an Actor and get dataset","alwaysOutputData":true,"credentials":{"apifyApi":{"id":"RL6jKxpjtZ4wVrSz","name":"Apify account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const countryName = $('Loop Over Clients').first().json.Country\n  ?.toString()\n  .trim()\n  .toLowerCase();\n\nconst countryMap = {\n  \"india\": \"in\",\n  \"united states\": \"us\",\n  \"usa\": \"us\",\n  \"united kingdom\": \"gb\",\n  \"uk\": \"gb\",\n  \"canada\": \"ca\",\n  \"australia\": \"au\",\n  \"germany\": \"de\",\n  \"france\": \"fr\",\n  \"spain\": \"es\",\n  \"italy\": \"it\",\n  \"netherlands\": \"nl\",\n  \"singapore\": \"sg\",\n  \"uae\": \"ae\",\n  \"united arab emirates\": \"ae\",\n  \"bahrain\": \"bh\",\n  \"saudi arabia\": \"sa\",\n  \"south africa\": \"za\",\n  \"bangladesh\": \"bd\",\n  \"pakistan\": \"pk\",\n  \"sri lanka\": \"lk\",\n  \"nepal\": \"np\",\n  \"malaysia\": \"my\",\n  \"indonesia\": \"id\",\n  \"philippines\": \"ph\",\n  \"japan\": \"jp\",\n  \"china\": \"cn\"\n};\n\n// return null when not found\nconst countryCode = countryMap[countryName] ?? null;\n\nreturn [\n  {\n    json: {\n      Country: countryName || null,\n      CountryCode: countryCode\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-192,304],"id":"48e0844f-4f99-4a80-9250-d1f499b83a68","name":"Country Code"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO dr_smart.gmb_audits (client_id, profile_name, keyword, ranking_position, reviews, rating, location) VALUES ((SELECT id FROM dr_smart.clients WHERE client_name = '{{ $('Loop Over Clients').last().json['Client Name'] }}' LIMIT 1), '{{ $('Loop Over Clients').last().json['Client Name'] }}', '{{ $('Keywords').first().json.keyword }}', {{ $json.ranking_position || 'NULL' }}, {{ $json.reviews || 'NULL' }}, {{ $json.rating || 'NULL' }}, '{{ $json.city }}');","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[384,304],"id":"d5a2c010-95e7-4ae8-aee0-c3cc95a57a65","name":"Insert GMB Audit","credentials":{"postgres":{"id":"9zDWQDsOZBmHEvfH","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT profile_name AS \"Profile Name\", keyword AS \"Keyword\", ranking_position AS \"Ranking Position\", reviews AS \"Reviews\", rating AS \"Rating\", location AS \"Location\" FROM dr_smart.gmb_audits WHERE profile_name = '{{ $('Loop Over Clients').last().json['Client Name'] }}' AND audit_date = CURRENT_DATE ORDER BY created_at DESC;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-192,48],"id":"5eff745b-aade-46ea-ad32-c24fe20e4479","name":"Get GMB Audits","credentials":{"postgres":{"id":"9zDWQDsOZBmHEvfH","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT id, client_id AS \"Client ID\", client_name AS \"Client Name\", dr_name AS \"Dr Name\", specialisation AS \"Specialisation\", primary_keyword AS \"Primary Keyword\", seo_keywords AS \"SEO Keywords\", city_name AS \"City Name\", country AS \"Country\", gmb_place_id AS \"GMB Place ID\", client_reporting_sheet AS \"Client Reporting Sheet\", contact_number AS \"Contact Number\", whatsapp AS \"WhatsApp\" FROM dr_smart.clients ORDER BY id;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1344,400],"id":"a7a1f424-709a-4466-99eb-daa251631068","name":"Get Clients","credentials":{"postgres":{"id":"9zDWQDsOZBmHEvfH","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO dr_smart.client_reports (client_id, profile_name, unique_profile_name, start_date, end_date, primary_keyword, primary_rank) VALUES ((SELECT id FROM dr_smart.clients WHERE client_name = '{{ $('Edit Fields').last().json['Client Name'] }}' LIMIT 1), '{{ $('Edit Fields').last().json['Client Name'] }}', '{{ $('Edit Fields').last().json['Client Name'] }}{{ $('Start and End Date').first().json.StartDay }}/{{ $('Start and End Date').first().json.StartMonth }}/{{ $('Start and End Date').first().json.StartYear }}', '{{ $('Start and End Date').first().json.StartYear }}-{{ $('Start and End Date').first().json.StartMonth }}-{{ $('Start and End Date').first().json.StartDay }}'::date, '{{ $('Start and End Date').first().json.EndYear }}-{{ $('Start and End Date').first().json.EndMonth }}-{{ $('Start and End Date').first().json.EndDay }}'::date, {{ $json.keywords[0] ? \"'\" + $json.keywords[0] + \"'\" : 'NULL' }}, {{ $json.ranks[0] || 'NULL' }}) ON CONFLICT (unique_profile_name) DO UPDATE SET primary_keyword = EXCLUDED.primary_keyword, primary_rank = EXCLUDED.primary_rank;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[816,48],"id":"ee068bd1-2d9f-4b96-a1cd-6b3a42bfb1ab","name":"Insert Client Report","credentials":{"postgres":{"id":"9zDWQDsOZBmHEvfH","name":"Postgres account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Start and End Date","type":"main","index":0}]]},"Start and End Date":{"main":[[{"node":"Get Clients","type":"main","index":0}]]},"Keywords":{"main":[[{"node":"Loop Over Keywords","type":"main","index":0}]]},"Loop Over Keywords":{"main":[[{"node":"Get GMB Audits","type":"main","index":0}],[{"node":"Country Code","type":"main","index":0}]]},"Loop Over Clients":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Clients","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code1","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Merge":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Insert Client Report","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"Loop Over Keywords","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Keywords","type":"main","index":0}]]},"Run an Actor and get dataset":{"main":[[{"node":"Code","type":"main","index":0}]]},"Country Code":{"main":[[{"node":"Run an Actor and get dataset","type":"main","index":0}]]},"Code":{"main":[[{"node":"Insert GMB Audit","type":"main","index":0}]]},"Get Clients":{"main":[[{"node":"Loop Over Clients","type":"main","index":0}]]},"Insert GMB Audit":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"Get GMB Audits":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Insert Client Report":{"main":[[{"node":"Limit","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"G2KZfyUFGXoArofH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a3736b7e-4e29-4bb5-a4f1-30ed4dea2501","triggerCount":1,"shared":[{"createdAt":"2025-10-10T05:05:55.259Z","updatedAt":"2025-10-10T05:05:55.259Z","role":"workflow:owner","workflowId":"KptHoOHFFBYJQaAT","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[]}