top-keyword-finder---gmb-bLqtBfkARfijkFqr.json
{"createdAt":"2025-09-23T06:01:13.561Z","updatedAt":"2025-12-29T14:24:47.000Z","id":"bLqtBfkARfijkFqr","name":"Top Keyword Finder - GMB","active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// Collect all Keyword fields from input JSON\nconst input = $json;\nconst keywords = [];\n\nfor (let i = 1; i <= 10; i++) {\n  const key = `Keyword ${i}`;\n  if (input[key]) {\n    keywords.push(input[key]);\n  }\n}\n\n// Return each keyword as a separate item\nreturn keywords.map(k => ({\n  json: { keyword: k }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1040,288],"id":"09e183f7-8ecf-4870-a030-45052f2f7b0e","name":"Keywords"},{"parameters":{"options":{"reset":"={{ $prevNode.name === 'Keywords' }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-816,288],"id":"5bd1c839-a945-4b6d-8aa8-019332dc7b47","name":"Loop Over Keywords"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[112,304],"id":"5848d3a5-f5d6-411d-9c92-96d00641662b","name":"Wait1","webhookId":"e17701a5-3152-43b7-a770-eff6972abc2a"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1GMJB_BMT_KyaTTLsFMjMiIO843TLiyLJaiwhFQKoC18","mode":"list","cachedResultName":"Top Keyword Finder - GMB","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1GMJB_BMT_KyaTTLsFMjMiIO843TLiyLJaiwhFQKoC18/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1UgdtBoucpANNqk44yoJPWcq44DEhvGOurB7TE32UNmk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Keyword":"={{ $json.keyword }}","Ranking Position":"={{ $json.ranking_position }}","Rating":"={{ $json.rating }}","Reviews":"={{ $json.reviews }}","Location":"={{ $json.address }}","Profile Name":"={{ $json.business_name }}","Found":"={{ $json.status }}"},"matchingColumns":[],"schema":[{"id":"Found","displayName":"Found","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Profile Name","displayName":"Profile Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Keyword","displayName":"Keyword","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ranking Position","displayName":"Ranking Position","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Reviews","displayName":"Reviews","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Rating","displayName":"Rating","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-64,304],"id":"fe31cbbd-0fc5-46a7-b394-6172b8630d99","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"VWI7ANgqySo2PhHL","name":"KR -Paid"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[272,304],"id":"c232b951-cb8f-4ec7-a29a-70718423ba02","name":"Limit1"},{"parameters":{"formTitle":"Find Keyword Ranking for GMB","formDescription":"Paste GMB ID, and keywords","formFields":{"values":[{"fieldLabel":"GMB Place ID","placeholder":"ChIJEfQxqHWZyzsR3Hw69xVKM1Q","requiredField":true},{"fieldLabel":"Keyword 1","placeholder":"Best IVF Clinic in Tilak Nagar"},{"fieldLabel":"Keyword 2","placeholder":"Best IVF Centre in Tilak Nagar"},{"fieldLabel":"Keyword 3","placeholder":"Infertility Treatment Centre in Tilak Nagar"},{"fieldLabel":"Keyword 4","placeholder":"IVF Specialist in Tilak Nagar"},{"fieldLabel":"Keyword 5","placeholder":"Best IVF Doctor in Tilak Nagar"},{"fieldLabel":"Keyword 6","placeholder":"Fertility Specialist in Tilak Nagar"},{"fieldLabel":"Keyword 7","placeholder":"Best Fertility Doctor in Tilak Nagar"},{"fieldLabel":"Keyword 8","placeholder":"Best IVF treatment in Tilak Nagar"},{"fieldLabel":"Keyword 9","placeholder":"Intracytoplasmic Sperm Injection (ICSI) in Tilak Nagar"},{"fieldLabel":"Keyword 10","placeholder":"TESA PESA Tests in Tilak Nagar"},{"fieldLabel":"Country","placeholder":"India","requiredField":true},{"fieldLabel":"City","placeholder":"Hyderabad","requiredField":true}]},"options":{"appendAttribution":false,"path":"top-keywords-gmb"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-1232,288],"id":"5ac96666-6f9e-41b7-b7b6-62da96a76972","name":"On form submission","webhookId":"17dba664-bf44-4aea-b38b-1d894bf2cffe"},{"parameters":{"sendTo":"support@drsmart.in","subject":"Finding Keyword Ranking For GMB is Done!","message":"=Check Here: https://docs.google.com/spreadsheets/d/1GMJB_BMT_KyaTTLsFMjMiIO843TLiyLJaiwhFQKoC18/edit?usp=sharing\n\nThank you.","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-592,16],"id":"04cb8585-056d-4c65-afff-6ca158db247b","name":"Send a message","webhookId":"65b42674-c2c9-46e0-879a-20e6eacd0517","credentials":{"gmailOAuth2":{"id":"MgEDXYdkksYmmclO","name":"Gmail account 2"}}},{"parameters":{"operation":"Run actor and get dataset","actorId":{"__rl":true,"value":"nwua9Gu5YrADL7ZDj","mode":"list","cachedResultName":"Google Maps Scraper (compass/crawler-google-places)","cachedResultUrl":"https://console.apify.com/actors/nwua9Gu5YrADL7ZDj/input"},"customBody":"={\n    \"city\": \"{{ $('On form submission').item.json.City }}\",\n    \"countryCode\": \"{{ $json.CountryCode }}\",\n    \"includeWebResults\": false,\n    \"language\": \"en\",\n    \"maxCrawledPlacesPerSearch\": 20,\n    \"maxImages\": 0,\n    \"maximumLeadsEnrichmentRecords\": 0,\n    \"scrapeContacts\": false,\n    \"scrapeDirectories\": false,\n    \"scrapeImageAuthors\": false,\n    \"scrapePlaceDetailPage\": false,\n    \"scrapeReviewsPersonalData\": true,\n    \"scrapeTableReservationProvider\": false,\n    \"searchStringsArray\": [\n        \"{{ $('Loop Over Keywords').item.json.keyword }}\"\n    ],\n    \"skipClosedPlaces\": false\n}","timeout":{}},"type":"@apify/n8n-nodes-apify.apify","typeVersion":1,"position":[-464,304],"id":"ef55ff10-0d80-4752-af29-e685cdbcf292","name":"Run an Actor and get dataset","credentials":{"apifyApi":{"id":"RL6jKxpjtZ4wVrSz","name":"Apify account"}}},{"parameters":{"jsCode":"const countryName = $('On form submission').first().json.Country?.toString().trim().toLowerCase();\n\nconst countryMap = {\n  \"india\": \"in\",\n  \"united states\": \"us\",\n  \"usa\": \"us\",\n  \"united kingdom\": \"gb\",\n  \"uk\": \"gb\",\n  \"canada\": \"ca\",\n  \"australia\": \"au\",\n  \"germany\": \"de\",\n  \"france\": \"fr\",\n  \"spain\": \"es\",\n  \"italy\": \"it\",\n  \"netherlands\": \"nl\",\n  \"singapore\": \"sg\",\n  \"uae\": \"ae\",\n  \"united arab emirates\": \"ae\",\n  \"saudi arabia\": \"sa\",\n  \"south africa\": \"za\",\n  \"bangladesh\": \"bd\",\n  \"pakistan\": \"pk\",\n  \"sri lanka\": \"lk\",\n  \"nepal\": \"np\",\n  \"malaysia\": \"my\",\n  \"indonesia\": \"id\",\n  \"philippines\": \"ph\",\n  \"japan\": \"jp\",\n  \"china\": \"cn\"\n};\n\nconst countryCode = countryMap[countryName] || \"unknown\";\n\nreturn [\n  {\n    json: {\n      Country: countryName,\n      CountryCode: countryCode\n    }\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-624,304],"id":"2d509bea-da09-4b24-ab2f-9ca9144ab95b","name":"Country Code"},{"parameters":{"jsCode":"const results = [];\n\n// Get Place ID from form\nconst formPlaceId = $('On form submission').first().json[\"GMB Place ID\"]?.toString().trim();\n\nif (!formPlaceId) {\n  return [\n    {\n      json: {\n        status: \"not_found\",\n        reason: \"place_id_missing\"\n      }\n    }\n  ];\n}\n\nlet isFound = false;\n\n// Loop through Apify scraped businesses\nfor (const item of $input.all()) {\n\n  const data = item.json;\n  const apiPlaceId = data.placeId;\n\n  if (!apiPlaceId) continue;\n\n  if (apiPlaceId.toString().trim() === formPlaceId) {\n\n    isFound = true;\n\n    results.push({\n      status: \"found\",\n      keyword: data.searchString,\n      ranking_position: data.rank,\n      business_name: data.title,\n      category: data.categoryName,\n      phone: data.phoneUnformatted || data.phone || null,\n      website: data.website || null,\n      rating: data.totalScore || null,\n      reviews: data.reviewsCount || null,\n      city: data.city,\n      address: data.address,\n      place_id: apiPlaceId,\n      maps_url: data.url\n    });\n  }\n}\n\n// If no match found\nif (!isFound) {\n  return [\n    {\n      json: {\n        status: \"not_found\",\n        place_id: formPlaceId\n      }\n    }\n  ];\n}\n\n// Return found business(es)\nreturn results.map(r => ({ json: r }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-256,304],"id":"3a6bac9f-ce5d-493d-a84d-5f3f1afe74fc","name":"Find Matches","alwaysOutputData":true}],"connections":{"Keywords":{"main":[[{"node":"Loop Over Keywords","type":"main","index":0}]]},"Loop Over Keywords":{"main":[[{"node":"Send a message","type":"main","index":0}],[{"node":"Country Code","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"Loop Over Keywords","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Keywords","type":"main","index":0}]]},"Run an Actor and get dataset":{"main":[[{"node":"Find Matches","type":"main","index":0}]]},"Country Code":{"main":[[{"node":"Run an Actor and get dataset","type":"main","index":0}]]},"Find Matches":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"G2KZfyUFGXoArofH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"87eb0256-b46c-4af0-a4c0-b1425c93eb41","triggerCount":1,"shared":[{"createdAt":"2025-09-23T06:01:13.561Z","updatedAt":"2025-09-23T06:01:13.561Z","role":"workflow:owner","workflowId":"bLqtBfkARfijkFqr","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[]}