top-keyword-finder---gmb-bLqtBfkARfijkFqr.json
{"createdAt":"2025-09-23T06:01:13.561Z","updatedAt":"2025-11-20T19:24:46.193Z","id":"bLqtBfkARfijkFqr","name":"Top Keyword Finder - GMB","active":true,"isArchived":false,"nodes":[{"parameters":{"url":"https://maps-data.p.rapidapi.com/searchmaps.php","sendQuery":true,"queryParameters":{"parameters":[{"name":"query","value":"={{ $json.keyword }}"},{"name":"limit","value":"20"},{"name":"country","value":"India"},{"name":"lang","value":"en"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"maps-data.p.rapidapi.com"},{"name":"x-rapidapi-key","value":"71fca758c8msh7ad08d109960e5cp116017jsn82400151ce09"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-592,288],"id":"92fb4bd9-81e3-4e7b-8164-af4a2eaaabf9","name":"RequestKeyword1","retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Collect all Keyword fields from input JSON\nconst input = $json;\nconst keywords = [];\n\nfor (let i = 1; i <= 10; i++) {\n  const key = `Keyword ${i}`;\n  if (input[key]) {\n    keywords.push(input[key]);\n  }\n}\n\n// Return each keyword as a separate item\nreturn keywords.map(k => ({\n  json: { keyword: k }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1040,288],"id":"09e183f7-8ecf-4870-a030-45052f2f7b0e","name":"Keywords"},{"parameters":{"options":{"reset":"={{ $prevNode.name === 'Keywords' }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-816,288],"id":"5bd1c839-a945-4b6d-8aa8-019332dc7b47","name":"Loop Over Keywords"},{"parameters":{"jsCode":"// ---------- Inputs ----------\nconst formJson   = $item(0).$node['On form submission'].json;\nconst gmbPlaceId = formJson['GMB Place ID'] || formJson['gmb_place_id'] || null;\n\n// Keyword always comes from Loop Over Keywords node\nconst loopJson   = $item(0).$node['Loop Over Keywords'].json;\nconst keyword    = loopJson.keyword || loopJson.Keyword || null;\n\n// API results from HTTP node\nconst apiResults =\n  Array.isArray($json?.data?.data) ? $json.data.data :\n  Array.isArray($json?.data)       ? $json.data       : [];\n\n// ---------- Rank match (1-based) ----------\nconst idx = apiResults.findIndex(r => {\n  const pid = r?.place_id ?? r?.gmb_place_id ?? r?.placeId ?? null;\n  return pid && String(pid) === String(gmbPlaceId);\n});\n\nconst out = {\n  keyword,\n  gmb_place_id: gmbPlaceId,\n  found: idx >= 0,\n  rank: idx >= 0 ? idx + 1 : null,\n};\n\nif (idx >= 0) {\n  const hit = apiResults[idx];\n  out.match = {\n    name:         hit.name ?? hit.title ?? null,\n    address:      hit.full_address ?? hit.address ?? null,\n    phone:        hit.phone_number ?? hit.phone ?? null,\n    rating:       hit.rating ?? null,\n    review_count: hit.review_count ?? hit.reviews ?? null,\n    website:      hit.website ?? null,\n    place_link:   hit.place_link ?? null,\n    position_zero_based: idx,\n  };\n}\n\nreturn [{ json: out }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-368,288],"id":"17dbb39a-c1a8-4fb5-8d86-8ab2679003c9","name":"Code","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[48,288],"id":"5848d3a5-f5d6-411d-9c92-96d00641662b","name":"Wait1","webhookId":"e17701a5-3152-43b7-a770-eff6972abc2a"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1GMJB_BMT_KyaTTLsFMjMiIO843TLiyLJaiwhFQKoC18","mode":"list","cachedResultName":"Top Keyword Finder - GMB","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1GMJB_BMT_KyaTTLsFMjMiIO843TLiyLJaiwhFQKoC18/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1UgdtBoucpANNqk44yoJPWcq44DEhvGOurB7TE32UNmk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Keyword":"={{ $json.keyword }}","Ranking Position":"={{ $json.rank }}","Rating":"={{ $json.match.rating }}","Reviews":"={{ $json.match.review_count }}","Location":"={{ $json.match.address }}","Profile Name":"={{ $json.match.name }}","Found":"={{ $json.found ? \"Successful\" : \"Unsuccessful\" }}"},"matchingColumns":[],"schema":[{"id":"Found","displayName":"Found","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Profile Name","displayName":"Profile Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Keyword","displayName":"Keyword","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ranking Position","displayName":"Ranking Position","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Reviews","displayName":"Reviews","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Rating","displayName":"Rating","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Location","displayName":"Location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-160,288],"id":"fe31cbbd-0fc5-46a7-b394-6172b8630d99","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"VWI7ANgqySo2PhHL","name":"KR -Paid"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[208,288],"id":"c232b951-cb8f-4ec7-a29a-70718423ba02","name":"Limit1"},{"parameters":{"formTitle":"Find Keyword Ranking for GMB","formDescription":"Paste GMB ID, and keywords","formFields":{"values":[{"fieldLabel":"GMB Place ID","placeholder":"ChIJEfQxqHWZyzsR3Hw69xVKM1Q","requiredField":true},{"fieldLabel":"Keyword 1","placeholder":"Best IVF Clinic in Tilak Nagar"},{"fieldLabel":"Keyword 2","placeholder":"Best IVF Centre in Tilak Nagar"},{"fieldLabel":"Keyword 3","placeholder":"Infertility Treatment Centre in Tilak Nagar"},{"fieldLabel":"Keyword 4","placeholder":"IVF Specialist in Tilak Nagar"},{"fieldLabel":"Keyword 5","placeholder":"Best IVF Doctor in Tilak Nagar"},{"fieldLabel":"Keyword 6","placeholder":"Fertility Specialist in Tilak Nagar"},{"fieldLabel":"Keyword 7","placeholder":"Best Fertility Doctor in Tilak Nagar"},{"fieldLabel":"Keyword 8","placeholder":"Best IVF treatment in Tilak Nagar"},{"fieldLabel":"Keyword 9","placeholder":"Intracytoplasmic Sperm Injection (ICSI) in Tilak Nagar"},{"fieldLabel":"Keyword 10","placeholder":"TESA PESA Tests in Tilak Nagar"}]},"options":{"path":"top-keywords-gmb","customCss":":root {\n  --font-family: 'Inter', 'Segoe UI', Arial, sans-serif;\n  --font-weight-normal: 400;\n  --font-weight-bold: 700;\n  --font-size-body: 13px;\n  --font-size-label: 15px;\n  --font-size-input: 15px;\n  --font-size-header: 22px;\n  --font-size-subheader: 15px;\n\n  /* Colors */\n  --color-background: #23272f;\n  --color-card-bg: #282d36;\n  --color-card-border: #474e5d;\n  --color-card-shadow: rgba(40, 45, 54, 0.12);\n\n  --color-label: #bfc8d9;\n  /* ✨ Make typed text dark so it’s visible on white inputs */\n  --color-input-text: #1f2937; /* dark gray / near black */\n  --color-input-border: #474e5d;\n  --color-focus-border: #4fd1c5;\n  --color-submit-btn-bg: #4fd1c5;\n  --color-submit-btn-text: #23272f;\n  --color-error: #fc8181;\n  --color-required: #fc8181;\n  --color-link: #63b3ed;\n  --color-header: #e2e8f0;\n  --color-header-subtext: #8f99ab;\n\n  /* Input visuals */\n  --color-input-bg: #ffffff;        /* current inputs are white */\n  --color-placeholder: #6b7280;     /* medium gray */\n\n  /* Border Radii */\n  --border-radius-card: 12px;\n  --border-radius-input: 8px;\n  --border-radius-clear-btn: 50%;\n  --card-border-radius: 12px;\n\n  /* Spacing */\n  --padding-container-top: 32px;\n  --padding-card: 28px;\n  --padding-form-input: 14px;\n  --card-margin-bottom: 20px;\n\n  /* Dimensions */\n  --container-width: 480px;\n  --submit-btn-height: 50px;\n  --checkbox-size: 20px;\n  --opacity-placeholder: 0.85;\n}\n\n/* Card */\n.form-card {\n  background: var(--color-card-bg);\n  border-radius: var(--border-radius-card);\n  box-shadow: 0px 6px 20px 0px var(--color-card-shadow);\n  padding: var(--padding-card);\n  border: 1px solid var(--color-card-border);\n  margin-bottom: var(--card-margin-bottom);\n}\n\n/* Labels */\n.form-label {\n  color: var(--color-label);\n  font-size: var(--font-size-label);\n  font-weight: var(--font-weight-bold);\n}\n\n/* Inputs */\n.form-input,\n.form-select {\n  background: var(--color-input-bg);\n  border: 1.5px solid var(--color-input-border);\n  border-radius: var(--border-radius-input);\n  color: var(--color-input-text);\n  font-size: var(--font-size-input);\n  padding: var(--padding-form-input);\n  margin-bottom: 16px;\n  transition: border 0.2s;\n}\n\n.form-input:focus, \n.form-select:focus {\n  border-color: var(--color-focus-border);\n  outline: none;\n}\n\n/* 🚩 Force readable text in ALL native inputs inside the card (covers markup changes) */\n.form-card input:not([type=\"checkbox\"]):not([type=\"radio\"]),\n.form-card textarea,\n.form-card select {\n  background: var(--color-input-bg) !important;\n  color: var(--color-input-text) !important;\n  -webkit-text-fill-color: var(--color-input-text) !important; /* Safari/iOS */\n  caret-color: var(--color-input-text) !important;\n}\n\n/* Placeholders */\n.form-card input::placeholder,\n.form-card textarea::placeholder {\n  color: var(--color-placeholder) !important;\n  opacity: 1 !important;\n  font-size: var(--font-size-input);\n}\n\n/* Autofill fix (Chrome/Safari) */\n.form-card input:-webkit-autofill,\n.form-card textarea:-webkit-autofill {\n  -webkit-text-fill-color: var(--color-input-text) !important;\n  box-shadow: 0 0 0 1000px var(--color-input-bg) inset !important;\n}\n\n/* File input polish */\n.form-card input[type=\"file\"] {\n  color: var(--color-placeholder);\n}\n.form-card input[type=\"file\"]::-webkit-file-upload-button {\n  background: var(--color-card-bg);\n  color: var(--color-header);\n  border: 1px solid var(--color-input-border);\n  border-radius: 6px;\n  padding: 8px 12px;\n}\n\n/* Submit */\n.form-submit-button {\n  background: var(--color-submit-btn-bg);\n  color: var(--color-submit-btn-text);\n  border: none;\n  border-radius: var(--border-radius-input);\n  height: var(--submit-btn-height);\n  font-weight: var(--font-weight-bold);\n  font-size: var(--font-size-label);\n  cursor: pointer;\n  transition: background 0.2s;\n}\n.form-submit-button:hover {\n  background: #38b2ac;\n}\n\n/* Errors & links */\n.form-error {\n  color: var(--color-error);\n  font-size: 13px;\n  font-weight: var(--font-weight-bold);\n}\n.form-link {\n  color: var(--color-link);\n  text-decoration: underline;\n  font-size: var(--font-size-body);\n}\n\n/* Branding removal */\na[href*=\"n8n.io\"],\na[href*=\"n8n\"] { display: none !important; }\n\n:is(p, div, footer):has(> a[href*=\"n8n\"]),\n:is(p, div):has(> svg[aria-label=\"n8n\"]) { display: none !important; }\n\n.n8n-form-footer,\n.form-footer,\n.form-branding,\n.n8n-branding { display: none !important; }"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-1232,288],"id":"5ac96666-6f9e-41b7-b7b6-62da96a76972","name":"On form submission","webhookId":"17dba664-bf44-4aea-b38b-1d894bf2cffe"},{"parameters":{"sendTo":"support@drsmart.in","subject":"Finding Keyword Ranking For GMB is Done!","message":"=Check Here: https://docs.google.com/spreadsheets/d/1GMJB_BMT_KyaTTLsFMjMiIO843TLiyLJaiwhFQKoC18/edit?usp=sharing\n\nThank you.","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-592,16],"id":"04cb8585-056d-4c65-afff-6ca158db247b","name":"Send a message","webhookId":"65b42674-c2c9-46e0-879a-20e6eacd0517","credentials":{"gmailOAuth2":{"id":"6g3jccNvJH4IUgLy","name":"KR - Paid"}}}],"connections":{"RequestKeyword1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Keywords":{"main":[[{"node":"Loop Over Keywords","type":"main","index":0}]]},"Loop Over Keywords":{"main":[[{"node":"Send a message","type":"main","index":0}],[{"node":"RequestKeyword1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"Loop Over Keywords","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Keywords","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"G2KZfyUFGXoArofH"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a72b2b8b-b5f5-423a-bdd2-df400af6f469","triggerCount":1,"shared":[{"createdAt":"2025-09-23T06:01:13.561Z","updatedAt":"2025-09-23T06:01:13.561Z","role":"workflow:owner","workflowId":"bLqtBfkARfijkFqr","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[]}