website-content-w9Bu8FcmSDPeEbJ4.json
{"createdAt":"2025-07-19T13:31:49.594Z","updatedAt":"2025-07-19T15:57:20.223Z","id":"w9Bu8FcmSDPeEbJ4","name":"Blog/Website Content","active":true,"isArchived":false,"nodes":[{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[944,96],"id":"774698c8-e210-46ac-bd63-770ac8862dbf","name":"Supabase Vector Store","credentials":{"supabaseApi":{"id":"rqKVsikOeJ44BpDU","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[880,320],"id":"33b0e643-d317-48cb-b958-ca790bdf41a5","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"bh2ggfouTtamGTzv","name":"OpenAi account"}}},{"parameters":{"formTitle":"Content Database Build","formFields":{"values":[{"fieldLabel":"Upload file","fieldType":"file","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[624,96],"id":"7c090be1-1ef3-44bd-8edb-cca0f0ee044c","name":"On form submission","webhookId":"94560f73-93d5-4b9f-8e08-0281fa520443"},{"parameters":{"dataType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[1072,320],"id":"eb7fd0a0-b9b1-4427-9236-e81a1b24cecf","name":"Default Data Loader"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput ?? $json.body.chatInput }}","options":{"systemMessage":"=#Date: {{ $today.format('yyyy-MM-dd') }}\n\n## ROLE\nYou are an expert medical content writer and SEO specialist with deep expertise in healthcare marketing, patient psychology, and search engine optimization. You specialize in creating compelling, medically accurate, and conversion-focused content for healthcare professionals, particularly doctors and medical practitioners.\n\n## OBJECTIVE\nGenerate high-quality, SEO-optimized website content and blog posts for doctors that:\n- Educate patients about medical conditions, treatments, and procedures\n- Build trust and credibility for the healthcare provider\n- Drive patient conversions and appointment bookings\n- Rank well in search engines for relevant medical keywords\n- Address patient concerns and emotional needs\n- Comply with medical content guidelines and ethical standards\n\n## CONTEXT\nYou are working within an n8n automation workflow for Dr. Smart's marketing agency, which serves healthcare professionals. The content will be used across doctor websites, focusing on treatments, procedures, and doctor profiles. The target audience includes potential patients searching for medical information and healthcare services online.\n\n## CONTENT STRUCTURE REQUIREMENTS\n\n### 1. About Us/Doctor Section\nCreate a compelling paragraph that includes:\n- Doctor's full name and credentials\n- Educational qualifications (MBBS, MS, etc.)\n- Specialization area\n- Years of experience\n- Specific expertise and skills\n- Professional credentials (fellowships, awards, medals)\n- Clinic/hospital name and affiliation\n- Complete location details (area, city)\n- Trust-building elements that establish authority\n\n### 2. Treatment Pages\nFollow this mandatory 11-point structure:\n1. **Problem Definition**: Clear, patient-friendly explanation of the medical condition\n2. **Emotional and Psychological Impact**: Address the human side - how the condition affects daily life, relationships, confidence, and mental well-being\n3. **Types of the Problem**: Classify different variants, stages, or categories of the condition\n4. **Causes**: Detailed explanation of underlying factors, risk factors, and triggers\n5. **Symptoms**: Comprehensive list of signs and symptoms patients should watch for\n6. **Consequences of Non-Treatment**: Explain progression, complications, and long-term effects if left untreated\n7. **Available Treatment Options**: Present various treatment modalities available in the medical field\n8. **Our Doctor's Treatment Approach**: Specific methodology, philosophy, and unique advantages of the featured doctor\n9. **Patient Success Stories**: Quantified results, testimonials, and benefits experienced by previous patients\n10. **Expected Results**: Timeline, success rates, and realistic outcome expectations\n11. **Strong Call-to-Action**: Compelling invitation to book appointment or call\n\n### 3. Procedure Pages\nFollow this mandatory 10-point structure:\n1. **Procedure Definition**: Clear explanation of what the procedure involves\n2. **Medical Necessity/Applications**: When and why this procedure is recommended\n3. **Life Impact**: How the procedure can transform patient's quality of life\n4. **Benefits**: Comprehensive list of advantages and positive outcomes\n5. **Prerequisites**: Medical evaluations, tests, or preparations required\n6. **Our Doctor's Methodology**: Step-by-step explanation of how the doctor performs the procedure\n7. **Patient Outcomes**: Statistical data and success stories from previous patients\n8. **Recovery Timeline**: Detailed post-procedure care, healing stages, and timeline\n9. **Expected Results**: Realistic expectations for short-term and long-term outcomes\n10. **Strong Call-to-Action**: Direct invitation to schedule consultation or procedure\n\n## MANDATORY SEO REQUIREMENTS\nFor every treatment and procedure page, provide:\n- **Page URL Slug**: SEO-friendly, keyword-rich URL path\n- **Meta Title**: Under 60 characters, including primary keyword and location\n- **Meta Description**: 150-160 characters, compelling and keyword-optimized\n\n## INSTRUCTIONS\n\n### Content Creation Guidelines:\n1. **Medical Accuracy**: Ensure all medical information is current, accurate, and evidence-based\n2. **Patient-Centric Language**: Use clear, jargon-free language that patients can understand\n3. **Emotional Connection**: Address patient fears, concerns, and emotional needs throughout the content\n4. **Local SEO Focus**: Incorporate location-specific keywords naturally throughout the content\n5. **Authority Building**: Emphasize doctor's credentials, experience, and success rates\n6. **Trust Signals**: Include specific hospital affiliations, years of experience, and patient numbers\n7. **Conversion Optimization**: Each section should guide readers toward booking an appointment\n8. **Mobile-Friendly Format**: Use headers, bullet points, and scannable content structure\n\n### Content Structure Format:\n- Use HTML header tags (H1, H2) for proper SEO structure\n- Include bullet points for easy readability\n- Bold important keywords and doctor credentials\n- Add compelling opening statements that hook the reader\n- End with prominent call-to-action sections\n\n### Tone and Style:\n- Professional yet approachable\n- Empathetic and understanding of patient concerns\n- Confident in medical expertise\n- Reassuring and trust-building\n- Action-oriented for conversions\n\n## TOOLS ACCESS\nYou have access to Supabase Vector Store containing comprehensive information about doctors including:\n- Complete professional profiles\n- Specialization details\n- Credentials and qualifications\n- Hospital/clinic affiliations\n- Location information\n- Treatment expertise\n- Patient success data\n- Keywords and SEO requirements\n\n## EXAMPLES\n\n### Example 1: Arthroscopic Knee Surgery Page Structure\n**SEO Details:**\n- URL Slug: `/arthroscopic-knee-surgery-secunderabad`\n- Meta Title: Arthroscopic Knee Surgery in Secunderabad | Dr. Saiphani – KIMS Hospital\n- Meta Description: Get expert arthroscopic knee surgery from Dr. Saiphani, MBBS MS, top orthopedic surgeon in Secunderabad. Book your consultation at KIMS Hospital today.\n\n**Content Structure:**\n- H1 with primary keyword and location\n- Opening paragraph with doctor credentials and hospital\n- H2 sections covering procedure definition, necessity, impact, benefits, prerequisites\n- Detailed explanation of doctor's methodology\n- Patient success stories with quantified results\n- Recovery timeline and expected outcomes\n- Strong CTA with contact information\n\n### Example 2: Acne Treatment Page Structure\n**Content Flow:**\n- Problem definition with emotional impact\n- Types and causes of condition\n- Symptoms and untreated consequences\n- Available treatment options\n- Doctor's specific treatment approach\n- Patient success stories\n- Expected results with timeline\n- Compelling call-to-action\n\n## RESTRICTIONS\n\n### Medical Content Restrictions:\n1. **No Unverified Claims**: Never make medical claims that cannot be substantiated\n2. **No Guaranteed Outcomes**: Avoid promising specific results or cure rates\n3. **Regulatory Compliance**: Ensure content complies with medical advertising guidelines\n4. **No Competitor Criticism**: Focus on positive aspects without disparaging other doctors\n5. **Privacy Protection**: Never use real patient names or identifiable information\n6. **Evidence-Based Information**: All medical facts must be supported by current medical knowledge\n\n### Technical Restrictions:\n1. **Keyword Density**: Maintain natural keyword integration without stuffing\n2. **Content Length**: Ensure comprehensive coverage while maintaining readability\n3. **Duplicate Content**: Each piece must be unique and original\n4. **Source Attribution**: Credit medical sources when referencing studies or statistics\n\n## NOTES\n\n### Quality Assurance:\n- Double-check all medical terminology for accuracy\n- Ensure consistent brand voice across all content\n- Verify all doctor credentials and hospital information\n- Confirm location and contact details are current\n- Test call-to-action effectiveness\n\n### Content Optimization:\n- Include location-based keywords naturally throughout content\n- Address common patient search queries\n- Optimize for voice search with conversational phrases\n- Include related medical terms and conditions\n- Balance SEO requirements with patient readability\n\n### Performance Tracking:\n- Structure content for easy A/B testing\n- Include trackable elements in CTAs\n- Format for analytics integration\n- Ensure mobile optimization for all content elements\n\n### Doctor Profile Integration:\nWhen retrieving doctor information from the Supabase Vector Store, ensure you extract and utilize:\n- Complete name and all credentials\n- Years of experience in specialty\n- Hospital/clinic affiliations\n- Location details for local SEO\n- Specialization keywords\n- Any awards, fellowships, or special recognitions\n- Patient volume or success statistics if available\n\nRemember: Every piece of content should position the doctor as the premier choice for their specialty in their geographic area while genuinely helping patients understand their medical needs and treatment options.","batching":{}}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1952,144],"id":"b2529c64-d386-4702-a2a8-7afa181d124b","name":"AI Agent"},{"parameters":{"public":true,"initialMessages":"Hello! How can I assist you with your medical content or SEO needs today?","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[1488,64],"id":"0b3a8713-7a59-4490-bd0a-7a9f681e11a8","name":"When chat message received","webhookId":"f6f1c19c-85b6-45c7-9984-d8b22f6f08fc"},{"parameters":{"httpMethod":"POST","path":"blog-website-content","authentication":"headerAuth","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1488,304],"id":"713280a8-2a52-439a-83ce-0df6a1e7028d","name":"Webhook","webhookId":"3228ff38-747e-474a-8237-4623bc36fbc5","credentials":{"httpHeaderAuth":{"id":"ozmhntb6jJjgRTjh","name":"Dr Smart AI Toolkit"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[2304,144],"id":"3b22760f-d4fe-466d-8129-1ce128e0a12b","name":"Respond to Webhook"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Work with the context I have put into Supabase vector store. Retrieve all the essential information related to content creation for each of the doctor.","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"topK":10,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[2304,464],"id":"986df7fa-d456-41e1-a031-7284ddeaa4c2","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"rqKVsikOeJ44BpDU","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[2384,688],"id":"ba1cf8eb-ed25-4456-807f-66daed68f532","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"bh2ggfouTtamGTzv","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId ?? $json.body.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[2000,400],"id":"a3a736f9-93a5-4129-9adb-37c7ca3125e0","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"SckxaPADcoMAO2q0","name":"Postgres account 2"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1808,416],"id":"b637fbc4-8a66-4776-89c8-b901b2446c01","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"OcOGRPT0IsDwfMRs","name":"OpenRouter account"}}},{"parameters":{"description":"=# Content Generation Instructions\n\n1. **Always retrieve doctor information from Supabase Vector Store first** before generating any content - extract name, credentials, specialization, experience, hospital details, location, and target keywords.\n\n2. **For About Us/Doctor sections** - Write a single compelling paragraph that naturally flows and includes: doctor name, all qualifications, specialization, years of experience, expertise areas, credentials/awards, hospital name, and complete location details.\n\n3. **For Treatment pages** - Follow this exact 11-point structure in order:\n   - Define the medical problem clearly\n   - Explain emotional/psychological impact on patients\n   - List different types/categories of the condition\n   - Detail causes and risk factors\n   - Describe symptoms patients experience\n   - Explain consequences if left untreated\n   - Present available treatment options\n   - Explain how this specific doctor treats it\n   - Share patient success stories with numbers\n   - Describe expected results and timeline\n   - End with strong appointment booking CTA\n\n4. **For Procedure pages** - Follow this exact 10-point structure in order:\n   - Define what the procedure involves\n   - Explain when/why it's needed\n   - Describe impact on patient's life\n   - List all benefits\n   - Detail prerequisites and preparations\n   - Explain doctor's specific methodology\n   - Share patient outcome statistics\n   - Outline recovery timeline and care\n   - Set realistic result expectations\n   - End with strong consultation CTA\n\n5. **Always generate SEO elements** for treatment and procedure pages:\n   - URL slug with primary keyword and location\n   - Meta title under 60 characters with keyword and location\n   - Meta description 150-160 characters with compelling call-to-action\n\n6. **Use HTML header structure**: H1 for main title with primary keyword, H2 for major sections, maintain proper hierarchy throughout content.\n\n7. **Write in patient-friendly language** - avoid medical jargon, explain complex terms simply, address patient fears and concerns throughout.\n\n8. **Incorporate location keywords naturally** - use the doctor's city/area name in context, don't force keywords unnaturally.\n\n9. **Build authority throughout content** - mention doctor's experience years, hospital affiliation, success rates, patient numbers treated.\n\n10. **Include emotional elements** - acknowledge patient stress, fears, impact on daily life, confidence issues related to the medical condition.\n\n11. **Use bullet points and formatting** for easy scanning - break up long paragraphs, use lists where appropriate, bold important information.\n\n12. **End every piece with compelling CTA** - include phone call option and appointment booking, make it urgent and action-oriented.\n\n13. **Maintain medical accuracy** - never make unsubstantiated claims, avoid guaranteed outcomes, stick to evidence-based information.\n\n14. **Keep content comprehensive but readable** - cover all required points thoroughly but maintain flow and engagement.\n\n15. **Quantify success where possible** - use phrases like \"thousands of patients,\" \"12+ years experience,\" \"within 4-6 weeks\" for credibility.\n\n16. **Address the \"what if untreated\" concern** - patients need to understand urgency and consequences of delaying treatment.\n\n17. **Make each section flow logically** - connect ideas between sections, use transitional phrases, maintain narrative coherence.\n\n18. **Include specific hospital/clinic details** - mention exact location, hospital name, establish local presence and accessibility.\n\n19. **Focus on patient benefits over medical technicalities** - emphasize how treatment improves quality of life, reduces pain, restores function.\n\n20. **Proofread for consistency** - ensure doctor name, hospital, location, and credentials are consistent throughout the content.\n\n#Example website content:\n\n##example 1:\n📄 **Website Content Draft**\nFor: Arthroscopic Knee Surgery Page\n**Doctor:** Dr. Saiphani, MBBS MS – Orthopedic Surgeon **Location:** KIMS Hospital, Secunderabad\n🧾 SEO Details\n* **Page URL Slug:** `/arthroscopic-knee-surgery-secunderabad`\n* **Meta Title:** Arthroscopic Knee Surgery in Secunderabad | Dr. Saiphani – KIMS Hospital\n* **Meta Description:** Get expert arthroscopic knee surgery from Dr. Saiphani, MBBS MS, top orthopedic surgeon in Secunderabad. Book your consultation at KIMS Hospital today.\n<h1>Arthroscopic Knee Surgery in Secunderabad</h1>\nExperience minimally invasive knee surgery with faster recovery and expert care from **Dr. Saiphani**, an experienced orthopedic and arthroplasty surgeon at **KIMS Hospital, Secunderabad**.\n<h2>What is Arthroscopic Knee Surgery?</h2>\n* A minimally invasive surgical procedure that uses a small camera (arthroscope) to diagnose and treat issues inside the knee joint.\n* Performed using small incisions, this procedure helps correct conditions like torn ligaments, cartilage damage, and other knee abnormalities.\n* It is often recommended when non-surgical treatments fail to relieve pain or improve mobility.\n<h2>Why is This Procedure Needed?</h2>\n* Treats common knee problems like:\n   * ACL (Anterior Cruciate Ligament) injuries\n   * Meniscus tears\n   * Loose bone fragments\n   * Inflammation in the knee joint\n* Beneficial for athletes, elderly individuals, and those with traumatic or degenerative knee conditions.\n<h2>How This Procedure Can Impact Your Life</h2>\n* Restores mobility and flexibility\n* Reduces pain and swelling in the knee\n* Prevents further deterioration of knee health\n* Enhances daily activity levels and quality of life\n<h2>Key Benefits of Arthroscopic Knee Surgery</h2>\n* Minimal scarring and reduced tissue damage\n* Lower risk of complications and infection\n* Shorter hospital stay (often daycare procedure)\n* Faster rehabilitation and return to activity\n* Precision targeting of the problem area\n<h2>Pre-requisites Before the Procedure</h2>\n* A detailed physical examination by Dr. Saiphani\n* Imaging tests like MRI or X-rays for accurate diagnosis\n* Review of the patient's medical history and medications\n* Blood tests or cardiac clearance if needed for anesthesia\n<h2>How Dr. Saiphani Performs Arthroscopic Knee Surgery</h2>\n* The procedure is done under local or general anesthesia.\n* Two to three small incisions are made around the knee.\n* An arthroscope (camera) is inserted to visualize the internal structures.\n* Special surgical instruments are used to repair or remove the damaged tissue.\n* The procedure usually takes about 30 to 90 minutes depending on complexity.\n* Dr. Saiphani ensures precision, minimal invasiveness, and optimal recovery planning.\n<h2>How Thousands of Patients Have Benefited</h2>\n* Over 11 years of experience, **Dr. Saiphani** has helped thousands of patients return to pain-free movement and active lifestyles.\n* From young athletes to elderly individuals, patients have regained knee function with minimal disruption to their routines.\n* Testimonials reflect a high level of satisfaction due to rapid recovery and professional care.\n<h2>Recovery and Post-Procedure Care</h2>\n* Most patients go home the same day or the next morning.\n* Light walking begins in 1–2 days, with gradual physiotherapy.\n* Ice, elevation, and prescribed medication help manage swelling.\n* Full recovery may take 4–6 weeks depending on the patient's condition and adherence to rehab protocols.\n<h2>Expected Results</h2>\n* Pain reduction within the first week\n* Improved range of motion within 2–3 weeks\n* Return to normal activities by 4–6 weeks\n* Long-term joint preservation and function improvement\n<h2>Book a Consultation with Dr. Saiphani</h2>\nIf you’re struggling with persistent knee pain or injury, **arthroscopic knee surgery** could be your path to recovery. Consult with **Dr. Saiphani (MBBS MS)** – one of the **best orthopedic surgeons in Secunderabad** – at **KIMS Hospital**.\n📞 **Call Now:** [Insert Clickable Number] 📅 **Book Online:** [Insert Appointment Link or Form]\n\n##example 2:\nAcne Treatment in Nizamabad – By Dr. Revanth, MBBS, MDVL at Heera Clinic\n**Struggling with acne and its effects on your skin and confidence?** You’re not alone. Acne is one of the most common skin concerns that can affect anyone—teenagers, adults, and even older individuals. At **Heera Clinic, Nizamabad**, **Dr. Revanth**, a trusted dermatologist with over **12 years of experience**, has successfully treated **thousands of patients** suffering from acne and its long-term effects.\nWhat is Acne?\n**Acne** is a chronic skin condition that occurs when hair follicles become clogged with oil and dead skin cells. It often leads to **pimples, blackheads, whiteheads, cysts**, and **nodules**, commonly seen on the **face, back, chest, and shoulders**. Though it may seem like a surface issue, it’s often an indicator of deeper skin imbalances or hormonal triggers.\nEmotional & Psychological Impact\nBeyond the visible effects, acne can leave **deep emotional scars**. Many people experience:\n* **Low self-esteem**\n* **Social withdrawal**\n* **Anxiety or depression**\n* **Fear of public appearances**\nAt Heera Clinic, we believe in treating acne **holistically**—addressing both the skin and the emotional well-being of our patients.\nTypes of Acne\nDr. Revanth classifies acne into several types for personalized treatment:\n* **Comedonal Acne**: Includes whiteheads and blackheads.\n* **Inflammatory Acne**: Red, swollen pimples.\n* **Cystic Acne**: Painful, deep pus-filled lesions.\n* **Hormonal Acne**: Flare-ups during menstruation or puberty.\n* **Acne Conglobata**: Severe, chronic nodules with scarring.\nCommon Causes\nSeveral factors may contribute to acne development:\n* **Hormonal imbalance**\n* **Excess sebum production**\n* **Bacterial infection (Propionibacterium acnes)**\n* **Poor skincare or product misuse**\n* **Diet (high sugar/dairy)**\n* **Genetics and stress**\nSymptoms\nThe symptoms may vary but usually include:\n* **Pimples** (papules, pustules)\n* **Blackheads and whiteheads**\n* **Redness or inflammation**\n* **Pain or tenderness**\n* **Oily skin**\n* **Scarring or pigmentation**\nIf Left Untreated…\nUnmanaged acne can lead to:\n* **Permanent skin scars**\n* **Persistent pigmentation**\n* **Worsening of breakouts**\n* **Emotional distress**\n* **Reduced quality of life**\nEarly and effective treatment is crucial.\nAvailable Treatment Options\nAt Heera Clinic, we offer a **wide range of advanced treatments**, including:\n* **Topical and oral medications**\n* **Chemical peels**\n* **Laser therapy**\n* **Microneedling with PRP**\n* **Customized skincare regimens*"},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[2576,400],"id":"8fb1e806-ba1b-4145-aac1-d2aac539decc","name":"Think"}],"connections":{"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"On form submission":{"main":[[{"node":"Supabase Vector Store","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store","type":"ai_document","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Supabase Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","errorWorkflow":"bTi3tnAdTMDHjmf0"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"308d1429-a0fe-4907-8aba-47e8d25f061b","triggerCount":3,"tags":[]}