whatsapp-connects-Q06wSR2z17jE22LX.json
{"createdAt":"2025-10-27T09:07:24.103Z","updatedAt":"2025-12-26T10:57:51.977Z","id":"Q06wSR2z17jE22LX","name":"Whatsapp Connects","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-256,-48],"id":"2027e75a-872f-4c8c-ad30-1602ee5463c7","name":"Schedule Trigger"},{"parameters":{"resource":"app"},"type":"@aldinokemal2104/n8n-nodes-gowa.gowa","typeVersion":1,"position":[-48,-48],"id":"aea6fdd6-4aef-431d-a84a-d0c9ff21bb97","name":"Get device information","credentials":{"goWhatsappApi":{"id":"mZAEXMToCau4GSWu","name":"GOWA account"}}},{"parameters":{"sendTo":"tools.drsmart@gmail.com, kr@drsmart.in","subject":"WhatsApp Disconnected!","message":"=KR sir, your what is disconnected please reconnect it.\n\nLogin here:\nURL: drsmart-gowa.invarianceai.io\nUsername: admin\nPassword: sxuee7ndkknvgzq7d8eqgui7cknbyrnu","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[384,48],"id":"582f4418-3c25-4925-8a7e-2c06c072471e","name":"Send a message","webhookId":"e8ae9156-8582-4e9a-8fe4-26116d6e6f05","credentials":{"gmailOAuth2":{"id":"6g3jccNvJH4IUgLy","name":"KR - Paid"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"504c8e58-b25d-4727-b92f-2e8308960d09","leftValue":"={{ $json.results.toJsonString() }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[160,-48],"id":"f13ecb8d-7e96-4aca-83fd-3a0dab151d90","name":"Check Result"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get device information","type":"main","index":0}]]},"Get device information":{"main":[[{"node":"Check Result","type":"main","index":0}]]},"Check Result":{"main":[[],[{"node":"Send a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[0]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7764ab36-0708-4b96-bacd-d841852a91ee","triggerCount":1,"shared":[{"createdAt":"2025-10-27T09:07:24.103Z","updatedAt":"2025-10-27T09:07:24.103Z","role":"workflow:owner","workflowId":"Q06wSR2z17jE22LX","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[]}