whatsapp_automated_saketh-wwySDkFNeJjAnJda.json
{"createdAt":"2026-02-28T13:56:57.552Z","updatedAt":"2026-03-18T06:09:05.369Z","id":"wwySDkFNeJjAnJda","name":"Whatsapp_Automated_Saketh","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"custom-message-trigger","options":{}},"id":"c02de64e-1168-466b-ab89-e85510075f72","name":"Frontend Webhook","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-496,80],"webhookId":"a765e92e-eedb-4836-a404-ef81fe5b29d1"},{"parameters":{"operation":"executeQuery","query":"SELECT \n    whatsapp AS phone_number, \n    client_name AS name,\n    '{{ ($json.message_template || $json.body.message).replace(/'/g, \"''\") }}' AS message_content,\n    {{ $json.id || 'NULL' }} AS campaign_id\nFROM dr_smart.clients \nWHERE client_name = '{{ $json.client_name || $json.body.client_name }}';","options":{}},"id":"e96520ef-b7f8-4a48-9442-e6908c34f125","name":"Get Contacts from DB","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[-32,-32],"credentials":{"postgres":{"id":"9zDWQDsOZBmHEvfH","name":"Postgres account"}}},{"parameters":{"options":{}},"id":"34718e67-8fbf-47cb-b39c-f8a4f4618df5","name":"Loop Over Contacts","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[192,-32]},{"parameters":{"phoneNumber":"={{ $json.phone_number }}","message":"={{ $json.message_content }}"},"id":"77604b2d-6ade-4fb8-a8b1-c917edd5463b","name":"Send WhatsApp","type":"@aldinokemal2104/n8n-nodes-gowa.gowa","typeVersion":1,"position":[416,64],"credentials":{"goWhatsappApi":{"id":"mZAEXMToCau4GSWu","name":"GOWA account"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO dr_smart.whatsapp_logs (client_name, phone_number, message_content, status)\nVALUES ($1, $2, $3, $4);","options":{"queryReplacement":"={{ [$('Loop Over Contacts').item.json.name, $('Loop Over Contacts').item.json.phone_number, $('Loop Over Contacts').item.json.message_content, 'success' ] }}"}},"id":"06029f29-2eb1-4987-9725-50814b8eb533","name":"Log Success to DB","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[640,64],"credentials":{"postgres":{"id":"9zDWQDsOZBmHEvfH","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM dr_smart.scheduled_campaigns\nWHERE DATE(scheduled_time) = '{{ $json.timestamp.split(\"T\")[0] }}'\nAND status = 'pending';","options":{}},"id":"95123ace-053c-4359-b6be-ab59b400d677","name":"Fetch Pending Alerts","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[-304,-96],"credentials":{"postgres":{"id":"9zDWQDsOZBmHEvfH","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE dr_smart.scheduled_campaigns \nSET \n    status = CASE \n        WHEN frequency = 'monthly' THEN 'pending' \n        ELSE 'completed' \n    END,\n    scheduled_time = CASE \n        WHEN frequency = 'monthly' THEN scheduled_time + INTERVAL '1 month' \n        ELSE scheduled_time \n    END","options":{}},"id":"e24ad8a0-6306-46f1-91f9-62eaae2bdf94","name":"Mark Alerts Completed","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[416,-112],"alwaysOutputData":false,"credentials":{"postgres":{"id":"9zDWQDsOZBmHEvfH","name":"Postgres account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"id":"e31aece0-44b8-4e58-b42b-0a26093be37a","name":"Check DB Every Morning","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-496,-96]},{"parameters":{"amount":"={{ Math.floor(Math.random() * (900 - 120 + 1)) + 120 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[848,64],"id":"44c83371-ef94-438c-8a72-ab01b85fa737","name":"Random Wait","webhookId":"6a990085-b324-4f79-ac50-a4c2e344f245"},{"parameters":{"resume":"specificTime","dateTime":"={{ $json.body.send_time }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-288,80],"id":"3f0f158a-559e-4cde-9af7-85cfe034f751","name":"Wait Till Requested Time","webhookId":"8583dce0-b0b2-432c-9453-47077d6b7f51"},{"parameters":{"sendTo":"tools.drsmart@gmail.com","subject":"= WhatsApp Campaign Completed","message":"=Hi Team,\n\nYour automated WhatsApp messaging campaign has successfully \n\nfinished processing.\n\nAll contacts in the batch have been processed, successful \n\nmessages have been logged to the database, and the scheduled\n\nalerts have been marked as completed.","options":{}},"id":"89f24bd2-cfb1-4405-9b2d-84fc4c2fc81d","name":"Send Email Notification","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[624,-112],"webhookId":"f173b7ea-1e28-4588-8ffe-06464f83ec0a","credentials":{"gmailOAuth2":{"id":"MgEDXYdkksYmmclO","name":"Gmail account 2"}}}],"connections":{"Frontend Webhook":{"main":[[{"node":"Wait Till Requested Time","type":"main","index":0}]]},"Get Contacts from DB":{"main":[[{"node":"Loop Over Contacts","type":"main","index":0}]]},"Loop Over Contacts":{"main":[[{"node":"Mark Alerts Completed","type":"main","index":0}],[{"node":"Send WhatsApp","type":"main","index":0}]]},"Send WhatsApp":{"main":[[{"node":"Log Success to DB","type":"main","index":0}]]},"Log Success to DB":{"main":[[{"node":"Random Wait","type":"main","index":0}]]},"Fetch Pending Alerts":{"main":[[{"node":"Get Contacts from DB","type":"main","index":0}]]},"Check DB Every Morning":{"main":[[{"node":"Fetch Pending Alerts","type":"main","index":0}]]},"Random Wait":{"main":[[{"node":"Loop Over Contacts","type":"main","index":0}]]},"Wait Till Requested Time":{"main":[[{"node":"Get Contacts from DB","type":"main","index":0}]]},"Mark Alerts Completed":{"main":[[{"node":"Send Email Notification","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Check DB Every 15 Mins":{"recurrenceRules":[]},"node:Check DB Every Morning":{"recurrenceRules":[]},"node:Check DB Every Morning1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"23256586-93ba-4a09-bc0d-d120801f56f1","triggerCount":2,"shared":[{"createdAt":"2026-02-28T13:56:57.552Z","updatedAt":"2026-02-28T13:56:57.552Z","role":"workflow:owner","workflowId":"wwySDkFNeJjAnJda","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[]}