whatsapp_automated_saketh-wwySDkFNeJjAnJda.json
{"createdAt":"2026-02-28T13:56:57.552Z","updatedAt":"2026-02-28T14:36:23.243Z","id":"wwySDkFNeJjAnJda","name":"Whatsapp_Automated_Saketh","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"e31aece0-44b8-4e58-b42b-0a26093be37a","name":"Check DB Every 15 Mins","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-1152,-176]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $input.all().length > 0 }}","value2":true}]}},"id":"3a99e708-9fb9-4a7a-a8de-476df6bba68e","name":"Any Pending?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-720,-176]},{"parameters":{"httpMethod":"POST","path":"custom-message-trigger","options":{}},"id":"c02de64e-1168-466b-ab89-e85510075f72","name":"Frontend Webhook","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-1152,112],"webhookId":"a765e92e-eedb-4836-a404-ef81fe5b29d1"},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.body.send_time }}","value2":"now"}]}},"id":"3ac39993-91f8-4573-b6b8-f99aebbb6644","name":"Send Now or Later?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-944,112]},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO scheduled_campaigns (client_id, message_template, scheduled_time, status) VALUES ('{{ $json.body.client_id }}', '{{ $json.body.message }}', '{{ $json.body.send_time }}', 'pending');","options":{}},"id":"b50e404e-9157-4633-a4a2-530040168d27","name":"Save to DB for Later","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[-720,224],"credentials":{"postgres":{"id":"9zDWQDsOZBmHEvfH","name":"Postgres account"}}},{"parameters":{},"id":"ed539935-4836-4c32-8506-ce206d457cc8","name":"Merge Streams","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[-464,-32]},{"parameters":{"operation":"executeQuery","query":"=SELECT phone_number, first_name FROM client_contacts WHERE client_id = '{{ $json.client_id || $json.body.client_id }}' AND is_active = true;","options":{}},"id":"e96520ef-b7f8-4a48-9442-e6908c34f125","name":"Get Contacts from DB","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[-240,-32],"credentials":{"postgres":{"id":"9zDWQDsOZBmHEvfH","name":"Postgres account"}}},{"parameters":{"options":{}},"id":"34718e67-8fbf-47cb-b39c-f8a4f4618df5","name":"Loop Over Contacts","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-16,-32]},{"parameters":{"phoneNumber":"={{ $json.phone_number }}","message":"={{ $('Merge Streams').item.json.message_template || $('Merge Streams').item.json.body.message }}"},"id":"77604b2d-6ade-4fb8-a8b1-c917edd5463b","name":"Send WhatsApp","type":"@aldinokemal2104/n8n-nodes-gowa.gowa","typeVersion":1,"position":[208,-176],"credentials":{"goWhatsappApi":{"id":"mZAEXMToCau4GSWu","name":"GOWA account"}}},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO message_logs (campaign_id, client_id, phone_number, message_content, status) VALUES ({{ $('Merge Streams').item.json.id || 'NULL' }}, '{{ $('Merge Streams').item.json.client_id || $('Merge Streams').item.json.body.client_id }}', '{{ $json.phone_number }}', '{{ $('Merge Streams').item.json.message_template || $('Merge Streams').item.json.body.message }}', 'success');","options":{}},"id":"06029f29-2eb1-4987-9725-50814b8eb533","name":"Log Success to DB","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[432,-176],"credentials":{"postgres":{"id":"9zDWQDsOZBmHEvfH","name":"Postgres account"}}},{"parameters":{},"id":"f20f2512-09f5-4d1c-9dcc-c291e673441d","name":"Wait 5 Seconds","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[656,-176],"webhookId":"045b7de5-6efb-48f7-b729-7a4a52f28c19"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM scheduled_campaigns WHERE scheduled_time <= NOW() AND status = 'pending';","options":{}},"id":"95123ace-053c-4359-b6be-ab59b400d677","name":"Fetch Pending Alerts","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[-944,-176],"credentials":{"postgres":{"id":"9zDWQDsOZBmHEvfH","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"=UPDATE scheduled_campaigns SET status = 'completed' WHERE id = {{ $('Merge Streams').item.json.id }};","options":{}},"id":"e24ad8a0-6306-46f1-91f9-62eaae2bdf94","name":"Mark Alerts Completed","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[208,112],"credentials":{"postgres":{"id":"9zDWQDsOZBmHEvfH","name":"Postgres account"}}}],"connections":{"Check DB Every 15 Mins":{"main":[[{"node":"Fetch Pending Alerts","type":"main","index":0}]]},"Any Pending?":{"main":[[{"node":"Merge Streams","type":"main","index":0}]]},"Frontend Webhook":{"main":[[{"node":"Send Now or Later?","type":"main","index":0}]]},"Send Now or Later?":{"main":[[{"node":"Merge Streams","type":"main","index":0}],[{"node":"Save to DB for Later","type":"main","index":0}]]},"Merge Streams":{"main":[[{"node":"Get Contacts from DB","type":"main","index":0}]]},"Get Contacts from DB":{"main":[[{"node":"Loop Over Contacts","type":"main","index":0}]]},"Loop Over Contacts":{"main":[[{"node":"Mark Alerts Completed","type":"main","index":0}],[{"node":"Send WhatsApp","type":"main","index":0}]]},"Send WhatsApp":{"main":[[{"node":"Log Success to DB","type":"main","index":0}]]},"Log Success to DB":{"main":[[{"node":"Wait 5 Seconds","type":"main","index":0}]]},"Wait 5 Seconds":{"main":[[{"node":"Loop Over Contacts","type":"main","index":0}]]},"Fetch Pending Alerts":{"main":[[{"node":"Any Pending?","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b988f646-c658-4d44-b288-29060425d418","triggerCount":0,"shared":[{"createdAt":"2026-02-28T13:56:57.552Z","updatedAt":"2026-02-28T13:56:57.552Z","role":"workflow:owner","workflowId":"wwySDkFNeJjAnJda","projectId":"EWBZ0dwd9qcKxPds"}],"tags":[]}